/**
 * Mixins
 ******************************************************************************/

:root {
  --bs-gutter-x: 1.5rem;
}

$superlightGray: #f9fafb;
$lightGray: #e9ecef;
$mediumGray: #6b7280;
$darkGray: #252f3f;
$mainGradient: linear-gradient(to right, #396afc, #2948ff);
$mainColor: #1d2d35;
$mainFont: "Jost",system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$tipColor: #fff5d9;
$infoColor: #e5f2ff;
$warnColor: #ffd9dc;

/**
 * General settings
 ******************************************************************************/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: initial;
}

body {
  font-family: $mainFont;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  margin: 2rem 0 1rem;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + .9vw);
}

h3 {
  font-size: calc(1.3rem + .6vw);
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

article {
  a {
    box-shadow:inset 0 -.1rem 0 0 var(--bs-blue);
    color: $mainColor;
  }

  a:hover {
    background: $lightGray;
    color: inherit;
  }

  h2[id]::before, h3[id]::before, h4[id]::before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    content: "";
  }
}

.row {
  margin-right: calc(var(--bs-gutter-x) / -1);
  margin-left: calc(var(--bs-gutter-x) / -1);
}

.row > * {
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
}

/**
 * Cards
 ******************************************************************************/

.card {
  border-left: 4px solid $lightGray;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;

  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  h4 {
    margin: 0 0 .5rem;
  }

  hr {
    margin: .75rem 0;
  }

  table {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  tr {
    border-top: 1px solid $lightGray;
  }

  th {
    font-weight: 400;
    width: 128px;
  }

  ul {
    list-style-type: circle;
    margin-left: 2rem;
  }

  video {
    max-width: 100%;
  }

  .badge {
    background: $lightGray;
    color: $mediumGray;
  }
}

.card.active {
  border-left: 4px solid var(--bs-blue);

  .badge {
    background: var(--bs-blue);
    color: #fff;
  }
}

/**
 * Main navigation
 ******************************************************************************/

#rainbow, #nav-main {
  position: sticky;
  z-index: 999;
}

#rainbow {
  background: $mainGradient;
  height: 4px;
  top: 0;
}

#nav-main {
  background: #fff;
  border-bottom: 1px solid $lightGray;
  top: 4px;

  .navbar-nav {
    margin-top: .75rem;
  }

  .nav-link {
    border-radius: .5rem;
    color: $mainColor;
    padding: .5rem;
  }

  .nav-link:hover {
    background: lighten($lightGray, 4%);
  }

  .nav-link.active {
    background: $lightGray;
  }
}

/**
 * Home
 ******************************************************************************/

#home {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;

  h1, h2, h3 {
    margin: 0;
  }

  h1, h2 {
    font-size: calc(1.375rem + 2.5vw);
    font-weight: 800;
    letter-spacing: -.1rem;
  }

  h1 {
    line-height: 3rem;
  }


  h2 {
    color: var(--bs-blue);
  }

  h3 {
    color: $mediumGray;
    font-size: calc(1.375rem + .5vw);
    font-weight: 400;
  }
}

/**
 * About
 ******************************************************************************/

#about-intro {
  p {
    margin-bottom: 1rem;
  }
}

#about-content {
  background: $superlightGray;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  padding-bottom: 3rem;
  
  table {
    tr:not(:last-child) {
      border-bottom: 1px solid $lightGray;
    }
  
    th {
      font-weight: 600;
    }

    th, td {
      padding: 1rem .5rem 1rem 0;
    }
  }

  .link {
    background: $lightGray;
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: 1rem;

    a, i {
      box-shadow: none;
      color: $mediumGray;
    }
  }

  .link:hover {
    a {
      color: $darkGray;
    }
  }

  .card:not(.active) {
    opacity: .75;
  }
}

#about-intro-text {
  padding-bottom: 1rem;
}

#about-intro-image {
  background: url("/images/me.png");
  background-position: top right;
  background-repeat: no-repeat;
}

/**
 * Research
 ******************************************************************************/

#research-content {
  padding-top: 2rem;

  .card {
    ul {
      li {
        margin-bottom: 1.25rem;
      }

      p:first-child {
        font-size: 1.25rem;
        margin-bottom: .5rem;
      }

      p:not(:first-child) {
        font-weight: 300;

        a {
          box-shadow:inset 0 -.1rem 0 0 $lightGray;
        }
      }

      .badge {
        margin-bottom: .25rem;
      }
    }
  }
}

/**
 * Reasearch, Portfolio & Teaching
 ******************************************************************************/

 #research-intro, #portfolio-intro, #teaching-intro {
  margin-bottom: 2rem;

  p {
    margin-bottom: 1rem;
  }
}

#research-content, #portfolio-content, #teaching-content {
  background: $superlightGray;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  padding-bottom: 3rem;
}

#portfolio-summary, #teaching-summary {

  a {
    box-shadow: none;
  }

  .nav-link {
    background-color: $lightGray;
    border-radius: .5rem;
    color: $mainColor;
    margin: .5rem 0;
    opacity: .75;
    padding: .5rem 1rem;
  }

  .nav-link:hover {
    opacity: 1;
  }
}

/**
 * Lesson
 ******************************************************************************/

#lesson {
  article {
    padding-bottom: 3rem;

    h3, h4 {
      a {
        box-shadow: none;
      }
    }

    h4 {
      font-size: 1.5rem;
      text-transform: none;
    }

    p {
      margin: .5rem 0;
    }

    ul, ol {
      margin-left: 1.25rem;
    }

    pre code {
      background-color: #f8f9fa;
    }

    video {
      max-width: 100%;
    }

    pre {
      background: #f8f9fa;
      margin: 1rem calc(-1 * var(--bs-gutter-x));
      position: relative;

      code {
        font-weight: 300 !important;
      }

      code::before {
        position: absolute;
        top: .5rem;
        right: .75rem;
        font-size: .8rem;
        font-weight: 600;
        color: lighten($mediumGray, 15%);
      }
      
      code.css::before {
        content: "CSS"
      }
      
      code.javascript::before {
        content: "JS"
      }
      
      code.json::before {
        content: "JSON"
      }
      
      code.sh::before {
        content: "SH"
      }
      
      code.xml::before {
        content: "XML"
      }
      
      code.xsd::before {
        content: "XSD"
      }
      
      code.xpath::before {
        content: "XPATH"
      }
      
      code.py::before {
        content: "PY"
      }
      
      code.html::before {
        content: "HTML"
      }
      
      code.ejs::before {
        content: "EJS"
      }
      
      code.php::before {
        content: "PHP"
      }
    }

    code {
      background: $superlightGray;
      color: $mediumGray;
    }

    a code {
      background: none;
      color: inherit;
    }

    .table-bordered th, .table-bordered td {
      border: 1px solid $lightGray !important;
    }

    .fig {
      background: $superlightGray;
      border: 1px solid $lightGray;
      border-radius: .25rem;
      margin: 1.5rem 0;
      padding: .75rem;
    }

    .tip, .info, .warn {
      margin: 1rem calc(-1 * var(--bs-gutter-x));
      padding: 1rem var(--bs-gutter-x);

      pre {
        border: 1px solid $lightGray;
        margin-right: 0;
        margin-left: 0;
      }
    }

    li {
      pre {
        margin-left: calc(-1 * var(--bs-gutter-x) - 1.25rem);
      }

      .tip, .info, .warn {
        margin-top: .25rem;
        margin-bottom: .25rem;
        margin-left: calc(-1 * var(--bs-gutter-x) - 1.25rem);
        padding: .5rem var(--bs-gutter-x);
      }
    }

    td {
      pre {
        margin-left: 0;
      }
    }

    .tip {
      background-color: $tipColor;
    }

    .info {
      background-color: $infoColor;
    }

    .warn {
      background-color: $warnColor;
    }
  }

  aside {
    align-self: flex-start;
    overflow-y: scroll;
    padding-bottom: 3rem;
    position: sticky;
    scrollbar-width: thin;
    top: 64px;

    .badge {
      background: $lightGray;
      color: $mediumGray;
    }

    .active a {
      color: $mainColor;
    }
  }

  aside::-webkit-scrollbar {
    width: 0;
  }
}

#module-summary {
  border-right: 1px solid $lightGray;
  font-size: 1rem;

  h2 {
    font-size: 1.375rem;
  }

  h4 {
    border-top: 1px solid $lightGray;
    margin: 1.125rem 1.5rem 0.75rem 0;
    padding: 1.375rem 0 0 0;
  }

  ul {
    list-style: none;

    li {
      padding: .125rem 1.5rem 0 0;

      a {
        color: $mediumGray;
      }
    }
  }
}

#lesson-summary {
  font-size: 1rem;

  h4 {
    margin-bottom: .5rem;
  }

  .nav {
    display: block;
  }

  .nav-link {
    color: $mediumGray;
    padding: .125rem 0;
    font-size: .9375rem;
  }

  .nav-link.active {
    color: $mainColor;
  }

  .link-h4 {
    border-bottom: 1px dashed $lightGray;
    padding-left: 1rem;
  }
}

#toc {
  margin-top: .75rem;
}

/**
 * Contact
 ******************************************************************************/

#contact {
  padding-bottom: 3rem;
}

/**
 * Footer
 ******************************************************************************/

footer {
  background: $mainColor;
  color: $mediumGray;
  padding: 5rem 0;

  ul {
    list-style: none;
  }

  li {
    margin: .875rem 0;
  } 

  a {
    color: $lightGray;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .copyrights {
    border-top: 1px solid $mediumGray;
    margin-top: 3rem;
    padding-top: 1.5rem;
  }

  .social a {
    padding-left: 1rem;
  }
}

/**
 * Media queries
 ******************************************************************************/

@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }

  #nav-main {
    background: rgba(255, 255, 255, .95);

    .navbar-nav {
      margin-top: 0;
    }
    .nav-link {
      margin: 0 .5rem;
    }
  }

  #about-intro, #research-intro, #portfolio-intro, #teaching-intro {
    p {
      font-size: 1.25rem;
      padding-bottom: 1.25rem;
    }
  }

  #portfolio-summary, #teaching-summary {
    position: sticky;
    top: 2rem;

    h4 {
      margin: 3rem 0 .5rem;
    }

    .nav-link.active {
      background-color: $mediumGray;
      color: #fff;
      opacity: 1;
    }
  }

  #lesson aside {
    height: calc(100vh - 64px);
  }
}