<div class="row">

  <div class="col-md-4">
    <h4>Florian Leprêtre</h4>
    <ul>
      <li>
        <a href="/downloads/research/resume.pdf">
          Resume
        </a>
      </li>
      <li>
        <a href="/downloads/research/longresume.pdf">
          Long resume (French)
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Links</h4>
    <ul>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/research">
          Research
        </a>
      </li>
      <li>
        <a href="/portfolio">
          Portfolio
        </a>
      </li>
      <li>
        <a href="/teaching">
          Teaching
        </a>
      </li>
      <li>
        <a href="/contact">
          Contact
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="d-flex justify-content-between copyrights">
  <p>
    © 2021 Florian Leprêtre. All rights reserved.
  </p>
  <p class="social">
    <a target="_blank" href="https://gitlab.com/florianlprt">
      <i class="fab fa-gitlab"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/florianlepretre/">
      <i class="fab fa-linkedin"></i>
    </a>
  </p>
</div>
