<header>

  <!-- Wrapper for scrollspy -->
  <div>
    <!-- Toc -->
    <nav>
      <h4>Dans ce cours</h4>
      <p>
        <% if (locals.lesson) { %>
          <%- include('links'); %>
        <% } %>
      </p>
    </nav>

  </div>

</header>

<nav id="toc"></nav>