<!-- Slides -->
<a href="/teaching/<%= view %>/slides" class="badge badge-pill">
  <i class="fas fa-image"></i> Slides
</a>

<!-- PDF -->
<a href="javascript:window.print()" class="pdf-link badge badge-pill">
  <i class="fas fa-file-pdf"></i> PDF
</a>

<!-- Sources -->
<% if (locals.sources) { %>
  <a href="<%= sources %>" class="badge badge-pill">
    <i class="fas fa-file-download"></i> Sources
  </a>
<% } %>