<h2><%= topic.title %></h2>

<!-- Back -->
<a href="/teaching" class="badge">
  <i class="fas fa-arrow-left"></i> Back
</a>

<!-- Up -->
<a href="#" class="badge">
  <i class="fas fa-arrow-up"></i> Up
</a>

<% topic.resources.forEach(function({ category, contents }) { %>

  <h4><%= category %></h4>

  <ul>
    <% contents.forEach(function({ id, route, title }) { %>
      <% if (lesson == id) { %>
        <li class="active">
      <% } else { %>
        <li>
      <% } %>
        <a href="<%= route %>"><%= title %></a>
      </li>
    <% }); %>
  </ul>

<% }); %>