<div id="rainbow"></div>

<nav id="nav-main" class="navbar navbar-expand-md navbar-light">
  
  <div class="container">

    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <% if (title == 'Home') { %>active<% } %>" href="/">
            <span class="d-none d-md-inline">👱‍♂️</span>
            <span class="d-inline d-md-none">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (title == 'About') { %>active<% } %>" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (title == 'Research') { %>active<% } %>" href="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (title == 'Portfolio') { %>active<% } %>" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (title == 'Teaching' || locals.lesson) { %>active<% } %>" href="/teaching">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (title == 'Contact') { %>active<% } %>" href="/contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
