<!DOCTYPE html>
<html>

<head>

  <!-- Meta and styles -->
  <%- include('partials/head'); %>

  <!-- More stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-light.min.css">

  <!-- Scripts -->
  <%- include('partials/scripts'); %>

  <!-- Highlight -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

  <!-- Mathjax -->
  <script>MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] } };</script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <title><%= title %> | <%- include('partials/title'); %></title>

</head>

<body>

  <!-- Navbar -->
  <%- include('partials/nav'); %>

  <!-- Main content -->
  <div id="lesson" class="container">
    <div class="row">
      <aside id="module-summary" class="d-none d-lg-block col-lg-3">
        <%- include('partials/module-summary'); %>
      </aside>
      <!-- Lesson -->
      <article class="col-md-8 col-lg-6">
        <!-- Titre -->
        <section>
          <h1><%= title %></h1>
        </section>
        <!-- Content -->
        <%- include(`lessons/${view}`); %>
      </article>
      <!-- Aside -->
      <aside id="lesson-summary" class="col-md-4 col-lg-3">
        <%- include('partials/lesson-summary'); %>
      </aside>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <%- include('partials/footer'); %>
    </div>
  </footer>

  <!-- Toc -->
  <script src="/javascripts/toc.js"></script>

  <!-- Scrollspy -->
  <script>
    new bootstrap.ScrollSpy(document.body, { target: '#toc' });
  </script>

</body>
</html>