<!DOCTYPE html>
<html>

<head>

  <!-- Meta and styles -->
  <%- include('partials/head'); %>
  
  <!-- Scripts -->
  <%- include('partials/scripts'); %>

  <title><%= title %> | <%- include('partials/title'); %></title>

</head>

<body>

  <!-- Navbar -->
  <%- include('partials/nav'); %>

  <!-- Main content -->
  <article>
    <%- include(view); %>
  </article>
  
  <!-- Footer -->
  <footer>
    <div class="container">
      <%- include('partials/footer'); %>
    </div>
  </footer>

</body>
</html>
