<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Fonts -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;800&display=swap">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/dracula.min.css">

		<!-- Reveal.js -->
		<link rel="stylesheet" href="/reveal.js/dist/reveal.css">
		<link rel="stylesheet" href="/reveal.js/dist/theme/white.css">
		<link rel="stylesheet" href="/stylesheets/slides.css">

    <title><%= title %> - Slides | <%- include('partials/title'); %></title>
	</head>

	<body>
		<!-- Links -->
		<nav id="navlinks">
			<a href="." class="link">
				<i class="fas fa-arrow-left"></i> Back
			</a>
			<button class="link" id="btnPDF">
				<i class="fas fa-file-pdf"></i> PDF
			</button>
		</nav>
		<div class="reveal">
			<div class="slides">
				<!-- Titre -->
				<section>
					<h2><%= teachingTitle %></h2>
					<h1><%= title %></h1>
				</section>
				<!-- Content -->
				<%- include(`lessons/${view}`); %>
      </div>
    </div>

		<!-- Reveal -->
		<script src="/reveal.js/dist/reveal.js"></script>
		<script src="/reveal.js/plugin/highlight/highlight.js"></script>
		<script src="/reveal.js/plugin/notes/notes.js"></script>
		<script src="/reveal.js/plugin/math/math.js"></script>
		<script src="/reveal.js/plugin/zoom/zoom.js"></script>
		<script>
			Reveal.initialize({
				transition: 'slide', // none/fade/slide/convex/concave/zoom
				slideNumber: true,
				history: true,
				navigationMode: 'linear',
				plugins: [ RevealHighlight, RevealNotes, RevealZoom, RevealMath ]
			});
		</script>

		<!-- Print -->
		<script>
			if (window.location.search === '?print-pdf') {
				navlinks.style.visibility = 'hidden';
				setTimeout(function() {
					window.print()
				}, 500);
			}
			else {
				let iframe = false;
				btnPDF.onclick = function() {
					if (iframe) {
						document.body.removeChild(iframe);
					}
					iframe = document.createElement('iframe');
					iframe.src = window.location.pathname + '?print-pdf';
					iframe.style.visibility = 'hidden';
					document.body.appendChild(iframe);
				}
			}
		</script>

  </body>
</html>
