<!-- https://bit.ly/2ZNvhfq -->

<!-- Généralités -->
<section>
  <section>
    <h3>Généralités</h3>
    <img src="/images/lessons/info1/algorithm_meme.jpg" alt="Algorithme" width="700" class="d-none">
  </section>
  <section>
    <h4>Définitions</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Algorithme</th>
          <td>
            Suite finie et non ambiguë d’instructions utilisant des données,
            permettant de résoudre un problème.
          </td>
        </tr>
        <tr>
          <th>Instruction</th>
          <td>
            Opération élémentaire réalisable par un ordinateur (calcul,
            affichage...).
          </td>
        </tr>
        <tr>
          <th>Donnée</th>
          <td>
            Valeur (numérique, alphabétique. . .) utilisée dans une instruction.
          </td>
        </tr>
        <tr>
          <th>Variable</th>
          <td>
            Emplacement mémoire, identifié par un nom, destiné à contenir une
            donnée.
          </td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Illustration</h4>
    <div class="fig">
      <img src="/images/lessons/info1/schema.gif" alt="schema_1" class="img-fluid">
    </div>
  </section>

  <section>
    <h4>Exemple d'algorithme de la vie courante</h4>
    <div class="fig text-center">
      <img src="/images/lessons/info1/exemple.png" alt="Exemple" class="img-fluid">
    </div>
  </section>
</section>

<!-- Elements de base de la programmation -->
<section>
  <section>
    <h3>Éléments de base de la programmation (en Python)</h3>
    <img src="/images/lessons/info1/programming_meme.jpg" alt="Programming" width="600" class="d-none">
  </section>

  <section>
    <h4>Données</h4>
    <p>
      Les données peuvent être de différentes formes (texte, nombres,
      images, composées d'autres données, ...).
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Valeurs</th>
          <th>Type</th>
        </tr>
        <tr>
          <td><code>42</code>, <code>21</code>, <code>-12</code>, ...</td>
          <td><code>int</code></td>
        </tr>
        <tr>
          <td><code>13.37</code>, <code>-4.2</code>, ...</td>
          <td><code>float</code></td>
        </tr>
        <tr>
          <td><code>"bonjour"</code>, <code>"hello"</code>, ...</td>
          <td><code>str</code></td>
        </tr>
        <tr>
          <td><code>True</code>, <code>False</code></td>
          <td><code>bool</code></td>
        </tr>
        <tr>
          <td><code>[18, 12, -3]</code>, <code>[18, -2.0, "toto"]</code>, ...</td>
          <td><code>list</code></td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <div class="tip">
      Pour connaître le type d’une donnée, on peut utiliser la fonction <code>type()</code> :
      <pre><code class="py">&gt;&gt;&gt; type("bonjour")
'str'

&gt;&gt;&gt; type(-6)
'int'

&gt;&gt;&gt; type(42.0)
'float'</code></pre>
    </div>
  </section>

  <section>
    <h4>Opérateurs numériques</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Opération</th>
          <th>Opérateur</th>
          <th>Exemple → Résultat</th>
        </tr>
        <tr>
          <td>addition</td>
          <td><code>+</code></td>
          <td><code>36 + 6</code> → <code>42</code></td>
        </tr>
        <tr>
          <td>soustraction</td>
          <td><code>-</code></td>
          <td><code>54 - 12</code> → <code>42</code></td>
        </tr>
        <tr>
          <td>multiplication</td>
          <td><code>*</code></td>
          <td><code>14 * 3</code> → <code>42</code></td>
        </tr>
        <tr>
          <td>exponentiation</td>
          <td><code>**</code></td>
          <td><code>2 ** 8</code> → <code>256</code></td>
        </tr>
        <tr>
          <td>division</td>
          <td><code>/</code></td>
          <td><code>21 / 5</code> → <code>4.2</code></td>
        </tr>
        <tr>
          <td>division entière</td>
          <td><code>//</code></td>
          <td><code>21 // 5</code> → <code>4</code></td>
        </tr>
        <tr>
          <td>modulo</td>
          <td><code>%</code></td>
          <td><code>21 % 5</code> → <code>1</code></td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Expressions</h4>
    <p>
      Une expression est une composition d’opérations sur les données.
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Expression</th>
          <th>Valeur</th>
          <th>Type</th>
        </tr>
        <tr>
          <td><code>2 - 3</code></td>
          <td><code>-1</code></td>
          <td><code>int</code></td>
        </tr>
        <tr>
          <td><code>2 / (1 + 3)</code></td>
          <td><code>0.5</code></td>
          <td><code>float</code></td>
        </tr>
        <tr>
          <td><code>"bon" + "jour"</code></td>
          <td><code>"bonjour"</code></td>
          <td><code>str</code></td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Variables</h4>
    <p>
      Une variable est un emplacement dans la mémoire de l’ordinateur, pour y
      stocker une donnée (une valeur).
    </p>
    <ul>
      <li>
        Elle est caractérisée par un <strong>nom</strong> auquel on affecte une
        <strong>valeur</strong>,
      </li>
      <li>Elle est définie lors de sa première affectation,</li>
      <li>Son type est celui de sa valeur.</li>
    </ul>
    <pre><code class="py">&gt;&gt;&gt; ma_variable = 21
&gt;&gt;&gt; type(ma_variable)
'int'</code></pre>
  </section>

  <section>
    <h4>Affectation</h4>
    <p>
      L’affectation est une instruction qui associe une valeur à une variable
      (la valeur est rangée dans la mémoire associée à la variable).
    </p>
    <p class="tip">L'affectation s'effectue avec l'opérateur <code>=</code>.</p>
    <pre><code class="py">&gt;&gt;&gt; a = 4
&gt;&gt;&gt; b = (a + 3) * ((a + 2) ** 2) / 6</code></pre>
  </section>

  <section>
    <h4>Nommage des variables</h4>
    <p>
      Le nom d’une variable obéit à certaines règles :
    </p>
    <ul>
      <li>il commence par une lettre (en minuscule),</li>
      <li>
        cette première lettre est suivie de lettres, de chiffres ou du symbole
        <code>_</code>,
      </li>
      <li>
        on ne met pas d’espace, de <code>.</code>, de <code>:</code>, de
        <code>...</code>,
      </li>
      <li>
        certains mots sont réservés pour le langage et donc interdits en nom de
        variable (par exemple : <code>int</code>)
      </li>
    </ul>
  </section>

  <section>
    <h4>Affichage</h4>
    <p>
      Pour afficher une donnée ou le contenu d'une variable, on utilise la
      fonction <code>print()</code> :
    </p>
    <pre><code class="py">&gt;&gt;&gt; x = 42
&gt;&gt;&gt; print(x)
42</code></pre>
    <p>
      Pour afficher simultanément plusieurs données, on sépare les
      arguments de la fonction <code>print</code> par des <code>,</code> :
    </p>
    <pre><code class="py">&gt;&gt;&gt; print("La variable x vaut :", x)
"La variable x vaut : 42"</code></pre>
  </section>
  <section>
    <h4>Saisie</h4>
    <p>
      Pour saisir une valeur (depuis le clavier), on utilise la fonction
      <code>input()</code> :
    </p>
    <pre><code class="py">&gt;&gt;&gt; y = input()</code></pre>
  </section>

  <section>
    <div class="warn">
      <p>
        Par défaut, <code>input()</code> saisit une chaîne de caractères :
      </p>
      <pre><code class="py">&gt;&gt;&gt; prix = input()
13.37
&gt;&gt;&gt; type(prix)
'str'</code></pre>
      <p>
        Si on souhaite saisir un nombre, il faut convertir
        cette chaîne avec les fonctions <code>int()</code> ou
        <code>float()</code> :
      </p>
<pre><code class="py">&gt;&gt;&gt; prix = float(input())
13.37
&gt;&gt;&gt; type(prix)
'float'</code></pre>
    </div>
  </section>

  <section>
    <h4>Instructions</h4>
    <p>Un programme va être une suite d’instructions exécutées en séquence.</p>
    <pre><code class="py"># Demander le prénom de l'utilisateur
print("Quel est votre prénom ? ")
prenom = input()
# Saluer l'utilisateur par son prénom
print("Bonjour ", prenom, " !")</code></pre>

    <p class="tip">
      Les lignes commençant par le symbole <code>#</code> sont des commentaires.
      <br>
      Ils sont utilisés pour expliquer une partie de code, et ne sont pas
      exécutés par l'interpréteur Python.
    </p>
  </section>

  <section>
    <h4>Exécution d'un programme Python</h4>
    <a target="_blank" href="https://sakai.univ-littoral.fr/portal">
      Tutoriel d'utilisation Repl.it
    </a>
  </section>
</section>

<!-- Structures IF -->
<section>
  <section>
    <h3>Structure de contrôle : Alternative "Si / Sinon"</h3>
    <img src="/images/lessons/info1/if_meme.jpg" alt="Si sinon" width="400" class="d-none">
  </section>
  
  <section>
    <h4>Principe</h4>
    <p>
      Différencier les instructions à exécuter selon la valeur d’une condition.
    </p>
    <pre><code class="py"># si une condition est vraie
#    bloc d'instructions à éxécuter dans ce cas
# sinon
#    bloc d'instructions à éxécuter en cas de condition fausse
# instructions suivantes dans tous les cas</code></pre>
    <div class="tip">
      <p>Selon les besoins, le bloc <em>sinon</em> peut être omis.</p>
      <pre><code class="py"># si une condition est vraie
#    bloc d'instructions à éxécuter dans ce cas
# instructions suivantes dans tous les cas</code></pre>

    </div>
  </section>

  <section>
    <h4>Conditions</h4>
    <p>
      La condition d’une alternative est une expression conditionnelle,
      c’est-à-dire un calcul dont le résultat est un booléen (vrai ou faux). À
      l’exécution du programme :
    </p>
    <ul>
      <li>
        L’ordinateur calcule la valeur de la condition quand il arrive à cette
        étape du traitement.
      </li>
      <li>
        Si cette valeur vaut vrai (<code>True</code>) alors il exécute le bloc
        d'instructions indiqué,
      </li>
      <li>
        sinon (valeur <code>False</code>) il exécute le second bloc
        d'instructions (s’il existe).
      </li>    
    </ul>
  </section>

  <section>
    <h4>Opérateurs de comparaison</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Opération</th>
          <th>Opérateur</th>
          <th>Exemple → Résultat</th>
        </tr>
        <tr>
          <td>inférieur</td>
          <td><code>&lt;</code></td>
          <td><code>13 &lt; 37</code> → <code>True</code></td>
        </tr>
        <tr>
          <td>inférieur ou égal</td>
          <td><code>&lt;=</code></td>
          <td><code>13 &lt;= 37</code> → <code>True</code></td>
        </tr>
        <tr>
          <td>supérieur</td>
          <td><code>&gt;</code></td>
          <td><code>42 &gt; 42</code> → <code>False</code></td>
        </tr>
        <tr>
          <td>supérieur ou égal</td>
          <td><code>&gt;=</code></td>
          <td><code>42 &gt;= 42</code> → <code>True</code></td>
        </tr>
        <tr>
          <td>égalité</td>
          <td><code>==</code></td>
          <td><code>"a" == "a"</code> → <code>True</code></td>
        </tr>
        <tr>
          <td>différence</td>
          <td><code>!=</code></td>
          <td><code>"a" != 42</code> → <code>True</code></td>
        </tr>
      </table>
    </div>
  </section>
  
  <section>
    <h4>Implémentation</h4>
    <p>
      Avec les mots-clés <code>if</code> (si) et
      <code>else</code> (sinon).
    </p>
    <pre><code class="py"># Conditions
if age &gt;= 18:
    print("Vous êtes un adulte.")
    print("Vous êtes majeur.")
else:
    if age &lt; 12:
        print("Vous êtes un enfant.")
    else:
        print("Vous êtes un ado.")

# Instructions suivantes (dans tous les cas)
print("Fin du programme !")</code></pre>
    <p class="tip">
      Un bloc d’instructions est défini par un même niveau d'indentation.
    </p>
  </section>

  <section>
    <h4>Algèbre de Boole</h4>
    <p>
      Lorsqu’on utilise des conditions, on utilise le type booléen et donc
      l’algèbre de Boole.
    </p>
    <div class="tip table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>a</th>
          <th>b</th>
          <th>a ET b</th>
          <th>a OU b</th>
          <th>NON a</th>
        </tr>
        <tr>
          <td><code>True</code></td>
          <td><code>True</code></td>
          <td><code>True</code></td>
          <td><code>True</code></td>
          <td><code>False</code></td>
        </tr>
        <tr>
          <td><code>True</code></td>
          <td><code>False</code></td>
          <td><code>False</code></td>
          <td><code>True</code></td>
          <td><code>False</code></td>
        </tr>        
        <tr>
          <td><code>False</code></td>
          <td><code>True</code></td>
          <td><code>False</code></td>
          <td><code>True</code></td>
          <td><code>True</code></td>
        </tr>
        <tr>
          <td><code>False</code></td>
          <td><code>False</code></td>
          <td><code>False</code></td>
          <td><code>False</code></td>
          <td><code>True</code></td>
        </tr>        
      </table>
    </div>
  </section>

  <!-- <section>
    <h4>Illustration</h4>
    <div class="fig">
      <img src="/images/lessons/info1/bool_1.jpg" alt="Bool" width="600" class="img-fluid">
    </div>
    <br>
    <div class="fig">
      <img src="/images/lessons/info1/bool_2.jpg" alt="Bool" width="600" class="img-fluid">
    </div>
  </section> -->

  <section>
    <h4>Opérateurs logiques</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Opération</th>
          <th>Opérateur</th>
        </tr>
        <tr>
          <td>ET</td>
          <td><code>and</code></td>
        </tr>
        <tr>
          <td>OU</td>
          <td><code>or</code></td>
        </tr>
        <tr>
          <td>NON</td>
          <td><code>not</code></td>
        </tr>
        <tr>
          <td>...</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Plusieurs conditions à la fois</h4>
    <pre><code class="py"># Un client peut ouvrir un compte en banque
# s'il est assez âgé ou bien possède beaucoup d'argent
if age >= 30 or argent > 1000000:
    print("Bienvenue chez PicsouBanque !")
else:
    print("Hors de ma vue, misérable !")
</code></pre>
    <p class="tip">
      Ce test n'est valide que si le client a au moins 30 ans ou s'il
      possède plus de 1 000 000 euros.
    </p>
  </section>

</section>

<!-- Structures WHILE -->
<section>
  <section>
    <h3>Structure de contrôle : Répétition "Tant que" et "Pour"</h3>
    <img src="/images/lessons/info1/loop_meme.jpg" alt="Si sinon" width="300" class="d-none">
  </section>
  
  <section>
    <h4>Principe de la boucle "Tant que"</h4>
    <p>
      La structure de contrôle "Tant que" permet de répéter un traitement tant
      qu’une condition est vérifiée.
    </p>
    <pre><code class="py"># tant que une condition est vraie
#    bloc d'instructions à exécuter
# instructions suivantes une fois la boucle terminée</code></pre>
    <div class="tip">
      <p>
        Si la condition est vraie, on exécute le bloc, puis on ré-évalue la
        condition pour savoir s’il faut répéter son exécution.
      </p>
      <p>
        Si la condition est fausse, alors le bloc
        d’instructions n’est pas exécuté et on passe à la suite.
      </p>
    </div>
  </section>

  <section>
    <h4>Implémentation de la boucle "Tant que"</h4>
    <p>Avec le mot clé <code>while</code> :</p>
    <div class="fig">
      <img src="https://blog.penjee.com/wp-content/uploads/2015/04/top-5-programming-animated-gifs_demonstration-of-while-loop-animation_logo.gif" alt="while" class="img-fluid">
    </div>
  </section>

  <section>
    <div class="warn">
      <p>
        Le contenu du bloc doit, à un moment donné, changer la
        valeur de la condition afin qu’on puisse quitter la boucle et passer à
        la suite, sinon on boucle à l’infini.
      </p>
      <pre><code class="py">attempt = 1
while attempt < 5:
    open_door()
enter() # cette instruction ne sera jamais atteinte</code></pre>
      <div class="fig" style="border: none">
        <img src="https://media.giphy.com/media/3WdUt1PX5mlSo/giphy.gif" width="200" alt="While infini">
      </div>
  </section>

  <section>
    <h4>Principe de la boucle "Pour"</h4>

    <p>
      La structure de contrôle "Pour" permet de répéter un traitement un certain
      nombre de fois.
    </p>

    <pre><code class="py"># pour compteur comptant nbfois
#    bloc d'instructions à éxécuter
# instructions suivantes une fois la boucle terminée</code></pre>

    <p class="tip">
      Le nombre de répétitions est connu au moment où on commence la boucle
      "Pour". Il est contrôlé par une variable qui compte le nombre de
      répétitions.
    </p>

  </section>

  <section>

    <h4>Implémentation de la boucle "Pour"</h4>

    <p>
      L'instruction <code>for</code> permet d'itérer sur les éléments d'une
      séquence :
    </p>

    <ul>
      <li>une suite arithmétique de nombres,</li>
      <li>une liste,</li>
      <li>une chaîne de caractères, ...</li>
    </ul>

  </section>

  <section>
    <h4>Boucle "Pour" et suite arithmétique</h4>

    <p>
      La fonction <code>range()</code> génère une suite de nombres.
    </p>

    <pre><code class="py">for i in range(4):
  print(i)</code></pre>

    <pre class="nohighlight"><code>0
1
2
3</code></pre>

    <p class="tip">
      Le nombre fourni en paramètre de <code>range()</code> ne fait jamais
      partie de la liste générée.
    </p>
  </section>

  <section>
    <p>
      Il est possible de spécifier la valeur du début de la suite, et une valeur
      d’incrémentation (le pas) :
    </p>
    <pre><code class="py">range(init, finale, pas)</code></pre>
    <p>Exemple :</p>
    <pre><code class="py"># Afficher les nombres de 6 à 14 en comptant de 2 en 2
for cpt in range(6, 14, 2):
  print(cpt)</code></pre>
    <pre class="nohighlight"><code>6
8
10
12</code></pre>

  </section>

  <section>
    <h4>Boucle "Pour" et chaînes de caractères</h4>

    <p>
      Lorsque la séquence est une chaîne de caractères, l’instruction
      <code>for</code> fait prendre à la variable compteur la valeur de chaque
      caractère composant la chaîne.
    </p>

    <pre><code class="py"># Afficher les caractères du mot "info1"
for letter in "info1":
  print(letter)</code></pre>
    <pre class="nohighlight"><code>i
n
f
o
1</code></pre>
  </section>

  <section>
    <h4>Boucle "Pour" et listes</h4>

    <p>
      Lorsque la séquence est une liste, l’instruction <code>for</code> fait
      prendre à la variable compteur la valeur de chaque élément de la liste.
    </p>

    <pre><code class="py"># Afficher les éléments d'une liste
for element in ["windows", "linux", "macOS"]:
  print(element)</code></pre>
    <pre class="nohighlight"><code>windows
linux
macOS</code></pre>
  </section>

</section>

<!-- Listes -->
<section>
  <section>
    <h3>Listes</h3>
    <img src="/images/lessons/info1/list_meme.png" alt="Listes" width="600" class="d-none">
  </section>
  
  <section>
    <h4>Principe</h4>

    <p>
      Les listes sont des structures de données qui permettent de regrouper
      plusieurs valeurs de types différents.
    </p>
    <pre><code class="py">ma_liste = [1, "toto", 1.3, 42]</code></pre>
    <p class="tip">
      Les valeurs sont séparées par des virgules <code>,</code> et mises entre crochets <code>[]</code>.
    </p>
    
  </section>

  <section>
    <h4>Indices</h4>
    <p>
      Les listes sont indicées. On fait référence à une valeur de la liste en
      utilisant son indice et l'opérateur <code>[]</code>.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list.jpg" alt="Liste et indice" width="400" class="img-fluid">
    </div>
    <pre><code class="py">&gt;&gt;&gt; ma_liste[0]
1

&gt;&gt;&gt; ma_liste[2]
1.3

&gt;&gt;&gt; ma_liste[1] = 3.7

&gt;&gt;&gt; ma_liste
[1, 3.7, 1.3, 42]</code></pre>
  </section>

  <section>
    <h4>Référence à plusieurs éléments</h4>
    <p>
      Avec l'opérateur <code>[début:fin]</code>.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list1.jpg" alt="Plusieurs indices" width="400" class="img-fluid">
    </div>
    <pre><code class="py">&gt;&gt;&gt; ma_liste[1:3]
[3.7, 1.3]

&gt;&gt;&gt; ma_liste[:2]
[1, 3.7]

&gt;&gt;&gt; ma_liste[1:]
[3.7, 1.3, 42]</code></pre>
  </section>

  <section>
    <h4>Indices négatifs</h4>
    <p>
      Pour faire référence à des valeurs de la liste depuis la fin.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list2.jpg" alt="Indices négatifs" width="400" class="img-fluid">
    </div>
    <pre><code class="py">&gt;&gt;&gt; ma_liste[-1]
42

&gt;&gt;&gt; ma_liste[-3]
3.7</code></pre>
  </section>

  <section>
    <h4>Fonctions spécifiques aux listes</h4>
    <p>
      Longueur d'une liste avec <code>len()</code>.
    </p>
    <pre class="py"><code>&gt;&gt;&gt; len(ma_liste)
4</code></pre>

    <p>
      Ajout d'un élément en fin de liste avec <code>.append()</code>.
    </p>
    <pre><code class="py">&gt;&gt;&gt; ma_liste.append(21)

&gt;&gt;&gt; ma_liste
[1, 3.7, 1.3, 42, 21]</code></pre>
  </section>

  <section>
    <h4>Parcours d'une liste</h4>
    <p>
      Avec l'instruction <code>for ... in</code>.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list1.jpg" alt="Indices négatifs" width="400" class="img-fluid">
    </div>
    <pre class="py"><code>for element in ma_liste:
  print(element)</code></pre>
    <pre class="nohighlight"><code>1
3.7
1.3
42</code></pre>
  </section>

  <section>
    <p>
      Avec les fonctions <code>range</code>, <code>len</code> et les indices de la liste.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list1.jpg" alt="Indices négatifs" width="400" class="img-fluid">
    </div>
    <pre class="py"><code>for i in range(len(ma_liste)):
  print(ma_liste[i])</code></pre>
    <pre class="nohighlight"><code>1
3.7
1.3
42</code></pre>
  </section>

  <section>
    <h4>Chaînes de caractères</h4>
    <p>
      Les chaînes de caractères peuvent se manipuler comme des listes.
    </p>
    <div class="fig">
      <img src="/images/lessons/info1/list3.jpg" alt="Chaînes de caractères" width="400" class="img-fluid">
    </div>
    <pre class="py"><code>&gt;&gt;&gt; message = "hello"
      
&gt;&gt;&gt; message[0]
'h'

&gt;&gt;&gt; message[-1]
'o'

&gt;&gt;&gt; len(message)
5</code></pre>
  </section>
  <section>
    <div class="warn">
      <p>
        Les chaînes de caractères sont des listes <em>immutables</em> : il est
        impossible modifier les valeurs de la liste individuellement.
      </p>
      <pre><code class="py">&gt;&gt;&gt; message[2] = 'y'
# Erreur

&gt;&gt;&gt; message.append('z')
# Erreur</code></pre>
    </div>
  </section>

  <section>
    <h4>Liste de listes</h4>
    <p>
      Les listes peuvent s’imbriquer les unes dans les autres : une valeur d’une
      liste peut être elle-même une liste.
    </p>
    <pre><code class="py">&gt;&gt;&gt; matrice2D = [[1, 2], [3, 4]]

&gt;&gt;&gt; matrice2D[0]
[1, 2]
&gt;&gt;&gt; matrice2D[1]
[3, 4]

&gt;&gt;&gt; matrice2D[0][0]
1
&gt;&gt;&gt; matrice2D[0][1]
2</code></pre>
  </section>
</section>

<!-- Fonctions -->
<section>
  <section>
    <h3>Fonctions</h3>
    <img src="/images/lessons/info1/function_meme1.png" alt="Fonctions" width="400" class="d-none">
  </section>
  
  <section>
    <h4>Motivations</h4>

    <p>
      Jusqu'ici : un traitement ⇔	 un bloc d'instruction.
    </p>
    
    <div class="warn">
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Modifier un traitement ?
        <br>
        ⇒ Modifier tous les blocs d'instruction qui l'utilisent !
      </p>
      <div class="fig" style="border:none">
        <img src="/images/lessons/info1/cards.gif" alt="Cards" class="img-fluid">
      </div>
    </div>

  </section>

  <section>
    <h4>Objectifs</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Factorisation</th>
          <td>
            Moins de lignes de code.
            <br>
            Plus facile à lire, comprendre, modifier et maintenir.
          </td>
        </tr>
        <tr>
          <th>Spécialisation</th>
          <td>
            Traitements isolés, spécifiques à la réalisation d'une tâche
            précise.
        </td>
        </tr>
        <tr>
          <th>Reproduction</th>
          <td>Défini une fois, utilisé plusieurs fois.</td>
        </tr>
      </table>
    </div>    
  </section>

  <section>
    <h4>Définition</h4>
    <p>Une fonction en informatique :</p>
    <ul>
      <li>Prend des données en entrée : les <em>paramètres</em>,</li>
      <li>Effectue un traitement avec ces données,</li>
      <li>Produit un résultat : la <em>valeur de retour.</em></li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/info1/function_meme2.png" alt="Fonction" width="250" class="img-fluid">
    </div>
  </section>

  <section>
    <h4>Définition en Python</h4>
    <ul>
      <li>Nommage de la fonction avec le mot-clé <code>def</code></li>
      <li>Paramètres entre <code>()</code> et séparés par des <code>,</code></li>
      <li>Bloc des instructions à exécuter</li>
      <li>Valeur à retourner avec le mot-clé <code>return</code></li>
    </ul>
    <pre><code class="py">def nom_fonction(nom_parametre_1, nom_parametre_2):
  bloc d&rsquo;instructions à exécuter
  return valeur_de_retour</code></pre>
  </section>

  <section>
    <h4>Sans fonction</h4>
    <pre><code class="py">deg_fahrenheit = 24
deg_celsius1 = (5/9) * (deg_fahrenheit - 32)

deg_fahrenheit = 42
deg_celsius2 = (5/9) * (deg_fahrenheit - 32)

deg_fahrenheit = 37
deg_celsius3 = (5/9) * (deg_fahrenheit - 32)

...

print("Résultats:", deg_celsius1, deg_celsius2, deg_celsius3)</code></pre>
    <pre class="nohighlight"><code>Résultats:  -4.4  5.5  2.8</code></pre>
    <p class="warn">
      Maintenance difficile... 🤯 !
    </p>
  </section>

  <section>
    <h4>Avec une fonction</h4>
    <pre><code class="py">def conversion_celsius(deg_fahreinheit):
  resultat = (5/9) * (deg_fahreinheit - 32)
  return resultat
  
deg_celsius1 = conversion_celsius(24)
deg_celsius2 = conversion_celsius(42)
deg_celsius3 = conversion_celsius(37)

...

print("Résultats:", deg_celsius1, deg_celsius2, deg_celsius3)</code></pre>
    <pre class="nohighlight"><code>Résultats:  -4.4  5.5  2.8</code></pre>

    <p class="tip">Factorisation du code, facile à maintenir 😎 !</p>
  </section>

  <section>
    <h4>On connaît déjà</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><pre class="py" style="width: 100%;"><code>print("Hello world!")</code></pre></td>
          <td>
            Fonction qui affiche le message passé en paramètre
          </td>
        </tr>
        <tr>
          <td><pre class="py" style="width: 100%;"><code>x = input()</code></pre></td>
          <td>
            Fonction qui retourne la saisie au clavier
          </td>
        </tr>
        <tr>
          <td><pre class="py" style="width: 100%;"><code>range(13, 37)</code></pre></>
          <td>
            Fonction qui retourne un compteur (entre 13 et 36)
          </td>
        </tr>
        <tr>
          <td></td>
          <td>...</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Valeur de retour simple</h4>
    <p>
      La valeur de retour d’une fonction peut avoir différents types simples
      (entier, flottant, booléen, texte, ...).
    </p>
    <pre><code class="py"># Fonction qui retourne un réel (float)
def diviser_par_2(x):
  y = x / 2
  return y

# Fonction qui retourne une chaîne de caractères (str)
def dire_bonjour(prenom):
  message = "Bonjour " + prenom + " !"
  return message</code></pre>
  </section>

  <section>
    <pre><code class="py">x = diviser_par_2(42)
y = diviser_par_2(x)

print(x, y)

msg1 = dire_bonjour("Joe")
msg2 = dire_bonjour("Jack")

print(msg1)
print(msg2)</code></pre>
    <pre><code class="nohighlight">21.0
10.5
"Bonjour Joe !"
"Bonjour Jack !"</code></pre>
  </section>

  <section>
    <div class="tip">
      <p>
        Quand cela est possible, on préférera retourner directement le résultat
        de la fonction en évitant les étapes intermédiaires (blocs
        d'instructions / définition de variables) :
      </p>
      <pre><code class="py">def diviser_par_2(x):
  return x / 2

def dire_bonjour(prenom):
  return "Bonjour " + prenom + " !"</code></pre>
    </div>
  </section>

  <section>
    <h4>Fonction sans valeur de retour</h4>
    <p>
      Les fonctions peuvent être définies sans qu’elles aient de valeur de
      retour.
    </p>
    <pre><code class="py"># Fonction qui effectue un simple affichage (pas de retour)
def dire_bonjour(prenom):
  print("Bonjour", prenom, "!")

dire_bonjour("Joe")</code></pre>
    <pre><code class="nohighlight">"Bonjour Joe !"</code></pre>
  </section>

  <section>
    <h4>Valeurs de retour multiples</h4>
    <p>
      La valeur de retour d’une fonction peut être une liste.
    </p>
    <pre><code class="py">def generer_liste(n):
  liste = []
  for i in range(n):
    liste.append(i)
  return liste

liste1 = generer_liste(10)
liste2 = generer_liste(50)

print("Liste 1:", liste1)
print("Liste 2:", liste2)</code></pre>
    
    <pre><code class="nohighlight">Liste 1: [0, 1, 2, ... 9]
Liste 2: [0, 1, 2, ... 49]</code></pre>
  </section>

  <section>
    <p>La valeur de retour d'une fonction peut être un tuple.</p>
    <pre><code class="py">def premier_et_dernier(liste):
  premier = liste[0]
  dernier = liste[-1]
  return (premier, dernier)

a, b = premier_et_dernier([1, 2, 3])

print("Premier:", a)
print("Dernier:", b)</code></pre>
    <pre><code class="nohighlight">Premier: 1
Dernier: 3</code></pre>
  </section>

  <section>
    <h4>Champ de vie d'une variable</h4>
    <ul>
      <li>Variables globales : définies dans le fichier principal</li>
      <li>Variables locales : définies dans une fonction</li>
    </ul>
    <pre><code class="py">a = 42 # variable globale

def toto():
  b = "titi" # variable locale
  print(a)
  print(b)

toto()
print(a)
print(b)</code></pre>
    <pre><code class="nohighlight">42
"titi"
42
Error... b is undefined !</code></pre>
  </section>

</section>

<!-- Recursivite -->

<section>
  <section>
    <h3>Récursivité</h3>
    <img src="/images/lessons/info1/chicken.jpg" alt="Récursivité" width="400" class="d-none">
  </section>
  <section>
    <h4>Exemples de récursivité</h4>
    <ul>
      <li>
        Une poupée russe <img
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/263/nesting-dolls_1fa86.png"
        width="50" style="margin: 0"> contient une poupée russe, qui contient
        une poupée russe, qui contient...
      </li>
      <li>
        Un dictionnaire 📙 définit des mots à l'aide de phrases, composées
        elles-mêmes par des mots du dictionnaire, qui définit des mots...
      </li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/info1/recursion_meme.png" width="250" class="img-fluid">
    </div>
  </section>
  <section>
    <h4>Terminaison de la récursivité</h4>
    <p class="tip">
      Cette auto-référence doit s'arrêter... sinon, ne jamais ouvrir un
      dictionnaire sous peine d’y passer sa vie entière !
    </p>
    <ul>
      <li>
        <img
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/263/nesting-dolls_1fa86.png"
        width="50" style="margin: 0">
        Lorsqu’on atteint la plus petite poupée russe
      </li>
      <li>
        📙 Lorsque la définition des mots de plus en plus simples nous aura permis
        d’atteindre la connaissance de l’ensemble
      </li>
    </ul>
  </section>
  <section>
    <h4>Récursivité en informatique</h4>
    <ul>
      <li>
        Une structure de données est dite récursive lorsqu'elle se référence
        elle-même. Par exemple, une liste de listes...
        <pre><code class="py">liste = [ [1,2], [3,4], ...]</code></pre>
      </li>
      <li>
        Une fonction est dite récursive lorsqu'elle s'appelle elle-même.
      </li>
    </ul>
    <p class="tip">
      Ce chapitre s'intéresse particulièrement aux fonctions récursives.
    </p>
  </section>
  <section>
    <h4>Exemple de problème récursif</h4>
    <p>
      Calculer le produit des <code>n</code> premiers entiers positifs ?
    </p>
    <ul>
      <li>
        Si <code>n</code> vaut <code>1</code> alors le produit vaut
        <code>1</code>
      </li>
      <li>
        Si <code>n</code> vaut <code>2</code> alors le produit vaut
        <code>2 * 1</code>
      </li>
      <li>
        Si <code>n</code> vaut <code>3</code> alors le produit vaut
        <code>3 * 2 * 1</code>
      </li>
      <li>
        Si <code>n</code> vaut <code>4</code> alors le produit vaut
        <code>4 * 3 * 2 * 1</code>
      </li>
      <li>Etc...</li>
    </ul>
  </section>
  <section>
    <p>
      En nommant cette opération <code>factorielle(n)</code> :
    </p>
    <ul>
      <li>
        Si <code>n</code> vaut <code>1</code> alors le résultat est
        <code>1</code>.
        <p class="tip">
          C'est le cas <em>trivial</em> (la terminaison).
        </p>
      </li>
      <li>
        Sinon le résultat vaut <code>n * factorielle(n - 1)</code>.
        <p class="tip">
          C'est le cas <em>récursif</em>, la fonction fait appel à elle-même
          jusqu'à converger vers le cas <em>trivial</em>.
        </p>
      </li>
    </ul>
  </section>
  <section>
    <h4>Construction d'une fonction récursive</h4>
    <p>
      Construction avec toujours au moins une alternative.
    </p>
    <pre><code class="nohighlight">SI condition de terminaison
  ALORS cas trivial
  SINON cas général</code></pre>
    <ol>
      <li>
        <strong>Cas trivial</strong> : le cas de terminaison de la fonction, ce
        cas ne doit pas effectuer d’appel récursif.
      </li>
      <li>
        <strong>Cas général</strong> : ce cas effectue un appel récursif de la
        fonction en modifiant ses paramètres, afin de converger jusqu'au cas
        trivial.
      </li>
    </ol>
  </section>
  <section>
    <h4>Fonction récursive <code>factorielle</code></h4>
    <div class="fig">
      <p>
        $
        \forall n \in \mathbb{N}^{+},~\text{factorielle}(n) =
        \begin{cases}
          1 & \text{si } n = 1\\
          n * \text{factorielle}(n-1) & \text{sinon}
        \end{cases}
        $
      </p>
    </div>
    <pre><code class="py">def factorielle(n):
  # cas trivial
  if n == 1:
    return 1
  # cas général
  else:
    return n * factorielle(n - 1)</code></pre>
  </section>
  <section>
    <div class="tip">
      <p>Idem, sans le <code>else</code> superflu.</p>
      <pre><code class="py">def factorielle(n):
  # cas trivial
  if n == 1:
    return 1
  # cas général
  return n * factorielle(n - 1)</code></pre>
    </div>
  </section>
  <section>
    <h4>Schéma d'exécution</h4>
    <div class="fig">
      <img src="/images/lessons/info1/factorielle.jpg" width="700" class="img-fluid">
    </div>
  </section>
</section>

<!-- Tris -->

<section>
  <section>
    <h3>Tris</h3>
    <img src="https://i.imgur.com/fq0A8hx.gif" alt="Tris" width="700" class="d-none">
  </section>
  <section>
    <h4>Tri bulle</h4>
    <p><em>Principe</em></p>
    <ul>
      <li>
        On fait remonter (comme une bulle remonte du fond du verre à la surface)
        le plus grand nombre en haut du tableau, en échangeant les éléments 2 à
        2 si nécessaire
      </li>
      <li>
        Puis on recommence pour mettre le 2ème plus grand à sa place, et ainsi
        de suite...
      </li>
    </ul>
  </section>
  <section>
    <p><em>Mise en oeuvre</em></p>
    <div class="fig text-center">
      <iframe width="600" height="337" src="https://www.youtube.com/embed/xli_FI7CuzA?start=25&amp;mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <section>
    <p><em>Algorithme</em></p>
    <pre><code class="py">def triBulle(L, n):
  '''
  Tri bulle
  Params:
    L: liste d'entiers
    n: nombre de valeurs dans la liste
  '''
  for taille in range(n - 1, 0, -1):
    for case in range(taille):
      if L[case] > L[case + 1]:
        L[case], L[case + 1] = L[case + 1], L[case]</code></pre>
  </section>
  <section>
    <h4>Tri sélection</h4>
    <p><em>Principe</em></p>
    <ul>
      <li>
        On recherche le plus petit élément du tableau et on le place en début de
        tableau
      </li>
      <li>
        On recommence ensuite avec le 2ème plus petit qu'on place en 2ème
        position du tableau
      </li>
      <li>
        Jusqu'à avoir parcouru tous les éléments
      </li>
    </ul>
  </section>
  <section>
    <p><em>Mise en oeuvre</em></p>
    <div class="fig text-center">
      <iframe width="600" height="337" src="https://www.youtube.com/embed/g-PGLbMth_g?start=25&amp;mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <section>
    <p><em>Algorithme</em></p>
    <pre><code class="py">def triSelection(L, n):
  '''
  Tri selection
  Params:
    L: liste d'entiers
    n: nombre de valeurs dans la liste
  '''
  for caseDebut in range(n):
    caseMin = caseDebut
    for case in range(caseDebut, n):
      if L[case] < L[caseMin]:
        caseMin = case
    L[caseMin], L[caseDebut] = L[caseDebut], L[caseMin]</code></pre>
  </section>
  <section>
    <h4>Tri insertion</h4>
    <p><em>Principe</em></p>
    <ul>
      <li>
        De gauche à droite
      </li>
      <li>
        On prend un élément et on le compare aux éléments à sa gauche
      </li>
      <li>
        On insère l'élément lorsqu'il est plus grand que l'élément à sa gauche,
        en échangeant les éléments 2 à 2 si nécessaire
      </li>
    </ul>
    <p class="tip">
      Tri insertion ≈ tri d'un jeu de cartes.
    </p>
  </section>
  <section>
    <p><em>Mise en oeuvre</em></p>
    <div class="fig text-center">
      <iframe width="600" height="337" src="https://www.youtube.com/embed/JU767SDMDvA?start=32&amp;mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
  <section>
    <p><em>Algorithme</em></p>
    <pre><code class="py">def triInsertion(L, n):
  '''
  Pseudo-code du tri insertion
  Params:
    L: liste d'entiers
    n: nombre de valeurs dans la liste
  '''
  # POUR chaque case de la liste L:
  # │ caseCourante = case
  # │ TANT QUE caseCourante != 0 ET L[caseCourante - 1] > L[caseCourante]:
  # │ │ echanger L[caseCourante] et L[caseCourante - 1]
  # │ └ caseCourante -= 1
  # └</code></pre>
  </section>
</section>

<section>
  <section>
    <h3>Initiation à la complexité</h3>
    <div class="text-center">
      <iframe width="600" height="337" src="https://www.youtube.com/embed/AgtOCNCejQ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
</section>