<!-- 1 -->
<section>
  <section>
    <h3>Fonctions</h3>
    <div class="fig text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pmCGFR6coeg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </section>
</section>