<!-- Rappels -->
<section>
  <section>
    <h3>Rappels</h3>
    <p>
      Quelques rappels issus du <a target="_blank" href="/teaching/info1/condense/slides#/5">cours sur les
      listes</a>.
    </p>
    <ul>
      <li>
        Une liste vide :
        <pre><code class="py">&gt;&gt;&gt; liste = []</code></pre>
      </li>
      <li>
        Une liste avec quelques valeurs :
        <pre><code class="py">&gt;&gt;&gt; liste = [13, 37, 42]</code></pre>
      </li>
      <li>
        Lire un élément dans la liste :
        <pre><code class="py">&gt;&gt;&gt; liste[1]
37</code></pre>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Modifier un élément dans la liste :
        <pre><code class="py">&gt;&gt;&gt; liste[0] = 24
&gt;&gt;&gt; liste
[24, 37, 42]</code></pre>
      </li>
      <li>
        Ajouter une <em>case</em> dans la liste :
        <pre><code class="py">&gt;&gt;&gt; liste.append(84)
&gt;&gt;&gt; liste
[24, 37, 42, 84]</code></pre>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Une liste de listes :
        <pre><code class="py">&gt;&gt;&gt; matrice = [[1, 2], [3, 4]]
# représentation matricielle :
# [[ 1 2 ]
#  [ 3 4 ]]</code></pre>
      </li>
      <li>
        Lire un élément dans une liste de listes :
        <pre><code class="py">&gt;&gt;&gt; matrice[0][1]
2</code></pre>
      </li>
    </ul>
  </section>
</section>

<!-- 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Ecrire une fonction <code>initialiserLigne(n)</code>, avec <code>n</code>
      un nombre entier, qui retourne une liste initialisée avec <code>n</code>
      zéros.
    </p>
    <p>
      Exemple d'exécution :
    </p>
    <pre><code class="py">&gt;&gt;&gt; initialiserLigne(5)
[0, 0, 0, 0, 0]

&gt;&gt;&gt; initialiserLigne(100)
[0, 0, ..., 0]</code></pre>
    <p class="info">
      Pensez à utiliser la fonction <code>.append()</code>.
    </p>
  </section>
</section>

<!-- 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Ecrire une fonction <code>initialiserMatrice(m, n)</code>, avec <code>m</code>
      et <code>n</code> deux nombres entiers, qui retourne une matrice de
      <code>m</code> lignes et <code>n</code> colonnes, initialisée avec des
      zéros.
    </p>
    <p>
      Exemple d'exécution :
    </p>
    <pre><code class="py">&gt;&gt;&gt; initialiserMatrice(2, 2)
[[0, 0], [0, 0]]

&gt;&gt;&gt; initialiserMatrice(4, 3)
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]</code></pre>
    <!-- <p class="info">
      Pensez à utiliser la fonction <code>initialiserLigne()</code> de la
      question précédente.
    </p> -->
  </section>
</section>

<!-- 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Ecrire une fonction <code>initialiserPairImpair(m, n)</code>, avec
      <code>m</code>
      et <code>n</code> deux nombres entiers, qui retourne une matrice de
      <code>m</code> lignes et <code>n</code> colonnes. Les cases paires de la
      matrice doivent être initialisées à <code>-1</code> et les cases impaires
      à
      <code>1</code>.
    </p>
    <p>
      Exemple d'exécution :
    </p>
    <pre><code class="py">&gt;&gt;&gt; initialiserPairImpair(4, 3)
[[-1, 1, -1], [1, -1, 1], [-1, 1, -1], [1, -1, 1]]</code></pre>
  </section>
  <section>
    <div class="info">
      <p>
        Une case est paire si la somme de ses indices est paire, sinon elle est
        impaire. Exemple :
      </p>
      <ul>
        <li>
          <code>M[1][2]</code> est une case impaire car <code>1 + 2 = 3</code>
          est impair.
        </li>
        <li>
          <code>M[3][1]</code> est une case paire car <code>3 + 1 = 4</code>
          est pair.
        </li>
      </ul>
    </div>
  </section>
</section>

<!-- 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      Ecrire une fonction <code>afficherMatrice(L, m, n)</code>, avec
      <code>L</code> une liste de listes (une matrice) et <code>m</code> et
      <code>n</code> deux nombres entiers qui représentent respectivement le
      nombre de lignes et de colonnes de <code>L</code>. Cette fonction doit
      afficher <code>L</code> sous forme matricielle.
    </p>
    <p>
      Exemple d'exécution :
    </p>
    <pre><code class="py">&gt;&gt;&gt; matrice = initialiserMatrice(4, 3)

&gt;&gt;&gt; matrice
[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

&gt;&gt;&gt; afficherMatrice(matrice, 4, 3)
0 0 0
0 0 0
0 0 0
0 0 0</code></pre>
  </section>
  <section>
    <div class="info">
      <p>
        Pour éviter le passage à la ligne de la fonction <code>print</code>,
        pensez à fixer son paramètre <code>end</code> à une chaîne vide
        <code>""</code>.
      </p>
      <pre><code class="py">print("hello", end="")</code></pre>
    </div>
  </section>
</section>