<!-- Présentation -->
<section>
  <section>
    <h3>🎮 Présentation</h3>
    <h4>En résumé</h4>
    <p>
      Ce projet consiste à développer un jeu vidéo genre arcade avec la
      librairie graphique Python
      <a href="https://docs.python.org/fr/3/library/turtle.html">turtle</a>.
    </p>
    <p>
      Dans ce jeu, le joueur contrôle un vaisseau spatial avec les flèches du
      clavier et doit franchir un champ d'astéroïdes pour marquer un point. Si
      un astéroïde percute son vaisseau, le joueur recommence la partie et son
      score est réinitialisé.
    </p>
  </section>
  <section>
    <h4>Aperçu vidéo</h4>
    <div class="fig text-center">
      <video controls poster="/images/lessons/info1/projet1_poster.jpg">
        <source src="/videos/lessons/info1/projet1.mp4" type="video/mp4">
        <p class="text-center">
          <img src="/images/lessons/info1/projet1_poster.jpg" style="width: 100%"/>
        </p>
      </video>
    </div>
  </section>
  <section>
    <h4>Avant de commencer</h4>
    <p>
      Téléchargez le code source de base en cliquant sur le bouton
      ci-dessous.
    </p>
    <p>
      <a href="/downloads/info1/space_race_etudiant.py" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>space_race_etudiant.py</code>
      </a>
    </p>
    <p>
      Prenez le temps de lire la présentation du module <em>Turtle</em> <a
      href="#toc4">ci-dessous</a>, ainsi que le code source de base déjà fourni.
    </p>
    <p>
      Pour chaque étape du projet, lisez attentivement son énoncé avant de vous
      lancer dans son développement : des détails utiles pour la réalisation de
      l'étape y sont généralement fournis.
    </p>
  </section>
  <section>
    <p class="info">
      Le travail à réaliser sera signalé par ces boîtes bleues, avec un
      identifiant correspondant à l'endroit où vous devrez intervenir dans le
      code source (généralement <code>#TODO-&lt;numéro de question&gt;</code>).
    </p>
  </section>
</section>

<!-- Package <em>turtle</em> -->
<section>
  <section>
    <h3>🐢 La librairie graphique <em>Turtle</em></h3>
    <h4>Présentation</h4>
    <p>
      La librairie <em>Turtle</em> de Python permet d'utiliser des primitives
      graphiques. Autrement dit,
      <em>Turtle</em> permet de dessiner à l'écran des formes primitives
      (carrés, cercles, flèches, textes, ...) et de les animer.
      <em>Turtle</em> permet également la gestion de diverses interactions avec
      l'utilisateur telles que la gestion des clics de souris ou des appuis sur
      le clavier.
    </p>
  </section>
  <section>
    <p>
      La librairie <em>Turtle</em> met essentiellement à disposition deux
      modules prédéfinis :
    </p>
    <ul>
      <li>
        <code>Screen</code> : pour le réglage de la fenêtre, des événements,
        le paramétrage des animations, ...
      </li>
      <li>
        <code>Turtle</code> : pour dessiner un élément, régler sa couleur, sa
        forme, sa position, ...
      </li>
    </ul>
  </section>
  <section>
    <p>
      Par exemple, le code suivant définit une entité <code>bidule</code>, qui
      consiste en un élément graphique de forme circulaire et de couleur rouge.
    </p>
    <pre><code class="py"># import de la librairie turtle au début du fichier
import turtle

# Définition d'un "bidule", circulaire et rouge
bidule = turtle.Turtle()
bidule.shape("circle")
bidule.color("red")</code></pre>
  </section>
  <!-- <section>
    <p class="tip tip-info">
      La notation <code>bidule.mafonction(...)</code> est une notation orientée
      <em>objet</em>.
      <br>
      Autrement dit, on applique la fonction
      <code>mafonction(...)</code> dans le contexte de la variable
      (<em>l'objet</em>) <code>bidule</code> par l'intermédiaire de l'opérateur
      <code>.</code> (point).
    </p>
  </section> -->
  <section>
    <h4>Les fonctions du module <code>Turtle</code></h4>
    <p>
      Le tableau suivant dresse une liste des principales fonctions du module
      <code>Turtle</code>
      que nous utiliserons pour ce projet.
    </p>
  </section>
  <section>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Fonctions</th>
          <th>Paramètres</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code>a=turtle.Turtle()</code></td>
          <td>-</td>
          <td>Crée un élément graphique <code>a</code></td>
        </tr>
        <tr>
          <td><code>a.shape(s)</code></td>
          <td>
            <code>s</code> : <code>"circle"</code>, <code>"square"</code>,
            <code>"triangle"</code>, <code>"arrow"</code>, ...
          </td>
          <td>Définit la forme de <code>a</code></td>
        </tr>
        <tr>
          <td><code>a.color(c)</code></td>
          <td>
            <code>c</code> : <code>"white"</code>, <code>"blue"</code>,
            <code>"red"</code>, <code>"green"</code>, <code>"black"</code>...
          </td>
          <td>Définit la couleur de <code>a</code></td>
        </tr>
        <tr>
          <td><code>a.shapesize(z)</code></td>
          <td><code>z</code> : un nombre réel (par défaut <code>1.0</code>)</td>
          <td>Définit la taille de <code>a</code></td>
        </tr>
        <tr>
          <td><code>a.setx(x)</code></td>
          <td><code>x</code> : un nombre entier</td>
          <td>Déplace l'élément <code>a</code> à <code>x</code> pixels sur l'axe
          des abscisses</td>
        </tr>
        <tr>
          <td><code>a.sety(y)</code></td>
          <td><code>y</code> : un nombre entier</td>
          <td>Déplace l'élément <code>a</code> à <code>y</code> pixels sur l'axe
          des ordonnées</td>
        </tr>
        <tr>
          <td><code>a.seth(h)</code></td>
          <td><code>h</code> : un nombre entier</td>
          <td>
            Pivote l'élément <code>a</code> selon un angle <code>h</code>
          </td>
        </tr>
        <tr>
          <td><code>x = a.xcor()</code></td>
          <td>-</td>
          <td>
            Retourne dans <code>x</code> l'abscisse de l'élément <code>a</code>
          </td>
        </tr>
        <tr>
          <td><code>y = a.ycor()</code></td>
          <td>-</td>
          <td>
            Retourne dans <code>y</code> l'ordonnée de l'élément <code>a</code>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Les fonctions du module <code>Screen</code></h4>
    <p>
      Le tableau suivant dresse une liste des principales fonctions du module
      <code>Screen</code>
      que nous utiliserons pour ce projet.
    </p>
  </section>
  <section>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Fonctions</th>
          <th>Paramètres</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code>screen=turtle.Screen()</code></td>
          <td>-</td>
          <td>Crée une fenêtre <code>screen</code> (la zone d'affichage du jeu)</td>
        </tr>
        <tr>
          <td><code>screen.title(t)</code></td>
          <td>
            <code>t</code> : chaîne de caractères
          </td>
          <td>Définit le nom de la fenêtre</td>
        </tr>
        <tr>
          <td><code>screen.bgcolor(c)</code></td>
          <td>
            <code>c</code> : <code>"white"</code>, <code>"blue"</code>,
            <code>"red"</code>, <code>"green"</code>, <code>"black"</code>...
          </td>
          <td>Couleur du fond de la fenêtre</td>
        </tr>
        <tr>
          <td><code>screen.setup(w, h)</code></td>
          <td>
            <code>w</code> : nombre entier
            <br>
            <code>h</code> : nombre entier
          </td>
          <td>
            Définit la taille de la fenêtre avec <code>w</code> pixels de large
            et <code>h</code> pixels de haut
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- Screen -->
<section>
  <section>
    <h3>🌌 Zone de jeu et boucle d'affichage</h3>
    <h4>Code fourni</h4>
    <p>
      Le code fourni propose l'implémentation d'une fenêtre <em>Turtle</em>
      (zone de jeu) et de la boucle d'affichage.
    </p>
  </section>
  <section>
    <pre><code class="py"># Import des modules nécessaires
import turtle
import time
import random

# Définition de la zone de jeu
screen = turtle.Screen()
screen.tracer(0)

# Boucle d'affichage
while True:
  screen.update()
  time.sleep(0.02)

# Démarrer Turtle
screen.mainloop()</code></pre>
  </section>
  <section>
    <h4>Import des modules</h4>
    <p>
      Les modules nécessaires à la bonne exécution du programme Python sont
      importés au début du fichier.
    </p>
    <ul>
      <li>
        <code>turtle</code> : le module <a href="#toc5">Turtle</a>,
      </li>
      <li>
        <code>time</code> : un module pour manipuler des fonctions liées au temps,
      </li>
      <li>
        <code>random</code> : un module pour manipuler des générateurs aléatoires.
      </li>
    </ul>
    <pre><code class="py"># Import des modules nécessaires
import turtle
import time
import random</code></pre>
  </section>
  <section>
    <h4>Zone de jeu</h4>
    <p>
      La fenêtre pour la zone de jeu est gérée par une variable
      <code>screen</code> et le module <code>Screen</code> de <em>Turtle</em>
      (comme présenté <a href="#toc7">précédemment</a>).
    </p>
    <pre><code class="py"># Définition de la zone de jeu
screen = turtle.Screen()
screen.tracer(0)</code></pre>
  </section>
  <section>
    <p class="tip">
      L'instruction <code>screen.tracer(0)</code> désactive le rafraîchissement
      automatique de l'affichage de la fenêtre.
      <br>
      Ce refraîchissement est géré manuellement dans la <a href="#toc12">partie
      suivante</a>.
    </p>
  </section>
  <section>
    <h4>Boucle d'affichage</h4>
    <p>
      La boucle d'affichage permet de rafraîchir la fenêtre, et donc de mettre à
      jour plusieurs fois par secondes différents éléments du jeu (leur
      position, leur forme, etc...). Ce rafraîchissement est implémenté dans une
      boucle <code>while</code>, qui exécute le bloc d'instruction tant que la
      fenêtre <em>Turtle</em> n'est pas fermée.
    </p>
  </section>
  <section>
    <p>
      Dans le code fourni, ce bloc consiste pour l'instant à rafraîchir la
      fenêtre toutes les <code>0.02</code> secondes (avec le module
      <code>time</code>). Autrement dit, l'état et l'affichage du jeu sont mis à
      jour 50 fois par secondes.
    </p>
  </section>
  <section>
    <p>
      La fin du fichier doit comporter l'instruction
      <code>screen.mainloop()</code> pour démarrer la fenêtre <em>Turtle</em>,
      et donc le jeu.
    </p>
    <pre><code class="py"># Boucle d'affichage
while True:
  screen.update()
  time.sleep(0.02)

# Démarrer Turtle
screen.mainloop()</code></pre>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-1</code></h4>
      <p>Continuer l'implémation de la fenêtre (<code>screen</code>) :</p>
      <ul>
        <li>
          Définir le titre de la fenêtre à <code>"Projet Space Race"</code>
        </li>
        <li>
          Définir la couleur de fond à <code>black</code>
        </li>
        <li>
          Définir la taille de la fenêtre à <code>500</code> pixels de large par
          <code>600</code> pixels de haut
        </li>
      </ul>
      <div class="fig text-center">
        <img src="/images/lessons/info1/projet1_screen.png" class="img-fluid" width="400">
      </div>
    </div>
  </section>
  <section>
    <p class="tip">
      Utilisez les fonctions du module <code>Screen</code> présentées <a
      href="#toc7">ici</a>.
    </p>
  </section>
</section>

<!-- Rocket -->
<section>
  <section>
    <h3>🚀 Dessin du vaisseau</h3>
    <h4>Dessin et trace</h4>
    <p>
      Le vaisseau du joueur (<code>rocket</code>) sera représenté sous la forme
      d'un carré blanc. Par défaut, un élément <em>Turtle</em> laisse une
      <em>trace</em>
      derrière lui, comme illustré dans la vidéo suivante.
    </p>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/info1/projet1_penup.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <section>
    <p>
      Nous ne désirons pas activer la trace pour les besoins du jeu.
      L'instruction <code>rocket.penup()</code>
      désactive cette trace (à utiliser immédiatement après la création d'un
      élément graphique).
    </p>
    <pre><code class="py"># Dessin du vaisseau
rocket = turtle.Turtle()
rocket.penup()</code></pre>
  </section>
  <section>
    <h4>Vitesse d'un élément</h4>
    <p>
      Il est possible de définir la vitesse d'un élément <em>Turtle</em> avec
      son attribut <code>speed</code>. Celui-ci sera généralement utilisé pour
      calculer le déplacement d'un élément dans la boucle d'affichage.
    </p>
    <pre><code class="py"># Définition de la vitesse d'un élément
rocket.speed = 42</code></pre>
  </section>
  <section>
    <h4>Repère</h4>
    <p>
      Dans <em>Turtle</em>, un élément est positionné par défaut au centre la
      zone de jeu, qui correspond à la coordonnée <code>(0, 0)</code>. Par
      exemple, ci-dessous, la zone de jeu délimitée par le carré noir a une
      taille de
      <code>200</code> pixels de large par <code>200</code> pixels de haut.
      L'élément <code>a</code> est positionné à la coordonnée <code>(50,
      50)</code>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/info1/projet1_grid.jpg" class="img-fluid">
    </div>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-2</code></h4>
      <p>Continuer l'implémation du vaisseau (<code>rocket</code>) :</p>
      <ul>
        <li>
          Définir sa forme à <code>square</code>
        </li>
        <li>
          Définir sa taille à <code>1.5</code>
        </li>
        <li>
          Définir sa couleur à <code>white</code>
        </li>
        <li>
          Définir sa vitesse à <code>5</code>
        </li>
        <li>
          Définir sa position à <code>-250</code> pixels en ordonnée
        </li>
      </ul>
    </div>
  </section>
  <section>
    <p class="tip">
      Utilisez les fonctions du module <code>Turtle</code> présentées <a
      href="#toc6">ici</a>.
    </p>
  </section>
</section>

<!-- Score -->
<section>
  <section>
    <h3>💯 Affichage du score</h3>
    <h4>Eléments de texte</h4>
    <p>
      <em>Turtle</em> permet de dessiner des éléments de texte dans la zone de
      jeu de la même manière qu'un élément graphique classique.
    </p>
  </section>
  <section>
    <ul>
      <li>
        L'instruction <code>element.write("...")</code> permet d'écrire un texte
        passé en paramètre. Il est possible de spécifier la taille ou la police
        d'écriture (<a
        href="https://docs.python.org/fr/3/library/turtle.html#turtle.write">lien
        vers la documentation officielle</a>).
      </li>
      <li>
        L'instruction <code>element.hideturtle()</code> permet de cacher la
        forme graphique associée au texte (par défaut, <em>Turtle</em> affiche
        un carré à côté du texte si cette instruction n'est pas exécutée).
      </li>
      <li>
        La manipulation des propriétés classiques des éléments <em>Turtle</em>
        (couleur, position du texte...) s'effectue avec les instructions
        mentionnées <a href="#toc6">précédemment</a>.
      </li>
    </ul>
  </section>
  <section>
    <pre><code class="py"># Définition d'un élément texte
element = turtle.Turtle()
element.penup()
element.hideturtle()
element.color("red")
element.write("Hello world !")</code></pre>
  </section>
  <section>
    <h4>Etat du jeu</h4>
    <p>
      Les données du jeu peuvent être modélisées dans un dictionnaire Python. Ce
      dictionnaire contiendra toute sorte d'informations utiles, relatives à
      l'état du jeu. Par exemple, un dictionnaire <code>status</code>, avec deux
      clés (<code>name</code> et <code>score</code>) associées à 2 valeurs
      (<code>"Space Race"</code> et <code>41</code>) :
    </p>
    <pre><code class="py">status = {
  "name": "Space Race",
  "score": 41
}</code></pre>
  </section>
  <section>
    <p>
      Pour lire ou modifier une valeur du dictionnaire, on utilise l'opérateur
      <code>["clé"]</code> en spécifiant la <code>clé</code> à laquelle on
      souhaite accéder. En reprenant l'exemple précédent :
    </p>
    <pre><code class="py">&gt;&gt;&gt; status["name"]
"Space Race"

&gt;&gt;&gt; status["score"] += 1 # modif. de la valeur associée à la clé "score"
&gt;&gt;&gt; status["score"]
42</code></pre>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-3</code></h4>
      <p>Définir un dictionnaire pour modéliser l'état du jeu, avec deux clés :</p>
      <ul>
        <li>
          <code>score</code> : le score du joueur initialisé à
          <code>0</code>
        </li>
        <li>
          <code>best_score</code> : le meilleur score atteint par le joueur
          initialisé à <code>0</code>
        </li>
      </ul>
      <p>Définir l'affichage du score :</p>
      <ul>
        <li>
          Créer un élément <em>Turtle</em> pour l'affichage des scores
        </li>
        <li>
          Désactiver l'affichage de la trace et de la forme graphique par défaut
        </li>
        <li>
          Définir la couleur du texte à <code>white</code>
        </li>
        <li>
          Définir la position du texte à <code>(75, -275)</code>
        </li>
        <li>
          Afficher un texte en utilisant les valeurs du dictionnaire (associées
          aux clés <code>score</code> et <code>best_score</code>)
        </li>
      </ul>
      <div class="fig text-center">
        <img src="/images/lessons/info1/projet1_score.png" class="img-fluid" width="300">
      </div>
    </div>
  </section>
</section>

<!-- Dessin des astéroïdes -->
<section>
  <section>
    <h3>🌠 Dessin des astéroïdes</h3>
    <h4>Valeurs aléatoires</h4>
    <p>
      Le module <code>random</code> de Python permet de manipuler des
      générateurs de nombres aléatoires. Ce projet utilisera essentiellement la
      fonction <code>random.randrange(a, b)</code> pour générer un nombre entier
      aléatoire entre <code>a</code> et <code>b</code> (exclu).
    </p>
    <pre><code class="py"># Import du module en début de fichier
import random
# x reçoit un nombre aléatoire entre 0 et 99
x = random.randrange(0, 100)</code></pre>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-4</code></h4>
      <p>
        Construire une liste de 10 éléments <em>Turtle</em> (10 astéroïdes).
        Pour chaque astéroïde :
      </p>
      <ul>
        <li>
          Désactiver sa trace
        </li>
        <li>
          Définir sa forme à <code>circle</code>
        </li>
        <li>
          Définir sa couleur à <code>red</code>
        </li>
        <li>
          Définir sa taille à <code>0.4</code>
        </li>
        <li>
          Définir sa position en ordonnée aléatoirement entre <code>-200</code>
          et <code>250</code> pixels
        </li>
        <li>
          Définir sa vitesse aléatoirement entre <code>2</code> et
          <code>8</code>
        </li>
      </ul>
      <div class="fig text-center">
        <img src="/images/lessons/info1/projet1_asteroids.png" width="350" class="img-fluid">
      </div>
    </div>
  </section>
  <section>
    <p class="tip">
      Pensez à utiliser une boucle <code>for</code> pour construire la liste.
      <br>
      Pour l'instant, les astéroïdes sont au centre de l'écran, et rien ne bouge !
      <br>
      Le déplacement des éléments est réalisé dans les parties suivantes.
    </p>
  </section>
</section>

<!-- Déplacement des astéroïdes -->
<section>
  <section>
    <h3>☄️ Déplacement des astéroïdes</h3>
    <div class="info">
      <h4>Travail <code>#TODO-5</code></h4>
      <p>
        Définir une fonction <code>move_asteroids()</code> :
      </p>
      <ul>
        <li>
          Pour chaque astéroïde de la liste :
          <ul>
            <li>
              Lire sa position en abscisse
            </li>
            <li>
              Le déplacer sur l'axe des abscisse selon sa vitesse (attribut
              <code>speed</code>)
            </li>
            <li>
              Si l'abscisse de l'astéroïde dépasse du bord droit de la fenêtre, alors
              repositionner l'astéroïde sur le bord gauche
            </li>
          </ul>
        </li>
      </ul>
      <p>
        Effectuer l'exécution de <code>move_asteroids()</code> dans la boucle
        d'affichage.
      </p>
      <div class="fig text-center">
        <video controls>
          <source src="/videos/lessons/info1/projet1_asteroids.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  <section>
    <p class="tip">
      Pour rappel, la fenêtre mesure <code>500</code> pixels de large. Donc
      l'abscisse du bord gauche de la fenêtre est <code>-250</code>, et celle du
      bord droit est <code>250</code>.
    </p>
  </section>
</section>

<!-- Gestion du clavier -->
<section>
  <section>
    <h3>🕹️ Interactions avec le joueur</h3>
    <h4>Gestion du clavier</h4>
    <p>
      L'état du clavier peut être représenté dans un dictionnaire Python. Par
      défaut, les touches sont dans un état <em>relâché</em>, symbolisé par le
      booléen <code>False</code>. Dès que l'utilisateur appuie sur une touche,
      celle-ci passe dans un état <em>appuyé</em>, symbolisé par le booléen
      <code>True</code>. Ces changements d'état sont implémentés dans des
      fonctions respectives.
    </p>
  </section>
  <section>
    <p>
      Le code suivant propose l'implémentation d'un tel dictionnaire et des
      fonctions respectives aux changements d'états pour deux touches du clavier
      : <code>Up</code> et <code>Down</code> (flèche du haut et flèche du bas).
    </p>
  </section>
  <section>
    <pre><code class="py"># Etat du clavier dans un dictionnaire
keyboard = {
  "Up": False,
  "Down": False
}
# Fonctions pour le changement d'état des touches
# Appui sur "Up"
def press_Up():
  keyboard["Up"] = True
# Relâche de "Up"
def release_Up():
  keyboard["Up"] = False
# Appui sur "Down"
def press_Down():
  keyboard["Down"] = True
# Relâche de "Down"
def release_Down():
  keyboard["Down"] = False</code></pre>
  </section>
  <section>
    <h4>Gestion des événements dans Turtle</h4>
    <p>
      Le module <code>Screen</code> permet d'<em>écouter</em> des événements
      utilisateurs (le clic de la souris, l'appui sur une touche du clavier,
      ...).
    </p>
  </section>
  <section>
    <ul>
      <li>
        L'instruction <code>screen.listen()</code> demande à la fenêtre
        <code>screen</code> de se mettre en écoute de tels événements.
      </li>
      <li>
        L'instruction <code>sceeen.onkeypress(f, t)</code> écoute l'appui sur
        les touches du clavier. Si l'utilisateur appuie sur la touche
        <code>t</code>, alors la fonction
        <code>f</code> est aussitôt exécutée.
      </li>
      <li>
        L'instruction <code>sceeen.onkeyrelease(f, t)</code> écoute la relâche
        des touches du clavier. Si l'utilisateur relâche la touche
        <code>t</code>, alors la fonction
        <code>f</code> est aussitôt exécutée.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Par exemple, en utilisant les fonctions définies dans la <a
      href="#toc28">section précédente</a> :
    </p>
    <pre><code class="py"># Démarrer l'écoute des événements
screen.listen()
# Association des événements et de la fonction à exécuter
screen.onkeypress(press_Up, "Up")
screen.onkeyrelease(release_Up, "Up")
screen.onkeypress(press_Down, "Down")
screen.onkeyrelease(release_Down, "Down")</code></pre>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-6</code></h4>
      <p>
        Mettre en place l'écoute des événements pour les touches
        <code>Up</code>, <code>Down</code>, <code>Left</code> et
        <code>Right</code> du clavier (flèches haut, bas, gauche et droite) :
      </p>
      <ul>
        <li>
          Implémenter le dictionnaire pour représenter l'état des touches du
          clavier
        </li>
        <li>
          Implémenter les fonctions relatives aux changements d'état des touches
        </li>
        <li>
          Démarrer l'écoute des événements <code>onkeypress</code> et
          <code>onkeyrelease</code> en associant les touches et les fonctions
          respectives
        </li>
      </ul>
    </div>
  </section>
</section>

<!-- Déplacement du vaisseau -->
<section>
  <section>
    <h3>💨 Déplacement du vaisseau</h3>
    <div class="info">
      <h4>Travail <code>#TODO-7</code></h4>
      <p>Développer une fonction <code>move_rocket()</code> qui lit l'état du
      clavier:</p>
      <ul>
        <li>
          Si la touche <code>Up</code> est enfoncée, déplacer le vaisseau
          vers le haut (selon sa vitesse)
        </li>
        <li>
          Si la touche <code>Down</code> est enfoncée, déplacer le vaisseau
          vers le bas
        </li>
        <li>
          Si la touche <code>Left</code> est enfoncée, déplacer le vaisseau
          vers la gauche
        </li>
        <li>
          Si la touche <code>Right</code> est enfoncée, déplacer le vaisseau
          vers la droite
        </li>
      </ul>
      <p>
        Effectuer l'exécution de <code>move_rocket()</code> dans la boucle
        d'affichage.
      </p>
      <div class="fig text-center">
        <video controls>
          <source src="/videos/lessons/info1/projet1_moverocket.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
</section>

<!-- Gestion du score -->
<section>
  <section>
    <h3>✌️ Condition de victoire et score</h3>
    <div class="info">
      <h4>Travail <code>#TODO-8</code></h4>
      <p>
        Modifier la fonction <code>move_rocket()</code> pour prendre compte les
        consignes suivantes :
      </p>
      <ul>
        <li>
          Si l'ordonnée du vaisseau dépasse du bord supérieur de la fenêtre :
          <ul>
            <li>
              Le score augmente de <code>1</code>
            </li>
            <li>
              La position du vaisseau est réinitialisée à sa position d'origine
              en bas de la zone de jeu <code>(0, -250)</code>
            </li>
          </ul>
        </li>
        <li>
          Le vaisseau ne peut pas aller plus loin que les bords inférieur,
          gauche et droit de la fenêtre.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <p class="tip">
      Afin d'éviter certains problèmes d'affichage pour le texte, pensez à
      utiliser l'instruction
      <code>element.clear()</code> sur l'<code>element</code>
      <em>Turtle</em> qui contient votre texte, avant d'effectuer un
      <code>element.write(...)</code>.
    </p>
  </section>
</section>

<!-- Gestion des collisions -->
<section>
  <section>
    <h3>🎇 Collision avec les astéroïdes</h3>
    <h4>Calcul des distances dans Turtle</h4>
    <p>
      Le module <em>Turtle</em> permet de calculer la distance entre deux
      éléments <em>Turtle</em> à l'aide de l'instruction <code>d =
      a.distance(b)</code>, avec
      <code>a</code> et <code>b</code> deux éléments <em>Turtle</em>, et <code>d</code>
      la distance en pixels qui les sépare.
    </p>
    <pre><code class="py"># Element a en coordonnée (100, 0)
a = turtle.Turtle()
a.setx(100)
# Element a en coordonnée (-100, 0)
b = turtle.Turtle()
a.setx(-100)
# Distance entre a et b
d = a.distance(b) # == 200</code></pre>
  </section>
  <section>
    <div class="info">
      <h4>Travail <code>#TODO-9</code></h4>
      <p>
        Modifier la fonction <code>move_asteroids()</code> pour détecter la
        collision entre un astéroïde et le vaisseau :
      </p>
      <ul>
        <li>
          Pour chaque astéroïde de la liste, calculer sa distance avec le
          vaisseau
        </li>
        <li>
          Si cette distance est inférieure à un certain seuil, il y a collision
          :
          <ul>
            <li>
              La position du vaisseau est alors réinitialisée à sa position
              d'origine en bas de la zone de jeu <code>(0, -250)</code>
            </li>
            <li>
              Le score du joueur est réinitialisé à <code>0</code>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <p class="tip">
      Vous pouvez utiliser un seuil de <code>20</code> pixels de distance entre
      le vaisseau et un astéroïde pour détecter efficacement une collision.
    </p>
  </section>
</section>

<!-- Aller plus loin -->
<section>
  <section>
    <h3>Aller plus loin</h3>
    <p>
      Si vous êtes arrivés jusqu'ici, bravo 🥳 !
    </p>
    <p>
      Quelques pistes pour améliorer le projet :
    </p>
    <ul>
      <li>
        Gérer la sauvegarde et l'affichage du meilleur score
      </li>
      <li>
        Ajouter des astéroïdes qui vont à contresens
      </li>
      <li>
        Paramétrer la difficulté : nombre, taille, vitesse des astéroïdes, ...
      </li>
      <li>
        Ajouter des bonus : invicibilité, augmentation de la vitesse, ...
      </li>
      <li>
        Ajouter un mode 2 joueurs
      </li>
      <li>
        ...
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="https://codeheir.files.wordpress.com/2019/02/end-game.gif" class="img-fluid" width="300">
    </div>
    <p>
      Laissez libre court à votre imagination !
    </p>
  </section>
</section>