<!-- 1 -->
<section>
  <section>
    <h3>Chaînes de caractères</h3>
    <p>
      Écrire une fonction <code>commencePar(motif, mot)</code> avec
      <code>motif</code> et
      <code>mot</code> deux chaînes de caractères. Cette fonction retourne
      <code>True</code> si la chaîne <code>mot</code> commence par la chaîne
      <code>motif</code>, sinon elle retourne <code>False</code>.
    </p>
    <div class="info">
      <p>Exemples d’exécution :</p>
      <pre><code class="py">&gt;&gt;&gt; commencePar("b", "banane")
True
&gt;&gt;&gt; commencePar("ban", "banane")
True
&gt;&gt;&gt; commencePar("an", "banane")
False</code></pre>
    </div>
  </section>
</section>

<!-- 2 -->
<section>
  <section>
    <h3>Fonctions itératives et récursives</h3>
    <p>
      On veut calculer $x^n$, définie par la fonction <code>P(x, n)</code> :
    </p>
    <div class="fig">
      $$
      \text{P}(x, n) =
      \begin{cases}
        1 & \text{si } n = 0\\
        x * \text{P}(x, n-1) & \text{sinon}
      \end{cases}
      $$
    </div>
  </section>
  <section>
    <ol>
      <li>
        Écrire une fonction itérative <code>puissanceIter(x, n)</code> qui
        permet de calculer et de renvoyer le résultat de $x^n$. Le calcul sera
        fait de manière <strong>itérative</strong> (avec des boucles et sans
        appel récursif).
      </li>
      <li>
        Écrire une fonction récursive <code>puissanceRec(x, n)</code> qui permet
        de calculer et de renvoyer le résultat de $x^n$. Le calcul sera fait de
        manière <strong>récursive</strong> (avec des appels récursifs et sans
        boucle).
      </li>
    </ol>
  </section>
</section>

<!-- 3 -->
<section>
  <section>
    <h3>Trace d'algorithme</h3>
    <p>
      Soit le code suivant, implémentant le principe du <a
      href="/teaching/info1/condense/slides#/8/1">tri bulle</a>, avec
      <code>L</code> une liste d'entiers à trier et
      <code>n</code>
      le nombre d'entiers dans la liste :
    </p>
    <pre><code class="py"># Fonction tri bulle
def triBulle(L, n):
  for taille in range(n - 1, 0, -1):
    print("taille =", taille) # E1
    for case in range(taille):
      if L[case] > L[case + 1]:
        L[case], L[case + 1] = L[case + 1], L[case]
    print("L =", L) # E2

# Programme principal
L = [3, 5, 2, 1, 4]
triBulle(L, 5)</code></pre>
  </section>
  <section>
    <p>
      Faire la trace de cet algorithme en donnant les affichages de toutes les
      étapes E1 et E2 lors de l’exécution de ce programme et dans l’ordre dans
      lequel chaque instruction sera faite.
    </p>
    <div class="info">
      <p>
        Vous pouvez utiliser un tableau pour faire la trace :
      </p>
      <table class="table table-bordered table-sm">
        <tr>
          <td>E1</td>
          <td><code>taille = 4</code></td>
        </tr>
        <tr>
          <td>E2</td>
          <td><code>L = [3, 2, 1, 4, 5]</code></td>
        </tr>
        <tr>
          <td>E1</td>
          <td>...</td>
        </tr>
        <tr>
          <td>E2</td>
          <td>...</td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- 4 -->
<section>
  <section>
    <h3>Listes</h3>
    <p>
      Écrire une fonction <code>remplirListe(n)</code> qui prend en paramètre un
      entier <code>n</code>, et qui retourne une liste contenant <code>n</code>
      nombres entiers. Les <code>n</code> nombres entiers seront saisis par
      l'utilisateur.
    </p>
    <div class="info">
      <p>Exemple d'exécution pour <code>remplirListe(4)</code>:</p>
      <pre><code class="py">Saisie entier 1 : 13
Saisie entier 2 : 37
Saisie entier 3 : 42
Saisie entier 4 : 24
Et retourne la liste [13, 37, 42, 24]</code></pre>
    </div>
  </section>
  <section>
    <p>
      Ecrire une fonction <code>recherche(L, x)</code>, qui recherche l'entier
      <code>x</code> dans la liste <code>L</code>. Si la liste <code>L</code>
      contient l'entier <code>x</code>, la fonction retournera l’indice de cet
      entier dans la liste. Si l'entier n’est pas dans la liste, la fonction
      retournera <code>-1</code>.
    </p>
    <div class="info">
      <p>
        Exemple d'exécution si <code>L</code> contient la liste précédente :
      </p>
      <pre><code class="py">recherche(L, 42) retournera 2
recherche(L, 20) retournera -1</code></pre>
    </div>
  </section>
</section>

<!-- 5 -->
<section>
  <section>
    <h3>Liste de listes</h3>
    <p>
      À partir de la liste suivante (<code>pokedex</code>), où chaque élément
      est un Pokémon représenté par une sous-liste de type <code>[nom, numéro,
      vitesse, attaque, défense]</code> :
    </p>
    <pre><code class="py">pokedex = [
  ["bulbizarre", 1,   45, 49, 49],
  ["salamèche",  4,   65, 52, 43],
  ["carapuce",   7,   43, 48, 65],
  ["pikachu",    25,  95, 55, 40],
  ["rondoudou",  39,  20, 45, 20],
  ["miaouss",    52,  90, 45, 35],
  ["stari",      120, 85, 45, 55],
  ["magicarpe",  129, 80, 10, 55]
]</code></pre>
  </section>
  <section>
    <p>
      Ecrire une fonction <code>meilleureVitesse(L)</code>, avec <code>L</code>
      un paramètre de type liste de listes, qui retourne le nom du Pokémon ayant
      la meilleure statistique de vitesse.
    </p>
    <div class="info">
      <p>
        Par exemple, l'appel de <code>meilleureVitesse(pokedex)</code>
        retournera <code>"pikachu"</code>.
      </p>
      <p class="text-center">
        <img
        src="https://www.pokepedia.fr/images/6/65/Sprite_025_Cosplayeur_ROSA.png"
        alt="Pikachu">
      </p>
    </div>
</section>