<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Bootstrap : c'est quoi ?</h4>
    <ul>
      <li>Un framework de définition d'interfaces utilisateur,</li>
      <li>Des CSS compatibles avec l'ensemble des navigateurs,</li>
      <li>Un support multi-écrans (PC, tablettes, mobiles, télévisions, ...),</li>
      <li>Un système de conception de pages basé sur des classes prédéfinies.</li>
    </ul>
  </section>

  <section>
    <h4>Responsive design</h4>
    <p>
      Le contenu du site s'adapte automatiquement à l'écran du périphérique qui
      est utilisé.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/web/bootstrap1.gif" alt="Bootstrap" class="img-fluid" style="width: 100%; max-width:450px"/>
    </div>
  </section>

  <section>
    <h4>Installation</h4>
    <ul>
      <li>Télécharger les sources depuis le site de <a href="https://getbootstrap.com/docs/4.4/getting-started/download/">Bootstrap</a>,</li>
      <li>Ou utiliser la version CDN (Content Delivery Network).</li>
    </ul>
    <pre><code class="html">&lt;head&gt;
  &lt;!-- Stylesheets --&gt;
  &lt;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" /&gt;
  &lt;link rel="stylesheet" href="mon_style.css" /&gt;

  &lt;!-- JavaScripts --&gt;
  &lt;script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"&gt;&lt;/script&gt;
  &lt;script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"&gt;&lt;/script&gt;
  &lt;script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;</code></pre>
  </section>

  <section>
    <p class="tip">
      Veillez à lier vos propres feuilles de styles <strong>après</strong>
      la liaison de Bootstrap, pour éviter un éventuel <em>écrasement</em>
      de styles.
    </p>
  </section>
</section>

<section>
  <section>
    <h3>Système de grille</h3>
    <h4>Définition</h4>
    <ul>
      <li>Une page est constituée d'un conteneur,</li>
      <li>Un conteneur est divisé en lignes,</li>
      <li>Une ligne est divisée en 12 colonnes.</li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap2.png" alt="Grille Bootstrap" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Syntaxe</h4>
    <ul>
      <li>Définition du conteneur principal avec la classe <code>container</code>,</li>
      <li>Définition des lignes avec la classe <code>row</code>,</li>
      <li>
        Définition des colonnes avec la classe <code>col</code> et l'un des 5 systèmes de dimension disponibles :
        <ul>
          <li><code>col-[num]</code> : pour tous les devices,</li>
          <li><code>col-sm-[num]</code> : pour les <em>small</em> devices,</li>
          <li><code>col-md-[num]</code> : pour les <em>medium</em> devices,</li>
          <li><code>col-lg-[num]</code> : pour les <em>large</em> devices,</li>
          <li><code>col-xl-[num]</code> : pour les <em>extra-large</em> devices.</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h4>Exemple</h4>
    <p>
      Voir la
      <a href="https://getbootstrap.com/docs/4.4/layout/grid/#all-breakpoints"
         target="_blank">
        documentation</a>.
    </p>
    <pre><code class="html">&lt;div class="container"&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-md-8 col-6"&gt; ... &lt;/div&gt;
    &lt;div class="col-md-4 col-6"&gt; ... &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </section>
  <section>
    <p>Pour les écrans de taille <em>medium</em> ou supérieure :</p>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap3.png" alt="Medium devices" class="img-fluid"/>
    </div>
    <p>Pour tous les écrans de taille inférieure :</p>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap4.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>
</section>

<section>
  <section>
    <h3>Composants</h3>
    <h4>Boutons</h4>
    <p>Combinaison des classes <code>btn</code> et <code>btn-[type]</code>.</p>
    <pre><code class="html">&lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
&lt;button class="btn btn-success"&gt;Success&lt;/button&gt;
...</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap5.png" alt="Boutons" class="img-fluid"/>
    </div>
  </section>

  <section>
    <p>Boutons plus <em>légers</em> avec la classe <code>btn-outline-[type]</code>.</p>
    <pre><code class="html">&lt;button class="btn btn-outline-primary"&gt;Primary&lt;/button&gt;
...</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap6.png" alt="Boutons outline" class="img-fluid"/>
    </div>
  </section>

  <section>
    <p>Taille des boutons avec les classes <code>btn-sm</code> ou <code>btn-lg</code>.</p>
    <pre><code class="html">&lt;button class="btn btn-lg btn-primary"&gt;Large button&lt;/button&gt;
&lt;button class="btn btn-primary"&gt;Normal button&lt;/button&gt;
&lt;button class="btn btn-sm btn-primary"&gt;Small button&lt;/button&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap7.png" alt="Liens boutons" class="img-fluid"/>
    </div>
  </section>

  <section>
    <p>On peut donner une apparence de bouton aux liens avec ces mêmes classes.</p>
    <pre><code class="html">&lt;a href="http://www.monsite.fr" class="btn btn-primary"&gt;
  Mon site
&lt;/a&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap16.gif" alt="Liens boutons" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Blocs d'alerte contextuels</h4>
    <p>Avec les classes <code>alert</code> et <code>alert-[type]</code>.</p>
    <pre><code class="html">&lt;div class="alert alert-primary"&gt;This is a primary alert&lt;/div&gt;
&lt;div class="alert alert-secondary"&gt;This is a secondary alert&lt;/div&gt;
&lt;div class="alert alert-success"&gt;This is a success alert&lt;/div&gt;
...</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap8.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Images responsive</h4>
    <p>Classes <code>img-fluid</code> pour une image qui s'adapte toujours à son conteneur.</p>
    <pre><code class="html">&lt;img class="img-fluid" src="..." alt="Responsive image"/&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap17.gif" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Bordures</h4>
    <p>Classes <code>border</code> et / ou <code>rounded-[type]</code> pour définir le style des bordures d'un élément.</p>
    <pre><code class="html">&lt;div class="border rounded"&gt; ... &lt;/div&gt;
&lt;div class="border rounded-top"&gt; ... &lt;/div&gt;
&lt;div class="border rounded-right"&gt; ... &lt;/div&gt;
&lt;div class="border rounded-circle"&gt; ... &lt;/div&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap9.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Icônes</h4>
    <ul>
      <li>Utilisation de la police d'écriture <em>Font Awesome</em>.</li>
      <li>Attribuer les classes <code>fas</code> et <code>fa-[icon_name]</code> à un élément <code>i</code>,</li>
      <li><a href="https://fontawesome.com/icons?d=gallery">Liste</a> des icônes disponibles.</li>
    </ul>
    <pre><code class="html">&lt;a href="..." class="btn btn-primary"&gt;
  Ajouter au panier &lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;
&lt;/a&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap10.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <div class="tip">
      <p>La liaison de la police des symboles est à effectuer dans le <code>head</code> :</p>
      <pre><code class="html">&lt;link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/&gt;</code></pre>
    </div>
  </section>

  <section>
    <h4>Badges</h4>
    <p>Classes <code>badge</code> et <code>badge-[type]</code>.</p>
    <pre><code class="html">&lt;p&gt;Panier &lt;span class="badge badge-primary"&gt;4&lt;/span&gt;&lt;/p&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap11.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Tableaux</h4>
    <p>Classes <code>table</code> et <a href="https://getbootstrap.com/docs/4.4/content/tables/">variantes</a>.</p>
    <pre><code class="html">&lt;table class="table table-striped"&gt; ... &lt;/table&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap12.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Barres de progression</h4>
    <p>Classes <code>progress</code>, <code>progress-bar</code>, et <code>bg-[type]</code>.</p>
    <pre><code class="html">&lt;div class="progress"&gt;
  &lt;div class="progress-bar bg-primary" style="width: 25%"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="progress"&gt;
  &lt;div class="progress-bar bg-success" style="width: 50%"&gt;&lt;/div&gt;
&lt;/div&gt;
...</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap13.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Barres de menu</h4>
    <ul>
      <li>Balise <code>nav</code> avec les classes <code>navbar</code> et <code>navbar-expand</code>,</li>
      <li>
        Une barre de menu est généralement composée :
        <ul>
          <li>du titre (et/ou du logo) du site : classe <code>navbar-brand</code>,</li>
          <li>d'une liste de liens vers les pages du site : classes <code>navbar-nav</code>, <code>nav-item</code>, et <code>nav-link</code>.</li>
        </ul>
      </li>
      <li>Beaucoup de <a href="https://getbootstrap.com/docs/4.4/components/navbar/">variantes</a> disponibles.</li>
    </ul>
  </section>
  <section>
    <pre><code class="html">&lt;nav class="navbar navbar-expand"&gt;
  &lt;a class="navbar-brand" href="#"&gt;
    &lt;img src="..." width="30" height="30"&gt;Bootstrap
  &lt;/a&gt;
  &lt;ul class="navbar-nav mr-auto"&gt;
    &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#"&gt;Home&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#"&gt;Link 1&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class="nav-item"&gt;
      &lt;a class="nav-link" href="#"&gt;Link 2&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div&gt;
    &lt;button class="btn btn-outline-success" type="button"&gt;Search&lt;/button&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap14.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Formulaires</h4>
    <ul>
      <li>Classe <code>form-control</code> pour les éléments textuels du formulaire,</li>
      <li>Classe <code>form-check</code> pour les éléments à cocher (boîtes, radios),</li>
      <li>Classe <code>form-group</code> pour un groupe (<code>label</code> + <code>input</code>),</li>
      <li>Possibilité de structurer son formulaire en lignes / colonnes avec les classes <code>form-row</code> et <code>col</code>.</li>
    </ul>
  </section>
  <section>
    <pre><code class="html">&lt;form&gt;
  &lt;div class="form-row"&gt;
    &lt;div class="form-group col-md-6"&gt;
      &lt;label for="mail"&gt;Email&lt;/label&gt;
      &lt;input id="mail" type="email" class="form-control" placeholder="Email"&gt;
    &lt;/div&gt;
    &lt;div class="form-group col-md-6"&gt;
      &lt;label for="pass"&gt;Password&lt;/label&gt;
      &lt;input id="pass" type="password" class="form-control" placeholder="Password"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="address"&gt;Address&lt;/label&gt;
    &lt;input id="address" type="text" class="form-control" placeholder="1234 Main St"&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/bootstrap15.png" alt="All devices" class="img-fluid"/>
    </div>
  </section>
</section>

<section>
  <h3>Références</h3>
  <ul>
    <li><a href="https://getbootstrap.com/docs/4.4/layout/grid/">Le système de grille</a></li>
    <li><a href="https://getbootstrap.com/docs/4.4/content/reboot/">Contenus</a></li>
    <li><a href="https://getbootstrap.com/docs/4.4/components/alerts/">Composants</a></li>
  </ul>
</section>
