<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>

    <h4>Définition</h4>

    <p>
      Le W3C introduit <em>CSS3</em> en 2012 (<em>Cascading Style Sheet</em>). C'est
      un langage de règles, pour appliquer des styles aux éléments d'un document
      HTML. Les définitions peuvent être internes au fichier HTML ou externes en
      utilisant des fichiers CSS.
    </p>
  </section>

  <section>
    <h4>Objectif</h4>

    <p>Séparer le contenu de la présentation :</p>

    <ul>
      <li>le code HTML définit un contenu (texte, image...),</li>
      <li>
        le CSS définit les styles de présentation (couleur et taille du texte d'un
        paragraphe, par exemple).
      </li>
    </ul>
  </section>

  <section>
    <h4>Où écrire le CSS ?</h4>

    <p>
      Dans un fichier externe <code>.css</code> (recommandé).<br/>
      La liaison au document HTML s'effectue dans le <code>head</code> :
    </p>

    <pre><code class="plaintext">MonSiteWeb
├─ html/
│  └─ accueil.html
└─ css/
   └─ monstyle.css</code></pre>

    <pre><code class="html">&lt;head&gt;
  &lt;link rel="stylesheet" href="../css/monstyle.css" /&gt;
&lt;/head&gt;</code></pre>
  </section>

  <section>
    <p>Dans l'en-tête du document HTML :</p>

    <pre><code class="html">&lt;head&gt;
  &lt;style&gt;
    /* Définition des styles ici */
  &lt;/style&gt;
&lt;/head&gt;</code></pre>

  <p>Directement dans la balise HTML :</p>

  <pre><code class="html">&lt;h1 style="/* Définition des styles ici */"&gt;Titre&lt;/h1&gt;</code></pre>
  </section>

  <section>
    <h4>Syntaxe</h4>

    <ul>
      <li>
        Un <em>sélecteur</em>, qui désigne sur quels éléments les styles vont
        s'appliquer,
      </li>
      <li>
        un <em>bloc de déclaration de styles</em>, composé d'un ensemble de couples
        <code>propriété: valeur</code>.
      </li>
    </ul>
    <pre><code class="css">selecteur {
  propriete1: valeur1;
  propriete2: valeur2;
}</code></pre>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="html">&lt;h1&gt;Hello world !&lt;/h1&gt;</code></pre>

    <pre><code class="css">h1 {
  color: blue;
  text-align: center;
}</code></pre>

    <div class="fig">
      <p class="my-0" style="font-size:1.5em; color: blue; text-align:center; font-weight: 600;">
        Hello world !
      </p>
    </div>
  </section>
</section>

<!-- Sélecteurs -->

<section>
  <section>
    <h3>Sélecteurs</h3>

    <h4>Universel</h4>

    <p>Sélectionner toutes les balises sans exception.</p>

    <pre><code class="html">&lt;h1&gt;Hello world !&lt;/h1&gt;
&lt;p&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <pre><code class="css">* {
  color: red;
}</code></pre>
  </section>
  <section>
    <div class="fig">
      <p class="mt-0" style="font-size:1.5em; color: red; font-weight: 600;">
        Hello world !
      </p>
      <p class="mb-0" style="color: red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
    </div>
  </section>

  <section>
    <h4>Par balise</h4>

    <p>Sélectionner tous les éléments correspondant à une balise spécifique.</p>

    <pre><code class="css">h1 {
  color: red;
}

p {
  color: blue; 
}</code></pre>
  </section>

  <section>
    <div class="fig">
      <p class="mt-0" style="font-size:1.5em; color: red; font-weight: 600;">
        Hello world !
      </p>
      <p class="mb-0" style="color: blue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
    </div>
  </section>

  <section>
    <h4>Multiples</h4>

    <p>Sélectionner plusieurs éléments pour leur appliquer un même style.</p>

    <pre><code class="css">h1, p {
  color: blue; }</code></pre>

    <div class="fig">
      <p class="mt-0" style="font-size:1.5em; color: blue; font-weight: 600;">
        Hello world !
      </p>
      <p class="mb-0" style="color: blue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
    </div>
  </section>

  <section>
    <h4>Balises imbriquées</h4>

    <p>
      Sélectionner tous les éléments situés à l'intérieur d'une balise spécifique.
    </p>

    <pre><code class="html">&lt;div&gt;Ceci est un &lt;strong&gt;mot&lt;/strong&gt; important.&lt;/div&gt;
&lt;p&gt;Ceci est un &lt;strong&gt;mot&lt;/strong&gt; important.&lt;/p&gt;</code></pre>

    <pre><code class="css">p strong {
  color: red; }</code></pre>

    <div class="fig">
      <p class="mt-0">Ceci est un <span class="font-weight-bold">mot</span> important.</p>
      <p class="mb-0">Ceci est un <span class="font-weight-bold" style="color: red;">mot</span> important.</p>
    </div>
  </section>

  <section>
    <h4>Par <code>id</code></h4>

    <p>Chaque élément HTML peut être associé à un <code>id</code> (unique).</p>

    <pre><code class="html">&lt;p&gt;Lorem ipsum...&lt;/p&gt;
&lt;p id="paragraphe1"&gt;Lorem ipsum...&lt;/p&gt;
&lt;p id="paragraphe2"&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <pre><code class="css">#paragraphe1 {
  color: red; }

#paragraphe2 {
  color: blue; }</code></pre>
  </section>
  <section>
    <div class="fig">
      <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.<p>
      <p style="color:red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
      <p class="mb-0" style="color:blue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
    </div>
  </section>

  <section>
    <h4>Par <code>class</code></h4>

    <p>Chaque élément HTML peut être associé à une ou plusieurs classes.</p>

    <pre><code class="html">&lt;p class="rouge"&gt;Lorem ipsum...&lt;/p&gt;
&lt;p class="centre"&gt;Lorem ipsum...&lt;/p&gt;
&lt;p class="centre rouge"&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <pre><code class="css">.rouge {
  color: red; }

.centre {
  text-align: center; }</code></pre>
  </section>

  <section>
    <div class="fig">
      <p class="mt-0" style="color:red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
      <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
      <p class="mb-0" style="text-align:center;color:red;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit reprehenderit, minus tempora minima repellat nihil commodi quos.</p>
    </div>
  </section>

  <section>
    <h4>Pseudo-classes d'état</h4>
    <p>Sélectionne des éléments dans un état particulier.</p>
    <ul>
      <li><code>:hover</code> si la souris passe au-dessus de l'élément,</li>
      <li><code>:active</code> si l'utilisateur clique sur l'élément, ...</li>
    </ul>
    <pre><code class="html">&lt;a href="#"&gt;Un lien.&lt;/a&gt;</code></pre>
    <pre><code class="css">a:hover {
  color: red; }</code></pre>

  <div class="fig">
    <p class="mt-0"><a onmouseover="this.style.color='red';" onmouseout="this.style.color='inherit';">Un lien.</a></p>
  </div>
  </section>

  <section>
    <h4>Références</h4>
    <p>Pour aller plus loin : <a href="https://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors">références W3C</a>.</p>
  </section>
</section>

<section>
  <section>
    <h3>Propriétés CSS</h3>
    <h4>Couleur</h4>
    <p>
      La propriété <code>color</code> définit la couleur du texte par :
    </p>
    <ul>
      <li>un nom de couleur : <code>red, blue, ...</code>,</li>
      <li>un code hexadecimal : <code>#ff0000</code>,</li>
      <li>un code RGB : <code>rgb(255,0,0)</code>,</li>
      <li>un code RGBa : <code>rgba(255,0,0,0.5)</code>,</li>
      <li>un code HSL : <code>hsl(0, 100%, 50%)</code>.</li>
    </ul>
  </section>

  <section>
    <pre><code class="html">&lt;p&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <pre><code class="css">p {
  color: #0000ff; }</code></pre>

    <div class="fig">
      <p class="my-0" style="color: #00f;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>

  <section>
    <h4>Couleur de fond</h4>

    <p>
      La propriété <code>background-color</code> définit la couleur de
      fond d'un élément (la page entière, un titre, une div, ...).
    </p>

    <pre><code class="css">body {
  background-color: #dddddd; }</code></pre>

    <div class="fig" style="background:#ddd">
      <p class="my-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>

  <section>
    <h4>Image de fond</h4>
    <p>
      La propriété <code>background-image</code> définit une image de
      fond. Elle peut être couplée avec :
    </p>
    <ul>
      <li><code>background-repeat</code> : répète l'image si elle est trop petite,</li>
      <li><code>background-size</code> : l'image est ajustée pour recouvrir toute la page,</li>
      <li><code>background-position</code> : position de l'image de fond, ...</li>
    </ul>
  </section>

  <section>
    <pre><code class="css">body {
  background-image: url(fond.jpg);
  background-repeat: no-repeat;
  background-position: center; }</code></pre>

    <div class="fig" style="background:url(https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/7-scientistsha.jpg)">
      <p class="my-0" style="color:white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>

  <section>
    <h4>Alignement du texte</h4>
    <p>La propriété <code>text-align</code> définit l'alignement du texte.</p>
    <ul>
      <li><code>left</code> : aligné à gauche,</li>
      <li><code>center</code> : centré,</li>
      <li><code>right</code> : aligné à droite,</li>
      <li><code>justify</code> : justifié, ...</li>
    </ul>
  </section>

  <section>
    <pre><code class="css">#p1 {
  text-align: left; }

#p2 {
  text-align: justify; }</code></pre>

    <div class="fig">
      <p class="mt-0" style="text-align:left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis velit iure suscipit magnam nesciunt assumenda, quibusdam porro mollitia veniam dolor similique tempore quos molestias, repudiandae nobis.</p>
      <p class="mb-0" style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis velit iure suscipit magnam nesciunt assumenda, quibusdam porro mollitia veniam dolor similique tempore quos molestias, repudiandae nobis.</p>
    </div>
  </section>

  <section>
    <h4>Décoration de texte</h4>
    <p>La propriété <code>text-decoration</code> définit la décoration du texte.</p>
    <ul>
      <li><code>none</code> : aucun décor n'est utilisé,</li>
      <li><code>underline</code> : texte sous-ligné,</li>
      <li><code>overline</code> : texte sur-ligné (avec une ligne au dessus),</li>
      <li><code>line-through</code> : texte barré, ...</li>
    </ul>
  </section>

  <section>
    <pre><code class="html">&lt;h1&gt;Titre&lt;/h1&gt;
&lt;p&gt;Un paragraphe avec un &lt;a&gt;lien&lt;/a&gt;.&lt;/p&gt;</code></pre>

    <pre><code class="css">h1 {
  text-decoration: underline; }

p {
  text-decoration: line-through; }

a {
  text-decoration: overline; }</code></pre>
  </section>
  <section>
    <div class="fig">
      <p class="mt-0" style="font-size:1.5em;font-weight:600;text-decoration:underline;">Titre</p>
      <p class="mb-0" style="text-decoration: line-through">Un paragraphe avec un <span style="text-decoration:overline;">lien</span>.</p>
    </div>
  </section>

  <section>
    <h4>Police d'écriture</h4>
    <p>La propriété <code>font-family</code> définit la police d'écriture.</p>
    <ul>
      <li>plusieurs familles : <code>sans-serif, serif, monospace</code>,</li>
      <li>possibilité d'utiliser des polices personnalisées,</li>
      <li>si le navigateur ne connaît pas une police, alors il utilise la police
      suivante de la famille.</li>
    </ul>
  </section>

  <section>
    <pre><code class="css">#p1 {
  font-family: 'Times', sans-serif; }

#p2 {
  font-family: 'Roboto Mono', monospace; }</code></pre>

    <div class="fig">
      <p class="mt-0" style="font-family: 'Times', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="mb-0" style="font-family: 'Roboto Mono', monospace">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>

  <section>
    <h4>Poids de la police</h4>

    <p>La propriété <code>font-weight</code> définit le poids de la police d'écriture.</p>
    <ul>
      <li><code>normal</code> : police normale,</li>
      <li><code>bold</code> : gras,</li>
      <li><code>lighter</code> : fin, ...</li>
    </ul>
  </section>

  <section>
    <pre><code class="css">#p1 {
  font-weight: bold }

#p2 {
  font-weight: lighter; }</code></pre>

    <div class="fig">
      <p class="mt-0" style="font-weight: bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="mb-0" style="font-weight: lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>

  <section>
    <h4>Taille de la police</h4>

    <p>La propriété <code>font-size</code> définit la taille de la police d'écriture.</p>
    <ul>
      <li>en pixels : <code>px</code>,</li>
      <li>en <code>em</code> (taille proportionnelle à la taille par défaut),</li>
      <li>la taille par défaut équivaut à <code>16px (1em)</code>.</li>
    </ul>
  </section>

  <section>
    <pre><code class="html">&lt;h1&gt;Un titre&lt;/h1&gt;
&lt;p&gt;Un paragraphe.&lt;/p&gt;</code></pre>

    <pre><code class="css">h1 {
  font-size: 10px; }

p {
  font-size: 1.5em; }</code></pre>

    <div class="fig">
      <p class="mt-0" style="font-size: 10px; font-weight: bold">Un titre</p>
      <p class="mb-0" style="font-size: 1.5em;">Un paragraphe.</p>
    </div>
  </section>

  <section>
    <h4>Style des blocs</h4>

    <p>Plusieurs propriétés permettent la mise en forme des blocs.</p>

    <ul>
      <li><code>width</code> : largeur,</li>
      <li><code>height</code> : hauteur,</li>
      <li><code>border</code> : bordure,</li>
      <li><code>margin</code> : marge externe,</li>
      <li><code>padding</code> : marge interne.</li>
    </ul>

    <p>Unités : <code>px, %, cm, ...</code> ou <code>auto</code>.</p>
  </section>

  <section>
    <pre><code class="html">&lt;p id="p1"&gt;Lorem ipsum...&lt;/p&gt;
&lt;p id="p2"&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <pre><code class="css">p { border: 2px solid #999; }

#p1 { 
  background: rgba(0, 255, 255, 0.2);
  padding: 32px; }

#p2 {
  background: rgba(255, 255, 0, 0.2);
  margin: auto;
  padding: 0;
  width: 200px; }</code></pre>
  </section>
  <section>
    <div class="fig">
      <p class="mt-0" style="background: rgba(0, 255, 255, 0.2); border: 2px solid #999; padding: 32px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="mb-0" style="background: rgba(255, 255, 0, 0.2); border: 2px solid #999; margin: auto; padding: 0; width: 200px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </section>
</section>
