<section>
    <div class="tip tip-info mb-0 pb-1">
        <p>
            Tous les documents sont autorisés.<br>
            La connexion à Internet est autorisée.
        </p>
        <p>
            Vous travaillerez sur les machines de l'université.<br>
            Vous utiliserez votre session personnelle sous Linux.
        </p>
        <p>
            Les questions sont indépendantes.
        </p>
        <p class="mb-0">La notation prendra compte de la qualité de code.</p>
    </div>
    <div class="tip tip-warn my-0">
        <p class="mb-0">
            Tout moyen de communication est interdit : mail,
            messageries en ligne, partage de fichiers, etc...
        </p>
    </div>
</section>

<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      Développer une application web pour une boutique de LEGO. Le site web de
      la boutique doit afficher une page d'accueil, une liste de tous les
      produits disponibles, ainsi qu'une fiche détaillée pour chacun des
      produits. De plus, un utilisateur peut donner son avis sur un produit de
      la boutique.
    </p>
  </section>
  <section>
    <h4>Aperçu vidéo</h4>
    <video controls>
      <source src="/private/web/examen/examen.mp4" type="video/mp4">
    </video>
  </section>
</section>

<!-- Prérequis -->
<section class="border border-warning px-lg-5 px-3 pb-4" style="border-width:10px!important;">
    <section>
        <h3>
            <i class="text-warning fas fa-1x fa-exclamation-triangle"></i>
            Prérequis
        </h3>
        <h4>Fichiers sources</h4>
        <p>Télécharger les fichiers sources ci-dessous.</p>
        <p>
          <a href="<%= sources %>" class="btn btn-lg btn-block btn-warning">
            <i class="fas fa-download"></i> <code>Fichiers sources</code>
          </a>
        </p>
    </section>
    <section>
        <h4>Installation</h4>
        <p>
            Dézipper les fichiers sources. Ouvrir un terminal, puis exécuter les
            commandes suivantes (copier/coller).
        </p>
        <pre><code class="sh">cd lego-webstore-exam/
bash install.sh
. ~/.bashrc
npm install
npm run devstart</code></pre>
    </section>
    <section>
      <h4>Browsing</h4>
      <p>
        Dans un navigateur web, accéder à
        <a class="text-warning font-weight-bold" href="http://localhost:3000">localhost:3000</a>.
      </p>
    </section>
    <section>
      <h4>Annexes</h4>
      <p>
        Des informations supplémentaires quant aux fichiers fournis sont
        disponibles en
        <a class="text-warning font-weight-bold" href="#annexes">annexes</a>.
      </p>
    </section>
</section>

<!-- 1 -->
<section>
  <section>
    <h3>1 - Page d'accueil <small>(5 pts)</small></h3>
    <h4>Consignes</h4>
    <p>
        La route <code>/</code> redirige vers la page d'accueil de
        l'application.
    </p>
    <p>
        Dans <code>views/pages/home.ejs</code>, développer la page d'accueil
        avec HTML5 et Bootstrap, en disposant les différents contenus selon les
        <a href="#maquettes">maquettes suivantes</a>.
    </p>
    <p class="tip tip-info">
        Les titres, textes et descriptions sont déjà fournis dans le fichier ;
        ne re-tapez pas tout à la main !
    </p>
  </section>
  <section>
    <h4>Conseils</h4>
    <p>Quelques références Bootstrap utiles :</p>
    <ul>
        <li>Boutons <a href="https://getbootstrap.com/docs/4.3/components/buttons/">[1]</a>, <a href="https://getbootstrap.com/docs/4.3/components/buttons/#outline-buttons">[2]</a>,</li>
        <li>Bordures <a href="https://getbootstrap.com/docs/4.3/utilities/borders/#border">[3]</a>, <a href="https://getbootstrap.com/docs/4.3/utilities/borders/#border-radius">[4]</a>,</li>
        <li>Ordre des éléments <a href="https://getbootstrap.com/docs/4.3/layout/grid/#reordering">[5]</a>.</li>
    </ul>
  </section>
  <section>
    <h4 id="maquettes">Résultat</h4>
    <p>
        Écran <code>md</code> ou supérieur (cliquer pour agrandir).
    </p>
    <p class="text-center demo border rounded">
        <a href="/private/web/examen/q1_1.png" target="_blank">
          <img src="/private/web/examen/q1_1.png" alt="Page d'accueil" class="img-fluid"/>
        </a>
    </p>
  </section>
  <section>
    <p>
        Écran inférieur à <code>md</code> (cliquer pour agrandir).
    </p>
    <p class="text-center demo border rounded">
        <a href="/private/web/examen/q1_2.png" target="_blank">
            <img src="/private/web/examen/q1_2.png" alt="Page d'accueil" height="500"/>
        </a>
    </p>
  </section>
</section>

<!-- 2 -->
<section>
  <section>
    <h3>2 - Liste des produits <small>(5 pts)</small></h3>
    <h4>Consignes</h4>
    <p>
        La route <code>/products/list</code> redirige vers la liste des produits
        de la boutique.
    </p>
</section>
<section>
    <p>
        Dans <code>/models/productsManager.js</code>, exporter une fonction
        <code>all_products()</code>. Cette fonction :
    </p>
    <ul>
        <li>Se connecte à la base de données,</li>
        <li>
            Exécute une requête qui sélectionne les <code>id</code>,
            <code>name</code>, <code>price</code>, <code>img0</code> de tous les
            produits,
        </li>
        <li>
            Ferme la connexion à la base de données,
        </li>
        <li>Retourne les résultats de la requête.</li>
    </ul>
  </section>
  <section>
    <p>
        Dans <code>/controllers/productsController.js</code>, poursuivre
        l'implémentation de la fonction <code>list(req, res)</code>. Cette
        fonction :
    </p>
    <ul>
        <li>
            Appelle la fonction <code>all_products()</code> précédemment
            développée afin de récupérer la liste des produits,
        </li>
        <li>
            Rend la vue <code>layout_page</code> avec la liste des produits
            passée en paramètre.
        </li>
    </ul>
  </section>
  <section>
    <p>
        Dans <code>/views/pages/list.ejs</code>, afficher la liste des produits
        (<a href="#res_q2">résultat</a>).
    </p>
    <ul>
        <li>
            Le bouton <i class="fas fa-shopping-cart"></i> redirige vers la
            route <code>/products/x</code>, où <code>x</code> est
            l'<code>id</code> du produit ciblé.
        </li>
    </ul>
  </section>
  <section>
    <h4>Conseils</h4>
    <p>
        Code HTML pour l'affichage d'un produit.
    </p>
    <pre><code class="html">&lt;div class="card"&gt;
    &lt;img class="card-img-top px-3" src="#" /&gt;
    &lt;div class="card-body"&gt;
        &lt;h5 class="card-title"&gt;Nom&lt;/h5&gt;
        &lt;hr&gt;
        &lt;p class="float-left" style="font-size:1.5em"&gt;
            Prix €
        &lt;/p&gt;
        &lt;p class="float-right"&gt;
            &lt;a href="/products/#" class="btn btn-primary"&gt;
                &lt;i class="fas fa-shopping-cart"&gt;&lt;/i&gt;
            &lt;/a&gt;
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </section>
  <section>
    <h4 id="res_q2">Résultat</h4>
    <p class="text-center demo border rounded">
      <img src="/private/web/examen/q2.png" alt="Liste des produits" class="img-fluid"/>
    </p>
  </section>
</section>

<!-- 3 -->
<section>
    <section>
        <h3>3 - Intéractions avec la fiche d'un produit <small>(5 pts)</small></h3>
        <h4>Consignes</h4>
        <p>
            La route <code>/products/x</code> redirige vers la fiche du produit
            dont l'<code>id</code> est <code>x</code>.<br>
            Par exemple, <code>/products/5</code> redirige vers la fiche du
            produit <code>5</code>.
        </p>
    </section>
    <section>
        <p>
            Dans le fichier <code>/public/javascripts/product.js</code>,
            développez les fonctionnalités suivantes.
        </p>
        <ul>
            <li>
                Plusieurs images du produit sont disponibles : une image
                principale et des miniatures.<br>
                Si l’utilisateur <strong>survole</strong> une miniature avec le
                pointeur de sa souris, alors l’image principale est changée au
                profit de la miniature survolée (<a href="#res_q3">résultat</a>).
            </li>
        </ul>
    </section>
    <section>
        <ul>
            <li>
                On peut modifier la quantité commandée.<br>
                Pour cela, on peut cliquer sur le bouton <code>+</code> pour
                augmenter la quantité, ou sur le bouton <code>-</code> pour la
                diminuer.<br>
                Attention, la quantité ne peut pas être nulle ou négative.<br>
                De plus, la quantité maximale est limitée à 5.<br>
                Afficher un bloc d'alerte pour avertir l'utilisateur s'il tente
                de dépasser cette limite (<a href="#res_q3">résultat</a>).
            </li>
        </ul>
    </section>
    <section>
        <h4>Conseils</h4>
        <p>Quelques références utiles :</p>
        <ul>
            <li>
                L'événement <code>onmouseenter</code> :
                <a href="https://www.w3schools.com/jsref/event_onmouseenter.asp">[6]</a>,
            </li>
            <li>
                Blocs d'alerte Bootstrap :
                <a href="https://getbootstrap.com/docs/4.3/components/alerts/">[7]</a>.
            </li>
        </ul>
    </section>
    <section>
        <h4 id="res_q3">Résultat</h4>
        <p>Changement de l'image principale lors du survol d'une miniature.</p>
        <p class="text-center demo border rounded">
          <img src="/private/web/examen/q3_1.gif" alt="Images" class="img-fluid"/>
        </p>
    </section>
    <section>
        <p>
            Affichage d'un bloc d'alerte lorsque la quantité maximale est
            atteinte.
        </p>
        <p class="text-center demo border rounded">
          <img src="/private/web/examen/q3_2.gif" alt="Quantité maximale" class="img-fluid"/>
        </p>
    </section>
</section>

<!-- 4 -->
<section>
  <section>
    <h3>4 - Avis des utilisateurs <small>(6 pts)</small></h3>
    <h4>Consignes</h4>
    <p>
        Un utilisateur peut laisser un avis sur un produit via le formulaire
        de la page <code>/views/pages/product.ejs</code>.<br>
        L'envoi du formulaire est géré par la route
        <code>/comments/write/:idproduct</code> en mode <code>POST</code>.
    </p>
</section>
<section>
    <p>
        Dans <code>/models/commentsManager.js</code>, exporter une fonction
        <code>insert_comment(message, idproduct)</code>. Cette fonction :
    </p>
    <ul>
        <li>Se connecte à la base de données,</li>
        <li>
            Insère dans la table <code>comments</code>
            le <code>message</code> et l'<code>idproduct</code> (passés en
            paramètre de la fonction), ainsi que la <code>date</code> d'envoi
            (calculée avec <code>Date()</code>),
        </li>
        <li>
            Ferme la connexion à la base de données.
        </li>
    </ul>
</section>
<section>
    <p>
        Dans <code>/controllers/commentsController.js</code>, poursuivre
        l'implémentation de la fonction <code>write(req, res)</code>.
        Cette fonction :
    </p>
    <ul>
        <li>
            Récupère le contenu du message envoyé par l'utilisateur,
        </li>
        <li>
            Appelle la fonction <code>insert_comment(message, idproduct)</code>
            précédemment développée,
        </li>
        <li>
            Redirige vers la page du produit (déjà implémenté).
        </li>
    </ul>
</section>
<section>
    <p>
        Dans <code>/models/commentsManager.js</code>, exporter une fonction
        <code>all_comments(idproduct)</code>. Cette fonction :
    </p>
    <ul>
        <li>Se connecte à la base de données,</li>
        <li>
            Sélectionne les champs <code>message</code> et <code>date</code> de
            tous les commentaires dont l'<code>id_product</code> correspond à
            celui passé en paramètre de la fonction,
        </li>
        <li>
            Ferme la connexion à la base de données,
        </li>
        <li>
            Retourne les résultats de la requête.
        </li>
    </ul>
</section>
<section>
    <p>
        Dans <code>/controllers/productsController.js</code>, poursuivre
        l'implémentation de la fonction <code>product(req, res)</code>. Cette
        fonction :
    </p>
    <ul>
        <li>
            Appelle la fonction <code>all_comments(id_product)</code>
            précédemment développée afin de récupérer la liste des commentaires
            du produit,
        </li>
        <li>
            Rend la vue <code>layout_page</code> avec les commentaires du
            produit passés en paramètre.
        </li>
    </ul>
</section>
<section>
    <p>
        Dans <code>/views/pages/product.ejs</code>, afficher les commentaires du
        produit (<a href="#res_q4">résultat</a>).
    </p>
    <ul>
        <li>
            S'il n'y a pas de commentaires pour le produit, alors un message
            est affiché à la place.
        </li>
    </ul>
</section>
<section>
    <h4>Conseils</h4>
    <p>Code HTML pour l'affiche des commentaires.</p>
    <pre><code class="html">&lt;ul class="list-group"&gt;
    &lt;li class="list-group-item"&gt;
        &lt;p class="mb-0"&gt;Message&lt;/p&gt;
        &lt;p class="mb-0 text-right"&gt;&lt;small&gt;Date&lt;/small&gt;&lt;/p&gt;
    &lt;/li&gt;
    &lt;li class="list-group-item"&gt;
        ...
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
</section>
<section>
    <h4 id="res_q4">Résultat</h4>
    <p>Affichage s'il n'existe aucun commentaire pour le produit.</p>
    <p class="text-center demo border rounded">
      <img src="/private/web/examen/q4_1.png" alt="Aucun commentaire" class="img-fluid"/>
    </p>
</section>
<section>
    <p>Affichage des commentaires s'il y en a.</p>
    <p class="text-center demo border rounded">
      <img src="/private/web/examen/q4_2.png" alt="Commentaires" class="img-fluid"/>
    </p>
  </section>
</section>

<!-- Annexes -->
<section>
  <section>
    <h3 id="annexes">Annexes</h3>
    <h4>Base de données</h4>
    <p>
      La base de données est enregistrée dans le fichier
      <code>/db/lego-webstore-exam.db</code>. Elle est constituée de deux
      tables.
    </p>
</section>
<section>
    <p>Table <code>products</code> :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong>Champ</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        <tr>
          <td><code>id</code></td>
          <td>Identifiant du produit (clé primaire)</td>
        </tr>
        <tr>
          <td><code>name</code></td>
          <td>Nom du produit</td>
        </tr>
        <tr>
          <td><code>price</code></td>
          <td>Prix du produit</td>
        </tr>
        <tr>
          <td><code>description</code></td>
          <td>Description du produit</td>
        </tr>
        <tr>
          <td><code>img0</code>,<code>img1</code>,<code>img2</code></td>
          <td>Images du produit</td>
        </tr>
      </table>
    </div>
</section>
<section>
    <p>Table <code>comments</code> :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong>Champ</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        <tr>
          <td><code>id</code></td>
          <td>Identifiant du commentaire (clé primaire)</td>
        </tr>
        <tr>
          <td><code>message</code></td>
          <td>Contenu du commentaire</td>
        </tr>
        <tr>
          <td><code>data</code></td>
          <td>Date d'écriture du commentaire</td>
        </tr>
        <tr>
          <td><code>id_product</code></td>
          <td>Identifiant du produit commenté (clé étrangère)</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Routes</h4>
    <p>L'application gère quatre routes dans <code>/routes/router.js</code>:</p>
</section>
<section>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong>Route</strong></td>
          <td><strong>Mode</strong></td>
          <td><strong>Description</strong></td>
        </tr>
        <tr>
          <td><code>/</code></td>
          <td><code>GET</code></td>
          <td>Page d'accueil</td>
        </tr>
        <tr>
          <td><code>/products/list</code></td>
          <td><code>GET</code></td>
          <td>Liste des produits de la boutique</td>
        </tr>
        <tr>
          <td><code>/products/:id</code></td>
          <td><code>GET</code></td>
          <td>Fiche d'un produit</td>
        </tr>
        <tr>
          <td><code>/comments/write/:id</code></td>
          <td><code>POST</code></td>
          <td>Envoi d'un commentaire</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Contrôleurs</h4>
    <p>
        Les contrôleurs associés aux routes sont implémentés dans
        <code>controllers/</code>:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong>Route</strong></td>
          <td><strong>Mode</strong></td>
        </tr>
        <tr>
          <td><code>/</code></td>
          <td><code>indexController.index</code></td>
        </tr>
        <tr>
          <td><code>/products/list</code></td>
          <td><code>productsController.list</code></td>
        </tr>
        <tr>
          <td><code>/products/:id</code></td>
          <td><code>productsController.product</code></td>
        </tr>
        <tr>
          <td><code>/comments/write/:id</code></td>
          <td><code>commentsController.write</code></td>
        </tr>
      </table>
    </div>
  </section>
</section>
