<!-- Un langage de balises -->
<section>
  <section>
    <h3>Un langage de balises</h3>

    <h4>Définition</h4>
    <p>Une balise :</p>

    <ul>
      <li>structure le texte qu'elle encadre,</li>
      <li>est invisible à l'écran pour l'utilisateur.</li>
    </ul>
  </section>

  <section>
    <h4>Balises par paire</h4>

    <pre><code class="html">&lt;titre&gt;Je suis un titre&lt;/titre&gt;</code></pre>

    <h4>Balises orphelines</h4>

    <pre><code class="html">&lt;image/&gt;</code></pre>

    <h4>Les attributs</h4>

    <p>Offrent des informations supplémentaires au navigateur.</p>

    <pre><code class="html">&lt;balise attribut="valeur"&gt;...&lt;/balise&gt;
&lt;image source="photo.jpg" largeur="100"/&gt;</code></pre>

  </section>
</section>

<!-- Une page HTML -->
<section>
  <section>
    <h3>Une page HTML</h3>

    <h4>Code minimal</h4>

    <pre><code class="html" style="max-height:450px">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Hello page&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;!-- Ceci est le contenu de la page HTML --&gt;
    &lt;h1&gt;Hello world !&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

  </section>

  <section>
    <div class="fig">
      <p style="font-size:2.5em; font-weight:600" class="mt-0">Hello world !</p>
    </div>
  </section>

  <section>
    <h4>La balise <code>DOCTYPE</code></h4>

    <p>Indispensable, indique le type du document.</p>

    <pre><code class="html">&lt;!DOCTYPE html&gt;</code></pre>

    <h4>La balise <code>html</code></h4>

    <p>Balise principale, elle englobe tout le document.</p>

    <pre><code class="html">&lt;html&gt; ... &lt;/html&gt;</code></pre>

  </section>

  <section>
    <h4>La balise <code>head</code></h4>

    <p>La <em>tête</em> du document :</p>

    <ul>
      <li>précise l'encodage des caractères,</li>
      <li>définit le titre de la page (onglet),</li>
      <li>inclut divers fichiers (styles, scripts, ...),</li>
      <li>...</li>
    </ul>

    <pre><code class="html">&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;title&gt;Hello page&lt;/title&gt;
&lt;/head&gt;</code></pre>

  </section>

  <section>
    <h4>La balise <code>body</code></h4>

    <p>Le <em>corps</em> du document, englobe le contenu.</p>

    <pre><code class="html">&lt;body&gt;
  &lt;h1&gt;Hello world !&lt;/h1&gt;
&lt;/body&gt;</code></pre>

    <h4>Les commentaires</h4>

    <p>
      Les commentaires sont utilisés pour expliquer une partie de code. Ils ne
      s'affichent pas dans le navigateur.
    </p>

    <pre><code class="html">&lt;!-- Voici le contenu de la page HTML --&gt;</code></pre>

  </section>
</section>

<!-- Textes -->
<section>
  <section>
    <h3>Textes</h3>

    <h4>Titres</h4>

    <p>Selon leur importance, les titres peuvent se décomposer en 6 niveaux.</p>

    <pre><code class="html">&lt;h1&gt;Première partie&lt;/h1&gt;
&lt;h2&gt;Premier chapitre&lt;/h2&gt;
&lt;h3&gt;Premier paragraphe&lt;/h3&gt;
&lt;h4&gt;...&lt;/h4&gt;
&lt;h5&gt;...&lt;/h5&gt;
&lt;h6&gt;...&lt;/h6&gt;</code></pre>

  </section>

  <section>
    <div class="fig">
      <p style="font-size:2em; font-weight:600" class="my-0">Première partie</p>
      <p style="font-size:1.5em; font-weight:600" class="my-0">Premier chapitre</p>
      <p style="font-size:1.25em; font-weight:400" class="my-0">Premier paragraphe</p>
    </div>
  </section>

  <section>
    <h4>Paragraphes</h4>

    <p>
      La plupart des textes des pages web sont écrits dans des paragraphes.
    </p>

    <pre><code class="html">&lt;p&gt;Ceci est un paragraphe. Lorem ipsum...&lt;/p&gt;
&lt;p&gt;Ceci est un autre paragraphe. Lorem ipsum...&lt;/p&gt;</code></pre>

    <div class="fig">
      <p style="margin-bottom: 16px">Ceci est un paragraphe. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Ceci est un autre paragraphe. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </section>

  <section>
    <h4>Sauts de ligne</h4>

    <pre><code class="html">&lt;p&gt;
  Ceci est un paragraphe. Lorem ipsum...&lt;br/&gt;
  Le même paragraphe, qui se pousuit sur une autre ligne.
&lt;/p&gt;</code></pre>

    <div class="fig">
      <p>Ceci est un paragraphe. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
      Le même paragraphe, qui se poursuit sur une autre ligne.</p>
    </div>
  </section>

  <section>
    <h4>Tirer un trait</h4>

    <p>Parfois utile pour délimiter des parties dans le contenu de la page.</p>

    <pre><code class="html">&lt;p&gt;Lorem ipsum...&lt;/p&gt;
&lt;hr/&gt;
&lt;p&gt;Lorem ipsum...&lt;/p&gt;</code></pre>

    <div class="fig">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </section>
</section>

<!-- Listes -->
<section>
  <section>
    <h3>Listes</h3>

    <h4>Ordonnées</h4>

    <p>Séquence d'éléments dont l'ordre est important.</p>

    <pre><code class="html">&lt;p&gt;Top 3 des langages de programmation :&lt;/p&gt;
&lt;ol&gt;
  &lt;li&gt;JavaScript&lt;/li&gt;
  &lt;li&gt;Haskell&lt;/li&gt;
  &lt;li&gt;Python&lt;/li&gt;
&lt;/ol&gt;</code></pre>

  </section>

  <section>
    <div class="fig">
      <p>Top 3 des langages de programmation :</p>
      <ol>
        <li>JavaScript</li>
        <li>Haskell</li>
        <li>Python</li>
      </ol>
    </div>
  </section>

  <section>
    <h4>Non ordonnées</h4>

    <p>Contient des éléments dont la position n'a pas d'importance.</p>

    <pre><code class="html">&lt;p&gt;Ingrédients :&lt;/p&gt;
&lt;ul&gt;
  &lt;li&gt;1 oeuf&lt;/li&gt;
  &lt;li&gt;85 g de sucre&lt;/li&gt;
  &lt;li&gt;85 g de beurre doux&lt;/li&gt;
&lt;/ul&gt;</code></pre>

  </section>

  <section>
    <div class="fig">
      <p>Ingrédients :</p>
      <ul>
        <li>1 oeuf</li>
        <li>85 g de sucre</li>
        <li>85 g de beurre doux</li>
      </ul>
    </div>
  </section>
</section>

<!-- Liens -->
<section>
  <section>
    <h3>Liens</h3>

    <h4>Définition</h4>

    <p>La notion de lien est au coeur du Web.</p>

    <ul>
      <li>Référencement d'autres pages ou ressources,</li>
      <li>avec la balise <code>a</code>,</li>
      <li>l'adresse cible (ou URL) est précisée par l'attribut <code>href</code>.</li>
    </ul>
  </section>

  <section>
    <h4>Absolus</h4>

    <p>Référencement d'une ressource externe (un autre site).</p>

    <pre><code class="html">&lt;p&gt;
  &lt;a href="http://www.univ-littoral.fr"&gt;Université du Littoral&lt;/a&gt;
&lt;/p&gt;</code></pre>

    <div class="fig">
      <a href="http://www.univ-littoral.fr">Université du Littoral</a>
    </div>
  </section>

  <section>
    <h4>Relatifs</h4>

    <p>Référencement d'une ressource locale (sur le même site).</p>

    <pre><code class="plaintext">MonSiteWeb
├─ pages/
│  ├─> accueil.html
│  └─ boutique.html
└─ annexes/
   └─ contact.html</code></pre>

    <pre><code class="html">&lt;a href="boutique.html"&gt;Boutique&lt;/a&gt;
&lt;a href="../annexes/contact.html"&gt;Contact&lt;/a&gt;</code></pre>

  </section>

  <section>
    <h4>Ancres</h4>

    <p>Pour faire défiler la page jusqu’à un certain endroit.</p>

    <pre><code class="html">&lt;p id="haut"&gt;Ceci est le haut de la page&lt;/p&gt;
...
&lt;a href="#haut"&gt;Retour en haut&lt;/a&gt;</code></pre>

  </section>
</section>

<!-- Images -->
<section>
  <section>
    <h3>Images</h3>

    <h4>Définition</h4>

    <p>
      Un site utilise beaucoup d'images, de tous types et de toutes tailles. Les
      formats reconnus sont :
    </p>
  </section>

  <section>
    <ul>
      <li><code>jpeg</code> : idéal pour les photos et illustrations complexes contenant des
        millions de couleurs ; attention à la compression !
      </li>
      <li><code>png</code> : format sans compression ; 8 bits ou 24 bits ; possibilité de
        transparence,</li>
      <li><code>gif</code> : pratique pour des petites images (logo, par exemple) ; 256 couleurs
        max ; gestion de la transparence et de l'animation,</li>
      <li><code>svg</code> : format vectoriel ; ensemble d'objets graphiques ; pas de perte de
        qualité ; plus léger et plus rapide.</li>
    </ul>
  </section>

  <section>
    <h4>Balise et attributs</h4>

    <p>Une image s'insère avec :</p>

    <ul>
      <li><code>img</code> : la balise,</li>
      <li><code>src</code> : l'URL de l'image (absolu ou relatif),</li>
      <li><code>alt</code> : une description en cas de non-chargement de l'image.</li>
    </ul>
  </section>

  <section>

    <pre><code class="html">&lt;img src="chat.gif" alt="Chat bosse dur" /&gt;</code></pre>

    <div class="fig">
      <img src="/images/lessons/web/cat.gif" alt="Chat bosse dur" width="100%" style="max-width:250px"/>
    </div>
  </section>

  <section>
    <p>Par défaut une image s'affiche avec sa taille originale. Le redimensionnement est possible avec les attributs :</p>

    <ul>
      <li><code>width</code> : largeur de l'image (en pixel),</li>
      <li><code>height</code> : hauteur de l'image (en pixel).</li>
    </ul>

    <div class="warn">
      Attention aux proportions !
    </div>

    <pre><code class="html">&lt;img src="chat.gif" width="300" height="100"/&gt;</code></pre>

    <div class="fig">
      <img src="/images/lessons/web/cat.gif" alt="Chat bosse mal" width="100%" style="max-width:250px;max-height:100px;"/>
    </div>

  </section>
</section>

<!-- Tableaux -->
<section>
  <section>
    <h3>Tableaux</h3>

    <h4>Définition</h4>

    <p>
      Organisation des éléments sous forme tabulaire.<br/>
      Un tableau est un ensemble de lignes <code>tr</code>.<br/>
      Une ligne est un ensemble de cellules <code>th</code> ou <code>td</code>.
    </p>
  </section>
  <section>
    <pre><code class="html">&lt;table&gt;
  &lt;tr&gt;
    &lt;th&gt;Id.&lt;/th&gt;&lt;th&gt;Prénom&lt;/th&gt;&lt;th&gt;Nom&lt;/th&gt;&lt;th&gt;Âge&lt;/th&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;1&lt;/td&gt;&lt;td&gt;Eve&lt;/td&gt;&lt;td&gt;Jackson&lt;/td&gt;&lt;td&gt;20&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;2&lt;/td&gt;&lt;td&gt;John&lt;/td&gt;&lt;td&gt;Doe&lt;/td&gt;&lt;td&gt;23&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</code></pre>

    <div class="fig">
      <table class="table table-bordered m-0 table-sm">
        <tr>
          <th>Id.</th><th>Prénom</th><th>Nom</th><th>Âge</th>
        </tr>
        <tr>
          <td>1</td><td>Eve</td><td>Jackson</td><td>20</td>
        </tr>
        <tr>
          <td>2</td><td>John</td><td>Doe</td><td>23</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h4>Fusion de cellules</h4>

    <p>Il est parfois utile de fusionner les cellules d'un tableau.</p>

    <ul>
      <li><code>colspan</code> : fusion des colonnes,</li>
      <li><code>rowspan</code> : fusion des lignes.</li>
    </ul>
  </section>

  <section>
    <pre><code class="html">&lt;table border="border"&gt;
  &lt;tr&gt;
    &lt;th&gt;Month&lt;/th&gt;&lt;th&gt;Savings&lt;/th&gt;&lt;th&gt;Total&lt;/th&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;January&lt;/td&gt;&lt;td&gt;$100&lt;/td&gt;&lt;td rowspan ="2"&gt;$180&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;February&lt;/td&gt;&lt;td&gt;$80&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</code></pre>

    <div class="fig">
        <table class="table table-bordered m-0 table-sm">
          <tr>
            <th>Month</th><th>Savings</th><th>Total</th>
          </tr>
          <tr>
            <td>January</td><td>$100</td><td rowspan ="2" style="vertical-align:middle; text-align:center;">$180</td>
          </tr>
          <tr>
            <td>February</td><td>$80</td>
          </tr>
        </table>
    </div>
  </section>

  <section>
    <div class="tip">
      Par défaut, aucun élément graphique ne délimite les cellules.
      <br/>
      Pour faire apparaître les bordures : attribut <code>border</code>.
    </div>
  </section>
</section>


<!-- Formulaires -->
<section>
  <section>
    <h3>Formulaires</h3>

    <h4>Définition</h4>

    <p>Un formulaire :</p>
    <ul>
      <li>est composé de zones de saisie et de boutons,</li>
      <li>envoie des informations au serveur web,</li>
      <li>est contenu dans la balise <code>form</code>.</li>
    </ul>

    <div class="tip">
      De manière générale, une zone de saisie est identifiée par son attribut
      <code>name</code>.
    </div>
  </section>

  <section>
    <h4>Ligne de saisie</h4>

    <p>Plusieurs types possibles :</p>

    <ul>
      <li><code>text</code></li>
      <li><code>password</code></li>
      <li><code>number</code></li>
      <li><code>mail</code></li>
      <li><code>phone</code></li>
      <li>...</li>
    </ul>
  </section>

  <section>
    <pre><code class="html">&lt;form&gt;
  &lt;p&gt; Prénom &lt;input name="nom" type="text"/&gt; &lt;/p&gt;
  &lt;p&gt; Mot de passe &lt;input name="mdp" type="password"/&gt; &lt;/p&gt;
&lt;/form&gt;</code></pre>

    <div class="fig">
      <p>Prénom <input type="text"/></p>
      <p>Mot de passe <input type="password"/></p>
    </div>
  </section>

  <section>
    <h4>Zone de saisie</h4>

    <p>Pour la saisie de longs textes.</p>

    <pre><code class="html">&lt;textarea name="resume" rows="4" cols="20"&gt;&lt;/textarea&gt;</code></pre>

    <div class="fig">
      <textarea rows="4" value="Lorem ipsum..."></textarea>
    </div>
  </section>

  <section>
    <h4>Boîtes à cocher</h4>

    <p>Boîtes à choix multiples.</p>

    <pre><code class="html">&lt;input type="checkbox" name="rouge"/&gt; Rouge &lt;br/&gt;
&lt;input type="checkbox" name="vert"/&gt; Vert &lt;br/&gt;
&lt;input type="checkbox" name="bleu"/&gt; Bleu &lt;br/&gt;</code></pre>

    <div class="fig">
      <input type="checkbox" name="rouge" checked="checked"/> Rouge <br/>
      <input type="checkbox" name="vert"/> Vert <br/>
      <input type="checkbox" name="bleu" checked="checked"/> Bleu <br/>
    </div>
  </section>

  <section>
    <h4>Boutons radios</h4>

    <p>Boutons à choix unique.</p>

    <pre><code class="html">&lt;input type="radio" name="genre"/&gt; Homme&lt;br/&gt;
&lt;input type="radio" name="genre"/&gt; Femme&lt;br/&gt;</code></pre>

    <div class="fig">
      <input type="radio" name="genre"/> Homme<br/>
      <input type="radio" name="genre" checked="checked"/> Femme<br/>
    </div>

    <div class="tip">
      Le choix est restreint selon l'attribut <code>name</code> des boutons radio.
    </div>
  </section>

  <section>
    <h4>Listes déroulantes</h4>

    <p>Sélection d'une valeur depuis une liste.</p>

    <pre><code class="html">&lt;select name="pays"&gt;
  &lt;option value="canada"&gt;Canada&lt;/option&gt;
  &lt;option value="france"&gt;France&lt;/option&gt;
  &lt;option value="royaume-uni"&gt;Royaume-Uni&lt;/option&gt;
&lt;/select&gt;</code></pre>

    <div class="fig">
      <select name="pays">
        <option value="canada">Canada</option>
        <option value="france">France</option>
        <option value="royaume-uni">Royaume-Uni</option>
      </select>
    </div>
  </section>

  <section>
    <h4>Envoi</h4>

    <p>
      Une fois le formulaire dûment rempli, l'envoi s'effectue avec un champ de type
      <code>submit</code>.
    </p>

    <pre><code class="html">&lt;input type="submit" value="Envoyer" /&gt;</code></pre>

    <div class="fig">
      <button class="btn btn-primary">Envoyer</button>
    </div>
  </section>
</section>

<!-- Balises structurantes -->
<section>
  <section>
    <h3>Balises structurantes</h3>

    <h4>En ligne</h4>

    <p>Pour structurer le flux de code HTML (au sein d'un paragraphe par exemple).</p>

    <ul>
      <li><code>strong</code> : mettre fortement en valeur un mot,</li>
      <li><code>em</code> : mettre un peu en valeur un mot,</li>
      <li>
        <code>span</code> : balise générique (souvent utilisée pour appliquer
        des styles).
      </li>
    </ul>
  </section>

  <section>

    <pre><code class="html">&lt;p&gt;Voici un &lt;strong&gt;mot&lt;/strong&gt; important.&lt;/p&gt;
&lt;p&gt;Voici un &lt;em&gt;mot&lt;/em&gt; mis en emphase.&lt;/p&gt;
&lt;p&gt;
  Un &lt;span style="color:green"&gt;mot&lt;/span&gt;
  et un autre &lt;span style="color: blue"&gt;mot&lt;/span&gt;.
&lt;/p&gt;</code></pre>

    <div class="fig">
      <p class="mt-0">Voici un <strong>mot</strong> important.</p>
      <p>Voici un <em>mot</em> mis en emphase.</p>
      <p>Un <span style="color: green">mot</span> et un autre <span style="color: blue">mot</span>.</p>
    </div>
  </section>

  <section>
    <h4>En bloc</h4>

    <p>Pour structurer les contenus de la page HTML.</p>

    <ul>
      <li><code>header</code> : en-tête de la page,</li>
      <li><code>nav</code> : menu de navigation,</li>
      <li><code>footer</code> : pied-de-page,</li>
      <li><code>div</code> : le bloc générique.</li>
    </ul>
  </section>

  <section>

    <pre><code class="html">&lt;body&gt;
  &lt;header&gt;
    &lt;h1&gt;Cities&lt;/h1&gt;
  &lt;/header&gt;
  &lt;nav&gt;
    &lt;ul&gt;...&lt;/ul&gt;
  &lt;/nav&gt;
  &lt;div id="contenu"&gt;
    &lt;h2&gt;London&lt;h2&gt;
    &lt;p&gt;...&lt;/p&gt;
  &lt;/div&gt;
  &lt;footer&gt;Footer&lt;/footer&gt;
&lt;/body&gt;</code></pre>

  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/html1.png" alt="Maquette" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Résumé</h4>
    <p>
      Le tableau suivant résume quelques-unes des balises HTML présentées dans ce cours.
    </p>
  </section>
  <section>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong>En ligne</strong><br/><em>(pas de saut de ligne)</em></td>
          <td><strong>En bloc</strong><br/><em>(saut de ligne)</em></td>
        </tr>
        <tr>
          <td>a</td>
          <td>p</td>
        </tr>
        <tr>
          <td>img</td>
          <td>h1, h2, h3...</td>
        </tr>
        <tr>
          <td>input</td>
          <td>ul, ol, li</td>
        </tr>
        <tr>
          <td>button</td>
          <td>header</td>
        </tr>
        <tr>
          <td>strong</td>
          <td>nav</td>
        </tr>
        <tr>
          <td>em</td>
          <td>footer</td>
        </tr>
        <tr>
          <td>span</td>
          <td>div</td>
        </tr>
      </table>
    </div>
  </section>
</section>
