<!-- Présentation -->
<section>
  <section>
    <h3>Présentation</h3>
    <h4>Module</h4>
    <p>Enseignements :</p>
    <ul>
      <li>4 heures CM</li>
      <li>42 heures TP</li>
    </ul>
    <p>Note finale :</p>
    <ul>
      <li>&#8531; contrôle continu (TP)</li>
      <li>&#8532; examen</li>
    </ul>
  </section>
  <section>
    <h4>Modèle du web (XAMP)</h4>
    <div class="fig">
      <img src="/images/lessons/web/intro1bis.png" alt="Modèle du web XAMP" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Modèle du web (JS fullstack)</h4>
    <div class="fig">
      <img src="/images/lessons/web/intro1.png" alt="Modèle du web JS fullstack" class="img-fluid"/>
    </div>
    <!-- <p class="mb-0">
      <small>* Tel qu'abordé dans ce cours.</small>
    </p> -->
  </section>
</section>

<section>
  <section>
    <h3>Objectifs du module</h3>

    <h4>Objectifs</h4>

    <ul>
      <li>Comprendre le modèle du Web : client / serveur,</li>
      <li>Aborder les langages de présentation côté client (<em>HTML</em> et <em>CSS</em>),</li>
      <li>Ajouter les aspects dynamiques côté client avec <em>JavaScript</em>,</li>
      <li>Introduire les technologies serveur avec <em>node.js</em>.</li>
    </ul>
  </section>

  <section>
    <h4>Compléments abordés</h4>

    <p>Comment intégrer / utiliser un framework ?</p>

    <ul>
      <li><strong>Bootstrap</strong> : un framework <em>CSS</em> responsive,</li>
      <%# <li><strong>jQuery</strong> : un framework <em>JavaScript</em>,</li> %>
      <li><strong>Express</strong> : un framework <em>node.js</em>.</li>
    </ul>
  </section>
</section>

<!-- Outils -->
<section>
  <section>
    <h3>Outils</h3>

    <h4>Navigateur et inspecteur</h4>

    <ul>
      <li>Navigation dans le DOM et modification des éléments en live,</li>
      <li>Trace des transferts réseaux (méthode, type de ressource, taille, temps, ...),</li>
      <li>Visualisation des fichiers téléchargés (sources JavaScript, fichiers CSS, ...),</li>
      <li>Visualisation des données locales (cookies, bases de données locales, ...).</li>
    </ul>
  </section>

  <section>
    <div class="fig">
      <img src="/images/lessons/web/intro2.png" alt="Inspecteur" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Debugger</h4>

    <ul>
      <li>Arborescence des fichiers téléchargés,</li>
      <li>Exécuter pas à pas du code JavaScript (points d’arrêts),</li>
      <li>Visualisation, suivi, et modification des variables.</li>
    </ul>

    <div class="fig">
      <img src="/images/lessons/web/intro3.png" alt="Debugger" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Les éditeurs</h4>

    <ul>
      <li>VisualStudio Code,</li>
      <li>Atom,</li>
      <li>Vim,</li>
      <li>emacs,</li>
      <li>PhpStorm...</li>
    </ul>

    <div class="fig">
      <img src="/images/lessons/web/intro4.png" alt="Editeurs" class="img-fluid"/>
    </div>
  </section>
</section>

<section>
  <section>
    <h3>Références</h3>
    <h4>Références HTML</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/html5/">World Wide Web Consortium (W3C)</a></li>
      <li><a href="http://www.w3schools.com/tags/">W3 schools</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Web/HTML/Element">MDN web docs (Mozilla Developer Network)</a></li>
    </ul>
  </section>

  <section>
    <h4>Références CSS</h4>
    <ul>
      <li><a href="http://www.w3schools.com/css/default.asp">W3 schools</a></li>
      <li><a href="http://meiert.com/en/indices/css-properties/">CSS properties index</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Web/CSS/Reference">MDN web docs</a></li>
    </ul>
  </section>

  <section>
    <h4>Références JS</h4>
    <ul>
      <li><a href="http://www.w3schools.com/js/default.asp">W3 schools</a></li>
      <li><a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference">MDN web docs</a></li>
    </ul>
  </section>

  <section>
    <h4>L'indispensable</h4>

    <ul>
      <li><a href="http://stackoverflow.com/">Stackoverflow</a></li>
    </ul>

    <div class="fig">
      <img src="/images/lessons/web/intro5.png" alt="Stackoverflow" class="img-fluid"/>
    </div>
  </section>
</section>
