<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Présentation</h4>
    <p>JavaScript est un langage de script :</p>
    <ul>
      <li>Multiplateforme,</li>
      <li>Orienté prototype (&asymp; objet),</li>
      <li>
        Interprété par un environnement hôte (un navigateur web par exemple),
      </li>
      <li>Standard ECMAScript.</li>
    </ul>
    <div class="tip">Ne pas confondre avec le langage Java !</div>
  </section>
  <section>
    <h4>Côté client</h4>
    <ul>
      <li>
        Contrôle du <em>Document Object Model</em> (DOM),
      </li>
      <li>
        Contrôle du navigateur (cookies, barre d'adresse, pop-ups),
      </li>
      <li>Capture des événements (souris, clavier), ...</li>
    </ul>
    <h4>Côté serveur</h4>
    <ul>
      <li>Manipulation de fichiers,</li>
      <li>Manipulation de bases de données, ...</li>
    </ul>
  </section>
  <section>
    <h4>Eléments de langage</h4>
    <ul>
      <li>Variables à typage dynamique,</li>
      <li>Opérateurs arithmétiques et logiques,</li>
      <li>Structures de contrôle,</li>
      <li>
        Bibliothèques standards d'objets (<code>Array</code>, <code>Math</code>,
        <code>Date</code>, ...),
      </li>
      <li>
        Instructions délimitées par un point-virgule <code>;</code>
      </li>
    </ul>
  </section>
</section>

<!-- Exemple -->
<section>
  <section>
    <h3>Hello world !</h3>
    <h4>Écriture des scripts</h4>
    <ul>
      <li>
        Directement à l'intérieur d'une balise <code>script</code>,
      </li>
      <li>
        Dans un fichier <code>.js</code> externe, lié à la balise
        <code>script</code> via l'attribut <code>src</code>
        (recommandé).
      </li>
    </ul>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="html">&lt;body&gt;
  ...
  &lt;script src="helloworld.js"&gt;&lt;/script&gt;
&lt;/body&gt;</code></pre>
    <pre><code class="js">// helloworld.js
alert('Hello world !');</code></pre>
    <p>
      <button class="btn btn-sm btn-secondary" onclick="alert('Hello world !')">
        <i class="fas fa-cogs"></i> Essayer
      </button>
    </p>
  </section>
</section>

<!-- Variables -->
<section>
  <section>
    <h3>Variables</h3>
    <h4>let</h4>
    <p>
      Déclaration d'une variable avec le mot clé <code>let</code>,
      éventuellement en initialisant sa valeur :</p>
    <pre><code class="js">let x;
let y = 42;</code></pre>
  </section>
  <section>
    <h4>const</h4>
    <p>
      Déclaration d'une constante accessible uniquement en lecture avec le mot
      clé <code>const</code>. La constante doit être initalisée :
    </p>
    <pre><code class="js">const a = 13.37;</code></pre>
  </section>
  <section>
    <div class="tip">
      <p>
        Accès en lecture uniquement, pas de réaffectation ni de redéclaration :
      </p>
      <pre><code class="js">a = 42;       // TypeError... !
const a = 42; // SyntaxError... !</code></pre>
    </div>
    <div class="tip">
      <p>
        Seul l'identifiant est immuable, pas le contenu qui lui est assigné !
      </p>
      <pre><code class="js">const b = [1, 2, 3];
b.push(4); // b == [1, 2, 3, 4]</code></pre>
    </div>
  </section>
  <section>
    <h4>Typage</h4>
    <p>Le type d'une variable dépend de la valeur qui lui est affectée.</p>
    <pre><code class="js">let a = 42;                     // number
let b = 13.37;                  // number
let c = 'hello';                // string
let d = {nom: 'John', age: 20}; // object
let e = true;                   // booleean
e = 5;                          // number
z;                              // undefined</code></pre>
  </section>
  <section>
    <h4>Portée</h4>
    <p>
      Les variables déclarées avec <code>let</code> ou <code>const</code> font
      partie de la portée du bloc (<code>{}</code>).
    </p>
    <p>Elles sont globales si déclarées en dehors de tout bloc.</p>
    <pre><code class="js">const a = 13;

if (true) {
  const b = 37;
  // a == 13, b == 37
}

// a == 13, b == undefined
</code></pre>
  </section>
  <section>
    <h4>Toute variable est objet</h4>
    <p>On peut employer des <em>attributs</em> et des <em>méthodes</em>.</p>
    <pre><code class="js">const test1 = 'bonjour';
test1.length;            // 7
test1.charAt(3);         // 'j'
test1.toUpperCase();     // 'BONJOUR'

const test2 = 1.337;
test2.toFixed(2);        // 1.34</code></pre>
  </section>
  <section>
    <h4>Modèles de libellés</h4>
    <p>
      Structuration d'une chaîne de caractères selon un modèle de libellés en
      utilisant les backquotes <code>``</code> (<code>AltGr+7</code>).
    </p>
    <pre><code class="js">const name = 'Doe';
const age = 20;
const message = `Mr. ${name} is ${age} years old.`;
// 'Mr. Doe is 20 years old.'</code></pre>
  </section>
</section>

<!-- Opérateurs -->
<section>
  <section>
    <h3>Opérateurs</h3>
    <h4>Arithmétiques</h4>
    <ul>
      <li>Addition : <code>+</code></li>
      <li>Soustraction : <code>-</code></li>
      <li>Multiplication : <code>*</code></li>
      <li>Division : <code>/</code></li>
      <li>Modulo : <code>%</code></li>
    </ul>
    <p class="tip">
      L'opérateur <code>+</code> est également l'opérateur de concaténation.
    </p>
  </section>
  <section>
    <h4>Exemples</h4>
    <pre><code class="js">const a = 13;
const b = 0.37;
a + b; // 13.37</code></pre>

<pre><code class="js">const a = 'Hello';
const b = 'Joe';
a + b; // 'HelloJoe'</code></pre>

<pre><code class="js">const a = 'Prix: ';
const b = 42;
a + b; // 'Prix: 42'</code></pre>
  </section>
  <section>
    <h4>Conversion de types</h4>
    <p>
      Utilisation des fonctions <code>parseInt</code> ou
      <code>parseFloat</code> pour transformer un <code>string</code> en
      <code>number</code>.
    </p>
    <pre><code class="js">const a = '42';
const b = 24;

a + b;           // '4224'
parseInt(a) + b; // 66</code></pre>
  </section>
  <section>
    <h4>Égalités et comparaisons</h4>
    <ul>
      <li>Égalité, différence : <code>==</code>, <code>!=</code></li>
      <li>Égalités strictes : <code>===</code>, <code>!==</code></li>
      <li>
        Comparaison : <code>&lt;</code>, <code>&gt;</code>, <code>&lt;=</code>,
        <code>&gt;=</code>
      </li>
    </ul>
    <pre><code class="js">5 == '5';    // true
5 === '5';   // false
5 === 5.0;   // true
'5' === "5"; // true</code></pre>
  </section>
  <section>
    <h4>Affectation et instanciation</h4>
    <ul>
      <li>
        Affectation arithmétiques : <code>++</code>, <code>--</code>,
        <code>+=</code>, <code>-=</code>, <code>*=</code>, <code>/=</code>,
        <code>%=</code></li>
      <li>
        Instanciation ou suppression d'un objet : <code>new</code>,
        <code>delete</code>
      </li>
    </ul>
  </section>
</section>

<!-- Tableaux -->
<section>
  <section>
    <h3>Tableaux</h3>
    <h4>Définition</h4>
    <p>Déclaration avec <code>[]</code>.</p>
    <ul>
      <li>Lecture d'une entrée avec l'opérateur <code>[]</code>,</li>
      <li>
        Ajout d'une entrée par affectation, ou avec la méthode
        <code>push</code>.
      </li>
      <li>
        Suppression d'une entrée avec les méthodes <code>pop</code>
        ou <code>splice</code>.
      </li>
      <li>
        Accès à la taille d'un tableau avec l'attribut <code>length</code>.
      </li>
    </ul>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="js">// Déclaration
const a = [1, 2, 3];
// Manipulation des données
a[0];          // 1
a[4] = 5;      // [ 1, 2, 3, undefined, 5 ]
a.push(6);     // [ 1, 2, 3, undefined, 5, 6 ]
a.splice(3, 1) // [ 1, 2, 3, 5, 6]
// Taille
a.length; // 5</code></pre>
  </section>
</section>

<!-- Fonctions -->
<section>
  <section>
    <h3>Fonctions</h3>
    <h4>Définition</h4>
    <ul>
      <li>Déclaration avec le mot clé <code>function</code>,</li>
      <li>Pas de type de retour, ni de typage des paramètres,</li>
      <li>Retour éventuel d'une valeur avec le mot clé <code>return</code>.</li>
    </ul>
    <p class="tip">
      Syntaxe <em>fléchée</em> depuis ES2016 : <code>() => { ... }</code>
    </p>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="js">function somme(x, y) {
  return x + y;
}
// ou
let somme = (x, y) => x + y;

let result = somme(4, 2); // result === 6</code></pre>
  </section>
</section>

<!-- Structures de contrôle -->
<section>
  <section>
    <h3>Structures de contrôle</h3>
    <h4>Quelques structures</h4>
    <ul>
      <li>
        Conditions : <code>if / else</code>, ternaires, <code>switch</code>,
      </li>
      <li>Itérations : <code>while</code>, <code>for</code>,</li>
      <li>
        Branchements : <code>return</code>, <code>break</code>,
        <code>continue</code>.
      </li>
    </ul>
    <p class="tip">
      Pour parcourir un tableau, on préférera utiliser la méthode
      <code>forEach</code> (ES2015).
    </p>
  </section>
  <section>
    <h4>Exemples</h4>
    <pre><code class="js">if (a > b) { // condition "standard"
  ...
} else {
  ...
}

let result = (a > b) ? a : b; // condition "ternaire"</code></pre>
  </section>
  <section>
    <pre><code class="js">const array = [1, 2, 3];

for (let i=0; i&lt;array.length; i++) { // "oldschool"
  // do something with array[i]
}

array.forEach( element => {          // ES2015
  // do somehting with element
});</code></pre>
  </section>
</section>

<!-- Objets et classes -->
<section>
  <section>
    <h3>Objets et classes</h3>
    <h4>Objets littéraux</h4>
    <p>
      Similaires à des tableaux associatifs, ils sont composés d'un ensemble de
      <code>{clé: valeur}</code>.
    </p>
    <pre><code class="js">const obj = {
  firstname: 'John',
  age: 20,
  sayHello: (name) => `Hello ${name}!`
};</code></pre>
  </section>
  <section>
    <p>
      L'accès aux éléments d'un objet s'effectue avec l'opérateur
      <code>[]</code> ou <code>.</code> (point).
    </p>
    <pre><code class="js">// accès aux éléments
obj['firstname'];      // 'John'
obj.age;               // 20
obj.sayHello('Joe');   // 'Hello Joe!'

// ajout d'un élément dans l'objet
obj.lastname = 'Doe';</code></pre>
  </section>
  <section>
    <p>
      Liste des clés et des valeurs d'un objet avec les méthodes
      <code>Object.keys()</code> et <code>Object.values()</code>.
    </p>
    <pre><code class="js">Object.keys(obj);
// ['firstname', 'age', 'sayHello', 'lastname']

Object.values(obj);
// ['John', 20, sayHello(), 'Doe']</code></pre>
  </section>
  <section>
    <h4>Classes</h4>
    <p>
      Une classe est une structure de données associée à un ensemble de
      méthodes.
    </p>
    <pre><code class="js">class Person {
  constructor(firstname, age) {
    this.firstname = firstname;
    this.age = age;
  }

  sayHello() {
    return `Hello, I am ${this.firstname}.`;
  }
}</code></pre>
  </section>
  <section>
    <p>On peut instancier des objets à partir d'une classe.</p>
    <pre><code class="js">const p1 = new Person('John', 23);
const p2 = new Person('Joe', 42);

p1.sayHello(); // 'Hello, I am John.'
p2.sayHello(); // 'Hello, I am Joe.'</code></pre>
  </section>
</section>

<!-- Débogage -->
<section>
  <section>
    <h3>Débogage</h3>
    <h4>Logging</h4>
    <ul>
      <li>
        Message d'information affiché dans la console du navigateur
        (<code>F12</code>),
      </li>
      <li>
        A l'intention du développeur (état du programme, contenu d'une variable,
        etc...),
      </li>
      <li>Divers niveaux de logs en fonction de la situation.</li>
    </ul>
  </section>
  <section>
    <pre><code class="js">const x = 13.37;

console.log(`La variable x contient ${x}.`);
console.warn('Attention... !');
console.exception('Exception... !');</code></pre>
    <p>
      <button class="btn btn-sm btn-secondary" onclick="console.log('La variable x contient 13.37.');console.warn('Attention... !'); console.exception('Erreur... !');">
        <i class="fas fa-cogs"></i> Essayer
      </button>
    </p>
  </section>
  <section>
    <h4>Debugger</h4>
    <p>Les navigateurs proposent un debugger JavaScript intégré :</p>
    <ul>
      <li>Ajout de points d'arrêts dans le code,</li>
      <li>Exécution du script pas à pas,</li>
      <li>Analyse des variables...</li>
    </ul>
  </section>
</section>

<!-- DOM -->
<section>
  <section>
    <h3>DOM</h3>
    <h4>Document Object Model</h4>
    <ul>
      <li>
        Présentation arborescente d'une page web où chaque noeud est un élément
        HTML.
      </li>
      <li>
        JavaScript propose des méthodes d'accès au DOM : tous les éléments d'une
        page web sont manipulables.
      </li>
    </ul>
  </section>
  <section>
    <h4>Objets prédéfinis</h4>
    <p>
      Les navigateurs proposent plusieurs objets globaux accessibles en
      JavaScript. Entres autres :
    </p>
    <ul>
      <li>
        <code>window</code> : noeud racine du DOM, représente la fenêtre du
        navigateur,
      </li>
      <li><code>document</code> : le document HTML chargé,</li>
      <li>
        <code>screen</code> : les propriétés d'affichage (résolution, ...),
      </li>
      <li>
        <code>navigator</code> : les informations concernant le navigateur
        (type, système d'exploitation, ...).
      </li>
    </ul>
  </section>
  <section>
    <h4>Accès aux éléments du DOM</h4>
    <p>Soit l'élément du DOM suivant :</p>
    <pre><code class="html">&lt;img src="#" id="my-image" class="big" /&gt;</code></pre>
    <p>On accède à l'élément avec la méthode <code>querySelector</code>.</p>
    <pre><code class="js">document.querySelector('img');
document.querySelector('#my-image');
document.querySelector('.big');</code></pre>
  </section>
  <section>
    <p class="tip">
      La méthode <code>querySelector</code> retourne la première occurence
      correspondant au sélecteur.
    </p>
    <div class="tip">
      <p>
        On utilisera <code>querySelectorAll</code> pour obtenir toutes les
        occurences qui correspondent au sélecteur (à manipuler en tant que
        <code>Array</code>).
      </p>
      <pre><code class="js">const bigs = document.querySelectorAll('.big');
bigs.forEach( element => {
  // do something with element
});</code></pre>
    </div>
  </section>
  <section>
      <p>
        On peut utiliser la méthode <code>querySelector</code> à partir d'un
        noeud du DOM pour sélectionner les éléments à l'intérieur de ce noeud.
      </p>
      <pre><code class="html">&lt;div id="cible"&gt;
  &lt;p&gt;Je suis ciblé.&lt;/p&gt;
&lt;/div&gt;
&lt;p&gt;Je ne suis pas ciblé&lt;/p&gt;</code></pre>
      <pre><code class="js">const madiv = document.querySelector('#cible');
// On récupère uniquement le &lt;p&gt; à l'intérieur de &lt;div&gt;
const p = madiv.querySelector('p');</code></pre>
  </section>
  <section>
    <h4>Attributs de texte</h4>
    <p>Modifier le contenu textuel d'un élement du DOM :</p>
    <ul>
      <li>
        <code>element.innerText</code> : lire ou modifier le texte d'un élément,
      </li>
      <li>
        <code>element.innerHTML</code> : lire ou modifier le code HTML d'un
        élément.
      </li>
    </ul>
  </section>
  <section>
    <pre><code class="html">&lt;p id="p1"&gt;Un paragraphe&lt;/p&gt;
&lt;p id="p2"&gt;Un paragraphe&lt;/p&gt;</code></pre>
    <pre><code class="js">const p1 = document.querySelector('#p1');
const p2 = document.querySelector('#p2');

const text = p1.innerText; // text === 'Un paragraphe'
p1.innerText = 'Hello &lt;strong&gt;world&lt;/strong&gt; !';
p2.innerHTML = 'Hello &lt;strong&gt;world&lt;/strong&gt; !';</code></pre>
    <div class="fig">
      <p id="demo_p1">Un paragraphe</p>
      <p id="demo_p2" class="mb-0">Un paragraphe</p>
    </div>
    <p>
      <button class="btn btn-sm btn-secondary" onclick="demo_p1.innerText = 'Hello <strong>world</strong> !';demo_p2.innerHTML = 'Hello <strong>world</strong> !';">
        <i class="fas fa-cogs"></i> Essayer
      </button>
    </p>
  </section>
  <section>
    <h4>Attributs de style</h4>
    <p>
      Lire ou modifier une propriété CSS d'un élément avec
      <code>element.style.[propriété]</code>.
    </p>
  </section>
  <section>
    <pre><code class="html">&lt;p class="foo"&gt;Un paragraphe&lt;/p&gt;
&lt;p class="foo"&gt;Un paragraphe&lt;/p&gt;</code></pre>
    <pre><code class="js">const foo = document.querySelector('.foo');
const all_foo = document.querySelectorAll('.foo');

foo.style.fontSize = '32px';
all_foo.forEach( element => { element.style.color = 'red'; });</code></pre>
    <div class="fig">
      <p class="demo_foo my-0">Un paragraphe</p>
      <p class="demo_foo my-0">Un paragraphe</p>
    </div>
    <p>
      <button class="btn btn-sm btn-secondary" onclick="const foo = document.querySelector('.demo_foo');const all_foo = document.querySelectorAll('.demo_foo');foo.style.fontSize = '26px';all_foo.forEach( el => { el.style.color = 'red'; });">
        <i class="fas fa-cogs"></i> Essayer
      </button>
    </p>
  </section>
  <section>
    <h4>Attributs de classe</h4>
    <p>
      Modifier les classes des éléments du DOM avec
      <code>element.classList</code> :
    </p>
    <ul>
      <li><code>.add('class')</code> : ajoute une classe,</li>
      <li><code>.remove('class')</code> : supprime une classe,</li>
      <li>
        <code>.toggle('class')</code> : ajoute une classe si elle n'existe
        pas, la supprime sinon.
      </li>
    </ul>
    <pre><code class="js">const p = document.querySelector('p'); // &lt;p&gt;
p.classList.add('foo');                // &lt;p class="foo"&gt;
p.classList.remove('bar');             // &lt;p class="foo"&gt;
p.classList.toggle('foo');             // &lt;p&gt;</code></pre>
  </section>
  <section>
    <h4>Autres attributs</h4>
    <p>
      La plupart des attributs JavaScript portent les mêmes noms que les
      attributs des balises : <code>id</code>, <code>name</code>,
      <code>href</code>, <code>alt</code>, <code>src</code>, <code>value</code>,
      ...
    </p>
    <pre><code class="html">&lt;img id="my-img" src="#"/&gt;</code></pre>
    <pre><code class="js">const image = document.querySelector('#my-img');
image.id;               // 'my-img'
image.src;              // '#'
image.src = 'chat.gif'; // &lt;img id="my-img" src="chat.gif"/&gt;</code></pre>
  </section>
  <section>
    <h4>Navigation dans le DOM</h4>
    <p>
      Quelques méthodes pour se déplacer dans l'arbre du DOM à partir d'un
      élément <code>el</code> :
    </p>
    <ul>
      <li><code>el.childNodes</code> : liste des noeuds fils,</li>
      <li><code>el.parentNode</code> : le noeud parent (s'il existe),</li>
      <li><code>el.firstChild</code> : premier noeud fils,</li>
      <li>
        <code>el.nextElementSibling</code> : le noeud suivant (même niveau de
        DOM),
      </li>
      <li>
        <code>el.previousElementSibling</code> : le noeud précédent (même niveau
        de DOM).
      </li>
    </ul>
  </section>
  <section>
    <h4>Manipulation du DOM</h4>
    <p>Créer, supprimer et modifier des éléments du DOM :</p>
    <ul>
      <li><code>document.createElement(...)</code> : créer un noeud,</li>
      <li>
        <code>el1.appendChild(el2)</code> : ajoute un noeud enfant au noeud courant,
      </li>
      <li>
        <code>el1.insertBefore(el2)</code> : insère un noeud avant le noeud courant,
      </li>
      <li><code>el.remove()</code> : retire le noeud du DOM,</li>
      <li>
        <code>el.setAttribute(nom,valeur)</code> : ajoute ou modifie un attribut.
      </li>
    </ul>
  </section>
  <section>
    <pre><code class="html">&lt;ul&gt;&lt;/ul&gt;</code></pre>
    <pre><code class="js">const ul = document.querySelector('ul');

for (let i=0; i&lt;3; i++) {
  const li = document.createElement('li');
  li.innerText = Math.random().toFixed(2);
  ul.appendChild(li);
}</code></pre>
    <div class="fig" style="height:100px;overflow:auto;">
      <ul id="demo_list" class="my-0"></ul>
    </div>
    <p>
      <button class="btn btn-sm btn-secondary" onclick="const ul = document.querySelector('#demo_list');for (let i=0; i&lt;3; i++) {const li = document.createElement('li');li.innerText = Math.random().toFixed(2);ul.appendChild(li);}">
        <i class="fas fa-cogs"></i> Essayer
      </button>
    </p>
  </section>
</section>

<!-- Evénements -->
<section>
  <section>
    <h3>Événements</h3>
    <h4>Définition</h4>
    <p>Un événement :</p>
    <ul>
      <li>est attaché à un élément du DOM (document, un bouton, une image),</li>
      <li>est capturé par le navigateur,</li>
      <li>est associé à une fonction à exécuter.</li>
    </ul>
  </section>
  <section>
    <h4>Quelques événements</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>onclick</code></td>
          <td>Clic de la souris.</td>
        </tr>
        <tr>
          <td><code>onmousemove</code></td>
          <td>La souris se déplace dans la zone graphique d'un élément.</td>
        </tr>
        <tr>
          <td><code>onkeypress</code></td>
          <td>Appui (enfoncer/relâcher) d'une touche du clavier.</td>
        </tr>
        <tr>
          <td><code>onchange</code></td>
          <td>Changement de valeur d'un champ de saisie.</td>
        </tr>
        <tr>
          <td><code>onsubmit</code></td>
          <td>Soumission d'un formulaire.</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="html">&lt;img src="cat.gif" /&gt;</code></pre>
    <pre><code class="js">const img = document.querySelector('img');
img.onclick = ( event => {
  alert('Miaou !');
});</code></pre>
    <div class="fig">
      <p class="mb-0"><img src="/images/lessons/web/cat.gif" width="100%" style="max-width:250px" onclick="event.preventDefault();alert('Miaou !');console.log(event);"/></p>
    </div>
  </section>
  <section>
    <h4>Le paramètre <code>event</code></h4>
    <p>
      Toutes les fonctions liées à un événement reçoivent l'objet
      <code>event</code> en paramètre :
    </p>
    <ul>
      <li>
        Type de l'événement (clic, appui sur une touche),
      </li>
      <li>
        Référence sur l'élément DOM mis en jeu,
      </li>
      <li>
        Diverses informations relatives à l'événement :
        <ul>
          <li>Localisation du pointeur lors d'un clic,</li>
          <li>Code de la touche du clavier appuyée, ...</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <pre><code class="js">img.onclick = ( event => {
  event.target;   // &lt;img .../&gt;
  event.screenX;  // abscisse du curseur
  event.screenY;  // ordonnée du curseur
  event.which;    // clic gauche / droit / molette
  ...
});</code></pre>
  </section>
</section>
