<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Présentation</h4>
    <p><em>Node.js</em> :</p>
    <ul>
      <li>Utilise JavaScript sur le serveur (&ne; client),</li>
      <li>Environnement logiciel bas niveau,</li>
      <li>
        Conçu pour développer des applications réseau rapides, qui supportent
        les montées en charge,
      </li>
      <li>Libre et gratuit.</li>
    </ul>
  </section>
  <section>
    <h4>Applications</h4>
    <p>Entre autres :</p>
    <ul>
      <li>Applications e-commerce,</li>
      <li>Chat,</li>
      <li>Jeux en ligne,</li>
      <li>Newsletters,</li>
      <li>...</li>
    </ul>
    <p class="tip">
      Utilisé par <em>PayPal</em>, <em>Netflix</em>, <em>Rakuten</em>, ...
    </p>
  </section>
  <section>
    <h4>Modèle client-serveur (HTTP)</h4>
    <p>Le modèle client-serveur suit le principe suivant :</p>
    <ol>
      <li>Le client envoie une requête au serveur,</li>
      <li>
        Le serveur exécute une liste d'opérations
        pour générer une réponse,</li>
      <li>Le serveur envoie la réponse au client.</li>
    </ol>
  </section>
  <section>
    <p>Par exemple, une réponse au format HTML :</p>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_1.png" alt="Schema nodejs" class="img-fluid"/>
    </div>
    <p style="text-align:right">
      <small>Source :
        <a href="https://openclassrooms.com/fr/courses/1056721-des-applications-ultra-rapides-avec-node-js/1056866-node-js-mais-a-quoi-ca-sert#/id/r-1058009">OpenClassrooms</a>
      </small>
    </p>
  </section>
  <section>
    <h4>Alternatives</h4>
    <p>Il existe d'autres environnements serveur :</p>
    <ul>
      <li>PHP,</li>
      <li>ASP.NET,</li>
      <li>Haskell,</li>
      <li>JavaEE...</li>
    </ul>
  </section>
</section>

<section>
  <section>
    <h3>Particularités</h3>
    <h4>Moteur V8</h4>
    <p>Node.js repose sur le moteur JavaScript V8 :</p>
    <ul>
      <li>Développé par Google pour Chrome en 2008,</li>
      <li>Compilateur JavaScript <em>Just In Time</em>,</li>
      <li>Écrit en C++ / JavaScript.</li>
    </ul>
    <div class="fig text-center">
      <img src="/images/lessons/web/nodejs_2.png" alt="V8" width="12%" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Boucle événementielle</h4>
    <p>
      L'efficacité de Node.js repose sur sa gestion de la
      boucle événementielle (<em>event loop</em>) :
    </p>
    <ul>
      <li><em>Mono-thread</em>,</li>
      <li>Non-bloquant (asynchrone),</li>
      <li>
        Utilise la bibliothèque
        <a href="https://github.com/libuv/libuv">libuv</a>.
      </li>
    </ul>
    <div class="fig text-center">
      <img src="/images/lessons/web/nodejs_7.png" alt="libuv" width="38%" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Modèle non-bloquant</h4>
    <p>Code d'un modèle bloquant (synchrone) :</p>
    <pre><code class="sh">Télécharger un fichier
Afficher le fichier
Faire autre chose</code></pre>
    <p>Code d'un modèle non-bloquant (asynchrone) :</p>
    <pre><code class="sh">Télécharger un fichier
|   Une fois téléchargé, afficher ce fichier
Faire autre chose</code></pre>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_3.png" alt="V8" class="img-fluid"/>
    </div>
    <p style="text-align:right">
      <small>Source :
        <a href="https://www.codeheroes.fr/index.php/2017/10/05/demystifions-boucle-devenement-event-loop-de-node-js/">CodeHeroes</a>
      </small>
    </p>
  </section>
  <section>
    <h4>En pratique</h4>
    <p>Utilisation des fonctions de <em>callback</em> :</p>
    <pre><code class="js">function mycallback() {
  console.log('Fichier téléchargé !');
};

request('monfichier.zip', mycallback);

console.log('Faire autre chose...');</code></pre>
    <p class="tip">
      Depuis ES6, utilisation des
      <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Promise">promesses</a>.
    </p>
  </section>
  <!-- <section>
    <p>Utilisation de <em>promesses</em> (ES6) :</p>
    <pre><code class="js">function foo() {
  const promise = new Promise(function(resolve, reject) {
    // ...
    resolve('Terminé !');
  });
  return promise;
}

async function bar() {
  const result = await foo();
  console.log(result); // Terminé !
}

bar();
console.log('Faire autre chose...');
</code></pre>
  </section> -->
</section>

<!-- Première application -->
<section>
  <section>
    <h3>Première application</h3>
    <h4>Hello world</h4>
    <p>Code JavaScript d'un serveur minimal :</p>
    <pre><code class="js">const http = require('http');

http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/html'});
  res.end('Hello World!');
}).listen(8080);</code></pre>
  </section>
  <section>
    <p>Exécution de l'application avec :</p>
    <pre><code class="sh">node helloworld.js</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_1.gif" alt="Hello world" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      <p>Node.js est un environnement bas niveau. Nous avons dû définir :</p>
      <ul>
        <li>L'entête de la réponse avec <code>.writeHead()</code>,</li>
        <li>Le code de retour <code>200</code>,</li>
        <li>Le type du contenu répondu <code>'text/html'</code>,</li>
        <li>Le contenu lui-même <code>'Hello world !'</code>,</li>
        <li>Le port <code>8080</code>.</li>
      </ul>
  </section>
</section>

<!-- Modules -->
<section>
  <section>
    <h3>Modules</h3>
    <h4>Présentation</h4>
    <p>Le noyau de Node.js :</p>
    <ul>
      <li>De base, ne fait pas grand chose,</li>
      <li>Est modulaire.</li>
    </ul>
    <div class="tip ">
      Dans l'exemple précédent, nous avons requis le module <code>http</code>.
      <pre><code class="js">const http = require('http');</code></pre>
    </div>
  </section>
  <section>
    <h4>Créer un module</h4>
    <p>
      Il est possible d'implémenter des fonctionnalités et de les exporter dans
      un module avec le mot-clé <code>exports</code>.
    </p>
    <p>
      Par exemple, dans un module <code>hello.js</code> :
    </p>
    <pre><code class="js">exports.sayHello = function() {
  return 'Hello module !';
};</code></pre>
  </section>
  <section>
    <p>Puis, dans l'application <code>helloword.js</code> :</p>
    <pre><code class="js">const http = require('http');
const hello = require('hello');

http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/html'});
  res.end(hello.sayHello());
}).listen(8080);</code></pre>
    <div class="tip">
      L'extension <code>.js</code> du module est implicite.
    </div>
  </section>
  <section>
    <h4>npm</h4>
    <p>
      <em>Node.js Package Manager</em>
      (<a href="https://www.npmjs.com/">npm</a>) :
    </p>
    <ul>
      <li>Gestionnaire de paquets officiel de Node.js,</li>
      <li>Permet de rechercher, installer, distribuer des modules,</li>
      <li>Gère les dépendances des projets.</li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_4.png" alt="npm" width="30%" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Express -->
<section>
  <section>
    <h3>Express</h3>
    <h4>Présentation</h4>
    <p>Le framework <em>Express</em> :</p>
    <ul>
      <li>Module plébiscité pour la création d'applications Node.js,</li>
      <li>Gestion des <a href="#routes">routes</a> de l'application,</li>
      <li>Gestion des <a href="#vues">templates</a>,</li>
      <li>Gestion des <em>middlewares</em>.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Express demeure toutefois un framework bas niveau, incomparable avec
      <em>Symfony</em> (PHP) ou <em>Django</em> (Python).
    </div>
  </section>
  <section>
    <h4>Générateur</h4>
    <p>Pour générer une application Express :</p>
    <pre><code class="sh">npm install express-generator
node nodes_modules/express-generator/bin/express-cli.js \
  --view=ejs .</code></pre>
    <p>Pour installer les dépendances et démarrer l'application :</p>
    <pre><code class="sh">npm install
npm start</code></pre>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_2.gif" alt="Express generator" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Aborescence générée</h4>
    <p>
      Express génère une arborescence de répertoires similaire à la suivante :
    </p>
    <pre><code class="plaintext">express/
├── app.js
├── package.json
├── bin/
├── public/
│   ├── images/
│   ├── javascripts/
│   └── stylesheets/
├── routes/
└── views/</code></pre>
  </section>
  <section>
    <p>Ces fichiers et répertoires correspondent à :</p>
    <ul>
      <li><code>bin</code> : le point d'entrée de l'application Node.js,</li>
      <li><code>app.js</code> : la configuration de l'application Express,</li>
      <li>
        <code>public</code> : les fichiers statiques servis par
        l'application,
      </li>
      <li>
        <code>routes</code> : les <a href="#routes">routes</a> de l'application,
      </li>
      <li>
        <code>views</code> : les <a href="#vues">vues</a> de l'application.
      </li>
    </ul>
  </section>
  <section>
    <h4>Fichier <code>package.json</code></h4>
    <p>
      Le fichier <code>package.json</code> définit une application Node.js
      par :
    </p>
    <ul>
      <li>Son nom,</li>
      <li>Son numéro de version,</li>
      <li>Ses scripts d'exécutions,</li>
      <li>Ses dépendances...</li>
    </ul>
  </section>
  <section>
    <pre><code class="json">{
  "name": "my-app",
  "version": "0.0.1",
  "scripts": {
    "start": "node ./bin/www"
  },
  "dependencies": {
    "ejs": "~2.5.7",
    "express": "~4.16.0",
    ...
  }
}</code></pre>
    <div class="tip">
      Ce fichier est analysé lors de l'appel aux commandes <code>npm</code>.
    </div>
  </section>
</section>

<!-- Architecture MVC -->
<section>
  <section>
    <h3>Architecture MVC</h3>
    <h4>Modèle Vue Contrôleur</h4>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_5.png" alt="MVC" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Analogie avec Node.js</h4>
    <p>De façon générale, dans le cadre de ce cours :</p>
    <ul>
      <li>Contrôleurs &harr; <a href="#routes">Routes</a> Express</li>
      <li>Vues &harr; <a href="#vues">Templates</a> EJS</li>
      <li>Modèle &harr; Base de données <a href="#bdd">SQLite</a>.</li>
    </ul>
  </section>
</section>

<!-- Routes -->
<section>
  <section id="routes">
    <h3>Routes</h3>
    <h4>Définition</h4>
    <p>
      Une route définit comment l'application doit répondre à une URL,
      selon une méthode de requête HTTP.
    </p>
    <p>Dans Express, principalement :</p>
    <ul>
      <li><code>get</code> : réponse à une requête <code>GET</code> (<em>e.g.</em> URL),</li>
      <li><code>post</code> : réponse à une requête <code>POST</code> (<em>e.g.</em> formulaire).</li>
    </ul>
  </section>
  <section>
    <h4>Implémentation</h4>
    <p>Une route Express associe :</p>
    <ul>
      <li>Une méthode HTTP,</li>
      <li>Une URL,</li>
      <li>
        Une fonction de callback (&asymp; contrôleur dans l'architecture
        MVC).
      </li>
    </ul>
  </section>
  <section>
    <h4>Routes en mode <code>get</code></h4>
    <pre><code class="js">router.get('/', function(req, res) {
  res.send('Page d\'accueil');
});

router.get('/boutique', function(req, res) {
  res.send('Page boutique');
});</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_3.gif" alt="Routes" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      La méthode <code>get</code> est non-bloquante (asynchrone).
    </div>
  </section>
  <section>
    <h4>Paramètres <code>req</code> et <code>res</code></h4>
    <p>La fonction de callback utilise deux objets en paramètre :</p>
    <ul>
      <li>
        <code>req</code> : contient des données relatives à la requête,
      </li>
      <li><code>res</code> : est utilisé pour fournir une réponse.</li>
    </ul>
  </section>
  <section>
    <h4>Routes dynamiques</h4>
    <p>
      Il est possible de définir des routes dont certaines portions peuvent
      varier.
    </p>
    <pre><code class="js">router.get('/article/:numero', function(req, res) {
  res.send(`Article numero ${req.params.numero}`);
});</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_4.gif" alt="Routes dynamiques" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      La variable <code>req.params.numero</code> contient la valeur de la
      portion de la route correspondante à <code>:numero</code>.
    </div>
  </section>
  <section>
    <h4>Routes en mode <code>post</code></h4>
    <pre><code class="html">&lt;form method="post" action="/connexion"&gt;
  &lt;input name="pseudo" type="text" /&gt;
  &lt;input type="submit" /&gt;
&lt;/form&gt;</code></pre>
    <pre><code class="js">router.post('/connexion', function(req, res) {
  res.send(`Bonjour ${req.body.pseudo} !`);
});</code></pre>
    <div class="fig">
      <img src="/images/lessons/web/nodejs_5.gif" alt="Routes post" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      La valeur de <code>req.body.nom_du_parametre</code> correspond à la valeur
      contenue par le champ avec l'attribut <code>name="nom_du_parametre"</code>.
    </div>
  </section>
</section>

<!-- Vues -->
<section id="vues">
  <section>
    <h3>Vues</h3>
    <h4>Problèmatique</h4>
    <p>
      Jusqu'à présent, les routes ne répondent qu'avec du texte brut.
    </p>
    <pre><code class="js">res.send('&lt;!DOCTYPE html&gt;'+
'&lt;html&gt;'+
'    &lt;head&gt;'+
'        &lt;meta charset="utf-8" /&gt;'+
'    &lt;/head&gt;'+
'    &lt;body&gt; ... &lt;/body&gt;'+
'&lt;/html&gt;');</code></pre>
  </section>
  <section>
    <div class="warn">Le code devient difficile à maintenir !</div>
  </section>
  <section>
    <h4>EJS</h4>
    <p>Le moteur de template <em>Embedded JavaScript</em> (EJS) :</p>
    <ul>
      <li>Produit du code HTML (<em>rendu</em>),</li>
      <li>Utilise des balises prédéfinies,</li>
      <li>Correspond à la partie vue de l'architecture MVC.</li>
    </ul>
  </section>
  <section>
    <h4>Exemple simple</h4>
    <p>Réponse avec un rendu EJS...</p>
    <pre><code class="js">router.get('/', function(req, res) {
  res.render('accueil.ejs');
});</code></pre>
    <p>... selon la vue <code>views/accueil.ejs</code> :</p>
    <pre><code class="ejs">&lt;html&gt;
  &lt;body&gt;
    &lt;h1&gt;Accueil&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
  </section>
  <section>
    <h4>Balises EJS</h4>
    <p>Parmi les plus utilisées :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>&lt;%</code></td>
          <td>Code JavaScript embarqué, pas d'<em>output</em></td>
        </tr>
        <tr>
          <td><code>&lt;%=</code></td>
          <td>Output d'une valeur (échappée)</td>
        </tr>
        <tr>
          <td><code>&lt;%-</code></td>
          <td>Output d'une valeur (non-échappée)</td>
        </tr>
        <tr>
          <td><code>%&gt;</code></td>
          <td>Balise fermante</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Code JavaScript embarqué</h4>
    <p>Production de code HTML selon des instructions JavaScript.</p>
    <pre><code class="ejs">&lt;ul&gt;
  &lt;% for (let i=0; i&lt;3; i++) { %&gt;
    &lt;li&gt;Pop !&lt;/li&gt;
  &lt;% } %&gt;
&lt;/ul&gt;</code></pre>
    <div class="fig">
      <ul>
        <li>Pop !</li>
        <li>Pop !</li>
        <li>Pop !</li>
      </ul>
    </div>
  </section>
  <section>
    <h4>Inclusion</h4>
    <p>
      Inclusion d'une vue EJS avec la fonction <code>include</code>.
    </p>
    <pre><code class="ejs">&lt;html&gt;
  &lt;body&gt;
    &lt;%- include('nav.ejs') %&gt;
    &lt;h1&gt;Mon template EJS&lt;/h1&gt;
    &lt;%- include('footer.ejs') %&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
    <p class="tip">Notez l'emploi de la balise <code>&lt;%-</code>.</p>
  </section>
  <section>
    <h4>Template paramétré</h4>
    <p>Passage d'un objet lors du rendu :</p>
    <pre><code class="js">res.render('hello.ejs', { firstname: 'John', age: 42 });</code></pre>
    <p>Puis, dans la vue <code>hello.ejs</code> :</p>
    <pre><code class="ejs">&lt;p&gt;I'm &lt;%= firstname %&gt; and I'm &lt;%= age %&gt;&lt;/p&gt;.</code></pre>
    <div class="fig">
      <p class="mt-0">
        I'm John and I'm 42.
      </p>
    </div>
  </section>
</section>

<!-- sqlite -->
<section id="bdd">
  <section>
    <h3>SQLite</h3>
    <h4>Présentation</h4>
    <p>La partie <em>modèle</em> de l'architecture MVC :</p>
    <ul>
      <li>Moteur de bases de données relationnelles,</li>
      <li>Directement intégré aux programmes,</li>
      <li>Module npm <code>better-sqlite3</code>.</li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/web/nodejs_6.png" alt="SQLite" class="img-fluid"/>
    </div>
    <div class="tip">
      La base de données est stockée dans un fichier indépendant de la
      plateforme.
    </div>
  </section>
  <section>
    <h4>Connexion</h4>
    <p>Connexion à la base de données SQLite :</p>
    <pre><code class="js">const sqlite = require('better-sqlite3');

const db = new sqlite('mydatabase.db');</code></pre>
  </section>
  <section>
    <h4>Requêtes préparées</h4>
    <p>
      Avant d'être exécutée, une requête doit être préparée avec la méthode
      <code>prepare</code>.
    </p>
    <p>Par exemple :</p>
    <pre><code class="js">const sql = 'CREATE TABLE fruits (nom TEXT, prix REAL)');

const req = db.prepare(sql);</code></pre>
  </section>
  <section>
    <h4>Insertion, suppression, mise à jour</h4>
    <p>Pour les requêtes qui ne retournent pas de données :</p>
    <pre><code class="js">run([params])</code></pre>
    <p>Exemples :</p>
    <pre><code class="js">const sql1 = 'CREATE TABLE fruits(nom TEXT, prix REAL)';
const req1 = db.prepare(sql1);
req1.run();

const sql2 = 'INSERT INTO fruits (nom, prix) VALUES ("Ananas", 13.37)';
db.prepare(sql2).run();</code></pre>
  </section>
  <section>
    <h4>Sélection</h4>
    <p>Résultats d'une sélection avec la méthode <code>all</code>:</p>
    <pre><code class="js">all([params])</code></pre>
    <p>Exemple :</p>
    <pre><code class="js">const sql = 'SELECT nom FROM fruits';
const results = db.prepare(sql).all();

results.forEach( row =&gt; {
  console.log(row.nom);
});</code></pre>
  </section>
  <section>
    <div class="tip">
      Il est possible de récupérer uniquement le premier résultat de la requête
      avec la méthode <code>get([params])</code>.
    </div>
  </section>
  <section>
    <h4>Requêtes paramétrées</h4>
    <p>
      Les portions variables d'une requête sont identifiées par le symbole
      <code>?</code> (point d'interrogation) :
    </p>
    <pre><code class="js">const sql = 'SELECT nom FROM fruits
             WHERE prix &lt; ?';

const results = db.prepare(sql).all(20.0);
</code></pre>
  </section>
  <section>
    <h4>Déconnexion</h4>
    <p>Pour terminer la connexion avec la base de données :</p>
    <pre><code class="js">db.close();</code></pre>
    <div class="tip">
      La méthode <code>close</code> attend que les requêtes soient complétées
      avant de fermer la connexion.
    </div>
  </section>
</section>
