<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre le développement de contenu à l’aide
      du langage HTML et la mise en forme de pages web avec le langage CSS. Ce
      premier TP est une introduction à l’application que nous allons développer
      tout au long du module. Cette application est une version simplifiée d’un
      site d’e-commerce.
    </p>
  </section>
  <section>
    <h4>Aperçus</h4>
    <div class="fig" style="max-height:350px; overflow-y: auto; background: #eee; padding-top:0; padding-bottom: 0;">
      <img src="/images/lessons/web/tp1_1.png" alt="Page d'accueil" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="fig" style="max-height:350px; overflow-y: auto; background: #eee; padding-top:0; padding-bottom: 0;">
      <img src="/images/lessons/web/tp1_2.png" alt="Page d'achat" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Un navigateur web de votre choix.</li>
      <li>Un éditeur de texte de votre choix.</li>
      <li>Les fichiers sources pour débuter le TP.</li>
    </ul>
    <p>Les fichiers fournis respectent l'arborescence suivante.</p>
    <pre><code class="plaintext">TP1/
├─ html/
│  ├─ produit.html
│  └─ acheter.html
├─ img/
│  └─ produit_newyork_1.jpeg
└─ css/
   └─ styles.css</code></pre>
  </section>
  <section>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<section>
  <section>
    <h3>Structures HTML</h3>
    <p>
      Dans un premier temps, nous allons structurer le contenu des fichiers
      <code>TP1/html/produit.html</code> et <code>TP1/html/acheter.html</code>
      avec le langage HTML pour obtenir les résultats suivants.
    </p>
  </section>
  <section>
    <h4>Page produit</h4>
    <div class="fig" style="max-height:350px; overflow-y: auto">
      <img src="/images/lessons/web/tp1_3.png" alt="Structure HTML de la page produit" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Page d'achat</h4>
    <div class="fig" style="max-height:350px; overflow-y: auto">
      <img src="/images/lessons/web/tp1_4.png" alt="Structure HTML de la page d'achat" class="img-fluid"/>
    </div>
  </section>
</section>

<section>
  <h3>Question 1</h3>
  <div class="warn">
    N'oubliez pas de télécharger les
    <a href="/downloads/web/tp1.zip">fichiers sources</a>
    pour obtenir la base de travail.
  </div>
  <p>
    Implémenter la section <code>head</code>. Définir l'encodage des caractères
    et le titre de la page à <em>"LEGO Webstore"</em>.<br/>
    Englober le contenu du site dans une balise <code>body</code>.
  </p>
  <p class="tip">
    Les accents et autres caractères spéciaux devraient maintenant s'afficher
    correctement.
  </p>
</section>

<section>
  <h3>Question 2</h3>
  <p>
    Structurer les titres selon 3 niveaux :
    <ul>
      <li>titre principal,</li>
      <li>titre pour le nom du produit,</li>
      <li>et titres pour les descriptions du produit.</li>
    </ul>
  </p>
</section>

<section>
  <h3>Question 3</h3>
  <p>
    Sous le titre principal, construire un <em>menu</em> contenant la liste des
    liens vers les différentes pages du site. Séparer ce menu par 2 lignes
    horizontales (utilisez la balise <code>hr</code>).
  </p>
  <p class="tip">
    Pensez à utiliser la balise structurante correspondante pour le menu.
  </p>
</section>

<section>
  <h3>Question 4</h3>
  <p>
    Structurer les différents textes en paragraphes. Ajouter une image du
    produit (utilisez l’image suivante :
    <code>TP1/img/produit_newyork_1.jpeg</code>).
  </p>
</section>

<section>
  <h3>Question 5</h3>
  <p>
    Afficher les spécificités du produit sous forme de liste non-ordonnées
    (liste à puces).
  </p>
</section>

<section>
  <h3>Question 6</h3>
  <p>
    Construire le tableau des caractéristiques du produit selon le modèle
    suivant.
  </p>
  <div class="fig text-center">
    <img src="/images/lessons/web/tp1_5.png" alt="Modèle du tableau" class="img-fluid"/>
  </div>
</section>

<section>
  <h3>Question 7</h3>
  <p>
    Structurer le pied-de-page. Séparer ce pied-de-page par une ligne
    horizontale. Un clic sur le lien <em>Retour en haut de page</em> devra
    renvoyer en haut de la page.
  </p>
  <p class="tip">
    Pensez à utiliser la balise structurante correspondante pour le pied-de-page.
  </p>
</section>

<section>
  <h3>Question 8</h3>
  <p>
    Ajouter des liens vers des pages web externes. Cliquer sur <em>New York</em>
    devra renvoyer vers la page Wikipedia de New York. Cliquer sur <em>Site
    officiel LEGO</em> renverra vers l’<a href="https://shop.lego.com/fr-FR/" target="_blank">
    adresse suivante</a>. Ces pages externes devront s’ouvrir dans un nouvel
    onglet.
  </p>
  <p class="tip">
    Pour ouvrir un lien dans un nouvel onglet, utilisez l’attribut
    <code>target="_blank"</code> de la balise <code>a</code>.
  </p>
</section>

<section>
  <h3>Question 9</h3>
  <p>
    Développer la page <code>TP1/html/acheter.html</code>. Réutiliser le titre
    principal, le menu et le pied de page de la page produit. Utiliser plusieurs
    niveaux de titre pour les différentes rubriques.
  </p>
</section>

<section>
  <section>
    <h3>Question 10</h3>
    <p>
      Structurer le formulaire d’achat.<br/>
      Le choix de la civilité est défini par deux boutons radio. Le nom et prénom
      sont des champs de type <code>text</code>. Le mail est un champ de type
      <code>mail</code>. On doit pouvoir sélectionner la quantité à commander dans
      une liste déroulante. On renseigne l’adresse de livraison dans une zone de
      texte. On certifie la commande en cochant une boîte. Enfin, on confirme la
      commande avec un bouton d’envoi.
    </p>
  </section>

  <section>
    <p class="tip">
      Il s’agit ici de développer uniquement les éléments constituant le
      formulaire ; rien n’est envoyé au serveur.
    </p>
  </section>
</section>

<section>
  <h3>Question 11</h3>
  <p>
    Lier la feuille de styles <code>TP1/css/styles.css</code> à la page produit
    précédemment développée.
  </p>
</section>

<section>
  <h3>Question 12</h3>
  <p>
    Mettre la couleur du fond de la page en <code>#eeeeee</code>. Centrer le
    contenu dans un cadre à fond blanc et de largeur <code>600px</code>. Ajouter
    une marge interne de <code>32px</code> à ce cadre.
  </p>
  <p class="tip">
    Utilisez la propriété <code>margin: auto;</code> pour centrer
    horizontalement un bloc HTML.
  </p>
</section>

<section>
  <h3>Question 13</h3>
  <p>
    Utiliser une police d’écriture sans-serif pour la page entière. Justifier
    les paragraphes. Afficher tous les mots <em>LEGO</em> en couleur
    <code>#007bff</code> et en italique (pensez à modifier la structure HTML
    pour appliquer ces styles).
  </p>
</section>

<section>
  <h3>Question 14</h3>
  <p>
    Afficher tous les liens en couleur <code>#007bff</code>, en gras, et non
    soulignés. Souligner les liens quand on les survole avec le curseur de la
    souris.
  </p>
  <p class="tip">
    Utilisez la pseudo-classe d'état <code>:hover</code> pour modifier un style
    lorsque le curseur de la souris survole un élément.
  </p>
</section>

<section>
  <h3>Question 15</h3>
  <p>
    Dans la partie <em>Spécificités</em>, réduire la taille de la police de la
    source à <code>12px</code>, puis l’aligner à droite.
  </p>
</section>

<section>
  <h3>Question 16</h3>
  <p>
    Fusionner les bordures du tableau (propriété <code>border-collapse:
    collapse</code>). Fixer la largeur des bordures externes et de la bordure
    sous les en-têtes à <code>3px</code>. Fixer la largeur de toutes les autres
    bordures à <code>1px</code>. Ajouter une marge interne aux cellules du
    tableau. Enfin, centrer le texte à l’intérieur des cellules.
  </p>
  <div class="fig text-center">
    <img src="/images/lessons/web/tp1_6.png" alt="Style du tableau" class="img-fluid"/>
  </div>
</section>

<section>
  <h3>Question 17</h3>
  <p>
    Centrer l’image du produit, ainsi que sa légende.
  </p>
</section>

<section>
  <h3>Question 18</h3>
  <p>
    Lier la feuille de styles <code>TP1/css/styles.css</code> précédemment
    développée à la page d’achat.
  </p>
  <p>
    Modifier uniquement la structure HTML de la page d’achat si nécessaire
    jusqu’à l’obtention du résultat attendu (vous ne devriez normalement plus
    avoir besoin de modifier les styles CSS).
  </p>
</section>

<section>
  <section>
    <h3>Pour aller plus loin...</h3>
    <h4>Validation W3C</h4>
    <p>
      Valider les pages <code>produit.html</code> et <code>acheter.html</code>
      à l'aide du <a href="https://validator.w3.org/#validate_by_input">validateur W3</a>.
    </p>
    <p>Corriger les erreurs s'il y en a, jusqu'à ce que les documents HTML soient valides.</p>
  </section>
  <section>
    <h4>Page contact</h4>
    <p>
      Développer une page <code>contact.html</code>, selon la maquette suivante.
    </p>
    <div class="fig" style="max-height:350px; overflow-y: auto; background: #eee; padding-top: 0; padding-bottom: 0;">
      <img src="/images/lessons/web/tp1_7.png" alt="Page contact" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>
      Cette page doit afficher l'adresse du magasin, ainsi que sa localisation
      sur <a href="https://www.google.com/maps">Google Maps</a>.
    </p>
  </section>
  <section>
    <h4>Police d'écriture personnalisée</h4>
    <p>
      Choisir une police d'écriture sur
      <a href="https://fonts.google.com/">Google Fonts</a>.
    </p>
    <p>Appliquer la police choisie à toutes les pages du site.</p>
  </section>
</section>
