<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre l'échange asynchrone de données avec
      des requêtes AJAX. Nous allons développer des fonctionnalités de
      recherche, filtre et tri sur la liste des produits de la boutique.
    </p>
  </section>
  <section id="apercu">
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp10_poster.png" style="display:block">
      <source src="/videos/lessons/web/tp10.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp10_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Les fichiers sources nécessaires pour débuter le TP10.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Question 1 -->
<section>
  <h3>Question 1</h3>
  <p>
    Ajouter les fichiers sources téléchargés dans les répertoires correspondants
    de l'application web <code>lego-webstore</code>.
  </p>
</section>

<!-- Question 2 -->
<section>
  <h3>Question 2</h3>
  <p>
    Dans <code>routes/router.js</code>, ajouter la route suivante :
  </p>
  <pre><code class="js">/* GET products_list_search */
router.get('/produits/s', productsController.products_list_search);</code></pre>
  <p>
    Dans <code>controllers/productsController.js</code>, exporter une fonction
    <code>products_list_search</code>.
  </p>
  <p>
    Pour l'instant, cette fonction doit renvoyer une réponse contenant le texte
    brut <code>"Search"</code>.
  </p>
</section>

<!-- Question 3 -->
<section>
  <h3>Question 3</h3>
  <p>
    Dans <code>partials/products_list.ejs</code>, ajouter le script
    <code>/javascripts/products_list_search.js</code>.
  </p>
  <p>
    Pour l'instant, une requête <code>fetch</code> est effectuée sur la route
    index <code>/</code>. Vérifier la réponse de la requête <code>fetch</code>
    dans la console du navigateur.
  </p>
  <p>
    Dans <code>/javascripts/products_list_search.js</code>, modifier la requête
    fetch pour qu'elle fasse appel à la route <code>/produits/s</code>. Vérifier
    la réponse de la requête dans la console du navigateur.
  </p>
  <div class="tip">
    <p>
      La fonction <code>fetch</code> permet d'effectuer une requête de façon
      asynchrone. Dans le code fourni, la réponse est d'abord convertie au
      format texte avant d'être traitée.
    </p>
    <pre><code class="js">fetch(url)
  .then(function(response) {
    return response.text(); // convert response to text
  })
  .then(function(data) {
    // do something with data (converted to text)
  });</code></pre>
  </div>

</section>

<!-- Question 4 -->
<section>
  <h3>Question 4</h3>
  <p>
    Dans <code>models/productsManager.js</code>, exporter une fonction
    <code>search_products(name)</code>. Cette fonction doit :
  </p>
  <ul>
    <li>
      Préparer une requête SQL pour sélectionner les <code>id</code>, noms,
      images (<code>img0</code>), prix et catégories de tous les produits qui
      contiennent la chaîne <code>name</code> dans leurs noms,
    </li>
    <li>Récupérer tous les résultats de la sélection,</li>
    <li>Fermer la connexion à la base de données,</li>
    <li>Retourner les résultats.</li>
  </ul>
  <div class="tip">
    <p>
      La requête SQL suivante sélectionne le nom des produits qui contiennent la
      chaîne <code>york</code> :
    </p>
    <pre><code class="sql">SELECT name FROM produits WHERE name LIKE "%york%"</code></pre>
  </div>
</section>

<!-- Question 5 -->
<section>
  <h3>Question 5</h3>
  <p>
    La route <code>/produits/s</code> sera utilisée pour chercher, filtrer et
    trier les produits de la boutique. Pour cela, des paramètres
    <code>query</code> seront utilisés.
  </p>
  <p>
    Par exemple, la route <code>/produits/s?name=york</code> devra répondre par les
    produits qui contiennent la chaîne de caractères <code>"york"</code> dans leur
    nom.
  </p>
  <p>
    Dans <code>controllers/productsController.js</code>, modifier la fonction
    <code>products_list_search</code>. Maintenant, cette fonction doit :
  </p>
  <ul>
    <li>
      Récupérer un paramètre <code>name</code> passé dans l'URL,
    </li>
    <li>
      Faire appel à la fonction <code>search_products</code> avec ce paramètre,
    </li>
    <li>
      Effectuer le rendu de la vue <code>partials/products_cards.ejs</code>
      avec les produits ainsi recherchés.
    </li>
  </ul>
</section>

<!-- Question 6 -->
<section>
  <h3>Question 6</h3>
  <p>
    En modifiant <code>partials/products_list.ejs</code> et
    <code>/javascripts/products_list_search.js</code>, écouter l'événement
    <code>onchange</code> pour le champ <em>"Rechercher un produit"</em>.
  </p>
  <p>
    Lorsqu'un utilisateur recherche un produit, la requête <code>fetch</code>
    doit appeler la route <code>/produits/s?name=[xxx]</code>, avec
    <code>[xxx]</code> la valeur contenue dans le champ <em>"Rechercher un
    produit"</em>.
  </p>
  <p>
    Finalement, actualiser l'affichage de la liste des produits avec la méthode
    <code>innerHTML</code>, pour obtenir un résultat similaire à
    l'<a href="#apercu">aperçu</a>.
  </p>
</section>

<!-- Question 7 -->
<section>
  <h3>Question 7</h3>
  <p>
    De la même manière, développer le filtre des produits selon leur catégorie
    lorsqu'un utilisateur coche ou décoche les boîtes correspondantes.
  </p>
  <div class="tip">
    Par exemple, la route suivante doit retourner les produits qui contiennent
    le caractère <em>a</em> dans leur nom et qui appartiennent à la catégorie
    <em>Star Wars</em> :
    <pre><code class="sh">/produits/s?name=a&amp;category="Star Wars"</code></pre>
  </div>
</section>

<!-- Question 8 -->
<section>
  <h3>Question 8</h3>
  <p>
    De la même manière, développer le tri des produits selon l'ordre croissant
    ou décroissant de leur prix lorsqu'un utilisateur coche le bouton radio
    correspondant.
  </p>
  <div class="tip">
    Par exemple, la route suivante doit retourner les produits qui contiennent
    le caractère <em>a</em> dans leur nom et qui appartiennent à la catégorie
    <em>Star Wars</em>, triés par ordre décroissant de leur prix :
    <pre><code class="sh">/produits/s?name=a&amp;category="Star Wars"&amp;sort=desc</code></pre>
  </div>
</section>
