<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      Nous allons créer une application de chat basique avec Node.js et
      <a href="https://socket.io/">socket.io</a>. Ce TP s'inspire fortement
      de ce <a href="https://socket.io/get-started/chat/">tutoriel</a>.
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Les fichiers sources nécessaires pour débuter le TP11.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
        Installer et démarrer l'application Node.js avec les commandes
        suivantes.
    </p>
    <pre><code class="sh">cd node-chat/
npm install
npm run devstart</code></pre>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
        Dans un navigateur, accéder à l'URL <code>localhost:3000</code>.
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp11_1.png" alt="UI" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
        Ce TP est volontairement moins guidé que les TPs précédents.
        N'hésitez pas à demander de l'aide à l'enseignant si vous recontrez
        des difficultés.
    </div>
  </section>
</section>

<!-- Intégration -->
<section>
    <section>
        <h3>Intégration de socket.io</h3>
        <h4>En bref</h4>
        <p>Socket.IO est composé de deux parties :</p>
        <ul>
            <li>La partie serveur (Node.js),</li>
            <li>La partie client (navigateur).</li>
        </ul>
    </section>
    <section>
        <h4>Partie serveur</h4>
        <p>
            La configuration de la partie serveur s'effectue dans le script
            <code>/io/conf.js</code>. Dans ce fichier, gérer la connection
            d'un utilisateur avec le code suivant.
        </p>
        <pre><code class="js">module.exports = function(server) {
  // init socket.io server
  const io = socketio(server);
  // listen for connections
  io.on('connection', function(socket) {
    console.log('Un utilisateur se connecte');
  });
};</code></pre>
    </section>
    <section>
        <div class="tip">
            Le serveur de socket écoute l'événement <code>connection</code> et écrit
            un message dans la console lorsqu'un utilisateur se connecte.
        </div>
    </section>
    <section>
        <h4>Partie client</h4>
        <p>
            La configuration de la partie client s'effectue dans le script
            <code>/public/chat.js</code>. Dans ce fichier, ajouter la ligne
            suivante.
        </p>
        <pre><code class="js">const socket = io();</code></pre>
        <div class="tip">
            Le client se connecte au serveur de sockets avec l'instruction
            <code>io()</code>. Cette connexion est stockée dans la variable
            <code>socket</code>.
        </div>
    </section>
    <section>
        <h4>Browsing</h4>
        <p>
            Tester la connexion du client et l'affichage du log dans la console en
            actualisant le navigateur (<code>F5</code>).
        </p>
        <video controls>
          <source src="/videos/lessons/web/tp11_1.mp4" type="video/mp4">
          <p class="text-center">
            Aperçu vidéo.
          </p>
        </video>
    </section>
</section>

<!-- Événements -->
<section>
    <section>
        <h3>Événements</h3>
        <h4>Déconnexion</h4>
        <p>
            Chaque socket émet un événement <code>disconnect</code> lorsqu'un
            utilisateur se déconnecte. Modifier l'implémentation de
            <code>/io/conf.js</code> pour écouter cet événement.
        </p>
    </section>
    <section>
        <pre><code class="js">io.on('connection', function(socket) {
  console.log('Un utilisateur se connecte');

  socket.on('disconnect', function() {
    console.log('Un utilisateur se deconnecte');
  });
});</code></pre>
    </section>
    <section>
        <p>
            Tester la déconnexion du client et l'affichage du log dans la console en
            actualisant le navigateur (<code>F5</code>).
        </p>
        <p class="fig">
          <img src="/images/lessons/web/tp11_2.png" alt="Deconnexion" class="img-fluid"/>
        </p>
    </section>
    <section>
        <h4>Émettre des événements</h4>
        <p>
            La fonctionnalité principale de socket.io réside dans l'envoi et la
            réception de toutes sortes d'événements et de données (binaires ou
            pouvant être encodées en JSON).
        </p>
        <p>
            Dans <code>/public/chat.js</code>, définir un événement <code>chat
            message</code> qui est émis lorsqu'un utilisateur envoie un message dans
            le chat.
        </p>
    </section>
    <section>
        <pre><code class="js">const socket = io();

send.onsubmit = function(event) {
  // prevent page reloading
  event.preventDefault();
  // emit "chat message" event
  // and pass an object with the message
  socket.emit('chat message', { msg: message.value });
  // reset input
  message.value = '';
};</code></pre>
    </section>
    <section>
        <p>
            Puis dans <code>/io/conf.js</code>, écouter l'événement <code>chat
            message</code> et afficher le message reçu dans la console .
        </p>
        <pre><code class="js">io.on('connection', function(socket) {
  console.log('Un utilisateur se connecte');

  socket.on('disconnect', function() {
    console.log('Un utilisateur se deconnecte');
  });

  socket.on('chat message', function(data) {
    console.log(`chat message: ${data.msg}`);
  });
});</code></pre>
    </section>
    <section>
        <video controls>
          <source src="/videos/lessons/web/tp11_2.mp4" type="video/mp4">
          <p class="text-center">
            Aperçu vidéo.
          </p>
        </video>
    </section>
    <section>
        <h4>Broadcast</h4>
        <p>
            Maintenant, il suffit d'envoyer un événement depuis le serveur à tous
            les autres utilisateurs connectés. Pour envoyer un événement à tout le
            monde, socket.io utilise la méthode <code>io.emit</code>.
        </p>
        <pre><code class="js">io.emit('some event', { for: 'everyone' });</code></pre>
        <p>
            Pour envoyer un événement à tout le monde sauf à l'utilisateur qui a
            déclenché l'événement, socket.io utilise la méthode
            <code>socket.broadcast</code>.
        </p>
        <pre><code class="js">socket.broadcast.emit('some event');</code></pre>
    </section>
    <section>
        <p>
            Pour des raisons de simplicité, envoyer l'événement à tous
            les utilisateurs, y compris à l'utilisateur qui a envoyé le message
            (dans <code>/io/conf.js</code>).
        </p>
        <pre><code class="js">socket.on('chat message', function(data) {
  io.emit('chat message', data);
});</code></pre>
    </section>
    <section>
        <p>
            Capturer l'événement du côté client (<code>/public/chat.js</code>) et
            afficher le message dans la page.
        </p>
        <pre><code class="js">socket.on('chat message', function(data) {
  // create an &lt;li&gt; element
  const li = document.createElement('li');
  // set innerText with the message
  li.innerText = data.msg;
  // append it to the chat
  chat.appendChild(li);
});</code></pre>
    </section>
    <section>
        <video controls>
          <source src="/videos/lessons/web/tp11_3.mp4" type="video/mp4">
          <p class="text-center">
            Aperçu vidéo.
          </p>
        </video>
    </section>
</section>

<!-- Travail -->
<section>
    <h3>Travail</h3>
    <p>Quelques pistes...</p>
    <ul>
        <li>
            Tester votre chat avec les copains !
        </li>
        <li>
            <em>Broadcaster</em> un événement à tous les utilisateurs quand
            quelqu'un se connecte ou se déconnecte.
        </li>
        <li>
            Ajouter la possibilité d'avoir un pseudo à côté de son message.
        </li>
        <li>
            Ajouter la fonctionnalité
            "<em>{utilisateur} est en train d'écrire...</em>".
        </li>
        <li>
            Afficher qui est en ligne.
        </li>
        <li>
            Ajouter la possibilité d'envoyer des messages privés.
        </li>
    </ul>
</section>
