<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      Nous allons créer un jeu vidéo basique avec le canvas HTML5, Node.js et
      <a href="https://socket.io/">socket.io</a>.
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <p>Téléchargez les fichiers sources nécessaires pour débuter le TP12.</p>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
      Installez et démarrez l'application Node.js avec les commandes
      suivantes.
    </p>
    <pre><code class="sh">cd node-game/
npm install
npm run devstart</code></pre>
  </section>
  <section>
    <div class="tip">
      <p>Si nécessaire, installez une version LTS de Node.js :</p>
      <ul>
        <li>
          Sous Linux ou sur les machines de l'université, suivez <a
          href="/teaching/web/tutonode">ce tutoriel</a>.
        </li>
        <li>
          Sous Windows, téléchargez <a href="https://nodejs.org/fr/">Node.js</a>
          et utilisez un <em>PowerShell</em> (ou <a
          href="https://www.microsoft.com/fr-fr/p/windows-terminal/9n0dx20hk701">Windows
          Terminal</a>) pour démarrer l'application.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
      Dans un navigateur, accédez à l'URL <code>localhost:3000</code>.
    </p>
    <div class="info">
      Vous devriez obtenir un canvas (zone de dessin) vide.
    </div>
  </section>
</section>

<!-- Client -->
<section>
  <section>
    <h3>Client</h3>
    <h4>Résumé</h4>
    <p>
      La page HTML permettant de jouer au jeu est implémentée dans
      <code>/public/index.html</code>.
    </p>
    <p>
      Le jeu est dessiné dans un élement <code>&lt;canvas&gt;</code>.
    </p>
    <p>
      Pour l'instant, le jeu est développé dans <code>/public/game.js</code>.
    </p>
  </section>
  <section>
    <h4>Joueur</h4>
    <p>
      Dans <code>/public/game.js</code>, ajoutez l'implémentation d'un
      joueur. Un joueur (<code>player</code>) est défini par une
      position (<code>x,y</code>), une taille (<code>size</code>), et une
      vitesse (<code>speed</code>).
    </p>
    <pre><code class="js">const player = {
  x: 0,
  y: 0,
  size: 20,
  speed: 5
};</code></pre>
</section>
<section>
  <h4>Canvas</h4>
  <p>
    Le jeu est dessiné dans l'élément <code>canvas</code> de la page
    HTML. Toujours dans <code>/public/game.js</code>, spécifiez le
    contexte de dessin en 2 dimensions.
  </p>
  <pre><code class="js">const ctx = canvas.getContext('2d');</code></pre>
</section>
<section>
  <p>
    Définissez une fonction qui dessine le joueur à sa position
    (<code>x,y</code>) sous la forme d'un carré de taille
    <code>size</code>.
  </p>
  <pre><code class="js">function drawPlayers() {
  const {x, y, size} = player;
  ctx.beginPath();
  ctx.rect(x, y, size, size);
  ctx.fill();
}</code></pre>
</section>
<section>
  <p>
    Définissez la <em>boucle de dessin</em>. Cette fonction sera invoquée en
    boucle par le navigateur, à raison de 60 appels par secondes en moyenne (60
    FPS).
  </p>
</section>
<section>
  <p>
    La boucle de dessin consiste à:
  </p>
  <ol>
    <li>Effacer la zone de dessin,</li>
    <li>Dessiner les joueurs,</li>
    <li>Aller à 1.</li>
  </ol>
  <pre><code class="js">function update() {
  ctx.clearRect(0, 0, canvas.width, canvas.height); // 1.
  drawPlayers();                                    // 2.
  requestAnimationFrame(update);                    // 3.
}
// first call
requestAnimationFrame(update);</code></pre>
</section>
<section>
  <p>
    Un joueur (carré noir) est dessiné dans le canvas, à environ 60FPS.
  </p>
  <div class="demo border rounded p-4 mb-4">
    <div style="border:1px solid grey;height:100px;">
      <div style="width:20px;height:20px;background:black;"></div>
    </div>
  </div>
</section>
<section>
  <h4>Clavier</h4>
  <p>
    Implémentez la gestion du clavier sous la forme d'un objet littéral.
    Lorsqu'une touche est appuyée, elle est référencée dans l'objet.
    Lorsqu'une touche est relachée, elle est supprimée de l'objet.
  </p>
</section>
<section>
  <pre><code class="js">const keyboard = {};

window.onkeydown = function(e) {
  keyboard[e.key] = true;
};

window.onkeyup = function(e) {
  delete keyboard[e.key];
};</code></pre>
    <div class="tip">
      Cette implémentation nous permet de détecter l'appui de plusieurs
      touches simultanément.
    </div>
  </section>
  <section>
    <p>
      Implémentez une fonction qui déplace un joueur en fonction de sa
      vitesse et de la touche directionnelle qui est appuyée.
    </p>
    <pre><code class="js">function movePlayer() {
  if (keyboard['ArrowLeft']) player.x -= player.speed; // left
  if (keyboard['ArrowUp']) player.y -= player.speed; // up
  if (keyboard['ArrowRight']) player.x += player.speed; // right
  if (keyboard['ArrowDown']) player.y += player.speed; // down
}</code></pre>
  </section>
  <section>
    <p>
      Enfin, dans la boucle de dessin, ajoutez l'appel à la fonction
      <code>movePlayer</code>.
    </p>
    <pre><code class="js">function update() {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  movePlayer(); // *
  drawPlayers();
  requestAnimationFrame(update);
}</code></pre>
  </section>
  <section>
    <p>
      Essayez de déplacer le joueur avec les touches fléchées du clavier.
    </p>
    <p class="text-center demo border rounded p-3">
      <img src="/images/lessons/web/tp12.gif" alt="Déplacement" class="img-fluid"/>
    </p>
  </section>
</section>


<!-- Serveur -->
<section>
  <section>
    <h3>Serveur</h3>
    <h4>Résumé</h4>
    <p>
      Pour obtenir un jeu multijoueurs en temps réel, le véritable état du jeu
      doit être implémenté dans le serveur. Autrement dit, il faut admettre que
      le serveur détient la seule et unique vérité quant à la position des
      joueurs, leur vitesse, etc...
    </p>
  </section>
  <section>
    <p>
      Les clients sont informés de l'état du jeu par le serveur, à
      intervalle de temps régulier (le <em>ping</em>). En outre,
      ils informent à leur tour le serveur lorsqu'un événement se
      déclenche (appui sur une touche du clavier, clic de souris, ...).
    </p>
  </section>
  <section>
    <p>
      En résumé, le serveur est le <em>maître du jeu</em> omniscient, un peu
      comme s'il exécutait une version du jeu <em>en console</em>, sans
      affichage. Il connaît le véritable état du jeu. Les clients sont
      continuellement informés de cet état de jeu, et dessinent les changements
      à l'écran.
    </p>
    <div class="tip">
      Parfois, le client pourra tout de même <em>prédire</em> l'état du
      jeu en cas de latence. Pour plus d'informations : cet <a
      href="http://buildnewgames.com/real-time-multiplayer/#some-notes-on-developing-real-time-games">article</a>.
    </div>
  </section>
  <section>
    <h4>État du jeu</h4>
    <p>
      Dans le cadre de ce TP, l'état du jeu est simplement représenté par
      la liste des joueurs connectés, avec leur position, rayon, vitesse
      et couleur (aléatoire).
    </p>
  </section>
  <section>
    <p>
      Dans <code>/io/conf.js</code>, gérez la connexion et la déconnexion
      d'un joueur en modifiant l'état du jeu.
    </p>
    <pre><code class="js">const socketio = require('socket.io');

module.exports = function(server) {
  // io server
  const io = socketio(server);
  
  // game state (players list)
  const players = {};
  
  io.on('connection', function(socket) {
    // register new player
    players[socket.id] = {
      x: 0,
      y: 0,
      size: 20,
      speed: 5,
      c: "#"+((1&lt;&lt;24)*Math.random()|0).toString(16)
    };
    
    // delete disconnected player
    socket.on('disconnect', function() {
      delete players[socket.id];
    });
  });
};</code></pre>
  </section>
  <section>
    <p>
      Puis envoyez l'état du jeu à tous les joueurs connectés, 60 fois par
      secondes (<code>1000/60</code>).
    </p>
    <pre><code class="js">
function update() {
  io.volatile.emit('players list', Object.values(players));
}

setInterval(update, 1000/60);</code></pre>
    <div class="tip">
      Le flag <code>volatile</code> signifie que le paquet de données
      peut être perdu (à cause d'une latence, d'une déconnexion, etc...).
    </div>
  </section>
  <section>
    <h4>Modification du client</h4>
    <p>
      Dans <code>/public/game.js</code>, connectez le client au serveur de
      socket. Puis remplacez l'implémentation du joueur (<code>player</code>)
      par une liste de joueurs (<code>players</code>).
    </p>
  </section>
  <section>
    <pre><code class="js">const socket = io();

// const player = {
//   x: 0,
//   y: 0,
//   size: 20,
//   speed: 5
// };

let players = [];</code></pre>
  </section>
  <section>
    <p>
      Modifiez l'implémentation du dessin des joueurs afin de dessiner la
      liste des joueurs.
    </p>
    <pre><code class="js">function drawPlayers() {
  players.forEach(function({x, y, size, c}) {
    ctx.beginPath();
    ctx.rect(x, y, size, size);
    ctx.fillStyle = c;
    ctx.fill();
  });
}</code></pre>
  </section>
  <section>
    <p>
      Écoutez l'événement <code>players list</code> et mettez à jour la liste
      des joueurs à chaque fois qu'il survient.
    </p>
    <pre><code class="js">socket.on('players list', function(list) {
  players = list;
});</code></pre>
    <div class="tip">
      Testez la connexion / déconnexion d'un joueur : vous devriez obtenir
      un carré de couleur différente à chaque nouvelle connexion.
    </div>
  </section>
  <section>
    <p>
      Enfin, modifiez le déplacement du client. Désormais, il ne modifie
      plus directement sa position, mais informe le serveur qu'un
      mouvement doit se produire.
    </p>
    <pre><code class="js">function movePlayer() {
  if (keyboard['ArrowLeft']) socket.emit('move left');
  if (keyboard['ArrowUp']) socket.emit('move up');
  if (keyboard['ArrowRight']) socket.emit('move right');
  if (keyboard['ArrowDown']) socket.emit('move down');
}</code></pre>
  </section>
  <section>
    <h4>Mise à jour de l'état du jeu</h4>
    <p>
      Dans <code>/io/conf.js</code>, mettez à jour l'état du jeu lorsqu'un
      joueur se déplace.
    </p>
    <pre><code class="js">io.on('connection', function(socket) {
  //...
  socket.on('move left',  function() { players[socket.id].x -= players[socket.id].speed; });
  socket.on('move up',    function() { players[socket.id].y -= players[socket.id].speed; });
  socket.on('move right', function() { players[socket.id].x += players[socket.id].speed; });
  socket.on('move down',  function() { players[socket.id].y += players[socket.id].speed; });
});</code></pre>
  </section>
</section>

<!-- Démo -->
<section>
  <h3>Démo</h3>
  <p>Le jeu est maintenant jouable en multijoueur et en temps-réel.</p>
  <video controls>
    <source src="/videos/lessons/web/tp12.mp4" type="video/mp4">
    <p class="text-center">
      Aperçu vidéo.
    </p>
  </video>
</section>
  
<!-- Travail -->
<section>
  <section>
    <h3>Travail</h3>
    <p>Quelques pistes...</p>
    <ul>
      <li>
        Testez votre jeu avec les copains !
      </li>
      <li>
        Empêchez les joueurs de se déplacer hors de la carte.
      </li>
      <li>
        Ajoutez la possibilité d'avoir un pseudo au dessus de son joueur.
      </li>
      <li>
        Ajoutez des obstacles infranchissables.
      </li>
      <li>
        Les joueurs peuvent ramasser des <em>bonus</em> (vitesse,
        changement de taille, ...).
      </li>
    </ul>
  </section>
  <section>
    <p>Libre à vous d'ajouter un aspect compétitif...</p>
    <ul>
      <li>
        Une course ?
      </li>
      <li>
        Un joueur peut manger un autre joueur plus petit que lui ?
      </li>
      <li>
        Les joueurs peuvent tirer des projectiles pour éliminer d'autres
        joueurs ?
      </li>
    </ul>
    <p>À vous de jouer !</p>
  </section>
</section>
