<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre la mise en page du contenu avec
      <em>Bootstrap</em>. Ce deuxième travail reprend l’idée de la page produit
      développée au TP précédent, et l’améliore avec une mise en page plus
      aboutie. À partir de maintenant, toutes les pages développées seront
      intégrées au projet final (une application simplifiée d’e-commerce).
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp2_poster.png">
      <source src="/videos/lessons/web/tp2.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp2_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>
        La documentation Bootstrap, notamment les rubriques <a
        href="https://getbootstrap.com/docs/4.1/layout/">Layout</a>, <a
        href="https://getbootstrap.com/docs/4.1/content/">Content</a> et <a
        href="https://getbootstrap.com/docs/4.1/components/">Components</a>.
      </li>
      <li>Les fichiers sources nécessaires pour débuter le TP2.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Travail -->
<section>
  <section>
    <h3>Travail</h3>
    <p>
      Concevoir la page <code>TP2/html/produit.html</code> avec HTML, CSS et
      Bootstrap, en se basant sur la maquette suivante.
    </p>
    <div class="tip">
      Pour répondre aux questions, utilisez les styles Bootstrap aussi souvent
      que possible. Vous aurez normalement très peu de CSS à écrire
      manuellement.
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/web/tp2_2.png" alt="Maquette" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Questions -->
<section>
  <section>

    <h3>Question 1</h3>
    <p>
      Commencer par structurer les sections <em>Description</em>,
      <em>Spécificités</em> et <em>Avis</em>. Ces trois parties constituent
      une même ligne.
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp2_3.png" alt="Description, Spécificités et Avis" class="img-fluid"/>
    </div>
  </section>
  <section>
    <ul>
      <li>
        <em>Description</em> et <em>Spécificités</em> occupent les deux tiers de
        la page, la section <em>Avis</em> occupe un tiers de la page.
      </li>
      <li>
        Définir les titres pour chaque section.
      </li>
      <li>
        Structurer la description en deux paragraphes (justifiés), et structurer
        la liste des spécificités.
      </li>
      <li>
        Pour l’instant, ajouter simplement un paragraphe pour les avis, nous y
        reviendrons plus tard.
      </li>
    </ul>
  </section>
</section>

<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Structurer la partie supérieure (photos, nom du produit, prix, etc...).
      Tous ces éléments constituent une même ligne.
    </p>
    <ul>
      <li>
        La section des photos du produit occupe deux tiers de la page, les
        informations à droite occupent un tiers de la page. La photo principale
        est centrée.
      </li>
      <li>
        De plus, les photos miniatures constituent elles-même une ligne. Chaque
        miniature occupe un quart de la ligne.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Ajouter une bordure de <code>6px</code>, de style <code>solid</code> et de
      couleur <code>#ddd</code> lorsque le pointeur de la souris survole une
      miniature.
    </p>
    <p class="tip">
      Utilisez les images des produits fournies dans le répertoire
      <code>TP2/img/</code>.
    </p>
  </section>
</section>

<section>
  <section>
    <h3>Question 3</h3>
    <p>Mettre en page les informations du produit.</p>
    <ul>
      <li>
        Agrandir la taille de la police d’écriture du prix (utilisez un style CSS
        personnalisé).
      </li>
      <li>
        Utiliser un bloc d’alerte <code>success</code> pour le stock.
      </li>
      <li>
        Utiliser 3 boutons pour la quantité (il ne doivent pas être fonctionnels
        pour l’instant); le bouton central est en fait un bouton
        <code>disabled</code>.
      </li>
      <li>
        Définir un lien <em>Ajouter au panier</em>, et lui appliquer un style de
        bouton.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      <p>
        Pour afficher une icône, vous utiliserez la balise suivante en
        remplaçant <em>[xxx]</em> par le nom de l’icône désirée.
      </p>
      <pre><code class="html">&lt;i class="fas fa-[xxx]"&gt;&lt;/i&it;</code></pre>
      <p>
        <a href="https://fontawesome.com/icons?d=gallery&m=free">
          Toutes les icônes disponibles
        </a>.
      </p>
    </div>
  </section>
</section>

<section>
  <section>
    <h3>Question 4</h3>
    <p>Mettre en page la section <em>Avis</em>.</p>
    <p>
      Les avis sont regroupés dans un tableau 1 colonne, et dont les
      lignes sont zébrées. Chaque ligne du tableau contient un avis. Un avis
      est structuré de cette façon :
    </p>
    <ul>
      <li>le nom de l’auteur est en gras,</li>
      <li>la date de l’avis est en italique,</li>
      <li>
        la photo de l’avatar est flottante à gauche (avec un <code>margin-right:
        1em;</code>).
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Pour l'avatar, utilisez l'image fournie dans
      <code>TP2/img/avatar.png</code>.
    </div>
  </section>
</section>

<section>
  <h3>Question 5</h3>
  <p>
    Vérifier que la page développée est correctement responsive en
    redimensionnant votre navigateur.
  </p>
  <p>
    Effectuer les modifications nécessaires si ce n’est pas le cas.
  </p>
</section>
