<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de poursuivre le développement des pages de notre
      application d’e-commerce avec HTML, CSS et Bootsrap. Nous allons
      développer la structure du menu de navigation, du pied-de-page, ainsi que
      du panier et de la page d’inscription.
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp3_poster.png">
      <source src="/videos/lessons/web/tp3.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp3_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>
        La documentation Bootstrap, notamment les rubriques <a
        href="https://getbootstrap.com/docs/4.1/layout/">Layout</a>, <a
        href="https://getbootstrap.com/docs/4.1/content/">Content</a> et <a
        href="https://getbootstrap.com/docs/4.1/components/">Components</a>.
      </li>
      <li>Les fichiers sources nécessaires pour débuter le TP3.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Travail -->
<section>
  <h3>Travail</h3>
  <p>
    Concevoir les pages <code>TP3/html/panier.html</code> et
    <code>TP3/html/inscription.html</code>, ainsi qu’une barre de menu et un
    pied-de-page avec HTML , CSS et Bootstrap, en se basant sur les maquettes
    suivantes.
  </p>
  <div class="tip">
    Pour l’instant, ces pages sont statiques et remplies avec des informations
    fictives. Pour répondre aux questions, reprenez les éléments développés lors
    du TP précédent, puis complétez-les en respectant les consignes qui suivent.
    Utilisez les styles Bootstrap aussi souvent que possible.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Dans <code>produit.html</code>, structurer la barre de menu selon la
      maquette ci-dessous.
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp3_1.png" alt="Maquette nav" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>Elle est constituée :</p>
    <ul>
      <li>Du logo et du titre du site,</li>
      <li>
        De deux liens <em>Produits</em> et <em>Panier</em>. Pour l'instant,
        <em>Produit</em> redirige vers la page <code>produit.html</code> et
        <em>Panier</em> vers la page <code>panier.html</code>,
      </li>
      <li>
        D’un lien <em>Compte</em> aligné à droite de la barre de menu. Ce lien
        redirige vers la page <code>inscription.html</code>.
      </li>
    </ul>
    <div class="tip">
      Les classes <code>navbar-dark</code> et <code>bg-dark</code> permettent
      d’obtenir une barre de menu sombre.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Toujours dans <code>produit.html</code>, structurer le pied-de-page
      selon la maquette suivante.
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp3_2.png" alt="Maquette footer" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>Il est constitué :</p>
    <ul>
      <li>D’une ligne horizontale séparatrice,</li>
      <li>Sur la gauche, du nom de la boutique et son adresse,</li>
      <li>Sur la droite, du logo et du nom de la boutique.</li>
    </ul>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Développer la page <code>panier.html</code>. Pour commencer, inclure la
      barre de menu et le pied de page développés aux questions précédentes.
      Pour cela, copiez/collez le code dans la nouvelle page.
    </p>
    <div class="warn">
      Dupliquer du code n’est pas une pratique recommandée, nous verrons comment
      inclure correctement des <em>morceaux</em> de page dans les TP suivants.
    </div>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp3_3.png" alt="Page panier" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>La page panier est composée :</p>
    <ul>
      <li>
        Sur la moitié gauche : de la liste des articles contenus dans le panier,
        avec leur intitulé, leur quantité, leur prix, et un bouton supprimer.
      </li>
      <li>
        Sur la moitié droite : du descriptif du prix du panier (tableau 3 lignes
        × 2 colonnes), et le bouton <em>Acheter</em> aligné à droite.
      </li>
    </ul>
    <div class="tip">
      Vous pourrez utiliser les balises <code>&lt;ul
      class="list-group"&gt;</code> et <code>&lt;li
      class="list-group-item"&gt;</code> pour structurer la liste des articles.
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      Développer la page <code>inscription.html</code>. Inclure la barre de menu
      et le pied-de-page (dupliquez le code).
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp3_4.png" alt="Page inscription" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>La page d'inscription est constituée :</p>
    <ul>
      <li>
        D'une barre de progression fixée à 20% (par la suite, cette barre se
        remplira au fur et à mesure que l’utilisateur renseignera des
        informations dans le formulaire).
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        D'un formulaire, lui-même composé :
        <ul>
          <li>de deux champs texte <em>Nom</em> et <em>Prénom</em></li>
          <li>
            de trois sélecteurs pour la date de naissance fixés à 1 pour
            l’instant (nous les remplirons correctement dans les TP suivants),
          </li>
          <li>d’un champ <code>mail</code> pour l’adresse mail,</li>
          <li>d’un champ mot de passe et confirmation du mot de passe,</li>
          <li>d’une boîte à cocher,</li>
          <li>du bouton <em>Inscription</em> (de type <code>submit</code>).</li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <p>
      Sous le premier champ de mot de passe, ajouter une barre de progression de
      <code>2px</code> de hauteur, remplie à <code>100%</code> et de type
      <code>success</code>.
    </p>
    <div class="tip">
      Cette barre de progression nous servira à évaluer dynamiquement la force
      du mot de passe saisi par l’utilisateur dans les TP suivants.
    </div>
  </section>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5</h3>
    <p>
      Modifier le lien <em>Compte</em> en utilisant le composant
      <code>modal</code> de Bootstrap. Inspirez-vous de cet <a
      href="https://getbootstrap.com/docs/4.1/components/modal/#live-demo">exemple</a>.
    </p>
    <div class="fig">
      <img src="/images/lessons/web/tp3_5.png" alt="Modal" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>
      Lorsque le visiteur clique sur le lien <em>Compte</em>, un
      <code>modal</code> s’ouvre. Ce <code>modal</code> est constitué :
    </p>
    <ul>
      <li>
        D’un en-tête avec pour titre <em>Compte</em> et un bouton de fermeture
        pour le <code>modal</code>,
      </li>
      <li>
        D’un corps, comportant un formulaire de connexion (identifiant, mot de
        passe, et bouton d’envoi),
      </li>
      <li>
        D’un pied, comportant un lien qui redirige vers la page
        <code>inscription.html</code>.
      </li>
    </ul>
  </section>
</section>
