<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est découvrir le langage JavaScript (ES2018). Nous
      allons l'illustrer au travers diverses intéractions avec les pages web des
      TP précédents.
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp3_poster.png">
      <source src="/videos/lessons/web/tp4.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp3_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <!-- <li>
        La <a href="/downloads/web/tp3_correction.zip">correction</a> du TP3 (si nécessaire).
      </li> -->
      <li>Les fichiers sources nécessaires pour débuter le TP4.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Travail -->
<section>
  <h3>Travail</h3>
  <p>
    Pour répondre aux questions, reprenez les pages développées pendant les TP
    précédents, puis complétez-les en respectant les consignes suivantes.
  </p>
  <div class="tip">
    Pensez à adapter les balises HTML (ajoutez des <code>id</code>,
    <code>class</code>, ...) si nécessaire.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Lier le script <code>js/produit.js</code> à la page
      <code>html/produit.html</code>. Si la liaison est correctement effectuée,
      vous devriez observer un <code>Hello world!</code> dans la console.
    </p>
    <div class="tip">
      Ouvrez les outils de développement avec le raccourci
      <code>Ctrl+Shift+I</code> ou la touche <code>F12</code> sur la plupart des
      navigateurs.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <h3>Question 2</h3>
  <p>
    Sur la page <code>produit.html</code>, on peut modifier la quantité
    commandée. Pour cela, on peut cliquer sur le bouton <code>+</code> pour
    augmenter la quantité, ou sur le bouton <code>-</code> pour la diminuer.
  </p>
  <div class="warn">
    Attention, la quantité ne peut pas être nulle ou négative !
  </div>
</section>

<!-- Question 3 -->
<section>
  <h3>Question 3</h3>
  <p>
    La page <code>produit.html</code> affiche une image du produit. Des
    miniatures sont également disponibles. Si l’utilisateur clique sur l’une
    des miniatures, alors l’image principale est changée au profit de l’image
    correspondante à la miniature.
  </p>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      Créer un script <code>js/panier.js</code> et le lier à la page
      <code>panier.html</code>.
    </p>
    <p>
      On veut calculer automatiquement le prix du panier, en fonction des prix
      des articles qu’il contient, de leur quantité, et du taux de TVA (fixé à
      15%).
    </p>
  </section>

</section>

<!-- Question 5 -->
<section>
  <h3>Question 5</h3>
  <p>
    On peut diminuer la quantité d'un article du panier lorsque l’on clique
    sur le bouton <em>Supprimer</em> correspondant. La quantité diminue
    de <code>1</code> à chaque clic, jusqu'à atteindre <code>0</code>, auquel
    cas l'article est supprimé du panier.
  </p>
  <p>
    Le prix du panier doit être actualisé à chaque suppression.
  </p>
</section>

<!-- Question 6 -->
<section>
  <section>
    <h3>Question 6</h3>
    <p>
      Dans <code>produit.html</code>, un utilisateur peut écrire un avis dans la
      zone de saisie. Ajouter le code HTML suivant sous la section des
      <em>Avis</em>.
    </p>
    <pre><code class="html">&lt;div class="input-group"&gt;
  &lt;div class="input-group-addon"&gt;
    &lt;span class="oi oi-pencil"&gt;&lt;/span&gt;
  &lt;/div&gt;
  &lt;input type="text" id="avis" class="form-control" placeholder="Rédiger un avis" /&gt;
&lt;/div&gt;</code></pre>
  </section>
  <section>
    <p>Lorsqu’on appuie sur la touche Entrée :</p>
    <ul>
      <li>
        Créer un objet contenant la date et le contenu de l’avis, puis
        l'afficher dans la console,
      </li>
      <li>Vider la zone de saisie.</li>
    </ul>
    <div class="tip">
      Code de la touche <code>Entrée</code> : <code>13</code>
    </div>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp4_1.png" alt="Console" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 7 -->
<section>
  <section>
    <h3>Question 7</h3>
    <p>
      Améliorer l’interface en ajoutant une bordure intéractive aux images
      miniatures. Cette bordure de couleur <code>#007bff</code> lorsque la
      miniature est sélectionnée.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/web/tp4_2.png" alt="Console" width="100%" style="max-width:350px" class="img-fluid"/>
    </div>
  </section>
</section>
