<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de poursuivre la découverte du langage JavaScript
      avec la validation d'un formulaire d'inscription.
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp5_poster.png">
      <source src="/videos/lessons/web/tp5.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp5_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <!-- <li>
        La <a href="/downloads/web/tp3_correction.zip">correction</a> du TP3 (si nécessaire).
      </li> -->
      <li>Les fichiers sources nécessaires pour débuter le TP5.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Travail -->
<section>
  <h3>Travail</h3>
  <p>
    Pour répondre aux questions, reprenez les pages développées pendant les TP
    précédents, puis complétez-les en respectant les consignes suivantes.
  </p>
  <div class="tip">
    Pensez à adapter les balises HTML (ajoutez des <code>id</code>,
    <code>class</code>, ...) si nécessaire.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Nous allons générer automatiquement le contenu des listes déroulantes pour
      la date de naissance. Créer un script <code>js/datelist.js</code> et
      le lier à la page <code>inscription.html</code>. Respecter les consignes
      suivantes :
    </p>
  </section>
  <section>
    <h4>Date</h4>
    <p>
      La date du jour (première liste) est comprise entre <code>1</code> et
      <code>31</code>. Chaque option de la liste à générer doit respecter ce
      modèle :
    </p>
    <pre><code class="html">&lt;option value="[date]"&gt;[date]&lt;/option&gt;</code></pre>
  </section>
  <section>
    <h4>Mois</h4>
    <p>
      Le mois (deuxième liste) doit être affiché en toutes lettres. Pour cela,
      vous pouvez par exemple créer un tableau contenant le nom de tous les
      mois.
    </p>
    <pre><code class="js">const mois = ['Janvier', 'Février', ...];</code></pre>
    <p>
      Vous parcourrez ensuite ce tableau pour générer la liste des mois.
      Chaque option de la liste doit respecter ce modèle :
    </p>
    <pre><code class="html">&lt;option value="[numero_mois]"&gt;[nom_mois]&lt;/option&gt;</code></pre>
  </section>
  <section>
    <h4>Année</h4>
    <p>
      L’année (troisième liste) est comprise entre l’année actuelle et
      <code>1900</code>. Pour connaître l’année actuelle :
    </p>
    <pre><code class="js">new Date().getFullYear();</code></pre>
    <p>Chaque option de la liste à générer doit respecter ce modèle :</p>
    <pre><code class="html">&lt;option value="[annee]"&gt;[annee]&lt;/option&gt;</code></pre>
  </section>
  <section>
    <h4>Résultat</h4>
    <div class="fig">
      <img src="/images/lessons/web/tp5_1.png" alt="Dates" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <h3>Question 2</h3>
  <p>
    Dissimuler la balise <em>Force du mot de passe</em> en lui appliquant un
    style CSS <code>{display : none}</code>. Nous la ferons réapparaître plus
    tard.
  </p>
</section>

<!-- Présentation des fichiers -->
<section>
  <section>
    <h3>Présentation des scripts fournis</h3>
    <p>
      Nous allons valider dynamiquement les données saisies dans le formulaire.
      Deux scripts vous sont fournis, avec un code minimal que vous devrez
      compléter dans les questions suivantes.
    </p>
  </section>
  <section>
    <h4>Fonctions de vérification</h4>
    <p>
      Le script <code>js/checker.js</code> regroupe dans un objet littéral
      toutes les fonctions de vérification associées aux champs du formulaire.
      L'implémentation de la vérification du nom est déjà fournie.
    </p>
    <pre><code class="js">const Checker = {};

Checker.lastname = function() {
  const lastname = document.querySelector('#lastname');
  return lastname.value.length >= 2;
};</code></pre>
  </section>
  <section>
    <div class="tip">
      <p>
        Nommez les fonctions selon l'<code>id</code> du champ à vérifier.
        Par exemple :
      </p>
      <pre><code class="html">&lt;input id="monchamp" type="text"/&gt;</code></pre>
      <pre><code class="js">Checker.monchamp = function() {
  // ici, vérification de l'input #monchamp
};</code></pre>
    </div>
  </section>
  <section>
    <h4>Fonctions de feedback</h4>
    <p>
      Le script <code>js/feedback.js</code> implémente des fonctions de
      <em>feedback</em>. Ces fonctions seront exécutées pour offrir un
      retour visuel à l’utilisateur suite à la modification d’un champ du
      formulaire.
    </p>
  </section>
  <section>
    <h4>Gestion des événements</h4>
    <p>
      Le script <code>js/sign.js</code> gère les événements survenant dans le
      formulaire. Lorsqu'un champ du formulaire est modifié, la fonction de
      vérification correspondante est exécutée. Une fonction de <em>feedback</em>
      est ensuite exécutée selon le résultat de la précédente vérification.
    </p>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Lier les scripts <code>js/checker.js</code>, <code>js/feedback.js</code> et
      <code>js/sign.js</code> à la page <code>html/inscription.html</code>. Prenez
      le temps de bien comprendre leur fonctionnement.
    </p>
    <div class="tip">
      Dans le fichier HTML, donner un <code>id="sign"</code> au formulaire
      d'inscription. Si la liaison est correctement effectuée, un log doit
      apparaître dans la console lors du clic sur le bouton
      <em>Inscription</em>.
    </div>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp5_2.png" alt="Submit" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <h3>Question 4</h3>
  <p>

    Dans <code>html/inscription.html</code>, ajouter un
    <code>id="lastname"</code> pour le champ <em>Nom</em>. Ainsi, le
    champ <em>Nom</em> peut être vérifié avec la fonction qui lui est associée
    dans l'objet <code>Checker</code>.
  </p>
  <div class="tip">
    Vous devriez normalement obtenir des contours verts lorsque l’utilisateur
    entre une valeur correcte, sinon les contours restent gris.
  </div>
  <div class="fig">
    <img src="/images/lessons/web/tp5_3.png" alt="Feedback" class="img-fluid"/>
  </div>
</section>

<!-- Question 5 -->
<section>
  <h3>Question 5</h3>
  <p>Gérer la validation du champ <em>Prénom</em>.</p>
  <ul>
    <li>
      Dans <code>html/inscription.html</code>, attribuer un <code>id</code> au
      champ <em>Prénom</em>,
    </li>
    <li>
      Dans <code>js/checker.js</code>, implémenter une nouvelle fonction pour
      l'objet <code>Checker</code> (inspirez vous du code déjà fourni).
    </li>
    <li>
      Cette fonction doit retourner <code>true</code> si le <em>Prénom</em>
      saisi fait au moins 2 caractères de long, ou retourne <code>false</code>
      sinon.
    </li>
  </ul>
  <p>
    Vérifier que le champ <em>Prénom</em> s'allume en vert lorsque les
    informations saisies sont correctes.
  </p>
</section>

<!-- Question 6 -->
<section>
  <section>
    <h3>Question 6</h3>
    <p>
      De la même manière, implémenter la validation du champ <em>mail</em>
      (ajouter un <code>id</code> dans le code HTML, ajouter la fonction
      correspondante dans l'objet <code>Checker</code>).
    </p>
    <p>
      La fonction de validation retourne <code>true</code> si l'adresse mail
      saisie est correcte, <code>false</code> sinon. Une adresse mail est correcte
      si :
    </p>
    <ul>
      <li>
        elle est composée d’un nom et d’un domaine, séparés par le caractère
        <code>@</code>,
      </li>
      <li>
        le domaine contient un point de séparation.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Par exemple, <code>nom@domaine.fr</code> est une adresse mail valide.
    </p>
    <div class="tip">
      Vous pouvez utiliser la méthode <code>.split('separateur')</code>
      pour décomposer une chaîne de caractères selon un séparateur...
    </div>
  </section>
</section>

<!-- Question 7 -->
<section>
  <section>
    <h3>Question 7</h3>
    <p>
      Dans le script <code>js/checker.js</code>, développer une fonction
      <code>isLeapYear(year)</code> qui retourne <code>true</code> si l’année
      passée en paramètre est bissextile, ou retourne <code>false</code> sinon.
    </p>
    <p>Une année est bissextile :</p>
    <ul>
      <li>si elle est divisible par 400,</li>
      <li>ou si elle est divisible par 4 mais pas par 100.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Vous pouvez utiliser la console du navigateur pour tester votre fonction.
    </div>
    <div class="fig">
      <img src="/images/lessons/web/tp5_4.png" alt="Année bissextile" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 8 -->
<section>
  <section>
    <h3>Question 8</h3>
    <p>
      Implémenter la validation de la date de naissance. Pour cela, ajoutez un
      <code>id</code> à chaque liste déroulante. Dans <code>js/checker.js</code>,
      ajouter les fonctions correspondantes.
    </p>
  </section>
  <section>
    <div class="tip">
      <p>
        Les champs du jour, du mois et de l'année partagent la même fonction de
        vérification. Il suffira d'implémenter une seule fonction, et de
        la réutiliser pour vérifier les autres champs :
      </p>
      <pre><code class="js">Checker.day = function() {
  // vérification des 3 champs jour / mois / année
};

Checker.month = Checker.day; // pour vérifier le mois, on réutilise la fonction précédente
Checker.year  = Checker.day; // de même pour vérifier l'année</code></pre>
    </div>
  </section>
  <section>
    <p>
      La fonction de validation de la date doit retourner <code>true</code> si la
      date saisie est correcte, <code>false</code> sinon. Quelques rappels pour la
      validation de la date :
    </p>
    <ul>
      <li>les mois de Janvier, Mars, Mai, Juillet, Août, Octobre et Décembre ont 31 jours,</li>
      <li>les mois d’Avril, Juin, Septembre et Novembre ont 30 jours,</li>
      <li>le mois de Février a 28 jours, sauf si l’année est bissextile, auquel cas il en a 29.</li>
    </ul>
  </section>
</section>

<!-- Question 9 -->
<section>
  <h3>Question 9</h3>
  <p>
    Implémenter la validation du mot de passe. La fonction de validation
    associée retourne <code>true</code> si le mot de passe fait au moins 6
    caractères de long, <code>false</code> sinon.
  </p>
</section>

<!-- Question 10 -->
<section>
  <h3>Question 10</h3>
  <p>
    Implémenter la vérification du mot de passe. La fonction de vérification
    associée retourne <code>true</code> si les deux mots de passes saisis sont
    identiques, <code>false</code> sinon.
  </p>
</section>

<!-- Question 11 -->
<section>
  <section>
    <h3>Question 11</h3>
    <p>
      Au fur et à mesure que les champs sont validés, indiquer à l’utilisateur son
      état d’avancement grâce à la barre de progression située au-dessus du
      formulaire. Pour cela, développer une nouvelle fonction dans l’objet
      <code>Feedback</code>.
    </p>
    <p>
      Cette fonction devra ajuster la taille de la barre de progression selon le
      nombre de champs validés.
    </p>
  </section>
  <section>
    <div class="tip">
      Vous pouvez compter le nombre d’éléments possédant la classe
      <code>.is-valid</code> pour connaître le nombre de champs valides. Faites
      appel à cette fonction pendant la gestion de l’événement
      <code>onchange</code> des champs du formulaire.
    </div>
  </section>
</section>

<!-- Question 12 -->
<section>
  <section>
    <h3>Question 12</h3>
    <p>
      Donner une information à l'utilisateur quant à la force de son mot de
      passe.
    </p>
    <p>
      Dans l'objet <code>Checker</code>, développer une fonction
      <code>passStrength</code>. Cette fonction retourne <code>0</code> si le mot
      de passe est invalide (moins de 6 caractères), retourne <code>2</code> si la
      sécurité du mot de passe est forte (contient au moins une majuscule, une
      minuscule, et 1 chiffre), ou retourne <code>1</code> sinon.
    </p>
    <p>
      Pour détecter si la force du mot de passe est bonne, utilisez une expression
      régulière en vous aidant de l’exemple ci-dessous.
    </p>
  </section>
  <section>
    <pre><code class="js">// chaines a tester
var chaine1 = 'machaine';
var chaine2 = 'maChain3';

// expression reguliere pour detecter au moins
// une majuscule, une minuscule et un chiffre
// dans une chaine d'au moins 6 caractères
var regex = '((?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])).{6,}';

// test de l'expression reguliere sur les chaines
chaine1.match(regex); // => retourne false
chaine2.match(regex); // => retourne true</code></pre>
  </section>
  <section>
    <p>
      Dans le script <code>js/sign.js</code>, gérer l'événement
      <code>onkeyup</code> pour le champ de mot de passe 1.
    </p>
    <ul>
      <li>
        Pendant la gestion de l’événement, faire appel à la fonction précédemment
        développée.
      </li>
      <li>
        En fonction de la force du mot de passe, adapter l’apparence de la barre
        de progression et du texte d’information, comme ci-dessous.
      </li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/web/tp5_5.png" alt="Force du mot de passe" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 13 -->
<section>
  <h3>Question 13</h3>
  <p>
    Lorsque l’utilisateur clique sur le bouton <em>Inscription</em> (événement
    <code>onsubmit</code>), et si tous les champs sont valides, envoyer le
    formulaire en JavaScript à l’aide de l’instruction
    <code>this.submit();</code>.
  </p>
  <p>
    Si des champs sont incorrects, signalez-les à l’utilisateurs avec
    <code>Feedback.error()</code>.
  </p>
  <p>
    Inspirez vous du code de la gestion de l’événement <code>onchange</code>
    pour réussir cette étape.
  </p>
</section>
