<!-- Introduction -->
<section>
	<section>
		<h3>Introduction</h3>
		<h4>Objectifs</h4>
		<p>
			L’objectif de ce TP est découvrir la mise en place d'une application web
			avec <em>Node.js</em> et le framework <em>Express</em>.
		</p>
	</section>
	<section>
		<h4>Aperçu</h4>
		<video controls poster="/images/lessons/web/tp6_poster.png">
			<source src="/videos/lessons/web/tp6.mp4" type="video/mp4">
			<p class="text-center">
				<img src="/images/lessons/web/tp6_poster.png" style="width: 100%" />
			</p>
		</video>
	</section>
	<section>
		<h4>Prérequis</h4>
		<ul>
			<!-- <li>
				La <a href="/downloads/web/tp5_correction.zip">correction</a> du TP5 (si nécessaire).
			</li> -->
			<li>Les fichiers sources nécessaires pour débuter le TP6.</li>
		</ul>
		<p>
			<a href="<%= sources %>" class="btn btn-block btn-primary">
				<i class="fas fa-download"></i> Fichiers sources
			</a>
		</p>
	</section>
</section>

<!-- Installation de node.js -->
<section>
	<h3>Installation de node.js</h3>
  <p>
    Suivre le
    <a href="/teaching/web/tutonode">
			tutoriel <i class="fas fa-graduation-cap"></i></a> pour
		installer <em>Node.js</em> sur votre machine.
  </p>
</section>

<!-- Application express -->
<section>
	<section>
		<h3>Installation de l'application web</h3>
		<p>
			Extraire l'archive <code>tp6.zip</code> fournie.
		</p>
		<p>
			Le répertoire <code>lego-webstore/</code> contient les fichiers
      nécessaires à l'application web.
		</p>
    <p>
			Installer les dépendances avec les commandes suivantes.
		</p>
		<pre><code class="sh">cd lego-webstore/
npm install</code></pre>
  </section>
  <section>
		<p>Démarrer l'application web en mode <code>DEBUG</code>.</p>
		<pre><code class="sh">DEBUG=lego-webstore:* npm start</code></pre>
		<p>
			Dans un navigateur, accéder à l'url <code>localhost:3000</code>.
			Vérifiez que tout fonctionne correctement. Vous devriez obtenir
			l'affichage suivant.
		</p>
		<div class="fig">
			<p class="mt-0" style="font-family:serif">Page d'accueil</p>
		</div>
	</section>
</section>

<!-- Installation de nodemon -->
<section>
	<section>
		<h3>Installation de <em>nodemon</em></h3>
		<p>
			Chaque changement que vous effectuerez dans l'application <em>Express</em>
			ne sera pas visible tant que le serveur n'aura pas redémarré. Nous allons
			automatiser ce redémarrage dès qu'une modification sera effectuée grâce à
			<code>nodemon</code>.
		</p>
		<p>
			Installer <code>nodemon</code> en spécifiant que c'est une dépendance
			<em>développeur</em>.
		</p>
		<pre><code class="sh">npm install nodemon --save-dev</code></pre>
  </section>
  <section>
		<p>
			Dans <code>package.json</code>, modifiez la section <code>script</code>
			comme ci-dessous :
		</p>
		<pre><code class="json">"scripts": {
  "start": "node ./bin/www",
  "devstart": "nodemon ./bin/www"
}</code></pre>
		<p>
			Couper le serveur (<code>Ctrl+C</code>) s'il est toujours en cours
			d'exécution, puis le relancer avec la commande suivante :
		</p>
		<pre><code class="sh">DEBUG=lego-webstore:* npm run devstart</code></pre>
	</section>
</section>

<!-- Routage -->
<section>
	<section>
		<h3>Routage</h3>
    <p>
      Les diverses routes de l'application seront définies dans le script
      <code>routes/router.js</code>.
      Actuellement, seule la route principale <code>/</code> est gérée.
		</p>
    <pre><code class="js">/* GET home page. */
router.get('/', indexController.index);</code></pre>
		<p>
			Lorsqu'un utilisateur visite <code>localhost:3000/</code>, la fonction
      associée à la route <code>/</code> est invoquée (<em>cf.</em>
			<code>indexController.index</code>).
		</p>
  </section>
  <section>
		<p>
			Les contrôleurs de l'application web sont implémentés dans le répertoire
			<code>controllers/</code>. Pour l'instant, le contrôleur
			<code>indexController.js</code> implémente une fonction <code>index</code>
			qui renvoie du texte brut au navigateur.
		</p>
    <pre><code class="js">exports.index = function(req, res) {
  res.send('Page d\'accueil');
};</code></pre>
  </section>
  <section>
    <div class="tip">
      Vous pouvez essayer de changer le texte qui est renvoyé par ce contrôleur,
      puis vérifier que les modifications sont correctement prises en compte.
    </div>
	</section>
</section>

<!-- Question 1 -->
<section>
	<section>
		<h3>Question 1</h3>
    <p>
      Créer un nouveau contrôleur
      <code>controllers/productsController.js</code>. Ce contrôleur implémentera
      des fonctions relatives à la gestion des produits de la boutique.
    </p>
		<p>
      Dans ce contrôleur, exporter une fonction <code>products_list</code>.
      Cette fonction doit renvoyer au navigateur le texte brut <code>"Liste des
      produits"</code>.
    </p>
  </section>
  <section>
    <p>
      Dans le routeur <code>routes/router.js</code>, gérer la route
      <code>/produits</code> en mode <code>get</code>. Associer à cette route la
      fonction <code>products_list</code> du contrôleur précédemment développé.
    </p>
    <p>
      Dans un navigateur, l'adresse <code>localhost:3000/produits</code> doit
      maintenant afficher :
    </p>
    <div class="fig">
			<p class="mt-0" style="font-family:serif">Liste des produits</p>
		</div>
  </section>
  <section>
    <div class="tip">
      Inspirez vous des implémentations déjà fournies pour la gestion de la
      route principale pour réussir cette question.
    </div>
	</section>
</section>

<!-- Question 2 -->
<section>
	<section>
		<h3>Question 2</h3>
		<p>
      Dans le contrôleur <code>controllers/productsController.js</code>,
      exporter une fonction <code>product_infos</code>.
    </p>
    <p>
      Cette fonction doit renvoyer au navigateur le texte brut <code>"Fiche
      produit : [idproduct]"</code>, où <code>[idproduct]</code> sera un
      paramètre passé dans l'URL.
    </p>
  </section>
  <section>
    <p>
      Dans le routeur <code>routes/router.js</code>, gérer la route
      <code>/produits/:idproduct</code> en mode <code>get</code>. Associer à
      cette route la fonction <code>product_infos</code> précédemment
      développée.
    </p>
    <p>
      Dans un navigateur, l'adresse <code>localhost:3000/produits/42</code> doit
      maintenant afficher :
    </p>
    <div class="fig">
			<p class="mt-0" style="font-family:serif">Fiche produit : 42</p>
		</div>
	</section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Créer un nouveau contrôleur
      <code>controllers/userController.js</code>. Ce contrôleur implémentera
      des fonctions relatives à la gestion des comptes utilisateurs.
    </p>
		<p>
      Dans ce contrôleur, exporter une fonction <code>sign_up</code>.
      Cette fonction doit renvoyer au navigateur le texte brut <code>"Formulaire
      d'inscription"</code>.
    </p>
  </section>
  <section>
    <p>
      Dans le routeur <code>routes/router.js</code>, gérer la route
      <code>/inscription</code> en mode <code>get</code>. Associer à cette route
      la fonction <code>sign_up</code> du contrôleur précédemment développé.
    </p>
    <p>
      Dans un navigateur, l'adresse
      <code>localhost:3000/inscription</code> doit maintenant afficher :
    </p>
    <div class="fig">
			<p class="mt-0" style="font-family:serif">Formulaire d'inscription</p>
		</div>
	</section>
</section>

<!-- Question 4 -->
<section>
  <h3>Question 4</h3>
  <p>
    Vérifier que la visite d'une URL incorrecte renvoie une erreur
    <code>404</code>.
  </p>
</section>
