<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de poursuivre la conception d'une application web
      avec <em>Node.js</em> et le framework <em>Express</em>. Nous allons
      utiliser le moteur de template <em>EJS</em> pour produire le code
      <em>HTML</em> des pages de l'application.
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp7_poster.png">
      <source src="/videos/lessons/web/tp7.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp7_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Les fichiers sources nécessaires pour débuter le TP7.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Ajouter les fichiers sources téléchargés dans le répertoire de votre
      application web <code>lego-webstore</code>.
    </p>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Modifier le contrôleur pour la route index <code>/</code>.
      Désormais, ce contrôleur doit effectuer le rendu du template
      <code>views/layout_page.ejs</code> (fourni).
    </p>
    <p>Le résultat suivant doit être obtenu :</p>
    <div class="fig" style="font-family:serif">
      <strong>TODO</strong>: Supprimer ce bloc d'alerte après la
      question 3 s'il s'affiche correctement avec les styles Bootstrap.
    </div>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Dans <code>views/layout_page.ejs</code>, inclure le <code>head</code> à la
      ligne <code>4</code>. Utiliser la vue <code>partials/head.ejs</code>
      (fournie).
    </p>
    <p>Le résultat suivant doit être obtenu :</p>
    <div class="fig">
      <div class="alert alert-success">
        <strong>TODO</strong>: Supprimer ce bloc d'alerte après la
        question 3 s'il s'affiche correctement avec les styles Bootstrap.
      </div>
    </div>
    <div class="tip">
      Vous pouvez supprimer ce bloc maintenant
      <img src="https://abs.twimg.com/emoji/v2/72x72/1f609.png" width="18" class="align-text-top" style="display:inline"/> !
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      Effectuer le <em>découpage</em> des différentes sections du site. Dans le
      répertoire <code>views/partials</code>, créer les vues correspondantes aux
      menu de navigation, pied-de-page, et page d'inscription. L'arborescence
      du répertoire <code>views</code> doit être similaire à la suivante :
    </p>
  </section>
  <section>
    <pre><code class="plaintext">views/
├── error.ejs
├── layout_page.ejs
└── partials/
    ├── footer.ejs
    ├── head.ejs
    ├── inscription.ejs
    ├── nav.ejs
    └── products_list.ejs</code></pre>
    <div class="tip">
      Ré-utilisez le code des pages HTML développées dans les TP précédents pour
      implémenter ces vues.
    </div>
  </section>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5</h3>
    <p>
      Dans <code>views/layout_page.ejs</code>, inclure les vues correspondantes
      au menu de navigation et au pied-de-page.
    </p>
    <p>
      Adaptez les attributs <code>href</code> des liens du menu pour obtenir
      la navigation suivante.
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp7_1.gif" alt="Navigation 1" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 6 -->
<section>
  <section>
    <h3>Question 6</h3>
    <p>
      Effectuer le rendu de la vue <code>views/layout_page.ejs</code> pour tous
      les contrôleurs. Utiliser un paramètre <code>title</code> lors du rendu,
      qui correspondra à la page à afficher. La valeur de ce paramètre doit
      s'afficher en tant que titre de l'onglet dans le navigateur, comme dans
      le résultat suivant :
    </p>
  </section>
  <section>
    <p class="fig">
      <img src="/images/lessons/web/tp7_2.gif" alt="Navigation 2" class="img-fluid"/>
    </p>
  </section>
</section>

<!-- Question 7 -->
<section>
  <section>
    <h3>Question 7</h3>
    <p>
      Nous souhaiterions inclure une vue spécifique dans le layout,
      en fonction de la route. Par exemple, la route <code>/produits</code> doit
      inclure la vue <code>partials/products_list.ejs</code> lors du rendu (en
      plus de la barre de menu et du pied-de-page).
    </p>
  </section>
  <section>
    <p class="fig p-4">
      <img src="/images/lessons/web/tp7_1.png" alt="Layout paramétré" class="img-fluid"/>
    </p>
  </section>
  <section>
    <p>
      Dans le contrôleur <code>products_list</code>, utiliser un deuxième
      paramètre pour préciser quelle vue doit être utilisée lors du rendu. Ce
      paramètre contient le nom de la vue à inclure dans
      <code>views/layout_page.ejs</code>. Utiliser la vue
      <code>partials/products_list.ejs</code> fournie.
    </p>
    <p>
      Dans <code>views/layout_page.ejs</code>, inclure la vue précisée par ce
      paramètre.
    </p>
  </section>
</section>

<!-- Question 8 -->
<section>
  <h3>Question 8</h3>
  <p>
    De même, utiliser un paramètre pour effectuer le rendu de la vue
    <code>partials/inscription.ejs</code> lors de l'appel à la route
    <code>/inscription</code>.
  </p>
</section>

<!-- Question 9 -->
<section>
  <h3>Question 9</h3>
  <p>
    Développer une vue <code>partials/product_infos.ejs</code>. Effectuer le
    rendu de cette vue lors de l'appel à la route
    <code>/produits/:idproduit</code>.
  </p>
  <p>
    Le rendu doit utiliser un troisième paramètre correspondant à
    l'<code>:idproduit</code> précisé dans la route. Ce paramètre doit être
    affiché dans la vue.
  </p>
</section>
