<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de poursuivre la conception d'une application web
      avec <em>Node.js</em> et le framework <em>Express</em>. Nous allons
      utiliser le gestionnaire de bases de données <em>SQLite</em> et le lier
      avec notre application.
    </p>
  </section>
  <section id="apercu">
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp8_poster.png">
      <source src="/videos/lessons/web/tp8.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp8_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Les fichiers sources nécessaires pour débuter le TP8.</li>
    </ul>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> Fichiers sources
      </a>
    </p>
  </section>
</section>

<!-- Question 1 -->
<section>
  <h3>Question 1</h3>
  <p>
    Ajouter les fichiers sources téléchargés dans le répertoire de votre
    application web <code>lego-webstore</code>.
  </p>
  <p>
    Dans le répertoire de l'application web, exécutez la commande suivante pour
    installer le module <code>better-sqlite3</code>.
  </p>
  <pre><code class="sh">npm install better-sqlite3 --save</code></pre>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Depuis le programme <code>sqlitebrowser</code>, importer la base de
      données grâce au script fourni dans <code>db/legowebstore.sql</code>.
    </p>
    <p>
      Pour cela : <code>Fichier &gt; Importer &gt; Base de données depuis le fichier SQL...</code>.
    </p>
    <p>
      Enregistrer la base de données sous <code>db/legowebstore.db</code>.
    </p>
  </section>
  <section>
    <div class="tip">
      Vérifiez que vous obtenez les tables <code>categories</code> et
      <code>products</code>, déjà pré-remplies.
    </div>
  </section>
</section>

<!-- Question 3 -->
<section>
  <h3>Question 3</h3>
  <p>
    Dans <code>models/productsManager.js</code>, poursuivre l'implémentation de
    la fonction <code>all_categories()</code>.
  </p>
  <p>Cette fonction doit :</p>
  <ul>
    <li>
      Préparer une requête SQL pour sélectionner les noms de toutes les
      catégories,
    </li>
    <li>Récupérer tous les résultats de la sélection,</li>
    <li>Fermer la connexion à la base de données,</li>
    <li>Retourner les résultats.</li>
  </ul>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5</h3>
    <p>
      Dans <code>controllers/productsController.js</code>, modifier la fonction
      <code>products_list()</code>.
    </p>
    <p>Désormais, cette fonction doit :</p>
    <ul>
      <li>
        Faire appel à la fonction <code>all_categories()</code> précédemment
        développée,
      </li>
      <li>
        Transmettre en paramètre le résultat de cette fonction lors du rendu EJS.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Pensez à effectuer le <code>require('../models/productsManager')</code>.
    </div>
  </section>
</section>

<!-- Question 6 -->
<section>
  <h3>Question 6</h3>
  <p>
    Dans la vue <code>views/partials/products_list.ejs</code>, afficher toutes
    les catégories contenues dans la base de données sous la forme de
    <code>checkbox</code>, comme dans l'illustration suivante.
  </p>
  <div class="fig">
    <img src="/images/lessons/web/tp8_1.png" alt="Liste des catégories" class="img-fluid"/>
  </div>
</section>

<!-- Question 7 -->
<section>
  <h3>Question 7</h3>
  <p>
    Depuis <code>sqlitebrowser</code>, ajouter une nouvelle catégorie
    <code>LEGO Technic</code>.
  </p>
  <p>
    Actualiser la page <code>localhost:3000/produits</code> et vérifier que la
    nouvelle catégorie s'affiche dans la liste.
  </p>
</section>

<!-- Question 8 -->
<section>
  <section>
    <h3>Question 8</h3>
    <p>
      Dans <code>models/productsManager.js</code>, implémenter une nouvelle
      fonction <code>all_products()</code>.
    </p>
    <p>Cette fonction doit :</p>
    <ul>
      <li>
        Préparer une requête SQL pour sélectionner les <code>id</code>, noms,
        image (<code>img0</code>) et prix de tous les produits, ainsi que le nom
        de leur catégorie,
      </li>
      <li>Récupérer tous les résultats de la sélection,</li>
      <li>Fermer la connexion à la base de données,</li>
      <li>Retourner les résultats.</li>
    </ul>
  </section>
  <section>
    <div class="tip">Pensez à utiliser des jointures SQL.</div>
  </section>
</section>

<!-- Question 9 -->
<section>
  <h3>Question 9</h3>
  <p>
    Dans <code>controllers/productsController.js</code>, modifier la fonction
    <code>products_list()</code>.
  </p>
  <p>Maintenant, cette fonction doit en plus :</p>
  <ul>
    <li>
      Faire appel à la fonction <code>all_produits()</code> précédemment
      développée,
    </li>
    <li>
      Transmettre en paramètre le résultat de cette fonction lors du rendu
      EJS.
    </li>
  </ul>
</section>

<!-- Question 10 -->
<section>
  <section>
    <h3>Question 10</h3>
    <p>
      Dans la vue <code>views/partials/products_list.ejs</code>, afficher la
      liste des produits. Vous pouvez utiliser le code HTML suivant :
    </p>
  </section>
  <section>
    <pre><code class="html">&lt;!-- Format d'un article --&gt;
&lt;div class="card"&gt;
  &lt;img class="card-img-top" src="#" style="padding: 1em" /&gt;
  &lt;div class="card-body"&gt;
    &lt;h6 class="card-subtitle text-muted"&gt;Catégorie&lt;/h6&gt;
    &lt;h5 class="card-title"&gt;Nom du produit&lt;/h5&gt;
    &lt;p class="font-weight-light float-left" style="font-size:1.5em"&gt;Prix €&lt;/p&gt;
    &lt;p class="float-right"&gt;
      &lt;a href="#" class="btn btn-primary"&gt;&lt;i class="fas fa-shop"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp8_2.png" alt="Liste des produits" class="img-fluid"/>
    </div>
    <div class="tip">
      L'affichage des produits est réalisé avec le composant
      <code>card-columns</code> de
      <a href="https://getbootstrap.com/docs/4.3/components/card/#card-columns">Bootstrap</a>.
    </div>
  </section>
</section>

<!-- Question 11 -->
<section>
  <section>
    <h3>Question 11</h3>
    <p>
      Dans <code>models/productsManager.js</code>, implémenter une nouvelle
      fonction <code>get_product(idproduct)</code>.
    </p>
  </section>
  <section>
    <p>Cette fonction doit :</p>
    <ul>
      <li>
        Préparer une requête SQL pour sélectionner le nom, le prix,
        les images, la description et les spécificités d'un produit selon un
        <code>idproduct</code> passé en paramètre, ainsi que le nom
        de sa catégorie.
      </li>
      <li>Récupérer le résultat de la sélection,</li>
      <li>Fermer la connexion à la base de données,</li>
      <li>Retourner le résultat.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Pensez à utiliser une clause <code>WHERE</code> dans la requête SQL.
    </div>
  </section>
</section>

<!-- Question 12 -->
<section>
  <section>
    <h3>Question 12</h3>
    <p>
      Dans <code>controllers/productsController.js</code>, modifier la fonction
      <code>product_infos()</code>.
    </p>
    <p>Désormais, cette fonction doit :</p>
    <ul>
      <li>
        Faire appel à la fonction <code>get_product(idproduct)</code> précédemment
        développée,
      </li>
      <li>
        Transmettre en paramètre le résultat de cette fonction lors du rendu
        EJS.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Le paramètre <code>idproduct</code> passé à la fonction
      <code>get_product(idproduct)</code> correspond à la partie dynamique de la
      route <code>/produits/:idproduct</code>.
    </div>
  </section>
</section>

<!-- Question 13 -->
<section>
  <h3>Question 13</h3>
  <p>
    Dans la vue <code>views/partials/product_infos.ejs</code>, afficher la
    la fiche du produit correspondant à l'<code>:idproduct</code> passé en
    paramètre dans la route.
  </p>
  <div class="tip">
    Vous devriez obtenir un affichage similaire à celui de la
    <a href="#apercu">vidéo de présentation</a>.
  </div>
</section>

<!-- Question 14 -->
<section>
  <h3>Question 14</h3>
  <p>
    Dans la vue <code>views/partials/products_list.ejs</code>, modifier la cible
    <code>href</code> des liens représentés par les boutons
    <buttton class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i></buttton>.
    Le clic sur le lien doit rediriger vers la fiche produit correspondante.
  </p>
</section>

<!-- Question 15 -->
<section>
  <h3>Question 15</h3>
  <p>
    Gérer le cas où l'<code>idproduct</code> demandé n'existe pas dans la base,
    auquel cas l'utilisateur doit être redirigé vers la liste des produits.
  </p>
  <p>
    Par exemple, la route <code>/produits/nimportkoi</code> doit rediriger vers
    <code>/produits</code>.
  </p>
  <div class="tip">
    Utilisez l'instruction
    <code>res.redirect('/route/de/la/redirection')</code>.
  </div>
</section>
