<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de poursuivre la conception d'une application web
      avec <em>Node.js</em> et le framework <em>Express</em>. Nous allons
      développer un espace client minimaliste pour notre application web :
      gestion de l'inscription, de la connexion, et de la déconnexion d'un
      utilisateur.
    </p>
  </section>
  <section id="apercu">
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/web/tp9_poster.png" style="display:block">
      <source src="/videos/lessons/web/tp9.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/web/tp9_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Ouvrir la base de données <code>db/lego-webstore.db</code> avec
      <code>sqlitebrowser</code>. Créer une nouvelle table <code>users</code>
      avec les caractéristiques suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li><code>id</code> : Clé primaire, <code>INTEGER NOT NULL UNIQUE AUTO INCREMENT</code>,</li>
      <li><code>lastname</code> : <code>TEXT NOT NULL</code>,</li>
      <li><code>firstname</code> : <code>TEXT NOT NULL</code>,</li>
      <li><code>birthdate</code> : <code>TEXT NOT NULL</code>,</li>
      <li><code>email</code> : <code>TEXT NOT NULL UNIQUE</code>,</li>
      <li><code>passwd</code> : <code>TEXT NOT NULL</code>.</li>
    </ul>
  </section>
  <section>
    <div class="tip">Pensez à sauvegarder les modifications.</div>
  </section>
</section>

<!-- Question 2-->
<section>
  <section>
    <h3>Question 2</h3>
    <p>
      Créer un nouveau module <code>models/userManager.js</code>. Dans ce
      module, exporter une fonction :
    </p>
    <pre><code class="js">insert_user(lastname, firstname, day, month, year, email, passwd)</code></pre>
  </section>
  <section>
    <p>Cette fonction doit :</p>
    <ul>
      <li>Se connecter à la base de données,</li>
      <li>
        Préparer une requête paramétrée pour insérer les données
        d'un utilisateur passées en paramètres,
      </li>
      <li>Exécuter la requête et fermer la connexion à la base.</li>
    </ul>
    <div class="tip">
      Le champ <code>birthdate</code> doit correspondre à la concaténation :
      <code>day-month-year</code>.
    </div>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      Dans <code>controllers/userController.js</code>, exporter une fonction
      <code>register(req, res)</code>.
    </p>
    <p>Cette fonction doit :</p>
    <ul>
      <li>
        Exécuter la fonction <code>insert_user</code> précédemment développee
        ; les paramètres passés à cette fonction correspondent aux valeurs des
        champs du formulaire d'inscription,
      </li>
      <li>Rediriger vers la route <code>/inscription</code>.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Pensez à donner un attribut <code>name</code> aux champs du formulaire
      d'inscription.
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      Dans <code>routes/router.js</code>, définir une nouvelle route en mode
      <code>POST</code> pour l'URL <code>/inscription</code>. Cette route
      doit exécuter la fonction <code>register</code> précédemment développée.
    </p>
    <p>
      Dans la vue <code>views/partials/inscription.ejs</code>, ajouter au
      formulaire d'inscription les attributs <code>method="post"</code> et
      <code>action="/inscription"</code>.
    </p>
  </section>
  <section>
    <div class="tip">
      Vérifiez que vous pouvez désormais ajouter de nouveaux utilisateurs dans
      la base de données.
    </div>
  </section>
</section>

<!-- Sessions Express -->
<section>
  <section>
    <h3>Sessions Express</h3>
    <p>
      Nous allons gérer les sessions utilisateur avec le module
      <code>express-session</code>. Installer le module avec :
    </p>
    <pre><code class="sh">npm install express-session --save</code></pre>
  </section>
  <section>
    <p>Dans le script <code>app.js</code>, ajouter les lignes suivantes :</p>
    <pre><code class="js">// sous la ligne : var logger = ... (ligne 5)
var session = require('express-session');

// ...
// sous la ligne : app.use(express.static(...))
app.use(session({
  secret: '$3CR37',
  resave: false,
  saveUninitialized: false
}));

app.use(function(req, res, next) {
  res.locals.session = req.session;
  next();
});</code></pre>
  </section>
</section>

<!-- Question 7 -->
<section>
  <section>
    <h3>Question 7</h3>
    <p>
      Dans <code>models/userManager.js</code>, exporter une fonction :
    </p>
    <pre><code class="js">get_user(email, passwd)</code></pre>
  </section>
  <section>
    <p>Cette fonction doit :</p>
    <ul>
      <li>Se connecter à la base de données,</li>
      <li>
        Préparer une requête paramétrée pour sélectionner le prénom de
        l'utilisateur correspondant à l'<code>email</code> et au
        <code>passwd</code> passés en paramètres,
      </li>
      <li>Exécuter la requête et fermer la connexion à la base,</li>
      <li>Retourner le résultat de la requête.</li>
    </ul>
  </section>
</section>

<!-- Question 8 -->
<section id="q8">
  <section>
    <h3>Question 8</h3>
    <p>
      Dans <code>controllers/userController.js</code>, exporter une fonction
      <code>sign_in(req, res)</code>.
    </p>
    <p>
      Cette fonction doit exécuter la fonction <code>get_user</code>
      précédemment développée ; les paramètres passés à cette fonction
      correspondent aux valeurs des champs du formulaire de connexion.
    </p>
  </section>
  <section>
    <p>
      Si la connexion réussit (<em>i.e. </em><code>get_user</code> a retourné un
      résultat) :
    </p>
    <ul>
      <li>
        Stocker dans la session Express le prénom de l'utilisateur, puis
        rediriger vers <code>/produits?status=success</code>,
      </li>
      <li>Sinon, rediriger vers <code>/produits?status=error</code>.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Utilisez <code>req.session.ma_variable = ma_valeur;</code> pour
      enregistrer une variable dans la session.
    </div>
    <div class="tip">
      La syntaxe <code>/route?param1=valeur1&amp;param2=valeur2...</code> permet
      de passer des paramètres supplémentaires à une route.
    </div>
  </section>
</section>

<!-- Question 9 -->
<section>
  <section>
    <h3>Question 9</h3>
    <p>
      Dans <code>routes/router.js</code>, définir une nouvelle route en mode
      <code>POST</code> pour l'URL <code>/connexion</code>. Cette route
      doit exécuter la fonction <code>sign_in</code> précédemment développée.
    </p>
    <p>
      Dans <code>views/partials/nav.ejs</code>, ajouter les
      attributs <code>method</code> et <code>action</code> au formulaire de
      connexion, ainsi que des attributs <code>name</code> pour les champs.
    </p>
  </section>
  <section>
    <div class="tip">
      Pour tester cette partie, essayez de vous connecter avec des identifiants
      corrects et incorrects, puis vérifiez que la variable <code>status</code>
      de l'URL change d'état.
    </div>
  </section>
</section>

<!-- Question 10 -->
<section id="q10">
  <section>
    <h3>Question 10</h3>
    <p>
      Dans la vue <code>views/partials/products_list.ejs</code>, afficher une
      notification quant au statut de la connexion, comme dans l'illustration
      suivante.
    </p>
    <p>
      Une connexion réussie doit saluer l'utilisateur par son prénom (qui est
      enregistré en variable de session, <em>cf.</em> <a href="#q8">question
        8</a>).
      </p>
    <div class="fig">
      <img src="/images/lessons/web/tp9_1.png" alt="Statut connexion" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      <p>
        Testez l'existence d'une variable dans un template EJS avec :
      </p>
      <pre><code class="ejs">&lt;% if (locals.ma_variable) {
  // Ici, ma_variable existe
} %&gt;</code></pre>
    </div>
    <div class="tip">
      <p>
        Affichez le contenu d'une variable de session dans un template EJS
        avec :
      </p>
      <pre><code class="ejs">&lt;%= session.variable_de_session %&gt;</code></pre>
    </div>
  </section>
</section>

<!-- Question 11 -->
<section>
  <section>
    <h3>Question 11</h3>
    <p>
      Effectuer les modifications suivantes pour la vue
      <code>views/partials/nav.ejs</code> :
    </p>
    <ul>
      <li>
        Si un utilisateur est connecté, il doit avoir accès à son panier
        (ajouter uniquement le lien pour l'instant, pas de routes, etc...),
      </li>
      <li>
        De plus, le bouton <em>Compte</em> doit être remplacé par deux liens :
        l'un affichant le nom de l'utilisateur connecté, l'autre pour se
        déconnecter.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/web/tp9_2.png" alt="Navbar" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 12 -->
<section>
  <section>
    <h3>Question 12</h3>
    <p>
      Dans <code>controllers/userController.js</code>, exporter une fonction
      <code>sign_out(req, res)</code>. Cette fonction détruit la session
      courante et redirige vers la route <code>/produits?status=logout</code>.
    </p>
    <p>
      Dans <code>routes/router.js</code>, implémenter une nouvelle route en mode
      <code>GET</code> pour l'URL <code>/deconnexion</code>. Cette route doit
      appeler la fonction <code>sign_out</code> précédemment développée.
    </p>
  </section>
  <section>
    <div class="tip">
      Détruisez la session avec <code>req.session.destroy();</code>.
    </div>
    <div class="tip">
      Notifiez un utilisateur lorsqu'il est déconnecté, comme dans la
      <a href="#q10">question 10</a>.
    </div>
  </section>
</section>

<!-- Aller plus loin -->
<section>
  <section>
    <h3>Aller plus loin</h3>
    <h4>Panier</h4>
    <p>
      Développer les contrôleurs, les routes et les vues nécessaires pour
      l'affichage de la page panier.
    </p>
    <div class="tip">
      Cette route doit être accessible uniquement si l'utilisateur est
      connecté.
    </div>
  </section>
  <section>
    <h4>Inscription unique</h4>
    <p>
      Afficher une notification lorsqu'un utilisateur s'inscrit avec succès
      (<em>cf.</em> <a href="#apercu">aperçu</a>).
    </p>
    <p>
      Un <code>email</code> doit être unique dans la base de données. Si une
      inscription échoue (parceque le mail utilisé pour l'inscription existe
      déjà), l'utilisateur doit également en être notifié.
    </p>
  </section>
  <section>
    <h4>Chiffrage du mot de passe</h4>
    <p>
      Chiffrer les mots de passe avant de les enregistrer dans la base de
      données. Pour cela, installer le module <code>bcrypt</code> avec :
    </p>
    <pre><code class="sh">npm install bcrypt --save</code></pre>
  </section>
  <section>
    <p>
      Dans la fonction <code>insert_user</code>, chiffrer le mot de passe avec :
    </p>
    <pre><code class="js">bcrypt.hashSync(mot_de_passe_en_clair, 0);</code></pre>
  </section>
  <section>
    <p>
      Modifier la fonction <code>get_user</code>. Maintenant, cette fonction
      doit en plus :
    </p>
    <ul>
      <li>
        Sélectionner le mot de passe (chiffré) de l'utilisateur,
      </li>
      <li>
        Comparer le mot de passe récupéré en <code>POST</code> avec le mot
        de passe chiffré.
      </li>
    </ul>
    <div class="tip">
      <p>Comparez un clair et un chiffré avec :</p>
      <pre><code class="js">bcrypt.compareSync(clair, chiffre); // boolean</code></pre>
    </div>
  </section>
</section>
