<!-- Introduction -->
<!-- <section>
	<section>
		<h3>Introduction</h3>
		<h4>Objectif</h4>
    <p>
			Installation de <code>node.js</code> sous Debian 9.
		</p>
  </section>
  <section>
		<h4>Aperçu</h4>
    <div style="text-align:center">
      <video controls poster="/images/lessons/web/tutonode_poster.png" style="max-height:500px">
  			<source src="/videos/lessons/web/tutonode.mp4" type="video/mp4">
  			<p class="text-center">
  				<img src="/images/lessons/web/tutonode_poster.png" style="width: 100%" />
  			</p>
  		</video>
    </div>
	</section>
</section> -->

<!-- Variables d'environnement proxy -->
<section>
	<h3>Variables d'environnement proxy</h3>
	<p>
		Sur les machines de l'université, exécuter les commandes suivantes dans un
    terminal :
	</p>
  <pre><code class="sh">echo "export http_proxy=http://&lt;login&gt;:&lt;passwd&gt;@192.168.22.62:3128" >> ~/.bashrc
echo "export https_proxy=$http_proxy" >> ~/.bashrc
. ~/.bashrc</code></pre>
  <div class="tip">
    Demandez à l'enseignant pour obtenir les <code>login</code> et <code>passwd</code>.
  </div>
</section>

<!-- Node Version Manager -->
<section>
	<h3>Node Version Manager</h3>
	<p>
		Télécharger et installer Node Version Manager (<code>nvm</code>) avec la
    commande suivante (source :
    <a href="https://github.com/creationix/nvm">dépôt GitHub</a>).
	</p>
  <pre><code class="sh">curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
. ~/.bashrc</code></pre>
  <p>Puis installer la dernière version de Node.js LTS avec :</p>
  <pre><code class="sh">nvm install --lts
nvm use node --lts</code></pre>
</section>

<!-- Configuation du proxy npm -->
<section>
  <h3>Configuration du proxy <code>npm</code></h3>
  <p>
    Il sera peut-être nécessaire de configurer le proxy pour <code>npm</code>
    avec les commandes suivantes :
  </p>
  <pre><code class="sh">npm config set proxy $http_proxy
npm config set https-proxy $https_proxy</code></pre>
</section>

<!-- Vérification -->
<section>
  <h3>Vérification</h3>
	<p>Vérifier votre installation avec les commandes suivantes :</p>
	<pre><code class="sh">node -v
# v10.15.1 (lors de la rédaction de ce tutoriel)
npm -v
# 6.4.1</code></pre>
</section>
