/**
 * Nav links
 ******************************************************************************/

#navlinks {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9;
}

#navlinks .link {
  background: #e9ecef;
  border: none;
  border-radius: 10rem;
  color: #6b7280;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  opacity: .8;
  outline: none;
  padding: 2px 10px;
  text-decoration: none;
}

#navlinks .link:hover {
  cursor: pointer;
  opacity: 1;
}

#navlinks .link i {
  padding-right: 4px;
}

#btnPDF::after {
  content: 'Google Chrome only';
  color: #949496;
  position: absolute;
  top: 2px;
  left: 100%;
  visibility: hidden;
  width: 150px;
}

#btnPDF:hover::after {
  visibility: visible;
}

/**
 * Reveal overload
 ******************************************************************************/

.reveal {
  font-size: 36px;
  font-family: 'Jost', sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: 'Jost', sans-serif !important;
}

.reveal h4 {
  margin-top: .75em;
}

.reveal .slides section section {
  padding: 0;
}

.reveal pre code {
  padding: 1em;
  border-radius: 8px;
  max-height: 350px;
}

.reveal ul + .fig {
  margin-top: 1em;
}

.reveal video {
  max-width: 700px;
}

.reveal .slide-number {
  right: unset;
  left: 0;
}

.reveal .progress {
  height: 8px;
}

.reveal .fig {
  border: 4px solid #ddd;
  border-radius: 8px;
  font-size: .6em;
  padding: 0 .75em;
  text-align: center;
}

.reveal .fig img {
  max-height: 500px;
  margin: .5em 0 5px;
}

.info, .tip, .warn {
  padding: .25em .25em .25em .5em;
  margin-top: 1em;
  text-align: left;
}

.info :first-child, .tip :first-child, .warn :first-child, .fig:first-child {
  margin-top: 0;
}

.info {
  background-color: #e5f2ff;
  border-left: 12px solid #71b8ff;
}

.tip {
  background-color: #fff5d9;
  border-left: 12px solid #ffe565;
}

.warn {
  background-color: #ffd9dc;
  border-left: 12px solid #ff6574;
}

code { 
  background-color: rgba(0, 0, 0, .1);
  padding: .1em .25em;
}

pre code::before {
  position: absolute;
  top: .3em;
  right: .7em;
  font-size: .9em;
  font-weight: 600;
  color: #949496;
}

pre code.css::before {
  content: "CSS"
}

pre code.javascript::before {
  content: "JS"
}

pre code.json::before {
  content: "JSON"
}

pre code.sh::before {
  content: "SH"
}

pre code.xml::before {
  content: "XML"
}

pre code.xsd::before {
  content: "XSD"
}

pre code.xpath::before {
  content: "XPATH"
}

pre code.py::before {
  content: "PY"
}

pre code.php::before {
  content: "PHP"
}

pre code.html::before {
  content: "HTML"
}

pre code.ejs::before {
  content: "EJS"
}