/**
 * Mixins
 ******************************************************************************/
:root {
  --bs-gutter-x: 1.5rem; }

/**
 * General settings
 ******************************************************************************/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: initial; }

body {
  font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; }

h1, h2, h3, h4 {
  font-weight: 600; }

h1, h2, h3, h4 {
  margin: 2rem 0 1rem; }

h1 {
  font-size: calc(1.375rem + 1.5vw); }

h2 {
  font-size: calc(1.325rem + .9vw); }

h3 {
  font-size: calc(1.3rem + .6vw); }

h4 {
  font-size: 1rem;
  text-transform: uppercase; }

a {
  text-decoration: none; }

article a {
  box-shadow: inset 0 -0.1rem 0 0 var(--bs-blue);
  color: #1d2d35; }

article a:hover {
  background: #e9ecef;
  color: inherit; }

article h2[id]::before, article h3[id]::before, article h4[id]::before {
  display: block;
  height: 5rem;
  margin-top: -5rem;
  content: ""; }

.row {
  margin-right: calc(var(--bs-gutter-x) / -1);
  margin-left: calc(var(--bs-gutter-x) / -1); }

.row > * {
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x); }

/**
 * Cards
 ******************************************************************************/
.card {
  border-left: 4px solid #e9ecef;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem; }
  .card h3 {
    margin: 0;
    font-size: 1.5rem; }
  .card h4 {
    margin: 0 0 .5rem; }
  .card hr {
    margin: .75rem 0; }
  .card table {
    margin-top: 1rem;
    margin-bottom: 0; }
  .card tr {
    border-top: 1px solid #e9ecef; }
  .card th {
    font-weight: 400;
    width: 128px; }
  .card ul {
    list-style-type: circle;
    margin-left: 2rem; }
  .card video {
    max-width: 100%; }
  .card .badge {
    background: #e9ecef;
    color: #6b7280; }

.card.active {
  border-left: 4px solid var(--bs-blue); }
  .card.active .badge {
    background: var(--bs-blue);
    color: #fff; }

/**
 * Main navigation
 ******************************************************************************/
#rainbow, #nav-main {
  position: sticky;
  z-index: 999; }

#rainbow {
  background: linear-gradient(to right, #396afc, #2948ff);
  height: 4px;
  top: 0; }

#nav-main {
  background: #fff;
  border-bottom: 1px solid #e9ecef;
  top: 4px; }
  #nav-main .navbar-nav {
    margin-top: .75rem; }
  #nav-main .nav-link {
    border-radius: .5rem;
    color: #1d2d35;
    padding: .5rem; }
  #nav-main .nav-link:hover {
    background: #f5f6f8; }
  #nav-main .nav-link.active {
    background: #e9ecef; }

/**
 * Home
 ******************************************************************************/
#home {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center; }
  #home h1, #home h2, #home h3 {
    margin: 0; }
  #home h1, #home h2 {
    font-size: calc(1.375rem + 2.5vw);
    font-weight: 800;
    letter-spacing: -.1rem; }
  #home h1 {
    line-height: 3rem; }
  #home h2 {
    color: var(--bs-blue); }
  #home h3 {
    color: #6b7280;
    font-size: calc(1.375rem + .5vw);
    font-weight: 400; }

/**
 * About
 ******************************************************************************/
#about-intro p {
  margin-bottom: 1rem; }

#about-content {
  background: #f9fafb;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 3rem; }
  #about-content table tr:not(:last-child) {
    border-bottom: 1px solid #e9ecef; }
  #about-content table th {
    font-weight: 600; }
  #about-content table th, #about-content table td {
    padding: 1rem .5rem 1rem 0; }
  #about-content .link {
    background: #e9ecef;
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: 1rem; }
    #about-content .link a, #about-content .link i {
      box-shadow: none;
      color: #6b7280; }
  #about-content .link:hover a {
    color: #252f3f; }
  #about-content .card:not(.active) {
    opacity: .75; }

#about-intro-text {
  padding-bottom: 1rem; }

#about-intro-image {
  background: url("/images/me.png");
  background-position: top right;
  background-repeat: no-repeat; }

/**
 * Research
 ******************************************************************************/
#research-content {
  padding-top: 2rem; }
  #research-content .card ul li {
    margin-bottom: 1.25rem; }
  #research-content .card ul p:first-child {
    font-size: 1.25rem;
    margin-bottom: .5rem; }
  #research-content .card ul p:not(:first-child) {
    font-weight: 300; }
    #research-content .card ul p:not(:first-child) a {
      box-shadow: inset 0 -0.1rem 0 0 #e9ecef; }
  #research-content .card ul .badge {
    margin-bottom: .25rem; }

/**
 * Reasearch, Portfolio & Teaching
 ******************************************************************************/
#research-intro, #portfolio-intro, #teaching-intro {
  margin-bottom: 2rem; }
  #research-intro p, #portfolio-intro p, #teaching-intro p {
    margin-bottom: 1rem; }

#research-content, #portfolio-content, #teaching-content {
  background: #f9fafb;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 3rem; }

#portfolio-summary a, #teaching-summary a {
  box-shadow: none; }

#portfolio-summary .nav-link, #teaching-summary .nav-link {
  background-color: #e9ecef;
  border-radius: .5rem;
  color: #1d2d35;
  margin: .5rem 0;
  opacity: .75;
  padding: .5rem 1rem; }

#portfolio-summary .nav-link:hover, #teaching-summary .nav-link:hover {
  opacity: 1; }

/**
 * Lesson
 ******************************************************************************/
#lesson article {
  padding-bottom: 3rem; }
  #lesson article h3 a, #lesson article h4 a {
    box-shadow: none; }
  #lesson article h4 {
    font-size: 1.5rem;
    text-transform: none; }
  #lesson article p {
    margin: .5rem 0; }
  #lesson article ul, #lesson article ol {
    margin-left: 1.25rem; }
  #lesson article pre code {
    background-color: #f8f9fa; }
  #lesson article video {
    max-width: 100%; }
  #lesson article pre {
    background: #f8f9fa;
    margin: 1rem calc(-1 * var(--bs-gutter-x));
    position: relative; }
    #lesson article pre code {
      font-weight: 300 !important; }
    #lesson article pre code::before {
      position: absolute;
      top: .5rem;
      right: .75rem;
      font-size: .8rem;
      font-weight: 600;
      color: #9399a5; }
    #lesson article pre code.css::before {
      content: "CSS"; }
    #lesson article pre code.javascript::before {
      content: "JS"; }
    #lesson article pre code.json::before {
      content: "JSON"; }
    #lesson article pre code.sh::before {
      content: "SH"; }
    #lesson article pre code.xml::before {
      content: "XML"; }
    #lesson article pre code.xsd::before {
      content: "XSD"; }
    #lesson article pre code.xpath::before {
      content: "XPATH"; }
    #lesson article pre code.py::before {
      content: "PY"; }
    #lesson article pre code.html::before {
      content: "HTML"; }
    #lesson article pre code.ejs::before {
      content: "EJS"; }
    #lesson article pre code.php::before {
      content: "PHP"; }
  #lesson article code {
    background: #f9fafb;
    color: #6b7280; }
  #lesson article a code {
    background: none;
    color: inherit; }
  #lesson article .table-bordered th, #lesson article .table-bordered td {
    border: 1px solid #e9ecef !important; }
  #lesson article .fig {
    background: #f9fafb;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
    margin: 1.5rem 0;
    padding: .75rem; }
  #lesson article .tip, #lesson article .info, #lesson article .warn {
    margin: 1rem calc(-1 * var(--bs-gutter-x));
    padding: 1rem var(--bs-gutter-x); }
    #lesson article .tip pre, #lesson article .info pre, #lesson article .warn pre {
      border: 1px solid #e9ecef;
      margin-right: 0;
      margin-left: 0; }
  #lesson article li pre {
    margin-left: calc(-1 * var(--bs-gutter-x) - 1.25rem); }
  #lesson article li .tip, #lesson article li .info, #lesson article li .warn {
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-left: calc(-1 * var(--bs-gutter-x) - 1.25rem);
    padding: 0.5rem var(--bs-gutter-x); }
  #lesson article td pre {
    margin-left: 0; }
  #lesson article .tip {
    background-color: #fff5d9; }
  #lesson article .info {
    background-color: #e5f2ff; }
  #lesson article .warn {
    background-color: #ffd9dc; }

#lesson aside {
  align-self: flex-start;
  overflow-y: scroll;
  padding-bottom: 3rem;
  position: sticky;
  scrollbar-width: thin;
  top: 64px; }
  #lesson aside .badge {
    background: #e9ecef;
    color: #6b7280; }
  #lesson aside .active a {
    color: #1d2d35; }

#lesson aside::-webkit-scrollbar {
  width: 0; }

#module-summary {
  border-right: 1px solid #e9ecef;
  font-size: 1rem; }
  #module-summary h2 {
    font-size: 1.375rem; }
  #module-summary h4 {
    border-top: 1px solid #e9ecef;
    margin: 1.125rem 1.5rem 0.75rem 0;
    padding: 1.375rem 0 0 0; }
  #module-summary ul {
    list-style: none; }
    #module-summary ul li {
      padding: .125rem 1.5rem 0 0; }
      #module-summary ul li a {
        color: #6b7280; }

#lesson-summary {
  font-size: 1rem; }
  #lesson-summary h4 {
    margin-bottom: .5rem; }
  #lesson-summary .nav {
    display: block; }
  #lesson-summary .nav-link {
    color: #6b7280;
    padding: .125rem 0;
    font-size: .9375rem; }
  #lesson-summary .nav-link.active {
    color: #1d2d35; }
  #lesson-summary .link-h4 {
    border-bottom: 1px dashed #e9ecef;
    padding-left: 1rem; }

#toc {
  margin-top: .75rem; }

/**
 * Contact
 ******************************************************************************/
#contact {
  padding-bottom: 3rem; }

/**
 * Footer
 ******************************************************************************/
footer {
  background: #1d2d35;
  color: #6b7280;
  padding: 5rem 0; }
  footer ul {
    list-style: none; }
  footer li {
    margin: .875rem 0; }
  footer a {
    color: #e9ecef; }
  footer a:hover {
    color: #fff;
    text-decoration: none; }
  footer .copyrights {
    border-top: 1px solid #6b7280;
    margin-top: 3rem;
    padding-top: 1.5rem; }
  footer .social a {
    padding-left: 1rem; }

/**
 * Media queries
 ******************************************************************************/
@media (min-width: 768px) {
  body {
    font-size: 1.125rem; }
  #nav-main {
    background: rgba(255, 255, 255, 0.95); }
    #nav-main .navbar-nav {
      margin-top: 0; }
    #nav-main .nav-link {
      margin: 0 .5rem; }
  #about-intro p, #research-intro p, #portfolio-intro p, #teaching-intro p {
    font-size: 1.25rem;
    padding-bottom: 1.25rem; }
  #portfolio-summary, #teaching-summary {
    position: sticky;
    top: 2rem; }
    #portfolio-summary h4, #teaching-summary h4 {
      margin: 3rem 0 .5rem; }
    #portfolio-summary .nav-link.active, #teaching-summary .nav-link.active {
      background-color: #6b7280;
      color: #fff;
      opacity: 1; }
  #lesson aside {
    height: calc(100vh - 64px); } }
