<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Présentation</h4>
    <p>Un document XML est dit <em>bien-formé</em> si :</p>
    <ul>
      <li>Il possède un unique élément racine,</li>
      <li>Les éléments sont correctement fermés / imbriqués,</li>
      <li>Les attributs sont entre guillemets.</li>
    </ul>
    <p>Si le document XML respecte un DTD, alors il est <em>valide</em>.</p>
  </section>
  <section>
    <h4>Définition</h4>
    <p>Le <em>Document Type Definition</em> (DTD) :</p>
    <ul>
      <li>Définit la structure du document,</li>
      <li>Précise les éléments et les attribus autorisés.</li>
    </ul>
  </section>
  <section>
    <h4>Objectif</h4>
    <p>Le DTD est utilisé pour :</p>
    <ul>
      <li>Vérifier des documents XML,</li>
      <li>Valider des données reçues de l'extérieur,</li>
      <li>Interchanger des données entre des groupes de personnes indépendants,</li>
      <li>Définir des entités références.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Le DTD est <em>optionnel</em>.
      Généralement, on développe le DTD une fois que l'application est stable.
    </div>
  </section>
</section>

<!-- Déclaration -->
<section>
  <section>
    <h3>Déclaration</h3>
    <h4>Interne</h4>
    <p>Directement dans le document XML à valider.</p>
    <pre><code class="xml">&lt;?xml version="1.0"?&gt;
&lt;!DOCTYPE note [
  ...
]&gt;
&lt;note&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <h4>Externe</h4>
    <p>Dans un fichier externe.</p>
    <pre><code class="xml">&lt;?xml version="1.0"?&gt;
&lt;!DOCTYPE note SYSTEM "note.dtd"&gt;
&lt;note&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
</section>

<!-- Blocs structurants -->
<section>
  <section>
    <h3>Blocs structurants</h3>
    <h4>Présentation</h4>
    <p>Du point de vue du DTD, il existe 5 blocs structurants :</p>
    <ul>
      <li>Les élements,</li>
      <li>Les attributs,</li>
      <li>Les entités,</li>
      <li>PCDATA,</li>
      <li>CDATA.</li>
    </ul>
  </section>
  <section>
    <h4>(PC|C)DATA</h4>
    <p><em>Parsed Character Data</em> (PCDATA) :</p>
    <ul>
      <li>Le texte entre les balises ouvrantes et fermantes,</li>
      <li>Les entités références sont développées.</li>
    </ul>
    <p><em>Character Data</em> (CDATA) :</p>
    <ul>
      <li>Les entités ne sont pas développées,</li>
      <li>Généralement utilisé pour les attributs.</li>
    </ul>
  </section>
</section>

<!-- Éléments -->
<section>
  <section>
    <h3>Éléments</h3>
    <h4>Déclaration</h4>
    <p>
      Les éléments sont déclarés avec le mot-clé <code>ELEMENT</code> et leurs
      catégories...
    </p>
    <pre><code class="xml">&lt;!ELEMENT element-name category&gt;</code></pre>
    <p>... ou leurs contenus.</p>
    <pre><code class="xml">&lt;!ELEMENT element-name (element-content)&gt;</code></pre>
  </section>
  <section>
    <h4>Vides</h4>
    <p>Les éléments vides sont déclarés avec le mot-clé <code>EMPTY</code>.</p>
    <pre><code class="xml">&lt;!ELEMENT element-name EMPTY&gt;</code></pre>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;!ELEMENT vue EMPTY&gt;
...
&lt;vue/&gt;</code></pre>
  </section>
  <section>
    <h4>Avec <code>PCDATA</code></h4>
    <p>
      Les éléments composés uniquement de PCDATA sont déclarés avec
      <code>(#PCDATA)</code>.
    </p>
    <pre><code class="xml">&lt;!ELEMENT element-name (#PCDATA)&gt;</code></pre>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;!ELEMENT message (#PCDATA)&gt;
...
&lt;message&gt;Pense à sortir le chat...&lt;/message&gt;</code></pre>
  </section>
  <section>
    <h4>Éléments enfants</h4>
    <p>Déclaration des éléments enfants entre parenthèses...</p>
    <pre><code class="xml">&lt;!ELEMENT element-name (child1)&gt;</code></pre>
    <p>
      ... séparés par des virgules (<code>,</code>) s'il y en a une séquence.
    </p>
    <pre><code class="xml">&lt;!ELEMENT element-name (child1, child2, ...)&gt;</code></pre>
  </section>
  <section>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;!ELEMENT note (auteur, message)&gt;
...
&lt;note&gt;
  &lt;auteur&gt;Bob&lt;/auteur&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;
</code></pre>
    <div class="tip">
      Les éléments enfants de la séquence devront être définis dans le même
      ordre dans la suite du DTD.
    </div>
  </section>
  <section>
    <h4>Cardinalité</h4>
    <p>Il existe 4 cardinalités pour les éléments enfants :</p>
    <ul>
      <li>Un (et un seul) : <code>(child)</code>,</li>
      <li>Zéro ou un : <code>(child?)</code></li>
      <li>Zéro ou plus : <code>(child*)</code></li>
      <li>Un ou plus : <code>(child+)</code></li>
    </ul>
  </section>
  <section>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;!ELEMENT note (auteur, message*)&gt;
...
&lt;note&gt;
  &lt;auteur&gt;Bob&lt;/auteur&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
  &lt;message&gt;Et à acheter des croquettes !&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
</section>

<!-- Attributs -->
<section>
  <section>
    <h3>Attributs</h3>
    <h4>Déclaration</h4>
    <p>
      Les attributs sont déclarés avec le mot-clé <code>ATTLIST</code>, suivi
      de :
    </p>
    <ul>
      <li>Le nom de l'élement auquel il est rattaché,</li>
      <li>Le nom de l'attribut,</li>
      <li>Son type et sa valeur.</li>
    </ul>
    <pre><code class="xml">&lt;!ATTLIST element-name attr-name attr-type attr-value&gt;</code></pre>
  </section>
  <section>
    <h4>Types</h4>
    <p>Le type d'un attribut peut être (entre autres) :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>CDATA</code></td>
          <td>Character Data</td>
        </tr>
        <tr>
          <td><code>(a|b|...)</code></td>
          <td>Énumération</td>
        </tr>
        <tr>
          <td><code>ID</code></td>
          <td>Identifiant unique</td>
        </tr>
        <tr>
          <td><code>IDREF</code></td>
          <td>Identifiant d'un autre élément</td>
        </tr>
        <tr>
          <td>...</td>
          <td><a href="https://www.xmlfiles.com/dtd/dtd-attributes/">Liste complète</a></td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Valeurs</h4>
    <p>La valeur d'un attribut peut être :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>"value"</code></td>
          <td>Valeur par défaut</td>
        </tr>
        <tr>
          <td><code>#REQUIRED</code></td>
          <td>L'attribut est obligatoire</td>
        </tr>
        <tr>
          <td><code>#IMPLIED</code></td>
          <td>L'attribut est optionnel</td>
        </tr>
        <tr>
          <td><code>#FIXED "value"</code></td>
          <td>La valeur de l'attribut est fixée</td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- Exemple complet -->
<section>
  <h3>Exemple complet</h3>
  <pre><code class="xml">&lt;?xml version="1.0"?&gt;
&lt;!DOCTYPE note [
  &lt;!ELEMENT note (destinataire,auteur,titre,message,vue?)&gt;
  &lt;!ELEMENT destinataire (#PCDATA)&gt;
  &lt;!ELEMENT auteur (#PCDATA)&gt;
  &lt;!ELEMENT titre (#PCDATA)&gt;
  &lt;!ELEMENT message (#PCDATA)&gt;
  &lt;!ELEMENT vue EMPTY&gt;
  &lt;!ATTLIST note langue CDATA #REQUIRED&gt;
]&gt;
&lt;note langue="fr"&gt;
  &lt;destinataire&gt;Alice&lt;/destinataire&gt;
  &lt;auteur&gt;Bob&lt;/auteur&gt;
  &lt;titre&gt;N'oublie pas !&lt;/titre&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
</section>

<!-- Entités -->
<section>
  <section>
    <h3>Entités</h3>
    <h4>Déclaration</h4>
    <p>
      Les entités sont déclarées avec la syntaxe suivante :
    </p>
    <pre><code class="xml">&lt;!ENTITY entity-name "entity-value"&gt;</code></pre>
    <div class="tip">
      On utilisera <code>&entity-name;</code> dans le XML.
    </div>
  </section>
  <section>
    <h4>Exemple</h4>
    <p>En pratique...</p>
    <pre><code class="xml">&lt;!ENTITY promo "M1 ISIDIS 2020"&gt;
...
&lt;module&gt;
  &lt;libelle&gt;Web Services&lt;/libelle&gt;
  &lt;promotion&gt;&promo;&lt;/promotion&gt;
&lt;/module&gt;</code></pre>
  </section>
</section>
