<!-- Module -->
<section>
  <section>
    <h3>Module</h3>
    <h4>Organisation</h4>
    <p>Le module est divisé en deux parties.</p>
    <ul>
      <li><strong>Technologies XML</strong> : moi-même...</li>
      <li><strong>Web services</strong> : Clément Fasquel</li>
    </ul>
  </section>

  <section>
    <h4>Enseignements</h4>
    <p>Pour la partie technologies XML :</p>
    <ul>
      <li>9 heures CM</li>
      <li>15 heures TP</li>
    </ul>
    <p>Pour la partie web services :</p>
    <ul>
      <li>9 heures CM</li>
      <li>15 heures TP</li>
    </ul>
  </section>
</section>

<!-- Web Services -->
<section>
  <section>
    <h3>Web Services</h3>
    <h4>Historique</h4>
    <p>Dans les années 90...</p>
    <ul>
      <li>Démocratisation du web avec l'arrivée des navigateurs</li>
      <li>Développement des premières applications web</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Comment communiquer une information entre des applications web ?
    </div>
    <div class="fig">
      <img src="/images/lessons/webservices/intro1.png" alt="Historique" class="img-fluid"/>
    </div>
  </section>

  <section>
    <h4>Service web</h4>
    <p>Solution : le service web.</p>
    <ul>
      <li>
        Technologie permettant à des applications de dialoguer entre elles via
        le web
      </li>
      <li>
        Indépendamment des plateformes et des langages sur lesquelles elles
        reposent (<em>intéropérabilité</em>)
      </li>
    </ul>
    <div class="tip">
      <strong>Application web</strong> : humain &harr; programme
      <br/>
      <strong>Service web</strong> : programme &harr; programme
    </div>
  </section>

  <section>
    <h4>Exemple</h4>
    <p>
      Le service web
      <a href="https://cloud.google.com/maps-platform/?hl=fr">Google Maps</a>
      est utilisé pour :
    </p>
    <ul>
      <li><a href="https://www.pokemongo.com/fr-fr/">Pokemon Go</a>,</li>
      <li><a href="https://www.uber.com/fr/fr/">Uber</a></li>
      <li>...</li>
    </ul>
    <div class="fig">
      <img src="/images/lessons/webservices/intro2.png" alt="Pokemon Go" class="img-fluid"/>
    </div>

  </section>

  <section>
    <h4>Fonctionnement</h4>
    <p>Un service web :</p>
    <ul>
      <li>est un composant d'une application web,</li>
      <li>échange de l'information avec d'autres applications,</li>
      <li>communique selon des protocoles très répandus.</li>
    </ul>
    <div class="tip">
      Dans ce module, les services web étudiés reposeront principalement sur HTTP et XML.
    </div>
  </section>

  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/intro3.png" alt="Fonctionnement" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Objectifs du module -->
<section>
  <h3>Objectifs du module</h3>

  <h4>Technologies XML</h4>

  <ul>
    <li>Aborder le langage XML,</li>
    <li>Introduire les standards XML majeurs (DTD, XSD, XPath, ...),</li>
    <li>Ajouter la visualisation de l'information (XSLT, SVG, ...),</li>
    <li>Développer une ébauche de web service avec AJAX.</li>
  </ul>
</section>
