<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Définition</h4>
    <p><em>JavaScript Object Notation</em> (JSON) :</p>
    <ul>
      <li>Décrit et structure une information,</li>
      <li>Compréhensible par l'homme et la machine,</li>
      <li>
        Échange une information sous un format texte <em>léger</em>,
      </li>
      <li>Utilise la notation objet de JavaScript.</li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Bien que JSON utilise la notation JavaScript, il peut être interprété par
      d'autres langages de programmation.
    </div>
  </section>
  <section>
    <h4>Parallèle avec XML</h4>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;person&gt;
  &lt;name&gt;Joe&lt;/name&gt;
  &lt;age&gt;42&lt;/age&gt;
&lt;/person&gt;</code></pre>
    <pre><code class="json">{
  "name": "Joe",
  "age": 42
}</code></pre>
  </section>
  <section>
    <h4>XML ou JSON ?</h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>XML</th>
          <th>JSON</th>
        </tr>
        <tr>
          <td>Structure une information</td>
          <td>Structure une information</td>
        </tr>
        <tr>
          <td>
            <a href="/teaching/webservices/dtd">DTD</a>,
            <a href="/teaching/webservices/xsd">XSD</a>,
            <a href="/teaching/webservices/xpath">XPath</a>,
            <a href="/teaching/webservices/xslt">XSLT</a>...</td>
          <td>
            <em><a href="https://json-schema.org/">JSON-Schema</a></em>,
            <em>
              <a href="https://github.com/json-path/JsonPath">JSON-Path</a>
            </em>...
          </td>
        </tr>
        <tr>
          <td>Complet (DOM, attributs, contraintes...)</td>
          <td>Léger (texte, rapide, adapté au web...)</td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- Syntaxe -->
<section>
  <section>
    <h3>Syntaxe</h3>
    <h4>Donnée</h4>
    <p>Dérivé de la notation objet JavaScript :</p>
    <ul>
      <li>Le symbole <code>{}</code> définit un <em>objet</em>,</li>
      <li>Une <em>donnée</em> est un couple <code>"clé":valeur</code>,</li>
      <li>Les données sont séparées par des <code>,</code> virgules.</li>
    </ul>
    <pre><code class="json">{ "nom": "Joe", "age": 42 }</code></pre>
  </section>
  <section>
    <h4>Types de données</h4>
    <p>Une donnée peut être :</p>
    <ul>
      <li>Une chaîne de caractères <code>""</code>,</li>
      <li>Un nombre,</li>
      <li>Un autre objet JSON <code>{}</code>,</li>
      <li>Un tableau <code>[]</code>,</li>
      <li>Un booléen,</li>
      <li><code>null</code>.</li>
    </ul>
  </section>
  <section>
    <h4>Exemple</h4>
    <p>Un Pokédex au format JSON :</p>
    <pre><code class="json">{
  "Bulbizarre": {
    "no": 1,
    "description": "Bulbizarre passe son temps...",
    "size": {
      "meter": .7,
      "foot": 2.2
    },
    "types": ["Plante", "Poison"]
  },
  "Florizarre": { ... },
}</code></pre>
  </section>
</section>

<!-- Manipulation -->
<section>
  <section>
    <h3>Manipulation</h3>
    <h4>Parse</h4>
    <p>JSON (<code>plain-text</code>) reçu depuis un serveur web :</p>
    <pre><code class="plaintext">'{"name":"Joe","age":42}'</code></pre>
    <p>Conversion en objet JavaScript avec <code>JSON.parse()</code> :</p>
    <pre><code class="js">const res = JSON.parse('{"name": "Joe", "age": 42 }');
res.name; // "Joe"
res.age;  // 42</code></pre>
  </section>
  <section>
    <h4>Stringify</h4>
    <p>
      Conversion d'un objet JavaScript en JSON avec la méthode
      <code>JSON.stringify()</code> :
    </p>
    <pre><code class="js">const obj = { name: 'Joe', age: 42 };
const str = JSON.stringify(obj);
// '{"name":"Joe","age":42}'</code></pre>
  </section>
</section>
