<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      Développer une application web qui présente la liste des pays du monde
      avec leurs informations respectives (drapeau, capitale, population, ...).
    </p>
  </section>
  <section>
    <h4>Aperçu vidéo</h4>
    <video controls poster="/images/lessons/webservices/projet.png">
      <source src="/videos/lessons/webservices/projet.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/webservices/projet.png" style="width: 100%"/>
      </p>
    </video>
  </section>
</section>

<!-- Prérequis -->
<!-- <section>
  <section>
    <h3>Prérequis</h3>
    <h4>Backend Node.js</h4>
    <p>Télécharger les fichiers sources <code>xml-server-projet.zip</code> ci-dessous.</p>
    <p>
      <a href="<%= sources %>" class="btn btn-lg btn-block btn-success">
        <i class="fas fa-download"></i> <code>xml-server-projet.zip</code>
      </a>
    </p>
    <p class="tip tip-info">
      Si nécessaire, installez <code>nvm</code> en suivant
      <a target="_blank" href="https://github.com/creationix/nvm">ces instructions</a>.
    </p>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
      Installer et démarrer le serveur <code>xml-server-projet</code> avec les commandes
      suivantes.
    </p>
    <pre><code class="sh">cd xml-server-projet/
npm install
npm start</code></pre>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
      Dans un navigateur, accéder à l'URL <code>localhost:3000</code>
    </p>
  </section>
</section> -->

<!-- Prérequis -->
<section>
  <section>
    <h3>Prérequis</h3>
    <h4>Backend Node.js</h4>
    <p>Forkez le dépôt <code>m1-isidis-2020-xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="https://gitlab.com/florianlprt/m1-isidis-2020-xml" class="btn btn-block btn-primary">
        <i class="fas fa-code-branch"></i> <code>https://gitlab.com/florianlprt/m1-isidis-2020-xml</code>
      </a>
    </p>
    <div class="tip">
      Si nécessaire, installez <code>nvm</code> en suivant
      <a target="_blank" href="https://github.com/creationix/nvm">ces instructions</a>.
    </div>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
      Installer et démarrer l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd m1-isidis-2020-xml/
npm install
npm start</code></pre>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
      Dans un navigateur, accéder à l'URL <code>localhost:3000</code>
    </p>
  </section>
</section>

<!-- 1 -->
<section>
  <section>
    <h3>1 - Versionnage et qualité du code <small>(3 pts)</small></h3>
    <p>
      L'évaluation du versionnage du code tiendra compte de plusieurs critères :
    </p>
    <ul>
      <li>
        Des commits réguliers : par exemple, effectuez 1 commit dès que
        vous terminez une question ou lorsque vous résolvez un bug.
      </li>
      <li>
        Des messages de commits pertinents qui reflètent votre progression : par
        exemple, <code>"fin question 2"</code> ou <code>"fix q4"</code>, entre
        autres...
      </li>
      <li>
        L'utilisation pertinente du fichier <code>.gitignore</code> afin
        d'éviter le versionnage d'artefacts d'installation / de configuration :
        par exemple, ne versionnez pas les dossiers <code>node_modules/</code>
        ou <code>.idea/</code>, entre autres...
      </li>
    </ul>
    <p>La qualité du code JavaScript sera évaluée :</p>
    <ul>
      <li>Code source correctement indenté,</li>
      <li>Maximum 100 caractères par ligne,</li>
      <li>
        Les variables et les fonctions sont nommées de manière expressive.
      </li>
    </ul>
  </section>
</section>

<!-- 2 -->
<section>
  <section>
    <h3>2 - DTD <small>(2 pts)</small></h3>
    <p>
      Dans <code>/xml/countries.dtd</code>, écrire le DTD du fichier
      <code>/xml/countries.xml</code> en respectant les consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Un élément <code>country</code> est composé des éléments :
        <code>name</code>, <code>capital</code>, <code>population</code>,
        <code>area</code> et <code>flag</code>.
      </li>
      <li>
        Un élément <code>country</code> possède un attribut
        <code>continent</code>.
      </li>
      <li>
        Un élément <code>name</code> possède un attribut <code>cc</code>
        (<em>country code</em>).
      </li>
      <li>
        Un élément <code>flag</code> est vide et possède un attribut
        <code>src</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>country</code>,
      </li>
      <li>
        L'attribut <code>continent</code> est obligatoire et doit faire partie
        de l'énumération : <em>Africa</em>, <em>Americas</em>, <em>Asia</em>,
        <em>Europe</em>, <em>Oceania</em>.
      </li>
      <li>
        L'attribut <code>cc</code> est optionnel.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Utilisez le programme <code>xmllint</code> en ligne de commande pour
      valider un document XML selon un DTD.
      <pre><code class="sh">xmllint document.xml --noout --valid</code></pre>
      <p>
        Cette commande n'affiche rien si le document est valide selon le DTD.
      </p>
    </div>
  </section>
</section>

<!-- 3 -->
<section>
  <section>
    <h3>3 - XSD <small>(2 pts)</small></h3>
    <p>
      Dans <code>/xml/countries.xsd</code>, écrire le XSD du fichier
      <code>/xml/countries.xml</code> en respectant les consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Un élément <code>country</code> est composé des éléments :
        <code>name</code>, <code>capital</code>, <code>population</code>,
        <code>area</code> et <code>flag</code>.
      </li>
      <li>
        Un élément <code>country</code> possède un attribut
        <code>continent</code>.
      </li>
      <li>
        Un élément <code>name</code> possède un attribut <code>cc</code>
        (<em>country code</em>).
      </li>
      <li>
        Un élément <code>flag</code> est vide et possède un attribut
        <code>src</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou une infinité de <code>country</code>,
      </li>
      <li>
        L'attribut <code>continent</code> est obligatoire et doit faire partie
        de l'énumération : <em>Africa</em>, <em>Americas</em>, <em>Asia</em>,
        <em>Europe</em>, <em>Oceania</em>.
      </li>
      <li>L'élément <code>population</code> contient des valeurs entières.</li>
      <li>L'élément <code>area</code> contient des valeurs décimales.</li>
      <li>
        L'attribut <code>cc</code> est formé de 2 lettres
        (de <code>a</code> à <code>z</code>).
      </li>
      <li>
        L'attribut <code>cc</code> est optionnel.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Utilisez le programme <code>xmllint</code> en ligne de commande pour
      valider un document XML selon un XSD.
      <pre><code class="sh">xmllint document.xml --noout --schema schema.xsd</code></pre>
    </div>
  </section>
</section>

<!-- 4 -->
<section>
  <section>
    <h3>4 - XPath <small>(2 pts)</small></h3>
    <p>
      Dans <code>/xml/xpath.txt</code>, écrire les expressions XPath pour
      répondre aux questions suivantes. Le résultat attendu est affiché sous la
      question.
    </p>
  </section>
  <section>
    <ul>
      <li>
        Le nom du 1er pays du document ?
        <pre><code class="xml">&lt;name cc="dz"&gt;Algeria&lt;/name&gt;</code></pre>
      </li>
      <li>
        La capitale de l'Azerbaijan ?
        <pre><code class="xml">&lt;capital&gt;Baku&lt;/capital&gt;</code></pre>
      </li>
      <li>
        Le continent du Canada ?
        <pre><code class="xml">continent="Americas"</code></pre>
      </li>
      <li>
        Le nom du pays qui a pour <em>country code</em> (<code>cc</code>) :
        <code>fr</code> ?
        <pre><code class="xml">&lt;name cc="fr"&gt;France&lt;/name&gt;</code></pre>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        La population mondiale (somme de la population de tous les pays) ?
        <pre><code class="xml">7.34911e+09</code></pre>
      </li>
      <li>
        Le densité de population (nombre d'habitants au km²) au Japon
        (<em>Japan</em>) ?
        <pre><code class="xml">335.935</code></pre>
      </li>
      <li>
        Le pourcentage de la population mondiale sur le continent asiatique
        (<em>Asia</em>) ?
        <pre><code class="xml">56.164</code></pre>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le nombre de pays qui ont une population supérieure à 1 milliard
        d'habitants (1e9) ?
        <pre><code class="xml">2</code></pre>
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Utilisez le programme <code>xmllint</code> en ligne de commande pour
      évaluer une expression XPath dans un document XML.
      <pre><code class="sh">xmllint document.xml --noout --xpath "expression xpath"</code></pre>
    </div>
  </section>
</section>

<!-- 5 -->
<section>
  <section>
    <h3>5 - Liste des pays <small>(2 pts)</small></h3>
    <p>
      Dans le script <code>/javascripts/country_list.js</code>, poursuivre
      l'implémentation de la fonction <code>display()</code>.
    </p>
    <p>
      Cette fonction doit transformer le document
      <code>/xml/countries.xml</code> selon la feuille de styles
      <code>/xsl/country_list.xsl</code>. Le résultat de la transformation
      doit être affiché dans <code>div#frag_country_list</code> de la page
      <code>/html/country_list.html</code>.
    </p>
  </section>
  <section>
    <p>Le résultat suivant doit être obtenu :</p>
    <div class="fig">
      <img src="/images/lessons/webservices/projet4_1.png" alt="q4_1" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>
      Poursuivre l'implémentation de <code>/xsl/country_list.xsl</code> pour
      afficher la liste des pays sous la forme d'un tableau à 3 colonnes
      (drapeau, nom et continent).
    </p>
    <p>Le nom des pays doit être trié par ordre alphabétique.</p>
  </section>
  <section>
    <p>Le résultat suivant doit être obtenu :</p>
    <div class="fig">
      <img src="/images/lessons/webservices/projet4_2.png" alt="q4_1" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- 6 -->
<section>
  <section>
    <h3>6 - Filtre de la liste <small>(3 pts)</small></h3>
    <p>
      Un utilisateur peut filtrer l'affichage de la liste des pays, selon leur
      nom et/ou leur continent.
    </p>
    <p>
      Implémenter ces fonctionnalités dans
      <code>/javascripts/country_list.js</code> et
      <code>/xsl/country_list.xsl</code>.
    </p>
  </section>
  <section>
    <p>
      Le résultat suivant doit être obtenu si un utilisateur cherche les pays
      dont le nom contient <code>"F"</code>, sur le continent
      <code>Europe</code> :
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/projet5.png" alt="q5" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- 7 -->
<section>
  <section>
    <h3>7 - Infos d'un pays <small>(2 pts)</small></h3>
    <p>
      Cliquer sur le nom d'un pays doit rediriger vers la page
      <code>/html/country_infos.html?country=[nom_du_pays_cliqué]</code>.
    </p>
  </section>
  <section>
    <p>
      Cette page doit afficher des informations supplémentaires sur le pays :
    </p>
    <ul>
      <li>Son nom,</li>
      <li>Son <em>country code</em> (<code>cc</code>),</li>
      <li>Son drapeau,</li>
      <li>Sa capitale,</li>
      <li>Son nombre d'habitants,</li>
      <li>Sa superficie.</li>
    </ul>
  </section>
  <section>
    <p>
      Implémenter ces fonctionnalités dans
      <code>/javascripts/country_infos.js</code> et
      <code>/xsl/country_infos.xsl</code>.
    </p>
  </section>
  <section>
    <p>
      Par exemple, pour Taiwan :
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/projet7.png" alt="q7" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- 8 -->
<section>
  <section>
    <h3>8 - Localisation <small>(2 pt)</small></h3>
    <p>
      Dans <code>/xsl/country_infos.xsl</code>, localiser le pays sélectionné
      sur une carte <em>Google Maps</em>.
    </p>
  </section>
  <section>
    <p>
      Par exemple, pour Taiwan :
    </p>
    <pre><code class="html">&lt;iframe
  width="100%"
  height="400"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
  src="https://maps.google.com/maps?q=Taiwan&amp;amp;hl=en&amp;amp;output=embed"&gt;
&lt;/iframe&gt;</code></pre>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/projet8.png" alt="q8" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- 9 -->
<section>
  <section>
    <h3>9 - Hello world ! <small>(2 pts)</small></h3>
    <p>
      Dans la page <code>/html/country_infos.html</code>, afficher
      "<em>Bonjour</em>" dans la langue du pays sélectionné.
    </p>
  </section>
  <section>
    <p>
      Implémenter cette fonctionnalité dans
      <code>/javascripts/country_hello.js</code>:
    </p>
    <ul>
      <li>
        Récupérer le <em>country code</em> (<code>cc</code>) du
        pays sélectionné à l'aide d'une évaluation XPath.
      </li>
      <li>
        Utiliser ce <em>country code</em> pour communiquer avec l'API REST
        suivante :
        <code>https://fourtonfish.com/hellosalut/?cc=[country_code]</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>Par exemple, pour Taiwan :</p>
    <pre><code class="sh">https://fourtonfish.com/hellosalut/?cc=tw
&gt; {"code":"tw","hello":"&#20320;&#22909;"}</code></pre>
    <div class="fig">
      <img src="/images/lessons/webservices/projet9.png" alt="q9" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Fini -->
<section>
  <h3>Fini ?</h3>
  <p>
    Assurez-vous que l'accès à votre dépôt git est partagé avec moi.
    <br/>
    Lorsque votre travail est terminé, envoyez-moi un mail ou un message Discord
    afin que je puisse vérifier.
  </p>
</section>
