<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Définition</h4>
    <p><em>Scalable Vector Graphics</em> (SVG) :</p>
    <ul>
      <li>Un langage vectoriel,</li>
      <li>
        Agrandissement, rétrécissement, transformations sans perte de qualité,
      </li>
      <li>Dessine des formes simples.</li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/svg_1.svg" alt="SVG" width="42%"/>
    </div>
  </section>
  <section>
    <h4>Particularités</h4>
    <p>Un document SVG :</p>
    <ul>
      <li>Est un document XML (les images sont <em>lisibles</em>),</li>
      <li>Est pris en charge par les principaux navigateurs,</li>
      <li>Est manipulable avec CSS, JavaScript (DOM).</li>
    </ul>
    <div class="tip">
      Première version en 1999.
      <br/>
      SVG <code>1.1</code> est un standard W3 depuis 2011.
    </div>
  </section>
</section>

<!-- Implémentation -->
<section>
  <section>
    <h3>Implémentation</h3>
    <h4>Élément racine</h4>
    <p>
      Déclaration de l'élément racine SVG avec :
    </p>
    <pre><code class="xml">&lt;svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     width="100" height="100"&gt;

  &lt;!-- Dessins vectoriels ici... --&gt;

&lt;/svg&gt;</code></pre>
  </section>
  <section>
    <h4>Groupes d'éléments</h4>
    <p>
      Il sera éventuellement possible de regrouper des éléments avec :
    </p>
    <pre><code class="xml">&lt;svg width="100" height="100" ...&gt;
  &lt;g&gt;
    &lt;!-- Un groupe de dessins vectoriels --&gt;
  &lt;/g&gt;
&lt;/svg&gt;</code></pre>
    <div class="tip">
      Les éléments dessinés en dernier apparaissent au premier plan.
    </div>
  </section>
  <section>
    <h4>Intégration</h4>
    <p>
      Un élément SVG peut directement s'intégrer à une page web avec la balise
      <code>&lt;svg&gt;</code> en HTML5.
    </p>
    <p>Sinon, dans un fichier <code>image.svg</code> externe :</p>
    <pre><code class="html">&lt;img src="image.svg" /&gt;
&lt;object data="image.svg" type="image/svg+xml" /&gt;
&lt;iframe src="image.svg"&gt;&lt;/iframe&gt;</code></pre>
  </section>
</section>

<!-- Concepts -->
<section>
  <section>
    <h3>Concepts</h3>
    <h4>Grille</h4>
    <p>
      Les éléments SVG sont positionnés dans une grille.
    </p>
    <ul>
      <li>
        L'origine <code>(0,0)</code> correspond au coin supérieur gauche de la
        grille,
      </li>
      <li>
        Les valeurs positives en <code>x</code> vont vers la droite,
      </li>
      <li>
        Les valeurs positives en <code>y</code> vont vers le bas.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/svg_2.png" alt="Grille SVG" class="img-fluid" />
    </div>
    <p class="text-right">
      <small>Source :
        <a href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutoriel/Positionnement">MDN Web Docs</a>
      </small>
    </p>
  </section>
  <section>
    <h4>Tailles</h4>
    <p>Les tailles des éléments SVG sont exprimées en :</p>
    <ul>
      <li>Unités absolues (<code>pt</code>, <code>cm</code>, ...),</li>
      <li>Unités utilisateur (un nombre ordinaire).</li>
    </ul>
    <pre><code class="xml">&lt;svg width="100" height="100"&gt; ... &lt;/svg&gt;</code></pre>
    <div class="tip">
      Par défaut, 1 unité utilisateur = 1 unité écran (<code>px</code>).
    </div>
  </section>
  <section>
    <h4>Unité utilisateur</h4>
    <p>
      L'unité utilisateur peut être redéfinie avec <code>viewBox</code>.
    </p>
    <pre><code class="xml">&lt;svg width="200" height="200" viewBox="0 0 100 100"&gt;</code></pre>
    <div class="tip">
      Ici, l'image SVG fait <code>200px</code> par <code>200px</code>.
      <br/>
      Le système de coordonnées commence au point
      <code>(0,0)</code> et s'étend sur <code>100</code> unités en
      <code>x</code> et en <code>y</code>.
      <br/>
      Autrement dit, <code>1</code> unité correspond à <code>2px</code>.
    </div>
  </section>
</section>

<!-- Formes -->
<section>
  <section>
    <h3>Formes</h3>
    <h4>Rectangles</h4>
    <p>Élément <code>&lt;rect&gt;</code> et attributs :</p>
    <ul>
      <li><code>x</code>, <code>y</code> : coin supérieur gauche du rectangle,</li>
      <li><code>width</code> : largeur du rectangle,</li>
      <li><code>height</code> : hauteur du rectangle,</li>
      <li><code>rx</code>, <code>ry</code> : rayons des bords du rectangle.</li>
    </ul>
  </section>
  <section>
    <pre><code class="xml">&lt;rect x="0" y="0" width="150" height="100" /&gt;
&lt;rect x="200" y="0" width="80" height="80" rx="20" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <rect x="0" y="0" width="150" height="100" fill="#007bff"/>
        <rect x="200" y="0" width="80" height="80" rx="20" fill="#007bff"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Cercles</h4>
    <p>Élément <code>&lt;circle&gt;</code> et attributs :</p>
    <ul>
      <li><code>cx</code>, <code>cy</code> : centre du cercle,</li>
      <li><code>r</code> : rayon du cercle.</li>
    </ul>
    <pre><code class="xml">&lt;circle cx="50" cy="50" r="50" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <circle cx="50" cy="50" r="50" fill="#ffc107"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Ellipses</h4>
    <p>Élément <code>&lt;ellipse&gt;</code> et attributs :</p>
    <ul>
      <li><code>cx</code>, <code>cy</code> : centre de l'ellipse,</li>
      <li><code>rx</code>, <code>ry</code> : rayons de l'ellipse.</li>
    </ul>
    <pre><code class="xml">&lt;ellipse cx="50" cy="50" rx="50" ry="10" /&gt;
&lt;ellipse cx="150" cy="50" rx="10" ry="15" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <ellipse cx="50" cy="50" rx="50" ry="10" fill="#28a745"/>
        <ellipse cx="150" cy="50" rx="10" ry="50" fill="#28a745"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Lignes</h4>
    <p>Élément <code>&lt;line&gt;</code> et attributs :</p>
    <ul>
      <li><code>x1</code>, <code>y1</code> : point de départ,</li>
      <li><code>x2</code>, <code>y2</code> : point d'arrivée.</li>
    </ul>
    <pre><code class="xml">&lt;line x1="20" y1="20" x2="100" y2="80" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <line x1="20" y1="20" x2="100" y2="80" stroke="#000" stroke-width="4"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Lignes brisées</h4>
    <p>Élément <code>&lt;polyline&gt;</code> et attribut :</p>
    <ul>
      <li>
        <code>points</code> : coordonnées <code>x y</code> des points
        séparées par des virgules <code>,</code>.
      </li>
    </ul>
    <pre><code class="xml">&lt;polyline points="20 20, 60 80, 100 40, 140 60" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <polyline points="20 20, 60 80, 100 40, 140 60" fill="none" stroke="#000" stroke-width="4"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Polygones</h4>
    <p>
      Élément <code>&lt;polygon&gt;</code>. Idem que pour la ligne brisée, à la
      différence qu'une ligne supplémentaire est tracée pour relier le dernier
      point au premier.
    </p>
    <pre><code class="xml">&lt;polygon points="20 20, 60 80, 100 40, 140 60" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <polygon points="20 20, 60 80, 100 40, 140 60" fill="none" stroke="#000" stroke-width="4"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Chemins</h4>
    <p>
      Élément <code>&lt;path&gt;</code> et attribut :
    </p>
    <ul>
      <li>
        <code>d</code> :
        <a href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutoriel/Paths">
          instructions
        </a>
        du tracé.
      </li>
    </ul>
    <pre><code class="xml">&lt;path d="M10 50 Q 52.5 10, 80 50 T 180 80"/&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <path d="M10 50 Q 52.5 10, 80 50 T 180 80" stroke="black" stroke-width="4" fill="transparent"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Textes</h4>
    <p>
      Élément <code>&lt;text&gt;</code> et attributs :
    </p>
    <ul>
      <li>
        <code>x</code>, <code>y</code> : position de l'ancre du texte,
      </li>
      <li>
        <code>text-anchor</code> : <code>start</code> | <code>middle</code> | <code>end</code>.
      </li>
    </ul>
    <pre><code class="xml">&lt;text x="150" y="20"/&gt;Hello world !&lt;/text&gt;
&lt;text x="150" y="50" text-anchor="end"/&gt;Hello world !&lt;/text&gt;
&lt;text x="150" y="80" text-anchor="middle"/&gt;Hello world !&lt;/text&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <text x="150" y="20">Hello world</text>
        <circle cx="150" cy="20"  r="2"fill="red" />
        <text x="150" y="50" text-anchor="end">Hello world</text>
        <circle cx="150" cy="50"  r="2"fill="red" />
        <text x="150" y="80" text-anchor="middle">Hello world</text>
        <circle cx="150" cy="80" r="2" fill="red" />
      </svg>
    </div>
  </section>
</section>

<!-- Styles -->
<section>
  <section>
    <h3>Styles</h3>
    <h4>Contours</h4>
    <p>Le contour des éléments peut être modifié :</p>
    <ul>
      <li><code>stroke</code> : couleur du contour,</li>
      <li><code>stroke-width</code> : épaisseur du contour,</li>
      <li>
        <code>stroke-linejoin</code> : <code>miter</code> | <code>round</code> |
        <code>bevel</code>.
      </li>
    </ul>
  </section>
  <section>
    <pre><code class="xml">&lt;rect x="10" y="10" width="150" height="80"
      stroke="#007bff" stroke-width="4" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <rect x="10" y="10" width="150" height="80" stroke="#007bff" stroke-width="4" fill="none"/>
      </svg>
    </div>
  </section>
  <section>
    <h4>Remplissage</h4>
    <p>Le remplissage d'un élément peut être modifié :</p>
    <li>
      <code>fill</code> : couleur du remplissage.
    </li>
    <pre><code class="xml">&lt;polygon points="20 20, 60 80, 100 40, 140 60"
         fill="#dc3545" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <polygon points="20 20, 60 80, 100 40, 140 60" fill="#dc3545" />
      </svg>
    </div>
  </section>
  <section>
    <h4>CSS</h4>
    <p>
      Un élément SVG peut être stylisé avec du CSS.
    </p>
    <pre><code class="xml">&lt;ellipse id="my-ellipse" cx="60" cy="50" rx="50" ry="20" /&gt;</code></pre>
    <pre><code class="css">#my-ellipse {
  stroke: #000;
  fill: #28a745;
}</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <ellipse cx="60" cy="50" rx="50" ry="20" fill="#28a745" stroke-width="4" stroke="black"/>
      </svg>
    </div>
  </section>
</section>

<!-- Styles -->
<section>
  <section>
    <h3>Transformations</h3>
    <h4>Translation</h4>
    <p>Décaler un élément avec <code>translate(x, y)</code>.</p>
    <pre><code class="xml">&lt;rect x="0" y="0" width="80" height="80"
      transform="translate(100, 0)" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <rect x="0" y="0" width="80" height="80" fill="#007bff" transform="translate(100, 0)" />
      </svg>
    </div>
  </section>
  <section>
    <h4>Rotation</h4>
    <p>Rotation d'un élément avec <code>rotate(deg)</code>.</p>
    <pre><code class="xml">&lt;rect x="0" y="0" width="80" height="80"
      transform="rotate(45)" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <rect x="0" y="0" width="80" height="80" fill="#007bff" transform="rotate(45)" />
      </svg>
    </div>
    <div class="tip">
      Par défaut, le centre de la rotation est à l'origine de la zone de
      dessin SVG.
    </div>
  </section>
  <section>
    <h4>Déformation</h4>
    <p>
      Déformation d'un élément avec <code>skewX(deg)</code> et
      <code>skewY(deg)</code>.
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/svg_1.svg" alt="SVG" width="20%" style="transform:skewX(60deg)"/>
    </div>
    <div class="tip">
      La déformation ne dégrade pas la qualité de l'image.
    </div>
  </section>
</section>

<!-- Découpages -->
<section>
  <section>
    <h3>Découpages</h3>
    <h4>Clip</h4>
    <p>Définition d'une sous-zone de dessin (<em>clip</em>).</p>
  </section>
  <section>
    <pre><code class="xml">&lt;defs&gt;
  &lt;clipPath id="cut-off"&gt;
    &lt;rect x="0" y="20" width="100" height="20" /&gt;
  &lt;/clipPath&gt;
&lt;/defs&gt;
&lt;circle cx="50" cy="50" r="40"
        clip-path="url(#cut-off)" /&gt;</code></pre>
    <div class="fig">
      <svg width="100%" height="100">
        <defs>
          <clipPath id="cut-off">
            <rect x="0" y="20" width="100" height="20" />
          </clipPath>
        </defs>
        <circle cx="50" cy="50" r="40" clip-path="url(#cut-off)" fill="#ffc107" />
      </svg>
    </div>
  </section>
</section>

<!-- Pour aller plus loin -->
<section>
  <h3>Pour aller plus loin...</h3>
  <p>
    Le
    <a href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutoriel">
      tutoriel
    </a>
    de Mozilla.
  </p>
  <p class="codepen" data-height="400" data-theme-id="light" data-default-tab="result" data-user="iamjoshellis" data-slug-hash="KVdQqm" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="SVG Animated Drum Kit (Play Me!) 🥁">
    <span>See the Pen <a href="https://codepen.io/iamjoshellis/pen/KVdQqm/">
    SVG Animated Drum Kit (Play Me!) 🥁</a> by Josh (<a href="https://codepen.io/iamjoshellis">@iamjoshellis</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</section>
