<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre le développement d'un document XML,
      et d'être capable de structurer de l'information à partir d'un texte
      libre.
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li>Un navigateur web de votre choix.</li>
      <li>Un éditeur de texte de votre choix.</li>
    </ul>
  </section>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>
      Nous allons améliorer l'exemple "<em>notes</em>" du cours.
      On veut développer un format XML permettant de stocker plusieurs notes.
      Par exemple :
    </p>
  </section>
  <section>
    <div class="fig">
      <div style="display:flex;justify-content:space-evenly;">
        <div style="font-family:monospace;width:40%;background:yellow;margin:0 1em;padding:1em;box-shadow:0 5px 5px rgba(0,0,0,0.25);">
          <p style="margin-bottom:0.25rem;">Note</p>
          <p style="font-size:0.6rem;padding-bottom:1rem;border-bottom:1px solid rgba(0,0,0,0.5)">Pour Alice, le 21-21-2019</p>
          <p style="font-weight:bold;">N'oublie pas !</p>
          <p>Pense à sortir le chat...</p>
          <p style="text-align:right;font-style:italic;" class="mb-0">Bob</p>
        </div>
        <div style="font-family:monospace;width:40%;background:pink;margin:0 1em;padding:1em;box-shadow:0 5px 5px rgba(0,0,0,0.25);">
          <p style="margin-bottom:0.25rem;">Note</p>
          <p style="font-size:0.6rem;padding-bottom:1rem;border-bottom:1px solid rgba(0,0,0,0.5)">Pour Bob, le 21-21-2019</p>
          <p style="font-weight:bold;">Pas le temps</p>
          <p>Fais le toi-même !</p>
          <p style="text-align:right;font-style:italic;" class="mb-0">Alice</p>
        </div>
      </div>
    </div>
    <div class="warn">
      Il n'est pas demandé de développer l'affichage du document XML.
      Proposez simplement une structure de données cohérentes.
    </div>
  </section>
  <section>
    <p>Une note est définie par :</p>
    <ul>
      <li>Un titre,</li>
      <li>Un message,</li>
      <li>Un auteur,</li>
      <li>Un destinataire,</li>
      <li>Une date,</li>
      <li>Une langue (français, anglais, ...),</li>
      <li>Une couleur (couleur du post-it),</li>
      <li>Un état vue / pas vue.</li>
    </ul>
  </section>
  <section>
    <p>
      Dans un fichier <code>notes.xml</code>, proposez un format XML pour stocker
      des notes. Stockez-y au moins 2 notes.
    </p>
  </section>
</section>

<!-- Question 2 -->
<section>
  <h3>Question 2</h3>
  <p>
    Ouvrez le fichier <code>notes.xml</code> dans votre navigateur.
    Vérifiez que le document est correctement structuré et que vous n'obtenez
    pas d'erreur.
  </p>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>
      On veut développer un format XML permettant de stocker des
      <em>Pokemon</em> dans un <em>Pokedex</em>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/tp1.png" alt="Pokemon" width="25%" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>Un <em>Pokemon</em> est défini par :</p>
    <ul>
      <li>Son numéro,</li>
      <li>Son nom,</li>
      <li>Son poids,</li>
      <li>Sa taille,</li>
      <li>Son (ses) type(s),</li>
      <li>Son image,</li>
      <li>Sa description.</li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>Le poids doit pouvoir être exprimé dans une unité (kilogrammes, livres),</li>
      <li>Le taille doit pouvoir être exprimée dans une unité (mètres, pouces),</li>
      <li>L'<em>image</em> est définie par une URL.</li>
    </ul>
  </section>
  <section>
    <p>
      Dans un fichier <code>pokedex.xml</code>, proposez un format XML pour
      stocker des <em>Pokemon</em> dans un <em>Pokedex</em>.
    </p>
    <p>
      Stockez-y ces 3 <em>Pokemon</em> (cliquez pour plus d'informations) :
    </p>
    <ul>
      <li><a target="_blank" href="https://www.pokemon.com/fr/pokedex/pikachu">Pikachu</a></li>
      <li><a target="_blank" href="https://www.pokemon.com/fr/pokedex/bulbizarre">Bulbizarre</a></li>
      <li><a target="_blank" href="https://www.pokemon.com/fr/pokedex/carapuce">Carapuce</a></li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Vérifiez le fichier <code>pokedex.xml</code> dans votre navigateur.
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>
      On veut développer un format XML permettant de stocker des
      <em>livres</em> dans une <em>librairie</em>.
    </p>
  </section>
  <section>
    <p>Un <em>livre</em> est défini par :</p>
    <ul>
      <li>Son titre,</li>
      <li>Son sous-titre,</li>
      <li>Son auteur,</li>
      <li>Son (ses) genre(s),</li>
      <li>Son résumé,</li>
      <li>Son prix.</li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>Le prix doit pouvoir être exprimé dans une unité (dollar, euro, livre),</li>
      <li>Un livre est défini par un identifiant ISBN (International Standard Book Number).</li>
    </ul>
  </section>
  <section>
    <p>
      Dans un fichier <code>librairie.xml</code>, proposez un format XML pour
      stocker des <em>livres</em> dans une <em>librairie</em>.
    </p>
    <p>Stockez-y quelques livres (de votre choix).</p>
    <div class="tip">
      Vérifiez le fichier <code>librairie.xml</code> dans votre navigateur.
    </div>
  </section>

</section>
