<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre la validation d'un document XML à
      l'aide d'un <a href="/teaching/webservices/dtd">DTD</a>
      (<em>Document Type Definition</em>).
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li><code>xmllint</code> installé sur votre machine.</li>
      <li>Les fichiers sources fournis à chaque question.</li>
    </ul>
  </section>
</section>

<!-- Avant-propos -->
<section>
  <h3>Avant-propos</h3>
  <h4>Validation du XML</h4>
  <p>
    Pour valider un document XML selon un DTD, nous utiliserons le programme
    <code>xmllint</code> en ligne de commande.
  </p>
  <pre><code class="sh">xmllint fichier_a_tester.xml --noout --valid</code></pre>
  <div class="tip">
    Cette commande n'affiche rien si le document est valide selon le DTD.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <p>Téléchargez le fichier source <code>notes.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/notes.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>notes.xml</code>
      </a>
    </p>
    <p>
      Écrire le DTD du fichier <code>notes.xml</code>, en respectant les
      consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Une <code>note</code> est composée des éléments : <code>title</code>,
        <code>message</code>, <code>from</code>, <code>to</code>,
        <code>read</code>.
      </li>
      <li>
        Une <code>note</code> possède un attribut de date et de couleur.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>note</code>,
      </li>
      <li>
        L'élément <code>read</code> est vide et optionnel (peut apparaître 0 ou 1 fois),
      </li>
      <li>
        L'attribut de couleur ne peut prendre que les valeurs
        <code>yellow</code>, <code>pink</code>, <code>cyan</code>, ou
        <code>green</code>.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>notes.xml</code> avec la commande
      <code>xmllint</code>.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>Ajoutez la <code>note</code> suivante dans le document <code>notes.xml</code> :</p>
    <pre><code class="xml">&lt;note color="blue"&gt;
  &lt;title&gt;Oops !&lt;/title&gt;
  &lt;message&gt;Ça marche plus...&lt;/message&gt;
  &lt;to&gt;Dev&lt;/to&gt;
  &lt;from&gt;Noob&lt;/from&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <div class="tip">
      Essayez de valider le document... le document n'est plus valide !
    </div>
    <p>
      Sans toucher au DTD, modifiez l'élément <code>note</code> qui pose
      problème, afin que le document soit de nouveau valide.
    </p>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <p>Téléchargez le fichier source <code>pokedex.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/pokedex.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>pokedex.xml</code>
      </a>
    </p>
    <p>
      Écrire le DTD du fichier <code>pokedex.xml</code>, en respectant les
      consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>pokemon</code> dans le <code>pokedex</code>,
      </li>
      <li>
        Un <code>pokemon</code> est composé des éléments :
        <ul>
          <li>
            <code>name</code>, <code>img</code>, <code>description</code>,
            <code>types</code>, et <code>sizes</code>,
          </li>
          <li><code>types</code> contient au minimum 1 <code>type</code>,</li>
          <li><code>sizes</code> contient au minimum 1 <code>size</code>,</li>
          <li><code>img</code> est vide.</li>
        </ul>
      </li>
      <li>
        Un <code>pokemon</code> possède un attribut <code>numero</code>
        obligatoire.
        La taille est exprimée dans une unité (par défaut, en mètres).
        Une image possède un attribut source obligatoire.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>pokedex.xml</code> avec la commande
      <code>xmllint</code>.
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>Ajoutez le <code>pokemon</code> suivant dans le document <code>pokedex.xml</code> :</p>
    <pre><code class="xml">&lt;pokemon numero="004"&gt;
  &lt;name&gt;Salamèche&lt;/name&gt;
  &lt;img&gt;salameche.png&lt;/img&gt;
  &lt;description&gt;
    La flamme qui brûle au bout de sa queue indique l'humeur de ce Pokémon. Elle
    vacille lorsque Salamèche est content. En revanche, lorsqu'il s'énerve, la
    flamme prend de l'importance et brûle plus ardemment.
  &lt;/description&gt;
  &lt;types&gt;Feu&lt;/types&gt;
  &lt;sizes&gt;
    &lt;size unit="meter"&gt;0.6&lt;/size&gt;
  &lt;/sizes&gt;
&lt;/pokemon&gt;</code></pre>
  </section>
  <section>
    <div class="tip">
      Essayez de valider le document... le document n'est plus valide !
    </div>
    <p>
      Sans toucher au DTD, modifiez l'élément <code>pokemon</code> qui pose
      problème, afin que le document soit de nouveau valide.
    </p>
  </section>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5</h3>
    <p>Téléchargez le fichier source <code>library.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/library.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>library.xml</code>
      </a>
    </p>
    <p>
      Écrire le DTD du fichier <code>library.xml</code>, en respectant les
      consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>book</code> dans <code>library</code>,
      </li>
      <li>
        Un <code>book</code> est composé des éléments :
        <ul>
          <li>
            <code>title</code>, <code>subtitle</code>, <code>author</code>,
            <code>genres</code>, <code>resume</code> et <code>price</code>,
          </li>
          <li><code>genres</code> contient au minimum 1 <code>genre</code>.</li>
        </ul>
      </li>
      <li>
        Un <code>book</code> possède un attribut <code>isbn</code>
        obligatoire.
        Le prix est exprimé dans une devise (<code>currency</code>),
        par défaut en euros.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>library.xml</code> avec la commande
      <code>xmllint</code>.
    </div>
  </section>
</section>
