<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est de comprendre la validation d'un document XML à
      l'aide d'un schéma <a href="/teaching/webservices/xsd">XSD</a>
      (<em>XML Schema Definition</em>).
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <ul>
      <li><code>xmllint</code> installé sur votre machine.</li>
      <li>
        Les fichiers sources fournis lors du
        <a href="/teaching/webservices/tp2">TP2</a>.
      </li>
    </ul>
  </section>
</section>

<!-- Avant-propos -->
<section>
  <h3>Avant-propos</h3>
  <h4>Validation du XML</h4>
  <p>
    Pour valider un document XML selon un DTD, nous utiliserons le programme
    <code>xmllint</code> en ligne de commande.
  </p>
  <pre><code class="sh">xmllint document.xml --noout --schema schema.xsd</code></pre>
  <div class="tip">
    Cette commande affiche <code>"document.xml validates"</code> si le document
    est valide selon le XSD.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <div class="tip">
      Reprenez le fichier source
      <a href="/downloads/webservices/xml/notes.xml"><code>notes.xml</code></a>
      du <a href="/teaching/webservices/tp2">TP précédent</a>.
    </div>
    <p>
      Dans un fichier <code>notes.xsd</code>, écrire le XSD du document
      <code>notes.xml</code>, en respectant les consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Une <code>note</code> est composée des éléments : <code>title</code>,
        <code>message</code>, <code>from</code>, <code>to</code>,
        <code>read</code>.
      </li>
      <li>
        Une <code>note</code> possède un attribut de date et de couleur.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>note</code>,
      </li>
      <li>
        L'élément <code>read</code> est vide et optionnel (peut apparaître 0 ou 1 fois),
      </li>
      <li>
        L'attribut date doit être de type <code>xs:date</code>,
      </li>
      <li>
        L'attribut de couleur ne peut prendre que les valeurs
        <code>yellow</code>, <code>pink</code>, <code>cyan</code>, ou
        <code>green</code>.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>notes.xml</code> avec la commande
      <code>xmllint</code> et le schéma <code>notes.xsd</code>.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2</h3>
    <p>Ajoutez la <code>note</code> suivante dans le document <code>notes.xml</code> :</p>
    <pre><code class="xml">&lt;note date="22-01-2019" color="red"&gt;
  &lt;title&gt;Oops&lt;/title&gt;
  &lt;message&gt;Ça marche plus...&lt;/message&gt;
  &lt;to&gt;Dev&lt;/to&gt;
  &lt;from&gt;Joe&lt;/from&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <div class="tip">
      Essayez de valider le document... le document n'est plus valide !
    </div>
    <p>
      Sans toucher au XSD, modifiez l'élément <code>note</code> qui pose
      problème, afin que le document soit de nouveau valide.
    </p>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <div class="tip">
      Reprenez le fichier source
      <a href="/downloads/webservices/xml/pokedex.xml"><code>pokedex.xml</code></a>
      du <a href="/teaching/webservices/tp2">TP précédent</a>.
    </div>
    <p>
      Dans un fichier <code>pokedex.xsd</code>, écrire le XSD du document
      <code>pokedex.xml</code>, en respectant les consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Un <code>pokedex</code> est composé d'éléments <code>pokemon</code>,
      </li>
      <li>
        Un <code>pokemon</code> est composé des éléments : <code>name</code>,
        <code>img</code>, <code>description</code>, <code>types</code>, et
        <code>sizes</code>,
      </li>
      <li>
        Un élément <code>types</code> est composé d'éléments <code>type</code>,
      </li>
      <li>
        Un élément <code>sizes</code> est composé d'éléments <code>size</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>pokemon</code>,
      </li>
      <li>
        Un <code>pokemon</code> possède un attribut <code>numero</code> à 3
        chiffres,
      </li>
      <li>
        Le nom du <code>pokemon</code> doit commencer par une majuscule
        (utilisez une restriction <code>xs:pattern</code> avec une expression
        régulière),
      </li>
      <li>
        L'élément <code>img</code> est vide et possède un attribut <code>src</code>,
      </li>
      <li>
        Un <code>pokemon</code> possède au maximum 2 <code>type</code>,
      </li>
      <li>
        L'élément <code>size</code> possède un attribut <code>unit</code>,
        exprimé uniquement en <code>meter</code> ou en <code>foot</code>.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>pokedex.xml</code> avec la commande
      <code>xmllint</code>.
    </div>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4</h3>
    <p>Ajoutez le <code>pokemon</code> suivant dans le document <code>pokedex.xml</code> :</p>
    <pre><code class="xml">&lt;pokemon numero="52"&gt;
  &lt;name&gt;miaouss&lt;/name&gt;
  &lt;img src="miaouss.png" /&gt;
  &lt;description&gt;
    Miaouss peut rentrer ses griffes dans ses pattes pour rôder gracieusement
    sans laisser de traces. Étrangement, ce Pokémon raffole des pièces d'or
    qui brillent à la lumière.
  &lt;/description&gt;
  &lt;types&gt;
    &lt;type&gt;Normal&lt;/type&gt;
  &lt;/types&gt;
  &lt;sizes&gt;
    &lt;size unit="meter"&gt;0.4&lt;/size&gt;
    &lt;size unit="cm"&gt;400&lt;/size&gt;
  &lt;/sizes&gt;
&lt;/pokemon&gt;</code></pre>
  </section>
  <section>
    <div class="tip">
      Essayez de valider le document... le document n'est plus valide !
    </div>
    <p>
      Sans toucher au XSD, modifiez l'élément <code>pokemon</code> qui pose
      problème, afin que le document soit de nouveau valide.
    </p>
  </section>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5</h3>
    <div class="tip">
      Reprenez le fichier source
      <a href="/downloads/webservices/xml/library.xml"><code>library.xml</code></a>
      du <a href="/teaching/webservices/tp2">TP précédent</a>.
    </div>
    <p>
      Dans un fichier <code>library.xsd</code>, écrire le XSD du document
      <code>library.xml</code>, en respectant les consignes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Une <code>library</code> est composée d'éléments <code>book</code>,
      </li>
      <li>
        Un <code>book</code> est composé des éléments : <code>title</code>,
        <code>subtitle</code>, <code>author</code>, <code>genres</code>,
        <code>resume</code>, et <code>price</code>,
      </li>
      <li>
        Un élément <code>genres</code> est composé d'éléments <code>genre</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>Quelques indications supplémentaires :</p>
    <ul>
      <li>
        Il peut y avoir 0 ou plusieurs <code>book</code>,
      </li>
      <li>
        Un <code>book</code> possède un attribut <code>isbn</code> à 10 ou 13
        chiffres,
      </li>
      <li>
        Le <code>subtitle</code> est optionnel (peut apparaître 0 ou 1 fois),
      </li>
      <li>
        L'élément <code>genres</code> peut posséder plusieurs <code>genre</code> (minimum 1),
      </li>
      <li>
        L'élément <code>prix</code> possède un attribut <code>currency</code>,
        exprimé uniquement en <code>euro</code> (par défaut) ou en
        <code>dollar</code>.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      Validez le document <code>library.xml</code> avec la commande
      <code>xmllint</code>.
    </div>
  </section>
</section>
