<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      L’objectif de ce TP est d'apprendre à récupérer de l'information dans un
      document XML à l'aide d'expressions
      <a href="/teaching/webservices/xpath">XPath</a>
      (<em>XML Path Language</em>).
    </p>
    <p>
      De plus, nous pratiquerons XPath en développant une application
      JavaScript, ainsi qu'une application Python.
    </p>
  </section>
</section>

<!-- Avant-propos -->
<section>
  <h3>Avant-propos</h3>
  <h4>Expressions XPath</h4>
  <p>
    Dans un premier temps, nous testerons les expressions XPath avec le
    programme <code>xmllint</code> en ligne de commande.
  </p>
  <pre><code class="sh">xmllint document.xml --noout --xpath "expression xpath"</code></pre>
  <div class="tip">
    Cette commande affiche le résultat de l'expression XPath spécifiée en paramètre.
  </div>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1</h3>
    <h4>Prérequis</h4>
    <p>Téléchargez le fichier source <code>notes.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/notes.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>notes.xml</code>
      </a>
    </p>
  </section>
  <section>
    <h4>Expressions</h4>
    <p>Écrire les expressions XPath pour répondre aux questions suivantes :</p>
  </section>
  <section>
    <ul>
      <li>Le nombre d'éléments <code>note</code> dans le document ?</li>
      <li>Le titre de la première note ?</li>
      <li>L'auteur de la dernière note ?</li>
      <li>Les auteurs qui ont écrit une note de couleur rose ?</li>
      <li>Les titres des notes écrites en 2018 ?</li>
      <li>Le message de la 2ème note postée par Alice ?</li>
      <li>Les titres qui contiennent le mot <em>Pas</em> ?</li>
      <li>Les titres des notes qui ont été lues (<code>read</code>) ?</li>
      <li>Les titres des notes où Alice et Bob communiquent ?</li>
      <li>Les messages avec Alice en destinataire et Bob en auteur ?</li>
    </ul>
  </section>
</section>

<!-- Question 2  -->
<section id="question2">
  <section>
    <h3>Question 2</h3>
    <h4>Prérequis</h4>
    <p>Téléchargez le fichier source <code>pokedex.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/pokedex.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>pokedex.xml</code>
      </a>
    </p>
  </section>
  <section>
    <h4>Expressions</h4>
    <p>Écrire les expressions XPath pour répondre aux questions suivantes :</p>
  </section>
  <section>
    <ul>
      <li>Le nombre de Pokemon dans le Pokedex ?</li>
      <li>Le nom du deuxième Pokemon ?</li>
      <li>Le numero de l'avant-dernier Pokemon ?</li>
      <li>Les types du Bulbizarre ?</li>
      <li>Le nom des Pokemon de type Vol ?</li>
      <li>Les noms qui commencent par la lettre C ?</li>
      <li>Le nom du premier Pokemon strictement plus grand que 2 mètres de haut ?</li>
      <li>Le nom du Pokemon avant Rattata ?</li>
      <li>Le nom des Pokemon qui possèdent 2 types ?</li>
      <li>La somme des tailles en mètres des Pokemon ?</li>
    </ul>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3</h3>
    <h4>Prérequis</h4>
    <p>Téléchargez le fichier source <code>library.xml</code> ci-dessous.</p>
    <p>
      <a target="_blank" href="/downloads/webservices/xml/library.xml" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>library.xml</code>
      </a>
    </p>
  </section>
  <section>
    <h4>Expressions</h4>
    <p>Écrire les expressions XPath pour répondre aux questions suivantes :</p>
  </section>
  <section>
    <ul>
      <li>Le nombre de livres dans la librairie ?</li>
      <li>Le prix moyen des livres (en euros) ?</li>
      <li>Les titres des livres qui ne sont pas de la Fantaisie ?</li>
      <li>Les titres des livres écrits par Stephen King ?</li>
      <li>Les auteurs d'horreur ?</li>
      <li>Les titres des livres écrits par Stephen King qui ne sont pas des livres d'horreur ?</li>
      <li>Les titres des livres qui contiennent le mot <em>animaux</em> dans leur titre ou leur résumé ?</li>
      <li>Les titres des livres plus chers que 10 euros ?</li>
      <li>Les titres moins longs que 10 caractères ?</li>
    </ul>
  </section>
</section>

<!-- Question 4 -->
<section>
  <section>
    <h3>Question 4 - Application JavaScript</h3>
    <h4>Présentation</h4>
    <p>
      L'objectif est de développer une application web (<code>HTML/CSS + JS</code>)
      permettant à un utilisateur de rédiger un document XML ainsi que des
      expressions XPath.
    </p>
    <p>
      L'application est capable d'analyser le document XML saisi, d'inspecter
      ses éléments principaux, et d'éxécuter des expressions XPath en direct.
    </p>
  </section>
  <section>
    <h4>Aperçu</h4>
    <video controls poster="/images/lessons/webservices/tp4_poster.png">
      <source src="/videos/lessons/webservices/tp4.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/webservices/tp4_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Rappels JavaScript</h4>
    <p><em>Parsing</em> d'une chaîne de caractères :</p>
    <pre><code class="js">const parser = new DOMParser();
const xmldoc = parser.parseFromString(text_value, 'text/xml');</code></pre>
  </section>
  <section>
    <p>Navigation dans un document (<a href="https://www.w3schools.com/jsref/dom_obj_all.asp">références</a>):</p>
    <pre><code class="js">xmldoc.documentElement; // element racine

elem.children;          // enfants de elem
elem.childNodes;        // noeuds enfants de elem
elem.parentElement;     // parent de elem

elem.tagName;           // nom de la balise
elem.length;            // taille
elem.childElementCount; // nb enfants de elem

node.nodeValue;         // valeur textuelle du noeud</code></pre>
  </section>
  <section>
    <p>
      Évaluation d'une expression XPath
      (<a href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Introduction_%C3%A0_l_utilisation_de_XPath_avec_JavaScript">prototype</a>) :
    </p>
    <pre><code class="js">nodes = xmldoc.evaluate(xpath, xmldoc, null,
                        XPathResult.ANY_TYPE, null);</code></pre>
    <p>Parcours des résultats de l'expression :</p>
    <pre><code class="js">let result = nodes.iterateNext();

while (result) {
  // do something with result...
  result = nodes.iterateNext();
}</code></pre>
  </section>
  <section>
    <p>Sérialisation d'un élément XML :</p>
    <pre><code class="js">str = new XMLSerializer().serializeToString(elem);</code></pre>
  </section>
  <!-- <section>
    <h4>Maquette</h4>
    <p>Design minimaliste de l'application web.</p>
    <p class="text-center demo border rounded" style="max-height:350px; overflow-y: auto; ">
      <img src="/images/lessons/webservices/tp4.png" alt="Maquette" class="img-fluid"/>
    </p>
  </section> -->
  <section>
    <h4>Améliorations</h4>
    <p>Quelques pistes...</p>
    <ul>
      <li>Gestion des erreurs si la source XML est mal formée,</li>
      <li>Gestion des résultats vides et des erreurs de syntaxe pour les expressions XPath,</li>
      <li>Amélioration de l'affichage des résulats (tableau, liste),</li>
      <li>...</li>
    </ul>
  </section>
</section>

<!-- Question 5 -->
<section>
  <section>
    <h3>Question 5 - Application Python</h3>
    <h4>Présentation</h4>
    <p>
      Le premier objectif est de développer un programme Python permettant
      d'éxécuter des expressions XPath dans un document XML.
    </p>
    <p>
      Le deuxième objectif est de découvrir comment produire un document XML
      à l'aide de Python.
    </p>
  </section>
  <section>
    <h4>Prérequis</h4>
    <p>Les ressources suivantes seront nécessaires :</p>
    <ul>
      <li><code>python3</code> installé sur votre machine,</li>
      <li><code>virtualenv</code> installé sur votre machine (optionnel),</li>
      <li>Le package Python <code>lxml</code> (<a href="https://lxml.de/index.html#documentation">documentation</a>),</li>
      <li>Les fichiers sources fournis.</li>
    </ul>
  </section>
  <section>
    <h4>Lecture et expressions XPath</h4>
    <p>
      Dans un fichier <code>pokedex.py</code>, développer un programme Python
      permettant de tester les expressions XPath de la <a href="#question2">question 2</a>.
    </p>
    <p>Par exemple, le nom des Pokemon de type Eau :</p>
    <pre><code class="sh">$ python pokedex.py
Carapuce
Carabaffe
Tortank
...</code></pre>
  </section>
  <section>
    <h4>Génération d'un document XML</h4>
    <p>
      À partir de la structure de données Python fournie ci-dessous,
      développer une fonction permettant de générer un fichier <code>.xml</code>
      semblable à celui de la question 1 du
      <a href="/teaching/webservices/tp1">TP1</a>.
    </p>
  </section>
  <section>
    <pre><code class="py">from lxml import etree

data = [
    {
        'color'  : 'yellow',
        'title'  : 'N\'oublie pas !',
        'message': 'Pense à sortir le chat...',
        'from'   : 'Bob',
        'to'     : 'Alice'
    },
    {
        'color'  : 'pink',
        'title'  : 'Pas le temps',
        'message': 'Fais le toi-même !',
        'from'   : 'Alice',
        'to'     : 'Bob'
    }
]

# TODO: generate xml file from data</code></pre>
  </section>
</section>
