<!-- Introduction -->
<section>
  <h3>Introduction</h3>
  <h4>Objectifs</h4>
  <p>
    L’objectif de ce TP est d'apprendre à visualiser l'information contenue
    dans un  document XML, à l'aide d'expressions
    <a href="/teaching/webservices/xpath">XPath</a> et de transformations
    <a href="/teaching/webservices/xslt">XSL</a>.
  </p>
</section>

<!-- Prérequis -->
<section>
  <section>
    <h3>Prérequis</h3>
    <h4>Backend <code>node.js</code></h4>
    <p>Téléchargez les fichiers sources <code>xml-server.zip</code> ci-dessous.</p>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>xml-server.zip</code>
      </a>
    </p>
    <div class="tip">
      Si nécessaire, installez <code>nvm</code> en suivant
      <a target="_blank" href="https://github.com/creationix/nvm">ces instructions</a>.
    </div>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
      Installez et démarrez le serveur <code>xml-server</code> avec les commandes
      suivantes.
    </p>
    <pre><code class="sh">cd xml-server/
npm install
npm start</code></pre>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
      Dans un navigateur, accédez à l'URL <code>localhost:3000</code>.
      Vous devriez obtenir un rendu similaire à la capture d'écran suivante
      (<code>/public/index.html</code>).
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/tp5_1.png" alt="Index" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1 - Notes</h3>
    <h4>Présentation</h4>
    <p>
      Nous allons afficher les notes contenues dans le document
      <code>notes.xml</code> à l'aide de transformations XSL.
    </p>
  </section>
  <section>
    <p>Ces fichiers sont déjà fournis dans <code>/public</code>:</p>
    <ul>
      <li><code>/html/notes.html</code> : la page qui affichera les notes,</li>
      <li><code>/stylesheets/notes.css</code> : des styles prédéfinis pour l'affichage des notes,</li>
      <li><code>/xml/notes.xml</code> : le document XML,</li>
      <li><code>/xsl/notes.xsl</code> : le document XSL,</li>
      <li><code>/javascripts/notes.js</code> : le script pour traiter les documents XML/XSL.</li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp5_2.png" alt="Notes XSL" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip">
      Vous pouvez réutiliser les styles prédéfinis dans le fichier
      <code>/stylesheets/notes.css</code> pour obtenir un rendu similaire à
      l'exemple.
    </div>
  </section>
  <section>
    <h4>Rappels JavaScript</h4>
    <p>
      Import d'une feuille de style XSL, transformation, et intégration au DOM
      HTML.
    </p>
    <pre><code class="js">// load
const xml = await getXML('my-file.xml');
const xsl = await getXML('my-file.xsl');
// process
const xsltProcessor = new XSLTProcessor();
xsltProcessor.importStylesheet(xsl);
const result = xsltProcessor.transformToFragment(xml, document);
// display
document.querySelector('#container').appendChild(result);</code></pre>
  </section>
  <section>
    <div class="tip">
      La fonction <code>getXML()</code> est fournie dans les fichiers sources
      du TP.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2 - Pokédex</h3>
    <h4>Présentation</h4>
    <p>
      Nous allons afficher les Pokemon contenus dans le document
      <code>pokedex.xml</code> à l'aide de transformations XSL.
    </p>
    <p>
      Le Pokédex ainsi affiché pourra être trié ou filtré. Un utilisateur pourra
      y rechercher un Pokémon en tapant les lettres de son nom. Un clic
      sur le nom d'un Pokémon redirigera vers sa fiche détaillée.
    </p>
  </section>
  <section>
    <p>Ces fichiers sont déjà fournis dans <code>/public</code>:</p>
    <ul>
      <li><code>/html/pokedex.html</code> : la page qui affichera le Pokédex,</li>
      <li><code>/images/pokemon/*.png</code> : les images des Pokémon,</li>
      <li><code>/xml/pokedex.xml</code> : le document XML,</li>
      <li><code>/xsl/pokedex.xsl</code> : le document XSL,</li>
      <li><code>/javascripts/pokedex.js</code> : le script pour traiter les documents XML/XSL.</li>
    </ul>
  </section>
  <section>
    <h4>Aperçu</h4>
    <p>Affichage, recherche, tri et filtre du Pokédex.</p>
    <video controls poster="/images/lessons/webservices/tp5_poster.png">
      <source src="/videos/lessons/webservices/tp5.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/webservices/tp5_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Affichage du Pokédex</h4>
    <p>
      Affichez la liste de tous les Pokémon à l'aide de transformations XSL.
      Pour chaque Pokémon, affichez les informations suivantes :
    </p>
    <ul>
      <li>Son image,</li>
      <li>Son numéro,</li>
      <li>Son nom,</li>
      <li>Ses types.</li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp5_3.png" alt="Pokedex" class="img-fluid"/>
    </div>
    <div class="tip">
      Utilisez le composant
      <a href="https://getbootstrap.com/docs/4.2/components/card/#card-columns">card-columns</a>
      de Bootstrap pour faciliter l'affichage des Pokémon.
    </div>
  </section>
  <section>
    <h4>Fiche détaillée d'un Pokémon</h4>
    <p>
      Un clic sur le nom d'un Pokémon doit rediriger vers sa fiche détaillée.
    </p>
    <p>Développez les fichiers suivants :</p>
    <ul>
      <li>Une page <code>/html/pokemon.html</code>,</li>
      <li>Une feuille de style <code>/xsl/pokemon.xsl</code>,</li>
      <li>Un script <code>/javascripts/pokemon.js</code>.</li>
    </ul>
  </section>
  <section>
    <p>La fiche détaillée d'un Pokémon recense les informations suivantes :</p>
    <ul>
      <li>Son image,</li>
      <li>Son numéro et son nom,</li>
      <li>Sa description,</li>
      <li>Ses types,</li>
      <li>Sa taille (en mètre et en pieds).</li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp5_4.png" alt="Fiche Pokemon" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="tip tip-info">
      <p>Passage de paramètres dans l'URL :</p>
      <pre><code>&gt; localhost:3000/page.html?foo=42</code></pre>
      <p>Récupération en JS, puis injection dans le XSL :</p>
      <pre><code class="js">const foo = new URL(location).searchParams.get('foo');
// foo == '42'
xsltProcessor.setParameter(null, 'foo', foo);</code></pre>
    </div>
  </section>
  <section>
    <h4>Recherche, tri, et filtre</h4>
    <p>Développez les fonctionnalités suivantes :</p>
    <ul>
      <li>Recherche d'un Pokémon en tapant son nom dans la barre de recherche,</li>
      <li>Filtre selon les <em>types</em> sélectionnés,</li>
      <li>Tri selon un ordre numérique ou alphabétique.</li>
    </ul>
    <div class="warn">
      Prenez-garde au sens de lecture du Pokédex trié si vous utilisez les
      Bootstrap <em>card-columns</em> : de haut en bas, puis de gauche à
      droite !
    </div>
  </section>
</section>
