<!-- Introduction -->
<section>
  <h3>Introduction</h3>
  <h4>Objectifs</h4>
  <p>
    L’objectif de ce TP est d'apprendre à créer et à manipuler des documents
    <a href="/teaching/webservices/svg">SVG</a>.
  </p>
</section>

<!-- Prérequis -->
<section>
  <section>
    <h3>Prérequis</h3>
    <h4>Backend <code>node.js</code></h4>
    <p>Téléchargez les fichiers sources <code>xml-server-2.zip</code> ci-dessous.</p>
    <p>
      <a href="<%= sources %>" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>xml-server-2.zip</code>
      </a>
    </p>
    <div class="tip">
      Si nécessaire, installez <code>nvm</code> en suivant
      <a target="_blank" href="https://github.com/creationix/nvm">ces instructions</a>.
    </div>
  </section>
  <section>
    <h4>Installation</h4>
    <p>
      Installez et démarrez l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd xml-server-2/
npm install
npm start</code></pre>
  </section>
  <section>
    <h4>Browsing</h4>
    <p>
      Dans un navigateur, accédez à l'URL <code>localhost:3000</code>.
    </p>
  </section>
</section>

<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1 - Chuck</h3>
    <h4>Dessin</h4>
    <p>
      Dessiner Chuck
      (<a href="https://en.wikipedia.org/wiki/Angry_Birds">Angry Birds</a>)
      à l'aide d'éléments SVG.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/tp6_1.png" alt="Chuck" class="img-fluid"/>
    </div>
  </section>
  <section>
    <p>Étapes du dessin (dans <code>html/chuck.html</code>) :</p>
    <ul>
      <li>Un triangle de fond <code>#eddb14</code> pour le corps,</li>
      <li>Des cercles blancs et noirs pour les yeux et les pupilles,</li>
      <li>
        Des rectangles de fond <code>#b13225</code> légèrement inclinés pour les
        sourcils,
      </li>
      <li>Un cercle blanc <em>clippé</em> pour le ventre,</li>
      <li>Un triangle de fond <code>#f3ae1a</code> pour le bec,</li>
      <li>Une ellipse de fond <code>#faf494</code> pour l'effet de lumière,</li>
      <li>Deux triangles noirs pour les mèches de cheveux.</li>
    </ul>
  </section>
  <section>
    <h4>Animation</h4>
    <p>
      Animer Chuck pour le faire entrer puis sortir de la zone de dessin, comme
      dans l'illustration suivante.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/tp6_2.gif" alt="Chuck animé" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2 - Maths</h3>
    <h4>Présentation</h4>
    <p>Trois fichiers sont fournis :</p>
    <ul>
      <li>
        <code>html/mystere.html</code> : la zone de dessin SVG et un champ
        <code>input</code>,
      </li>
      <li>
        <code>stylesheets/mystere.css</code> : quelques styles,
      </li>
      <li>
        <code>javascripts/mystere.js</code> : le script qui dessinera les
        éléments SVG.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Initialement, un cercle SVG en filigrane (<code>#watermark</code>) est
      dessiné au centre de l'écran.
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/tp6_3.png" alt="Mystère" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Division du cercle</h4>
    <p>
      Implémenter une fonction <code>computeCoordinates(n)</code>. Cette
      fonction doit retourner la liste des coordonnées <code>{x, y}</code> de
      <code>n</code> points équidistants sur le cercle.
    </p>
    <p>
      Les coordonnées des <code>n</code> points peuvent être calculées avec :
    </p>
    <pre><code class="js">nx = cx + r * Math.sin(a)
ny = cy - r * Math.cos(a)</code></pre>
  </section>
  <section>
    <p>Avec :</p>
    <ul>
      <li><code>r</code> : le rayon du cercle,</li>
      <li>
        <code>cx</code> et <code>cy</code> : les coordonnées du centre du
        cercle,
      </li>
      <li><code>a</code> : l'angle de la <em>division</em>.</li>
    </ul>
    <div class="fig text-center">
      <img src="/images/lessons/webservices/tp6_4.png" alt="Division du cercle" class="img-fluid"/>
    </div>
  </section>
  <section>
    <div class="warn">
      Les fonctions <code>Math.sin</code> et <code>Math.cos</code> utilisent
      des angles en radians.
      <pre class="mb-0"><code class="js">// convert degrees to radians
radian = degree * Math.PI / 180</code></pre>
    </div>
  </section>
  <section>
    <h4>Dessin des points</h4>
    <p>
      Implémenter une fonction <code>drawPoints(coordinates)</code>. Cette
      fonction doit dessiner les points aux coordonnées précisées en paramètre.
    </p>
    <p>
      Lorsque la valeur du champ <code>modulo</code> (<code>n</code>) change,
      effacer le dessin actuel et redessiner les <code>n</code> points.
    </p>
  </section>
  <section>
    <div class="tip">
      Pour ajouter un élément dans le SVG (<code>#drawing</code>) :
      <pre><code class="js">// add a &lt;circle&gt; element
const circle = document.createElementNS(SVGNS, 'circle');
circle.setAttribute('cx', 100)
circle.setAttribute('cy', 200)
drawing.appendChild(circle);</code></pre>
      <p>
        Pour supprimer tous les éléments dans le dessin :
      </p>
      <pre class="mb-0"><code class="js">while (drawing.firstChild) {
  drawing.removeChild(drawing.firstChild);
}</code></pre>
    </div>
  </section>
  <section>
    <h4>Table de 2</h4>
    <p>
      Dessiner la table de multiplication de 2 modulo <code>n</code> sur le
      cercle.
    <p>
      Pour cela, tracer une ligne entre le <code>k</code><sup>ème</sup>
      et le <code>(k*2 mod n)</code><sup>ème</sup> point du cercle.
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp6_5.png" alt="Table de 2" class="img-fluid"/>
    </div>
    <div class="tip">
      Augmentez progressivement le modulo... Ouahou !
    </div>
  </section>
  <section>
    <h4>Autres tables de multiplication</h4>
    <p>
      Ajouter un nouveau champ <code>input</code> qui déterminera la table de
      multiplication à dessiner.
    </p>
    <div class="tip">
      Un peu plus d'<a target="_blank"
      href="https://www.youtube.com/watch?v=-X49VQgi86E">explications</a>
      du phénomène...
    </div>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3 - Graphiques</h3>
    <h4>Statistiques du Pokédex</h4>
    <p>
      Dans <code>xsl/pokedex.xsl</code>, générer des graphiques SVG à l'aide de
      transformations <a href="/teaching/webservices/xslt">XSL</a> afin de
      représenter la distribution des Pokémon par type et par taille.
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp6_6.png" alt="Graphiques" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Astuces XSL</h4>
    <p>
      Obtenir les occurences uniques d'un élément <code>el</code> :
    </p>
    <pre><code class="xpath">//el[not(preceding::el/. = .)]</code></pre>
    <p>
      Obtenir le nombre d'éléments dans un ensemble :
    </p>
    <pre><code class="xpath">count(/your/xpath/expression)</code></pre>
  </section>
  <section>
    <p>
      Parcourir des boucles <code>forEach</code> :
    </p>
    <pre><code class="xsl">&lt;xsl:for-each select="/your/xpath/expression"&gt;
  Current element value : &lt;xsl:value-of select="." /&gt;
  Current iteration value : &lt;xsl:value-of select="position()" /&gt;
&lt;/xsl:for-each&gt;</code></pre>
    <p>
      Déclarer une variable XSL (<em>lecture seule</em>) :
    </p>
    <pre><code class="xsl">&lt;xsl:variable name="variable_name" select="variable_value" /&gt;</code></pre>
  </section>
  <section>
    <h4>Graphiques dynamiques</h4>
    <p>
      Mettre à jour les graphiques en fonction des filtres appliqués à la
      recherche de Pokémon, comme dans l'illustration suivante :
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp6_7.gif" alt="Graphiques dynamiques" class="img-fluid"/>
    </div>
  </section>
</section>
