<!-- Question 1 -->
<section>
  <section>
    <h3>Question 1 - Météo</h3>
    <h4>Prérequis</h4>
    <p>
      Télécharger les fichiers sources :
    </p>
    <p>
      <a href="/downloads/webservices/node/weather-server.zip" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>weather-server.zip</code>
      </a>
    </p>
  </section>
  <section>
    <p>
      Installer et démarrer l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd weather-server/
npm install
npm start</code></pre>
    <p>
      Dans un navigateur, accéder à l'URL <code>localhost:3000</code>.
    </p>
  </section>
  <section>
    <h4>Présentation</h4>
    <p>
      Concevoir une application web permettant de localiser une ville sur un
      planisphère, puis d'en obtenir le bulletin météo actuel. Pour cela,
      l'application communiquera avec divers services web, afin d'obtenir un
      résultat similaire à l'illustration suivante :
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp7_1.gif" alt="Animals" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Localisation d'une ville</h4>
    <p>
      Utiliser les services web suivants :
    </p>
    <ul>
      <li>
        <a href="https://nominatim.org/release-docs/develop/api/Search/">Nominatim</a> :
        données GPS,
      </li>
      <li>
        <a href="https://www.openstreetmap.org/">OpenStreetMap</a> :
        planisphère.
      </li>
    </ul>
    <div class="tip">
      Utilisez un <code>iframe</code> OpenStreetMap et positionnez-y un marqueur
      selon une lattitude et une longitude.
    </div>
  </section>
  <section>
    <h4>Bulletin météo</h4>
    <p>
      Utiliser le service web
      <a href="https://openweathermap.org/">OpenWeatherMap</a> pour obtenir
      la température (en degrés Celsius) et le temps actuels dans la ville
      recherchée.
    </p>
    <div class="tip">
      Affichez l'
      <a href="https://openweathermap.org/weather-conditions#Icon-list">
        icône
      </a> correspondant au temps actuel.
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2 - Intéropérabilité</h3>
    <h4>Prérequis</h4>
    <p>
      Télécharger le script de base :
    </p>
    <p>
      <a
        href="/downloads/webservices/python/weather.py"
        class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>weather.py</code>
      </a>
    </p>
  </section>
  <section>
    <p>
      Installer les dépendances si nécessaires, puis exécutez le script avec :
    </p>
    <pre><code class="bash"># install dependencies
pip install requests lxml matplotlib
# run script
python weather.py</code></pre>
  </section>
  <section>
    <h4>Présentation</h4>
    <p>
      Développer un script Python qui :
    </p>
    <ul>
      <li>Saisit le nom d'une ville,</li>
      <li>
        Récupère les prévisions météo à 5 jours depuis le service web
        <a href="https://openweathermap.org/">OpenWeatherMap</a>
        au format XML,
      </li>
      <li>
        Affiche les températures (en degrés Celsius) pour les 5 prochains jours
        sous la forme d'un graphique.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp7_1.png" alt="Météo" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Aide</h4>
    <p>
      Utiliser le module <code>requests</code> pour <em>atteindre</em> une URL.
    </p>
    <pre><code class="py">import requests
response = requests.get('https://www.google.fr/')
print(response.content)</code></pre>
    <p>
      Utiliser le module <code>lxml</code> pour <em>analyser</em> du XML et
      exécuter des requêtes XPath.
    </p>
    <pre><code class="py">from lxml import etree
tree = etree.fromstring(response.content)
result = tree.xpath('/your/xpath/expression')</code></pre>
  </section>
  <section>
    <p>
      Utiliser le module <code>matplotlib</code> pour créer des graphiques.
    </p>
    <pre><code class="py">import matplotlib.pyplot as plt
x = [1, 2, 3, 4, 5]
y = [2, 8, 5, 6, 1]
plt.plot(x, y)
plt.title('Graphic title')
plt.xlabel('X axis')
plt.ylabel('Y axis')
plt.grid()
plt.show()</code></pre>
  </section>
</section>
