<!-- Question 1 -->
<section>
  <section id="conception">
    <h3>Question 1 - API</h3>
    <h4>Prérequis</h4>
    <p>
      Télécharger les fichiers sources :
    </p>
    <p>
      <a href="/downloads/webservices/node/cat-api.zip" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>cat-api.zip</code>
      </a>
    </p>
    <p>
      Installez et démarrez l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd cat-api/
npm install
npm run devstart
# app listening on localhost:3001</code></pre>
  </section>
  <section>
    <h4>Présentation</h4>
    <p>
      Concevoir un service web qui fournit des images de chats aléatoires. Le
      service web répond au format XML ou JSON.
    </p>
    <div class="fig">
      <img src="/images/lessons/webservices/tp8_1.gif" alt="API" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Routes XML</h4>
    <p>
      Dans <code>/routes/index.js</code>, implémenter une route
      <code>GET /xml/cat</code> qui fournit :
    </p>
    <ul>
      <li>L'URL d'une image de chat aléatoire,</li>
      <li>Le nom de l'image fournie,</li>
      <li>La représentation <code>base64</code> de l'image fournie.</li>
    </ul>
  </section>
  <section>
    <p>La réponse doit être au format XML. Par exemple :</p>
    <pre><code class="xml">&lt;cat&gt;
  &lt;name&gt;...&lt;/name&gt;
  &lt;image
    url="..."
    bytes="..." /&gt;
&lt;/cat&gt;</code></pre>
    <div class="tip">
      Spécifiez le type de la réponse avec :
      <pre><code class="js">res.type('application/xml');</code></pre>
    </div>
  </section>
  <section>
    <h4>Routes JSON</h4>
    <p>
      Implémenter une route
      <code>GET /json/cat</code> qui fournit :
    </p>
    <ul>
      <li>L'URL d'une image de chat aléatoire,</li>
      <li>Le nom de l'image fournie,</li>
      <li>La représentation <code>base64</code> de l'image fournie.</li>
    </ul>
  </section>
  <section>
    <p>La réponse doit être au format JSON. Par exemple :</p>
    <pre><code class="json">{
  'name': '...',       
  'url': '...',
  'bytes': '...'
}</code></pre>
    <div class="tip">
      Spécifiez le type de la réponse avec :
      <pre><code class="js">res.type('application/json');</code></pre>
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2 - Application</h3>
    <h4>Prérequis</h4>
    <p>
      Télécharger les fichiers sources :
    </p>
    <p>
      <a href="/downloads/webservices/node/animals-app.zip" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>animals-app.zip</code>
      </a>
    </p>
    <p>
      Installez et démarrez l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd animals-app/
npm install
npm start
# app listening on localhost:3000</code></pre>
  </section>
  <section>
    <h4>Présentation</h4>
    <p>
      Utiliser diverses API REST pour concevoir une application web qui affiche
      des images de chiens et chats aléatoires.
    </p>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/tp8_2.gif" alt="Application" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Animaux aléatoires</h4>
    <p>
      Utiliser les services web suivants pour générer des images d'animaux
      aléatoires.
    </p>
    <ul>
      <li>
        Chats aléatoires : utiliser l'API REST conçue à la
        <a href="#conception">question précédente</a>,
      </li>
      <li>
        Chiens aléatoires :
        <a href="https://random.dog/woof.json">https://random.dog/woof.json</a>.
      </li>
    </ul>
    <div class="tip">
      Affichez l'image <code>/images/loader.gif</code> pendant que l'image
      se charge.
    </div>
  </section>
</section>

<!-- Question 3 -->
<section>
  <section>
    <h3>Question 3 - Tags</h3>
    <h4>Présentation</h4>
    <p>
      Améliorer votre application en <em>taguant</em> automatiquement les images
      d'animaux. Pour cela, votre application communiquera avec un service web
      d'<em>intelligence artificielle</em>.
    </p>
  </section>
  <section>
    <video controls poster="/images/lessons/webservices/tp8_poster.png">
      <source src="/videos/lessons/webservices/tp8.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/webservices/tp8_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Classification</h4>
    <p>
      Utiliser le service web <a href="https://clarifai.com/">Clarifai</a> pour
      taguer automatiquement les images fournies par les services web précédents.
    </p>
    <ul>
      <li><a href="https://www.clarifai.com/developer/welcome">Quick-start</a>,</li>
      <li><a href="https://docs.clarifai.com/api-guide/predict">Documentation</a> complète.</li>
    </ul>
  </section>
  <section>
    <h4>Améliorations</h4>
    <p>Quelques pistes :</p>
    <ul>
      <li>Taguer les images en <em>français</em>,</li>
      <li>
        Affichez les tags avec une taille plus ou moins grande selon leur
        fiabilité (fiable <code>&gt; 95%</code>, pas fiable
        <code>&lt; 85%</code>),
      </li>
      <li>Gérer les cas où l'API répond par une vidéo.</li>
    </ul>
  </section>
</section>
