<!-- Question 1 -->
<section>
  <section id="conception">
    <h3>Question 1 - API</h3>
    <h4>Prérequis</h4>
    <p>
      Télécharger les fichiers sources :
    </p>
    <p>
      <a href="/downloads/webservices/node/cesar-api.zip" class="btn btn-block btn-primary">
        <i class="fas fa-download"></i> <code>cesar-api.zip</code>
      </a>
    </p>
    <p>
      Installez et démarrez l'application avec les commandes suivantes.
    </p>
    <pre><code class="sh">cd cesar-api/
npm install
npm run devstart
# app listening on localhost:3001</code></pre>
  </section>
  <section>
    <h4>Présentation</h4>
    <p>
      Concevoir un service web qui chiffre ou déchiffre des messages selon le
      chiffrement de César.
    </p>
    <video controls poster="/images/lessons/webservices/tp9_poster.png">
      <source src="/videos/lessons/webservices/tp9.mp4" type="video/mp4">
      <p class="text-center">
        <img src="/images/lessons/webservices/tp9_poster.png" style="width: 100%"/>
      </p>
    </video>
  </section>
  <section>
    <h4>Chiffrement</h4>
    <p>
      Implémenter une route paramétrée
      <code>GET /cesar/cipher/:message/:key</code> qui retourne un objet JSON
      avec :
    </p>
    <ul>
      <li>Le message d'origine (<code>:message</code>),</li>
      <li>La clé de chiffrement (<code>:key</code>),</li>
      <li>Le message chiffré avec César (fonction fournie).</li>
    </ul>
  </section>
  <section>
    <p>La réponse doit être au format JSON. Par exemple :</p>
    <pre><code class="json">{
  'message': 'abc',       
  'key': 2,
  'encrypted': 'cde'
}</code></pre>
  </section>
  <section>
    <div class="tip">
      Récupérez les paramètres d'une route avec :
      <pre><code class="js">router.get('/my/route/:message', function(req, res) {
  const message = req.params.message;
  // do something with message...
}</code></pre>
      <p>
        Plus d'informations sur les
        <a href="/teaching/web/nodejs#toc24">routes Express</a>.
      </p>
    </div>
  </section>
  <section>
    <h4>Déchiffrement</h4>
    <p>
      Implémenter une route paramétrée
      <code>GET /cesar/bruteforce/:message</code>. Cette route tente de casser
      un message chiffré avec César passé en paramètre. La route retourne un
      objet JSON avec :
    </p>
    <ul>
      <li>Le message chiffré d'origine (<code>:message</code>),</li>
      <li>
        Une liste de tous les messages déchiffrés possibles (sur l'ensemble des
        26 clés).
      </li>
    </ul>
  </section>
  <section>
    <p>La réponse doit être au format JSON. Par exemple :</p>
    <pre><code class="json">{
  'encrypted': 'cde',       
  'list' : [
      { 'key': 0, 'message': 'cde' },
      { 'key': 1, 'message': 'bcd' },
      { 'key': 2, 'message': 'abc' },
      ...
  ]
}</code></pre>
  </section>
  <section>
    <div class="tip">
      Pensez à réutiliser la fonction <code>cesar(str, key)</code> fournie !
    </div>
  </section>
</section>

<!-- Question 2 -->
<section>
  <section>
    <h3>Question 2 - Pour aller plus loin...</h3>
    <p>Quelques pistes de travail :</p>
    <ul>
      <li>
        Implémenter une application web qui propose une interface utilisateur
        pour communiquer avec le service web développé à la question précédente.
      </li>
      <li>
        Utiliser les connaissances acquises dans votre de module de
        cryptographie pour améliorer le service :
        <ul>
          <li>Ajouter un autre chiffrement (Vigenère, ...),</li>
          <li>Casser les chiffrés plus subtilement qu'avec du bruteforce...</li>
        </ul>
      </li>
    </ul>
  </section>
</section>
