<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Définition</h4>
    <p>Le langage XML :</p>
    <ul>
      <li><em>eXtensible Markup Language</em> (langage de balisage extensible),</li>
      <li>Décrit et structure une information,</li>
      <li>Compréhensible par l'homme ou la machine,</li>
      <li>Standard recommandé par W3C.</li>
    </ul>
  </section>

  <section>
    <h4>Applications</h4>
    <p>Quelques exemples d'applications utilisant XML :</p>
    <ul>
      <li>Fichiers de configuration,</li>
      <li>Définition des <em>layouts</em> pour les applications Android,</li>
      <li>Création d'illustrations vectorielles (SVG),</li>
      <li>Web services (SOAP, flux RSS, ...)</li>
    </ul>
  </section>

  <section>
    <h4>Historique</h4>
    <p>Un peu de culture...</p>
    <ul>
      <li>1986 - SGML (<em>Standard Generalized Markup Language</em>),</li>
      <li>1991 - HTML</li>
      <li>1996 - XML (version simplifiée de SGML, moins de contraintes, plus adaptée au web)</li>
      <li>1998 - XML standardisé par W3C</li>
      <li>1999 - XHTML (redéfinition du HTML 4.0)</li>
    </ul>
  </section>

  <!-- <section>
    <p class="tip tip-warn">
      HTML5 a remplacé XHTML depuis 2014...
    </p>
    <div class="tip">
      XML est une techno ancienne, mais pas morte !
      <br/>
      Par exemple, l'<a href="https://developers.facebook.com/docs/public_feed/">API Public Feed</a>
      de Facebook utilise XML...
    </div>
  </section> -->

  <section>
    <h4>Exemple</h4>
    <p>Un document XML...</p>
    <pre><code class="xml">&lt;note date="05-01-2020"&gt;
  &lt;destinataire&gt;Alice&lt;/destinataire&gt;
  &lt;auteur&gt;Bob&lt;/auteur&gt;
  &lt;titre&gt;N'oublie pas !&lt;/titre&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
    <p>... ne <em>fait</em> rien !</p>
  </section>

  <section>
    <p>
      Il y a besoin d'un programme pour l'envoyer, le recevoir, le stocker,
      l'afficher...
    </p>
    <div class="fig">
      <div style="font-family:monospace;width:250px;background:yellow;margin:auto;padding:1em;box-shadow:0 5px 5px rgba(0,0,0,0.25);">
        <p style="margin-bottom:0.25rem;">Note</p>
        <p style="font-size:0.6rem;padding-bottom:1rem;border-bottom:1px solid rgba(0,0,0,0.5)">Pour Alice, le 05-01-2020</p>
        <p style="font-weight:bold;">N'oublie pas !</p>
        <p>Pense à sortir le chat...</p>
        <p style="text-align:right;font-style:italic;" class="mb-0">Bob</p>
      </div>
    </div>
  </section>

  <section>
    <h4>Différences avec HTML</h4>
    <p>XML et HTML sont conçus pour des objectifs distincts :</p>
    <ul>
      <li>XML <em>transporte</em> des données : focus sur la donnée elle-même,</li>
      <li>HTML <em>affiche</em> des données : focus sur l'apparence de la donnée.</li>
    </ul>
    <p>En XML, pas de balises prédéfinies comme en HTML (<code>div</code>, <code>p</code>, <code>h1</code>, ...).</p>
  </section>
</section>

<!-- Arborescence -->
<section>
  <section>
    <h3>Arborescence</h3>
    <h4>Définition</h4>
    <p>Les documents XML peuvent être représentés sous forme d'arbre :</p>
    <ul>
      <li>De la racine,</li>
      <li>En passant par les branches,</li>
      <li>Jusqu'aux feuilles (qui contiennent l'information).</li>
    </ul>
  </section>
  <section>
    <p>Le vocabulaire à connaître :</p>
    <ul>
      <li>Élement : un composant de l'arbre (une balise et tout ce qu'elle contient),</li>
      <li>Parent : élément qui a des enfants,</li>
      <li>Enfant (<em>child</em>) : élément qui a un parent,</li>
      <li>Voisin (<em>sibling</em>) : éléments enfants sur un même niveau.</li>
    </ul>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="xml">&lt;root&gt;
  &lt;child&gt;
    &lt;subchild&gt;...&lt;/subchild&gt;
  &lt;/child&gt;
  &lt;child&gt;...&lt;/child&gt;
&lt;/root&gt;</code></pre>
    <div class="fig">
      <img src="/images/lessons/webservices/xml1.png" alt="Arborescence" class="img-fluid"/>
    </div>
  </section>
</section>

<!-- Document XML -->
<section>
  <section>
    <h3>Document XML</h3>
    <h4>Exemple</h4>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;

&lt;!-- Ceci est un document XML --&gt;
&lt;note date="05-01-2020"&gt;
  &lt;destinataire&gt;Alice&lt;/destinataire&gt;
  &lt;auteur&gt;Bob&lt;/auteur&gt;
  &lt;titre&gt;N'oublie pas !&lt;/titre&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <p>
      Un document XML doit contenir <strong>un</strong> (et un seul) élément
      racine qui est le <strong>parent</strong> de tous les autres éléments.
    </p>
    <div class="tip">
      Dans l'exemple, il s'agit de l'élément <code>note</code>.
    </div>
  </section>
  <section>
    <h4>Prologue</h4>
    <p>Cette ligne est le prologue du document XML :</p>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;</code></pre>
    <ul>
      <li>Il spécifie la version XML (<code>1.0</code>, <code>1.1</code>) et l'encodage utilisés,</li>
      <li>Il est optionnel (néanmoins fortement recommandé),</li>
      <li>S'il existe, il doit apparaître en premier dans le document.</li>
    </ul>
  </section>
  <section>
    <h4>Commentaires</h4>
    <p>Ils sont utilisés pour expliquer une partie du code XML.</p>
    <pre><code class="xml">&lt;!-- Ceci est un commentaire XML --&gt;</code></pre>
  </section>
</section>

<!-- Elements  -->
<section>
  <section>
    <h3>Éléments</h3>
    <h4>Définition</h4>
    <p>Un élément XML est défini par :</p>
    <ul>
      <li>Une balise ouvrante,</li>
      <li>Un contenu,</li>
      <li>Une balise fermante.</li>
    </ul>
  </section>
  <section>
    <h4>Contenu</h4>
    <p>Un élément peut contenir :</p>
    <ul>
      <li>Du texte,</li>
      <li>Des <a href="#attributs">attributs</a>,</li>
      <li>D'autres éléments,</li>
      <li>Un mélange des trois,</li>
      <li>Rien.</li>
    </ul>
    <pre><code class="xml">&lt;note date="05-01-2020"&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <h4>Elements vides</h4>
    <p>Un élément peut être vide.</p>
    <pre><code class="xml">&lt;note&gt;
  &lt;vue&gt;&lt;/vue&gt;
&lt;/note&gt;</code></pre>
    <p>On préférera utiliser la balise auto-fermante.</p>
    <pre><code class="xml">&lt;vue/&gt;</code></pre>
    <div class="tip">Les éléments vides peuvent posséder des attributs.</div>
  </section>
  <section>
    <h4>Imbrication</h4>
    <p>Les éléments doivent être correctement imbriqués.</p>
    <pre><code class="xml">&lt!-- Incorrect :'( --&gt;
&lt;gras&gt;
  &lt;italique&gt;Ce texte est en gras et en italique&lt;/gras&gt;
&lt;/italique&gt;
&lt!-- Correct ;) --&gt;
&lt;gras&gt;
  &lt;italique&gt;Ce texte est en gras et en italique&lt;/italique&gt;
&lt;/gras&gt;</code></pre>
  </section>
</section>
<section>
  <section>
    <h3>Nomenclature</h3>
    <h4>Éléments</h4>
    <p>
      Commence par une lettre <code>[a-zA-Z]</code> ou underscore <code>_</code>.
    </p>
    <div class="tip">Sensible à la casse : <code>&lt;note&gt; != &lt;Note&gt;</code>.</div>
    <div class="warn">
      Un élément XML ne peut pas :
      <ul>
        <li>Contenir des espaces (<code style="text-decoration:line-through">&lt;web service&gt;</code>),</li>
        <li>Commencer par les lettres <code>xml</code> (<code style="text-decoration:line-through">&lt;xML&gt;</code>).</li>
      </ul>
    </div>
  </section>
  <section>
    <h4>Entités références</h4>
    <p>Il existe 5 caractères réservés en XML :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>&amp;gt;</code></td>
          <td><code>&gt;</code></td>
          <td>plus grand que</td>
        </tr>
        <tr>
          <td><code>&amp;lt;</code></td>
          <td><code>&lt;</code></td>
          <td>plus petit que</td>
        </tr>
        <tr>
          <td><code>&amp;amp;</code></td>
          <td><code>&amp;</code></td>
          <td>esperluette</td>
        </tr>
        <tr>
          <td><code>&amp;apos;</code></td>
          <td><code>&apos;</code></td>
          <td>apostrophe</td>
        </tr>
        <tr>
          <td><code>&amp;quot;</code></td>
          <td><code>&quot;</code></td>
          <td>guillemet</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <p>
      Pour utiliser ces caractères spéciaux dans un document, on les
      remplace par des entités références.
    </p>
    <pre><code class="xml">&lt!-- Incorrect :'( --&gt;
&lt;message&gt;I &lt;3 XML !&lt;/message&gt;

&lt!-- Correct ;) --&gt;
&lt;message&gt;I &amp;lt;3 XML !&lt;/message&gt;</code></pre>
  </section>
  <section>
    <h4>Styles de nomenclature</h4>
    <p>Quelques styles souvent utilisés :</p>
    <ul>
      <li><code>PascalCase</code> : majuscule à chaque mot,</li>
      <li><code>camelCase</code> : idem sauf pour le premier mot,</li>
      <li><code>snake_case</code> : underscore entre les mots.</li>
    </ul>
    <p>Exemples (respectivement) :</p>
    <pre><code class="xml">&lt;NomDeFamille&gt;Dupont&lt;/NomDeFamille&gt;
&lt;nomDeFamille&gt;Dupont&lt;/nomDeFamille&gt;
&lt;nom_de_famille&gt;Dupont&lt;/nom_de_famille&gt;</code></pre>
  </section>
</section>

<!-- Attributs -->
<section>
  <section id="attributs">
    <h3>Attributs</h3>
    <h4>Définition</h4>
    <p>Données supplémentaires relatives à un élément.</p>
    <pre><code class="xml">&lt;prix devise="euro"&gt;20&lt;/prix&gt;</code></pre>
    <p>Ils sont formés :</p>
    <ul>
      <li>D'un nom,</li>
      <li>Du symbole <code>=</code>,</li>
      <li>D'une valeur (entre guillemets).</li>
    </ul>
  </section>
  <section>
    <h4>Attribut ou élément ?</h4>
    <p>Pas de règle précise entre attribut...</p>
    <pre><code class="xml">&lt;note date="05-01-2020"&gt;...&lt;/note&gt;</code></pre>
    <p>... ou développer au maximum les éléments.</p>
    <pre><code class="xml">&lt;note&gt;
  &lt;date&gt;
    &lt;jour&gt;21&lt;/jour&gt;
    &lt;mois&gt;01&lt;/mois&gt;
    &lt;annee&gt;2020&lt;/annee&gt;
  &lt;/date&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <div class="warn">
      À éviter, bien que valide...
      <pre><code class="xml">&lt;note jour="21" mois="01" annee="2020"
  destinataire="Alice" auteur="Bob"
  titre="N'oublie pas !"
  message="Pense à sortir de le chat..."&gt;
&lt;/note&gt;</code></pre>
    </div>
  </section>
  <section>
    <h4>Méta-données</h4>
    <p>
      On préférera des attributs pour renseigner des données à propos
      des données (<em>meta-données</em>).
    </p>
    <pre><code class="xml">&lt;note id="42"&gt;
  &lt;destinataire&gt;Alice&lt;/destinataire&gt;
  &lt;message&gt;...&lt;/message&gt;
&lt;/note&gt;</code></pre>
    <p>On préférera un élément pour décrire la donnée elle-même.</p>
  </section>
</section>

<!-- Namespaces -->
<section>
  <section>
    <h3>Namespaces</h3>
    <h4>Conflits</h4>
    <p>
      Des conflits de noms peuvent survenir en mixant des documents
      XML provenant de diverses applications.
    </p>
    <pre><code class="xml">&lt;note&gt;
  &lt;destinataire&gt;Alice&lt;/destinataire&gt;
&lt;/note&gt;</code></pre>
    <pre><code class="xml">&lt;matiere&gt;
  &lt;libelle&gt;Web Services&lt;/libelle&gt;
  &lt;note&gt;20&lt;/note&gt;
&lt;/matiere&gt;</code></pre>
  </section>
  <section>
    <h4>Préfixes</h4>
    <p>
      Pour éviter ce problème, on utilise des préfixes pour spécifier des
      <em>namespaces</em>.
    </p>
    <pre><code class="xml">&lt;prefixe:element&gt;...&lt;/prefixe:element&gt;</code></pre>
    <p>
      Les préfixes sont généralement définis à la racine du document avec
      l'attribut <code>xmlns</code>.
    </p>
    <pre><code class="xml">&lt;racine xlmns:prefixe="https://www.foo.com/source"&gt;
  <prefixe:element>...</prefixe:element>
&lt;/racine&gt;</code></pre>
  </section>
  <section>
    <h4>Exemple</h4>
    <pre><code class="xml">&lt;exempleBidon
    xlmns:n="https://www.foo.com/notes/"
    xlmns:m="https://www.bar.com/matiere/"&gt;
  &lt;n:note&gt;
    &lt;n:destinataire&gt;Alice&lt;/n:destinataire&gt;
  &lt;/n:note&gt;
  &lt;m:matiere&gt;
    &lt;m:libelle&gt;Web Services&lt;/m:libelle&gt;
    &lt;m:note&gt;20&lt;/m:note&gt;
  &lt;/m:matiere&gt;
&lt;/exempleBidon&gt;</code></pre>
  </section>
</section>
