<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Définition</h4>
    <p><em>XML Path Language</em> (XPath) :</p>
    <ul>
      <li>
        Expressions pour naviguer et sélectionner de l'information dans
        un document XML,
      </li>
      <li>Standard recommandé par W3C.</li>
    </ul>
    <div class="tip">
      XPath s'intègre à beaucoup d'autres langages : XSLT, XQuery, C++, Java,
      Python, JavaScript...
    </div>
  </section>
  <section>
    <h4>Exemple</h4>
    <p>Soit le document XML suivant :</p>
    <pre><code class="xml">&lt;notes&gt;
  &lt;note color="yellow"&gt;
    &lt;from&gt;Bob&lt;/from&gt;
    &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
  &lt;/note&gt;
  &lt;note color="pink"&gt;
    &lt;from&gt;Alice&lt;/from&gt;
    &lt;message&gt;Fais le toi-même !&lt;/message&gt;
  &lt;/note&gt;
&lt;/notes&gt;</code></pre>
  </section>
  <section>
    <p>Expression pour sélectionner les éléments <code>message</code> :</p>
    <pre><code class="xpath">/notes/note/message</code></pre>
    <p>Résultat :</p>
    <pre><code class="xml">&lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;message&gt;Fais le toi-même !&lt;/message&gt;</code></pre>
  </section>
</section>

<!-- Arborescence -->
<section>
  <section>
    <h3>Arborescence</h3>
    <h4>Rappel</h4>
    <p>Les documents XML peuvent être représentés sous forme d'arbre.</p>
    <div class="fig">
      <img src="/images/lessons/webservices/xml1.png" alt="Arborescence" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Vocabulaire</h4>
    <p>Le vocabulaire à connaître :</p>
    <ul>
      <li>Noeud : composant du document (texte, élement, attribut, commentaire...),</li>
      <li>Parent : élément qui a des enfants,</li>
      <li>Enfant (<em>child</em>) : élément qui a un parent,</li>
      <li>Voisin (<em>sibling</em>) : éléments sur un même niveau,</li>
      <li>Ancêtres : ensemble des parents d'un élément,</li>
      <li>Descendants : ensemble des enfants d'un élément.</li>
    </ul>
  </section>
  <section>
    <h4>Navigation</h4>
    <p>
      XPath utilise des expressions pour naviguer dans l'<em>arbre</em> XML,
      à la façon d'un système de fichiers.
    </p>
    <pre><code class="xpath">/root
/root/child
/root/child/subchild
...</code></pre>
  </section>
</section>

<!-- Syntaxe -->
<section>
  <section>
    <h3>Syntaxe</h3>
    <h4>Sélection</h4>
    <p>Sélection de l'information dans le document :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>nodename</code></td>
          <td>Noeud portant le nom <code>nodename</code></td>
        </tr>
        <tr>
          <td><code>/</code></td>
          <td>Depuis la racine</td>
        </tr>
        <tr>
          <td><code>//</code></td>
          <td>N'importe où dans le document</td>
        </tr>
        <tr>
          <td><code>..</code></td>
          <td>Parent du noeud courant</td>
        </tr>
        <tr>
          <td><code>@</code></td>
          <td>Attributs</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <p>Par exemple (équivalents) :</p>
    <pre><code class="xpath">/notes/note/from
//from</code></pre>
    <p>Résultat :</p>
    <pre><code class="xml">&lt;from&gt;Bob&lt;/from&gt;
&lt;from&gt;Alice&lt;/from&gt;</code></pre>
  </section>
  <section>
    <h4>Prédicats</h4>
    <p>
      Sélection d'un noeud spécifique (entre crochets <code>[]</code>).
      Par exemple :
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>/notes/note[1]/message</code></td>
          <td>Message de la première note</td>
        </tr>
        <tr>
          <td><code>//note[@color='pink']</code></td>
          <td>Les notes de couleur <code>pink</code></td>
        </tr>
        <tr>
          <td><code>//note[from='Bob']/message</code></td>
          <td>Messages écrits par Bob</td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- Operateurs -->
<section>
  <section>
    <h3>Opérateurs</h3>
    <h4>Comparaison</h4>
    <p>Opérateurs de comparaison :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>=</code>, <code>!=</code></td>
          <td>Égal, Différent</td>
        </tr>
        <tr>
          <td><code><</code>, <code><=</code>, <code>></code>, <code>>=</code></td>
          <td>Inégalités</td>
        </tr>
        <tr>
          <td><code>or</code></td>
          <td>Ou logique</td>
        </tr>
        <tr>
          <td><code>and</code></td>
          <td>Et logique</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Mathématiques</h4>
    <p>Opérateurs mathématiques :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>+</code></td>
          <td>Addition</td>
        </tr>
        <tr>
          <td><code>-</code></td>
          <td>Soustraction</td>
        </tr>
        <tr>
          <td><code>*</code></td>
          <td>Multiplication</td>
        </tr>
        <tr>
          <td><code>div</code></td>
          <td>Division</td>
        </tr>
      </table>
    </div>
  </section>
</section>

<!-- Fonctions -->
<section>
  <section>
    <h3>Fonctions</h3>
    <p>XPath propose une multitude de fonctions intégrées :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>sum(expr)</code></td>
          <td>Somme des éléments récupérés par l'expression <code>expr</code></td>
        </tr>
        <tr>
          <td><code>count(expr)</code></td>
          <td>Comptage des éléments récupérés par l'expression <code>expr</code></td>
        </tr>
        <tr>
          <td><code>last()</code></td>
          <td>Récupération du dernier élément (à utiliser dans un prédicat)</td>
        </tr>
        <tr>
          <td><code>...</code></td>
          <td><a target="_blank" href="http://www.edankert.com/xpathfunctions.html">Liste complète</a></td>
        </tr>
      </table>
    </div>
  </section>
</section>
