<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Définition</h4>
    <p>Le <em>XML Schema Definition</em> (XSD) :</p>
    <ul>
      <li>Est lui-même un document XML,</li>
      <li>Définit la structure du document,</li>
      <li>Précise les éléments et les attributs autorisés.</li>
    </ul>
    <div class="tip">
      Le XSD permet une validation plus aboutie que le DTD.
    </div>
  </section>
  <section>
    <h4>XSD vs. DTD</h4>
    <p>Le XSD :</p>
    <ul>
      <li>Utilise la syntaxe XML,</li>
      <li>Permet de typer les données du document XML,</li>
      <li>Permet d'ajouter des contraintes sur les données.</li>
    </ul>
    <div class="tip">
      Comment interpréter la date <code>2020-03-01</code> ?
      En utilisant le type XSD <code>date</code>, on est certain qu'il
      s'agit du 1 mars 2020.
    </div>
  </section>
</section>

<!-- Déclaration -->
<section>
  <section>
    <h3>Déclaration</h3>
    <h4>Schéma</h4>
    <p>
      Le schéma se définit dans un fichier <code>.xsd</code>.
    </p>
    <pre><code class="xsd">&lt;?xml version="1.0"?&gt;
&lt;xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"&gt;
  ...
&lt;/xs:schema&gt;</code></pre>
    <div class="tip">
      On utilise le namespace <code>XMLSchema</code> du W3.
    </div>
  </section>
  <section>
    <h4>Document XML</h4>
    <p>Le schéma est lié à l'élément racine du document XML.</p>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;note id="1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="note.xsd"&gt;
  &lt;auteur&gt;Alice&lt;/auteur&gt;
  &lt;destinataire&gt;Bob&lt;/destinataire&gt;
  ...
&lt;/note&gt;</code></pre>
  </section>
</section>

<!-- Elements simples -->
<section>
  <section>
    <h3>Éléments XSD simples</h3>
    <h4>Définition</h4>
    <p>
      Un élément XSD simple est un élément qui ne contient que du
      <em>texte</em>.
    </p>
    <div class="tip">
      Le <em>texte</em> peut être de différents types : <code>integer</code>,
      <code>date</code>, <code>string</code>, ...
    </div>
    <div class="warn">
      Un élément simple ne peut pas contenir d'attributs, ni d'autres éléments.
    </div>
  </section>
  <section>
    <h4>Déclaration</h4>
    <p>Un élément simple se déclare selon la syntaxe :</p>
    <pre><code class="xsd">&lt;xs:element name="x" type="y"/&gt;</code></pre>
    <p>Avec :</p>
    <ul>
      <li>Le nom de l'élément,</li>
      <li>
        Le type de l'élément : <code>xs:integer</code>,
        <code>xs:decimal</code>, <code>xs:string</code>,
        <code>xs:boolean</code>, <code>xs:date</code>, ...
      </li>
    </ul>
  </section>
  <section>
    <h4>Exemples</h4>
    <p>Des éléments XML simples :</p>
    <pre><code class="xml">&lt;auteur&gt;Bob&lt;/auteur&gt;
&lt;age&gt;42&lt;/age&gt;
&lt;date&gt;2020-01-21&lt;/date&gt;</code></pre>
    <p>Et leurs schémas associés :</p>
    <pre><code class="xsd">&lt;xs:element name="auteur" type="xs:string"/&gt;
&lt;xs:element name="age" type="xs:integer"/&gt;
&lt;xs:element name="date" type="xs:date"/&gt;</code></pre>
  </section>
  <section>
    <h4>Valeur</h4>
    <p>Un élément peut avoir une valeur par défaut.</p>
    <pre><code class="xsd">&lt;xs:element name="auteur" type="xs:string" default="Joe"/&gt;</code></pre>
    <p>Un élément peut avoir une valeur fixe (qui ne peut plus être modifiée).</p>
    <pre><code class="xsd">&lt;xs:element name="auteur" type="xs:string" fixed="Bob"/&gt;</code></pre>
  </section>
</section>

<!-- Attributs XSD -->
<section>
  <section>
    <h3>Attributs XSD</h3>
    <h4>Déclaration</h4>
    <p>Un attribut se déclare selon la syntaxe :</p>
    <pre><code class="xsd">&lt;xs:attribute name="x" type="y"/&gt;</code></pre>
    <p>Avec :</p>
    <ul>
      <li>Le nom de l'attribut,</li>
      <li>
        Le type de l'attribut : <code>xs:integer</code>,
        <code>xs:decimal</code>, <code>xs:string</code>,
        <code>xs:boolean</code>, <code>xs:date</code>, ...
      </li>
    </ul>
  </section>
  <section>
    <h4>Exemples</h4>
    <p>Un élément XML avec un attribut :</p>
    <pre><code class="xml">&lt;message langue="fr"&gt;Pense à sortir le chat...&lt;/message&gt;</code></pre>
    <p>Le schéma de l'attribut :</p>
    <pre><code class="xsd">&lt;xs:attribute name="langue" type="xs:string"/&gt;</code></pre>
    <div class="warn">
      Dans cet exemple, l'élément <code>message</code> n'est pas simple. Il est
      <a href="#complexe">complexe</a>.
    </div>
  </section>
  <section>
    <h4>Valeur</h4>
    <p>Un attribut peut avoir une valeur par défaut.</p>
    <pre><code class="xsd">&lt;xs:attribute name="langue" type="xs:string" default="en"/&gt;</code></pre>
    <p>Un attribut peut avoir une valeur fixe (qui ne peut plus être modifiée).</p>
    <pre><code class="xsd">&lt;xs:attribute name="langue" type="xs:string" fixed="fr"/&gt;</code></pre>
  </section>
  <section>
    <h4>Optionnel ou obligatoire</h4>
    <p>Pour indiquer qu'un attribut est obligatoire :</p>
    <pre><code class="xsd">&lt;xs:attribute name="langue" type="xs:string" use="required"/&gt;</code></pre>
    <div class="tip">Par défaut, un attribut est optionnel.</div>
  </section>
</section>

<!-- Restrictions -->
<section>
  <section>
    <h3>Restrictions</h3>
    <h4>Définition</h4>
    <p>Le type d'un élément peut déjà être considéré comme une restriction.</p>
    <pre><code class="xsd">&lt;xs:element name="date" type="xs:date"/&gt;
...
&lt;date&gt;Hello world !&lt;/date&gt; &lt!-- Pas valide --&gt;</code></pre>
    <p>Il est possible de déclarer ses propres restrictions (valeur minimum, longueur maximum, ...).</p>
  </section>
  <section>
    <h4>Déclaration</h4>
    <p>La restriction est déclarée dans un type simple.</p>
    <pre><code class="xsd">&lt;xs:element name="x" type="y"/&gt;

&lt;xs:simpleType name="y"&gt;
  &lt;xs:restriction base="z"&gt;
    ...
  &lt;/xs:restriction&gt;
&lt;/xs:simpleType&gt;</code></pre>
  <p>Avec <code>z</code> un type de base (<code>xs:string</code>, <code>xs:integer</code>, ... ou un autre type simple).</p>
  </section>
  <section>
    <h4>Énumération</h4>
    <p>Les valeurs sont prédéfinies dans une énumération.</p>
    <pre><code class="xsd">&lt;xs:element name="genre" type="t_genre"/&gt;

&lt;xs:simpleType name="t_genre"&gt;
  &lt;xs:restriction base="xs:string"&gt;
    &lt;xs:enumeration value="Homme"/&gt;
    &lt;xs:enumeration value="Femme"/&gt;
  &lt;/xs:restriction&gt;
&lt;/xs:simpleType&gt;</code></pre>
    <pre><code class="xml">&lt;genre&gt;Femme&lt;/genre&gt; &lt;!-- Valide --&gt;
&lt;genre&gt;Truc&lt;/genre&gt;  &lt;!-- Pas valide --&gt;</code></pre>
  </section>
  <section>
    <h4>Minimum et maximum</h4>
    <p>Les valeurs sont bornées par un min. et / ou un max.</p>
    <pre><code class="xsd">&lt;xs:element name="genre" type="t_age"/&gt;

&lt;xs:simpleType name="t_age"&gt;
  &lt;xs:restriction base="xs:integer"&gt;
    &lt;xs:minInclusive value="0"/&gt;
    &lt;xs:maxInclusive value="100"/&gt;
  &lt;/xs:restriction&gt;
&lt;/xs:simpleType&gt;</code></pre>
    <pre><code class="xml">&lt;age&gt;100&lt;/age&gt;  &lt;!-- Valide --&gt;
&lt;age&gt;1337&lt;/age&gt; &lt;!-- Pas valide --&gt;</code></pre>
  </section>
  <section>
    <h4>Motif</h4>
    <p>Les valeurs doivent respecter un motif précis.</p>
    <pre><code class="xsd">&lt;xs:element name="codePostal" type="t_cp"/&gt;

&lt;xs:simpleType name="t_cp"&gt;
  &lt;xs:restriction base="xs:integer"&gt;
    &lt;xs:pattern value="[0-9]{5}"/&gt;
  &lt;/xs:restriction&gt;
&lt;/xs:simpleType&gt;</code></pre>
    <pre><code class="xml">&lt;codePostal&gt;62100&lt;/codePostal&gt; &lt;!-- Valide --&gt;
&lt;codePostal&gt;62&lt;/codePostal&gt;    &lt;!-- Pas valide --&gt;</code></pre>
  </section>
  <section>
    <h4>Taille</h4>
    <p>Les valeurs doivent respecter une taille précise.</p>
    <pre><code class="xsd">&lt;xs:element name="motDePasse" type="t_mdp"/&gt;

&lt;xs:simpleType name="t_mdp"&gt;
  &lt;xs:restriction base="xs:string"&gt;
    &lt;xs:minLength value="6"/&gt;
    &lt;xs:maxLength value="12"/&gt;
  &lt;/xs:restriction&gt;
&lt;/xs:simpleType&gt;</code></pre>
    <pre><code class="xml">&lt;motDePasse&gt;azerty&lt;/motDePasse&gt; &lt;!-- Valide --&gt;
&lt;motDePasse&gt;toto&lt;/motDePasse&gt;   &lt;!-- Pas valide --&gt;</code></pre>
  </section>
</section>

<!-- Elements complexes -->
<section id="complexe">
  <section>
    <h3>Éléments XSD complexes</h3>
    <h4>Définition</h4>
    <p>Il existe 4 catégories d'éléments XSD complexes :</p>
    <ul>
      <li>Élément qui contient d'autres éléments,</li>
      <li>Élément qui possède des attributs,</li>
      <li>Élément vide,</li>
      <li>Une combinaison des trois.</li>
    </ul>
  </section>
  <section>
    <h4>Exemples</h4>
    <p>Élément contenant d'autres éléments (note) :</p>
    <pre><code class="xml">&lt;note&gt;
  &lt;message&gt;...&lt;/message&gt;
&lt;/note&gt;</code></pre>
    <p>Élément vide :</p>
    <pre><code class="xml">&lt;vue /&gt;</code></pre>
    <p>Élément avec un attribut :</p>
    <pre><code class="xml">&lt;message langue="fr"&gt;Hello world !&lt;/message&gt;</code></pre>
  </section>
  <section>
    <h4>Éléments contenant d'autres éléments</h4>
    <p>
      Déclaration d'un élément de type complexe, qui contient une séquence
      d'éléments.
    </p>
    <pre><code class="xsd">&lt;xs:element name="x" type="y"/&gt;

&lt;xs:complexType name="y"&gt;
  &lt;xs:sequence&gt; ... &lt;/xs:sequence&gt;
&lt;/xs:complexType&gt;</code></pre>
    <div class="tip">
      Les éléments doivent apparaître dans l'ordre exact de la séquence.
    </div>
  </section>
  <section>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;note&gt;
  &lt;auteur&gt;Alice&lt;/auteur&gt;
  &lt;destinataire&gt;Bob&lt;/destinataire&gt;
&lt;/note&gt;</code></pre>
    <pre><code class="xsd">&lt;xs:element name="note" type="t_note"/&gt;

&lt;xs:complexType name="t_note"&gt;
  &lt;xs:sequence&gt;
    &lt;xs:element name="auteur" type="xs:string"/&gt;
    &lt;xs:element name="destinataire" type="xs:string"/&gt;
  &lt;/xs:sequence&gt;
&lt;/xs:complexType&gt;</code></pre>
  </section>
  <section>
    <h4>Éléments vides</h4>
    <p>Un élément vide est déclaré avec une séquence vide.</p>
    <pre><code class="xml">&lt;vue/&gt;</code></pre>
    <pre><code class="xsd">&lt;xs:element name="vue" type="t_vue"&gt;

&lt;xs:complexType name="t_vue"&gt;
  &lt;xs:sequence/&gt;
&lt;/xs:complexType&gt;</code></pre>
  </section>
  <section>
    <h4>Éléments avec texte et attributs</h4>
    <p>Un élément contenant du texte et des attributs.</p>
    <pre><code class="xml">&lt;message langue="fr"&gt;Hello world !&lt;/message&gt;</code></pre>
    <pre><code class="xsd">&lt;xs:element name="message" type="t_message"/&gt;

&lt;xs:complexType name="t_message"&gt;
  &lt;xs:simpleContent&gt;
    &lt;xs:extension base="xs:string"&gt; &lt;!-- Type du contenu --&gt;
      &lt;xs:attribute name="langue" type="xs:string"/&gt;
    &lt;/xs:extension&gt;
  &lt;/xs:simpleContent&gt;
&lt;/xs:complexType&gt;</code></pre>
  </section>
</section>

<!-- Indicateurs -->
<section>
  <section>
    <h3>Indicateurs</h3>
    <h4>Ordre</h4>
    <p>Pour les types complexes :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>&lt;xs:sequence&gt;</code></td>
          <td>Les éléments apparaissent selon un ordre précis.</td>
        </tr>
        <tr>
          <td><code>&lt;xs:all&gt;</code></td>
          <td>Les éléments apparaissent dans n'importequel ordre.</td>
        </tr>
        <tr>
          <td><code>&lt;xs:choice&gt;</code></td>
          <td>Un élément choisi parmi une liste.</td>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h4>Occurences</h4>
    <p>Pour définir le nombre d'occurences d'un élément :</p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><code>minOccurs</code></td>
          <td>Occurences minimum de l'élément.</td>
        </tr>
        <tr>
          <td><code>maxOccurs</code></td>
          <td>Occurences maximum de l'élément.</td>
        </tr>
      </table>
    </div>
    <p>Par exemple :</p>
    <pre><code class="xsd">&lt;xs:element name="prenom" type="xs:string" maxOccurs="3"/&gt;</code></pre>
  </section>
  <section>
    <div class="tip">
      Par défaut, <code>minOccurs</code> et <code>maxOccurs</code> valent
      <code>1</code>.
      Pour des occurences illimitées : <code>maxOccurs="unbounded"</code>.
    </div>
  </section>
</section>

<!-- Exemple -->
<section>
  <section>
    <h3>Exemple complet</h3>
    <h4>Document XML</h4>
    <p>Contrainte : un message contient 150 caractères max.</p>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;

&lt;note xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="note.xsd"
      date="2019-03-01"&gt;
  &lt;auteur&gt;Alice&lt;/auteur&gt;
  &lt;destinataire&gt;Bob&lt;/destinataire&gt;
  &lt;message langue="fr"&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <h4>Schéma XSD</h4>
    <pre><code class="xsd">&lt;?xml version="1.0" encoding="UTF-8"?&gt;

&lt;xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"&gt;

  &lt;xs:element name="note" type="t_note"/&gt;

  &lt;xs:complexType name="t_note"&gt;
    &lt;xs:sequence&gt;
      &lt;xs:element name="auteur" type="xs:string"/&gt;
      &lt;xs:element name="destinataire" type="xs:string"/&gt;
      &lt;xs:element name="message" type="t_message"/&gt;
    &lt;/xs:sequence&gt;
    &lt;xs:attribute name="date" type="xs:date"/&gt;
  &lt;/xs:complexType&gt;

  &lt;xs:complexType name="t_message"&gt;
    &lt;xs:simpleContent&gt;
      &lt;xs:extension base="r_message"&gt;
        &lt;xs:attribute name="langue" type="xs:string"/&gt;
      &lt;/xs:extension&gt;
    &lt;/xs:simpleContent&gt;
  &lt;/xs:complexType&gt;

  &lt;xs:simpleType name="r_message"&gt;
    &lt;xs:restriction base="xs:string"&gt;
      &lt;xs:maxLength value="150"/&gt;
    &lt;/xs:restriction&gt;
  &lt;/xs:simpleType&gt;

&lt;/xs:schema&gt;</code></pre>
  </section>
</section>

<!-- Références -->
<!-- <section>
  <section>
    <h3>Références</h3>
    <h4>Pour aller plus loin...</h4>
    <p>
      Le tutoriel de
      <a href="https://www.w3schools.com/xml/schema_intro.asp">W3Schools</a>.
    </p>
  </section>
</section> -->
