<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>À la base...</h4>
    <p><em>eXtensible Stylesheet Language</em> (XSL) :</p>
    <ul>
      <li>Un document XML,</li>
      <li>
        Décrit l'<em>interprétation</em> des éléments XML,
      </li>
      <li>Standard recommandé par W3C.</li>
    </ul>
    <div class="tip">
      XSL donne du style au XML, tout comme CSS donne du style au HTML.
    </div>
  </section>
  <section>
    <h4>Définition</h4>
    <p><em>XSL Transformations</em> (XSLT) :</p>
    <ul>
      <li>Le composant principal de XSL,</li>
      <li>
        Transforme un document XML dans un autre type de document (XML, HTML, ...),
      </li>
      <li>Navigation avec <a href="/teaching/webservices/xpath">XPath</a>.</li>
    </ul>
  </section>
  <section>
    <div class="fig">
      <img src="/images/lessons/webservices/xslt.png" alt="XSLT" class="img-fluid"/>
    </div>
  </section>
  <section>
    <h4>Exemple</h4>
    <p>Soit le document XML suivant :</p>
    <pre><code class="xml">&lt;note color="yellow"&gt;
  &lt;from&gt;Bob&lt;/from&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
    <p>Une transformation possible XSL vers HTML :</p>
    <pre><code class="html">&lt;div style="background:yellow"&gt;
  &lt;h1&gt;Bob&lt;/h1&gt;
  &lt;p&gt;Pense à sortir le chat...&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </section>
</section>

<!-- Implémentation -->
<section>
  <section>
    <h3>Implémentation</h3>
    <h4>Document XML</h4>
    <p>Liaison d'une feuille de style XSLT :</p>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;?xml-stylesheet type="text/xsl" href="note.xsl"?&gt;

&lt;note color="yellow"&gt;
  &lt;from&gt;Bob&lt;/from&gt;
  &lt;message&gt;Pense à sortir le chat...&lt;/message&gt;
&lt;/note&gt;</code></pre>
  </section>
  <section>
    <h4>Document XSL</h4>
    <p>
      Définition d'un <code>template</code> qui <code>match</code> une partie du
      document XML (expression XPath).
    </p>
    <pre><code class="xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"&gt;

  &lt;xsl:template match="/"&gt;
    &lt;!-- Transformations XSL... --&gt;
  &lt;/xsl:template&gt;

&lt;/xsl:stylesheet&gt;</code></pre>
  </section>
</section>

<!-- Valeur -->
<section>
  <section>
    <h3>Valeur</h3>
    <h4>Élément <code>value-of</code></h4>
    <p>Extraction de la valeur d'un noeud sélectionné avec :</p>
    <pre><code class="xml">&lt;xsl:value-of select="expression"/&gt;</code></pre>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;div&gt;
  &lt;h1&gt;&lt;xsl:value-of select="/note/from"/&gt;&lt;/h1&gt;
  &lt;p&gt;&lt;xsl:value-of select="/note/message"/&gt;&lt;/p&gt;
&lt;/div&gt;</code></pre>
  </section>
  <section>
    <h4>Syntaxe <code>{}</code></h4>
    <p>
      On utilisera la syntaxe entre accolades <code>{}</code> pour
      intégrer la valeur d'un noeud dans un attribut.
    </p>
    <pre><code class="xml">&lt;!-- Ne fonctionne pas --&gt;
&lt;img src="&lt;xsl:value-of select='//avatar'/&gt;.png"/&gt;

&lt;!-- OK --&gt;
&lt;img src="{//avatar}.png"/&gt;</code></pre>
  </section>
</section>

<!-- Conditions -->
<section>
  <h3>Conditions</h3>
  <h4>Élément <code>if</code></h4>
  <p>Affichage conditionnel d'une partie du document XSL :</p>
  <pre><code class="xml">&lt;xsl:if test="expression"&gt;
  &lt;p&gt;
    Paragraphe affiché seulement si le test est vérifié
  &lt;/p&gt;
&lt;/xsl:if&gt;</code></pre>
</section>

<!-- Boucles -->
<section>
  <section>
    <h3>Boucles</h3>
    <h4>Élément <code>for-each</code></h4>
    <p>Itération sur un ensemble de noeuds XML avec :</p>
    <pre><code class="xml">&lt;xsl:for-each select="//notes"&gt;
  &lt;h1&gt;&lt;xsl:value-of select="from"/&gt;&lt;/h1&gt;
  &lt;p&gt;&lt;xsl:value-of select="message"/&gt;&lt;/p&gt;
  &lt;hr/&gt;
&lt;/xsl:for-each&gt;</code></pre>
    <div class="tip">
      Les expression XPath dans la boucle sont relatives à l'élément itéré.
    </div>
  </section>
  <section>
    <h4>Tri</h4>
    <p>Tri de l'affichage selon un élément et un ordre
      (<code>ascending|descending</code>).
    </p>
    <pre><code class="xml">&lt;xsl:for-each select="//notes"&gt;
  &lt;xsl:sort select="from" order="ascending"/&gt;
  ...
&lt;/xsl:for-each&gt;</code></pre>
  </section>
</section>

<!-- Paramètres -->
<section>
  <section>
    <h3>Paramètres</h3>
    <h4>Élément <code>param</code></h4>
    <p>Paramétrage d'un document XSL avec :</p>
    <pre><code class="xml">&lt;xsl:param name="param-name" /&gt;</code></pre>
    <div class="tip">
      Le <em>binding</em> des paramètres s'effectue via le processeur XSLT
      (<em>e.g.</em> en JavaScript dans le
      <a href="/teaching/webservices/tp5">TP5</a>).
    </div>
  </section>
  <section>
    <p>Par exemple :</p>
    <pre><code class="xml">&lt;xsl:param name="author" /&gt;

&lt;xsl:template match="/"&gt;
  &lt;h1&gt;
    &lt;xsl:value-of select="//from[.=$author]"/&gt;
  &lt;/h1&gt;
&lt;/xsl:template&gt;</code></pre>
  </section>
</section>
