<!-- Présentation -->
<section>
  <section>
    <h3>Présentation</h3>
    <h4>Sujet</h4>
    <p>
      Créer un événement autour du jeu
      <a href="https://en.wikipedia.org/wiki/Breakthrough_(board_game)">
      Breakthrough</a> (Dan Troyka).
    </p>
  </section>
  <section>
    <h4>Objectifs</h4>
    <p>Promouvoir le nouveau jeu d'une entreprise de jeux de société.</p>
    <ul>
      <li>Créer un jeu concours pour gagner des boîtes de jeu.</li>
      <li>Organiser un tournoi sur le web.</li>
      <li>
        Être visible sur les réseaux sociaux (Facebook, Twitter, Google+, ...).
      </li>
    </ul>
  </section>
</section>

<!-- Règles du jeu -->
<section>
  <section>
    <h3>Règles du jeu</h3>
    <h4>Préparation</h4>
    <ul>
      <li>2 joueurs, plateau de 8 × 8.</li>
      <li>
        Chaque joueur remplit ses deux premières lignes avec les pions de sa
        couleur.
      </li>
      <li>A tour de rôle, les joueurs déplacent une pièce de leur couleur.</li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/gal/projet1.png" alt="Préparation" class="img-fluid" style="width:60%"/>
    </div>
  </section>
  <section>
    <h4>But du jeu</h4>
    <p>
      Atteindre la première ligne de l’adversaire, ou capturer tous les pions de
      l’adversaire.
    </p>
  </section>
  <section>
    <h4>Déplacements</h4>
    <ul>
      <li>Une pièce peut avancer en diagonale.</li>
      <li>Une pièce peut avancer tout droit seulement si la case est vide.</li>
    </ul>
    <h4>Captures</h4>
    <ul>
      <li>Uniquement en diagonale.</li>
      <li>La pièce capturée est retirée du plateau.</li>
      <li>Pas obligatoire.</li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/gal/projet2.png" alt="Déplacements" class="img-fluid" style="width:60%"/>
    </div>
  </section>
</section>

<!-- Pistes -->
<section>
  <h3>Pistes</h3>
  <ul>
    <li>Une version compatible mobile (responsive),</li>
    <li>Internationalisation,</li>
    <li>Plusieurs catégories : enfants, adultes, ...</li>
    <li>Plusieurs types de match : joueur contre IA, joueur contre joueur, ...</li>
    <li>Gestion du tournoi : par groupe, élimination directe, par accumulation de victoires, ...</li>
    <li>Timing,</li>
    <li>Gain de points avec les partages sur les réseaux sociaux, ...</li>
  </ul>
</section>

<!-- Méthodes et outils -->
<section>
  <section>
    <h3>Méthodes et outils</h3>
    <h4>User story mapping</h4>
    <ul>
      <li>Acteurs, activités et tâches,</li>
      <li>Choix des priorités,</li>
      <li>Construction du backlog des tâches pour le sprint de 24h.</li>
    </ul>
    <div class="fig text-center">
      <img src="/images/lessons/gal/projet3.png" alt="User story mapping" class="img-fluid" style="width:60%"/>
    </div>
  </section>
  <section>
    <h4>Développement</h4>
    <ul>
      <li>Kanban,</li>
      <li>Réunions de début de journée (15 minutes),</li>
      <li>Versionning (Github, ...) et issues,</li>
      <li>Tests unitaires et / ou de comportement,</li>
      <li>Environnement de développement à choisir,</li>
      <li>Langages et frameworks à choisir.</li>
    </ul>
  </section>
</section>

<!-- Présentation finale -->
<section>
  <h3>Présentation finale</h3>
  <p>Vendredi, à partir de 11 heures 20 minutes par groupe.</p>
  <ul>
    <li>Démonstration,</li>
    <li>Présenter votre plan de développement, votre méthodologie,</li>
    <li>Présenter vos outils,</li>
    <li>Présenter les différentes tâches réalisées,</li>
    <li>Faire une analyse critique (ce qui a été, ce qui n'a pas été),</li>
    <li>Qu’est ce qui aurait pu être amélioré ?...</li>
  </ul>
</section>

<!-- Fin -->
<section>
  <h3>3, 2, 1...</h3>
  <p>Sprintez !</p>
</section>
