<!-- About me and my poor life... -->
<div id="about-intro">
  <div class="container">
    <div class="row">
      <div id="about-intro-text" class="col-lg-7">
        <h1>About</h1>
        <p>
          I graduated with a PhD in Computer Science at <a
          href="http://univ-littoral.fr/">Université du Littoral Côte
          d'Opale</a>, France (ULCO) in November 2020. My research activities
          are conducted in the Osmose team of the <a
          href="http://www-lisic.univ-littoral.fr/">Laboratoire d'Informatique,
          Signal et Image de la Côte d'Opale</a> (LISIC, ULCO).
        </p>
        <p>
          I received both Bachelor's and Master's Degrees of Science (French
          "Licence" and "Master"), in computer science, respectively in 2015 and
          2017, from ULCO. I have been trained to teaching and research by
          conducting a year of student tutoring, and an internship at LISIC, in
          image synthesis and artificial intelligence.
        </p>
        <p>
          Due to my thesis subject, my current research interests mainly include
          adaptive algorithms, genetic algorithms and surrogate models, applied
          to a urban flow simulator of Calais, France. I also conduct my
          research in other fields, such as artificial intelligence and machine
          learning...
        </p>    
        <p>
          For more details, you can investigate my <a
          href="/research">research</a>, my <a href="/teaching">teachings</a>, my
          <a href="/projects">projects</a>
          or feel free to <a href="/contact">contact me</a>.
        </p>
      </div>
      <div id="about-intro-image" class="col-lg-5">
        <!-- <img src="/images/me.png" class="img-fluid" /> -->
      </div>
    </div>
  </div>
</div>

<!-- Details, careers and educations -->
<div id="about-content">
  <div class="container">

    <!-- Details -->
    <h2>Details</h2>
    <table class="table">
      <tr>
        <th>Age</th>
        <td>26 years</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <a href="mailto:florian.lepretre@univ-littoral.fr">
            florian.lepretre@univ-littoral.fr
          </a>
        </td>
      </tr>
      <tr>
        <th>Lab</th>
        <td>
          <a
          href="http://www-lisic.univ-littoral.fr/">
            Laboratoire d'Informatique, Signal et Image de la Côte d'Opale</a>
          (LISIC), France
        </td>
      </tr>
    </table>

    <div class="row">

      <!-- Careers -->
      <div class="col-lg">
        <h2>Careers</h2>

        <% Object.values(careers).forEach(function({ title, pills, items, active }) { %>
          <div class="card <%= (active) ? 'active' : '' %>">
            <h3><%= title %></h3>
            <p>
              <% Object.values(pills).forEach(function(pill) { %>
                <span class="badge"><%= pill %></span>
              <% }); %>
            </p>
            <table class="table">
              <% items.forEach(function({ title, text, people }) { %>
                <tr>
                  <th><%= title %></th>
                  <% if (text) { %>
                    <td><%= text %></td>
                  <% } %>
                  <% if (people) { %>
                    <td>
                      <% people.forEach(function({ name, href }, index) { %>
                        <a href="<%= href %>"><%= name %></a><%= (index === people.length - 1) ? '' : ',' %>
                      <% }); %>
                    </td>
                  <% } %>
                </tr>
              <% }); %>
            </table>
          </div>
        <% }); %>
      </div>

      <!-- Education -->
      <div class="col-lg">
        <h2>Educations</h2>

        <% Object.values(educations).forEach(function({ title, pills, items, active }) { %>
          <div class="card <%= (active) ? 'active' : '' %>">
            <h3><%= title %></h3>
            <p>
              <% Object.values(pills).forEach(function(pill) { %>
                <span class="badge"><%= pill %></span>
              <% }); %>
            </p>
            <table class="table">
              <% items.forEach(function({ title, text }) { %>
                <tr>
                  <th><%= title %></th>
                  <td><%= text %></td>
                </tr>
              <% }); %>
            </table>
          </div>
        <% }); %>        
      </div>
    </div>
  </div>
</div>


