<div id="contact">
  <div class="container">

    <h1>Contact</h1>
    <h2>Keep in touch</h2>

    <h3>Mail address</h3>
    <p>
      <a href="mailto:florian.lepretre@univ-littoral.fr">
        florian.lepretre@univ-littoral.fr
      </a>
    </p>

    <h3>Lab address</h3>
    <p>
      Maison de la Recherche Blaise Pascal - BP 719<br/>
      50, rue Ferdinand Buisson<br/>
      62228 Calais, France
    </p>

  </div>
</div>

<iframe style="margin-bottom: -7px; width: 100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10053.580606124428!2d1.880775!3d50.953398!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d509f183dd0799!2sLaboratoire+d&#39;Informatique+Signal+et+Image+de+la+C%C3%B4te+d&#39;Opale!5e0!3m2!1sfr!2sfr!4v1534343918568" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
