<div id="portfolio-intro">
  <div class="container">
    <h1>Portfolio</h1>

    <h2>Personal projects and creations</h2>

    <p>
      You will find in this section a selection of my personal projects and
      realisations, developed during my PhD years or in my free time. I've
      classified them into five categories: <a href="#ai">Artificial
      Intelligence</a>, <a href="#games">Games</a>,
      <a href="#bigdata">Knowledge Management &amp; Big Data</a>, <a
      href="#simulation">Modeling &amp; Simulation</a> and <a
      href="#misc">Miscellaneous</a>.
    </p>
  </div>
</div>

<div id="portfolio-content">
  <div class="container">
    <div class="row">

      <!-- Portfolio summary -->
      <nav id="portfolio-summary" class="d-none d-lg-block col-lg-4 align-self-start">
        <h4>Categories</h4>
        <% Object.entries(portfolio).forEach(function([key, { title }]) { %>
          <a href="#<%= key %>" class="nav-link">
            <%= title %>
          </a>
        <% }); %>
      </nav>

      <div id="portfolio-items" class="col-lg-8">
        <% Object.entries(portfolio).forEach(function([key, { title, items }]) { %>
          <!-- Category title -->
          <h3 id="<%= key %>"><%= title %></h3>

          <!-- Items -->
          <div class="row gx-2">
            <% Object.values(items).forEach(function({ title, description, image, video, youtube, more }) { %>
              <div class="col-lg-6">
                <div class="card">
                  <!-- Item title -->
                  <h3><%= title %></h3>
                  <!-- Description -->
                  <hr>
                  <h4>Description</h4>
                  <p><%- description %></p>
                  <!-- Video -->
                  <% if (video) { %>
                    <hr>
                    <h4>Demo</h4>
                    <video controls>
                      <source src="<%= video %>#t=2" type="video/mp4">
                    </video>
                  <% } %>
                  <!-- Image -->
                  <% if (image) { %>
                    <hr>
                    <p>
                      <img src="<%= image %>" alt="<%= title %>" class="img-fluid" />
                    </p>
                  <% } %>
                  <!-- Youtube -->
                  <% if (youtube) { %>
                    <hr>
                    <h4>Demo</h4>
                    <iframe style="max-width: 100%" width="560" height="315" src="<%= youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <% } %>
                  <!-- More -->
                  <% if (more) { %>
                    <hr>
                    <h4>More</h4>
                    <p><%- more %></p>
                  <% } %>
                </div>
              </div>
            <% }); %>
          </div>
        <% }); %>
      </div>

  </div>
</div>

<!-- Masonry -->
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
<script>
  imagesLoaded('#portfolio-items', () => {
    document.querySelectorAll('#portfolio-items .row').forEach(
      row => new Masonry(row, { percentPosition: true, transitionDuration: 0 })
    );
  });
</script>

<!-- Scrollspy -->
<script>
  new bootstrap.ScrollSpy(document.body, { target: '#portfolio-summary' });
</script>