<div id="research-intro">
  <div class="container">
    <h1>Research</h1>

    <h2>Publications and other communications</h2>

    <p>
      You will find in this section a selection of my research works. These have
      been published in international conferences or in journal articles with
      review committees. Some have been presented in national workshops or
      seminars.
    </p>
  </div>
</div>

<div id="research-content">
  <div class="container">

    <% Object.values(research).forEach(function({ title, items }) { %>

      <div class="card">
        <!-- Category title -->
        <h3><%- title %></h3>
        <hr>
        <ul>
          <% Object.values(items).forEach(function({ title, href, pills, people, more}) { %>
            <li>
              <!-- Item title -->
              <p>
                <% if (href) { %>
                  <a href="<%= href %>">
                    <%= title %>
                  </a>
                <% } else { %>
                  <%= title %>
                <% } %>
              </p>
              <!-- Pills -->
              <p>
                <% pills.forEach(function(pill) { %>
                  <span class="badge badge-pill"><%= pill %></span>
                <% }); %>
              </p>
              <p>
                <!-- More -->
                <% if (more) { %>
                  <%- more %>
                  <br>
                <% } %>
                <!-- People -->
                <%= people.title %>:
                <% people.items.forEach(function({ name, href }, index) { %>
                  <a href="<%= href %>"><%= name %></a><%= (index === people.items.length - 1) ? '' : ',' %>
                <% }); %>
              </p>
            </li>
          <% }); %>
        </ul>
      </div>

    <% }); %>
    
    <p>
      Sources: <a
      href="http://haltools.inrialpes.fr/Public/afficheRequetePubli.php?auteur_exp=Florian,Lepretre&CB_auteur=oui&CB_titre=oui&CB_article=oui&langue=Francais&tri_exp=annee_publi&tri_exp2=typdoc&ordre_aff=TA&langue=Anglais&menu=Export&Fen=Aff&css=http://www.lri.fr/~marc/VisuRubriqueEncadre.css">HAL</a>.
    </p>
  </div>

</div>
