<div id="teaching-intro">
  <div class="container">
    <h1>Teaching</h1>

    <h2>Courses and tutorials</h2>

    <p>
      You will find in this section the list of modules I teach. You will get
      lessons, documents and many other things related to a module by clicking
      its respective links. Lessons and tutorials are written in French.
    </p>
  </div>
</div>

<div id="teaching-content">
  <div class="container">
    <div class="row">

      <!-- Module summary -->
      <nav id="teaching-summary" class="d-none d-lg-block col-lg-4 align-self-start">
        <h4>Modules</h4>
        <% Object.entries(teachings).forEach(function([key, { title }]) { %>
          <a href="#<%= key %>" class="nav-link">
            <%= title %>
          </a>
        <% }); %>
      </nav>

      <!-- Module contents -->
      <div class="col-lg-8">
        <% Object.entries(teachings).forEach(function([key, { title, students, year, resources }]) { %>

          <!-- Title -->
          <h3 id="<%= key %>"><%= title %></h3>

          <!-- Module -->
          <div class="card">

            <!-- Details -->
            <p>
              <span class="badge badge-pill"><%= students %></span>
              <span class="badge badge-pill"><%= year %></span>
            </p>

            <!-- Resources -->
            <% resources.forEach(function( { category, contents } ) { %>
              <hr>
              <h4><%= category %></h4>
              <ul>
                <% contents.forEach(function( { route, title } ) { %>
                  <li><a href="<%= route %>"><%= title %></a></li>
                <% }); %>
              </ul>
            <% }); %>

          </div>

        <% }); %>
      </div>
    </div>
  </div>
</div>

<!-- Scrollspy -->
<script>
  new bootstrap.ScrollSpy(document.body, { target: '#teaching-summary' });
</script>