<!-- Introduction -->
<section>
  <section>
    <h3>Introduction</h3>
    <h4>Objectifs</h4>
    <p>
      Nous allons développer une application simplifiée de e-commerce pour une
      boutique de <a target="_blank"
      href="https://fr.wikipedia.org/wiki/LEGO">LEGO</a>. Le
      site web de la boutique doit afficher une page d'accueil, la liste des
      produits disponibles, ainsi qu'une fiche détaillée pour chacun des
      produits. De plus, un utilisateur peut s'inscrire sur le site, donner son
      avis sur les produits de la boutique, ajouter ou retirer des produits dans
      son panier, et passer une commande.
    </p>
  </section>
  <section>
    <p class="info">
      L'application sera développée avec PHP, MariaDB et adoptera une
      architecture Modèle-Vue-Contrôleur. 
    </p>
  </section>
  <section>
    <h4>Avant de vous lancer</h4>
    <p>
      Prenez le temps de lire et de comprendre la <a href="#environnement">mise
      en place</a> du projet, sa <a href="#pres_tech">présentation technique</a>
      ainsi que les
      <a href="#sources">fichiers sources</a> fournis.
    </p>
    <p>
      Pour chaque étape du projet, lisez attentivement son énoncé avant de vous
      lancer dans son développement : des détails utiles pour la réalisation de
      l'étape y sont généralement indiqués.
    </p>
  </section>
</section>

<!-- Environnement de travail -->
<section>
  <section>
    <h3 id="environnement">Environnement de travail</h3>
    <h4 id="sources">Fichiers sources</h4>
    <p>
      Vous utiliserez <a target="_blank" href="https://git-scm.com/">Git</a>
      pour versionner vos travaux et <a target="_blank"
      href="https://about.gitlab.com/">GitLab</a>
      pour les héberger.
    </p>
    <p class="info">
      Vous serez pleinement formés à l'utilisation de Git en Licence 3. En
      attendant, nous n'utiliserons ici que quelques commandes de base (qui vous
      seront fournies dans les énoncés).
    </p>
  </section>
  <section>
    <p>
      Suivez les étapes du <a target="_blank"
      href="/teaching/projetweb/tutogit">tutoriel Git</a> (jusqu'à
      <em>Commit</em>) pour installer le projet sur votre machine.
    </p>
  </section>
  <section>
    <h4>Configuration de XAMPP</h4>
    <p>
      Nous allons modifier légèrement la configuration du serveur Apache pour
      assurer le bon fonctionnement du projet. Démarrez XAMPP, puis ouvrez le
      fichier de configuration pour le module Apache dans <code>Config</code>
      > <code>Apache (httpd.conf)</code>. Recherchez-y les lignes suivantes :
    </p>
  </section>
  <!-- <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/config_apache.jpg" class="img-fluid">
      <small>
        Ouvrez le fichier de configuration (<code>httpd.conf</code>) du serveur
        Apache.
      </small>
    </div>
  </section> -->
  <section>
    <pre><code class="apache hljs">DocumentRoot "C:/xampp/htdocs"
&lt;Directory "C:/xampp/htdocs"&gt;</code></pre>
    <p class="tip">
      Si votre configuration XAMPP est <em>clean</em>, ce sont les lignes
      <code>253</code> et <code>254</code>. Sinon, recherchez
      <code>"DocumentRoot"</code> (<code>Ctrl+F</code>).
    </p>
  </section>
  <section>
    <p>
      Dupliquez ces lignes et spécifiez le chemin du dossier contenant votre
      projet. Mettez en commentaires les lignes précédentes (avec
      <code>#</code>).
    </p>
    <pre><code class="apache hljs"># DocumentRoot "C:/xampp/htdocs"
# &lt;Directory "C:/xampp/htdocs"&gt;
DocumentRoot "C:\Users\Flo\PhpstormProjects\ulco-l2-projetweb-etudiant"
&lt;Directory "C:\Users\Flo\PhpstormProjects\ulco-l2-projetweb-etudiant"&gt;</code></pre>
  </section>
  <section>
    <p class="tip">
      Plus tard, si vous avez besoin de retourner à une configuration
      <em>normale</em> pour votre serveur Apache, il vous suffira de commenter
      ces deux lignes et de décommenter les deux lignes précédentes.
    </p>
    <p class="warn">
      J'ai extrait les fichiers sources sur ma machine personnelle, d'où le
      chemin <code>"C:\Users\Flo\PhpstormProjects\..."</code>. Bien entendu, ne
      copiez-collez pas bêtement ces lignes ; adaptez le chemin en fonction de
      votre espace de travail.
    </p>
  </section>
  <section>
    <p>
      Sauvegardez, puis démarrez le module Apache (bouton <code>Start</code>).
      Dans votre navigateur web, allez à l'adresse <code>localhost</code>. Vous
      devriez obtenir l'affichage suivant.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/config_apache_ok.jpg" class="img-fluid">
      <small>
        Affichage pour <code>localhost</code> si tout est bien configuré.
      </small>
    </div>
  </section>
  <section>
    <p class="info">
      Le design de la page est <em>cassé</em> ! C'est normal, nous arrangerons
      cela avec des styles CSS dans les parties suivantes.
    </p>
  </section>
  <section>
    <h4>Import de la base de données</h4>
    <p>
      Dans XAMPP, démarrez le module MySQL (bouton <code>Start</code>) et
      accédez à PHPMyAdmin (bouton <code>Admin</code>).
    </p>
    <p>
      Créez une nouvelle base de données (via la barre de menu à gauche) et
      précisez les options suivantes.
    </p>
    <pre><code class="nohighlight hljs">Nom: webstore
Encodage: utf8mb4_general_ci (par défaut)</code></pre>
  </section>
  <section>
    <p>
      Une fois la base créée, cliquez sur <code>Importer</code> (via la barre de
      menu en haut), puis sur <code>Choisir un fichier</code>.
    </p>
    <p>
      Sélectionnez le fichier <code>src/model/import_webstore.sql</code>, puis
      cliquez sur <code>Exécuter</code>.
    </p>
  </section>
  <section>
    <p>
      Vérifiez que la base de données <code>webstore</code> contient désormais
      deux tables :
    </p>
    <ul>
      <li><code>category</code> avec 3 enregistrements,</li>
      <li><code>product</code> avec 9 enregistrements.</li>
    </ul>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/config_mysql_ok.jpg" class="img-fluid">
      <small>
        Base de données <code>webstore</code> correctement importée.
      </small>
    </div>
  </section>
</section>

<!-- Présentation -->
<section>
  <section>
    <h3 id="pres_tech">Présentation technique</h3>
    <h4>Architecture Modèle-Vue-Contrôleur</h4>
    <p>
      Jusqu'à présent pendant les TPs, nous développions un fichier PHP pour
      chacune des pages de nos applications. Par exemple, un fichier
      <code>index.php</code>, <code>login.php</code>,
      <code>shop.php</code>, etc... qui dupliquaient chacun la logique serveur
      (démarrage de l'<em>autoloading</em>, démarrage de la session, ...)
    </p>
    <p>
      Pour faciliter la maintenance, il est plus simple de passer par un
      contrôleur frontal, qui va jouer le rôle de <em>routeur</em>. Son objectif
      va être d'appeler le bon <em>contrôleur</em> qui exécutera les traitements
      adéquats.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/router_mvc.png" class="img-fluid">
      <small>
        Architecture <a target="_blank" href="https://openclassrooms.com/fr/courses/4670706-adoptez-une-architecture-mvc-en-php/4682351-creer-un-routeur#/id/r-4682386">MVC</a>.
      </small>
    </div>
    <p>
      Le schéma ci-dessus illustre l'architecture Modèle-Vue-Contrôleur (MVC)
      que nous utiliserons pour le développement de notre application de
      e-commerce.
    </p>
  </section>
  <section>
    <ol>
      <li>
        Supposons qu'un client effectue une requête <code>GET</code> sur l'URL
        <code>www.maboutique.com/articles</code>. Le <em>routeur</em>
        réceptionne la requête et passe la main au contrôleur.
      </li>
      <li>
        Le <em>contrôleur</em> associé à la route <code>/articles</code> est
        instancié et il exécute les traitements nécessaires pour générer une
        réponse au client.
      </li>
      <li>
        La génération de cette réponse nécessite parfois une communication avec
        le <em>modèle</em> de notre application (généralement une base de
        données).
      </li>
      <li>
        Quand toutes les données sont réunies, le contrôleur envoie la réponse
        au client : la <em>vue</em> (généralement du code HTML).
      </li>
    </ol>
  </section>
  <section>
    <h4>Fichiers sources</h4>
    <p>
      L'arborescence des <a href="#sources">fichiers sources</a> du projet
      respecte l'architecture MVC.
    </p>
    <pre><code class="nohighlight hljs"><b>webstore/</b>
├ public/
│ ├ images/
│ ├ styles/
│ └ scripts/
├ src/
│ ├ router/
│ ├ model/
│ ├ view/
│ └ controller/
├ index.php
└ .htaccess</code></pre>
  </section>
  <section>
    <p>
      Détaillons brièvement le rôle et le contenu de chacun de ces éléments :
    </p>
    <ul>
      <li>
        Le fichier <code>.htaccess</code> est un fichier de configuration
        serveur Apache. Les instructions qu'il contient permettent d'assurer le
        bon fonctionnement du routeur. Vous n'avez pas besoin de le modifier.
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le répertoire <code>src/</code> contient toute la logique de notre
        application web. Les composants de l'architecture MVC sont implémentés
        ici. Le contenu de chaque sous-dossier sera expliqué dans les parties
        suivantes.
        <div class="tip">
          <p>
            Ces répertoires sont interdits d'accès pour les utilisateurs du site
            : évidemment, on ne souhaite pas qu'un visiteur quelconque puisse
            accéder aux codes sources de notre application.
          </p>
          <p>
            Dans votre navigateur, essayez d'accéder à l'URL
            <code>localhost/src/</code> pour vous en rendre
            compte.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le répertoire <code>public/</code> contient toutes les ressources
        statiques du serveur. Ce répertoire regroupe généralement les images,
        les scripts, les feuilles de styles, etc...
        <div class="tip">
          <p>
            Contrairement à <code>src/</code>, le répertoire <code>public/</code>
            est libre d'accès pour le visiteur.
          </p>
          <p>
            Dans votre navigateur, essayez d'accéder à l'URL
            <code>localhost/public/</code> pour vous en rendre
            compte.
          </p>
        </div>
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le fichier <code>index.php</code> est le contrôleur frontal, autrement
        dit, le routeur. Son rôle consiste essentiellement à router les requêtes
        entrantes vers les contrôleurs associés.
      </li>
    </ul>
  </section>
  <section>
    <h4 id="routes">Routes</h4>
    <p class="info">
      La logique du routeur est implémentée dans
      <code>src/router/Router.php</code> et est fortement inspirée de cette <a
      target="_blank"
      href="https://github.com/MarceauKa/Router">implémentation</a>. Vous n'avez
      pas besoin de modifier ce fichier. Vous travaillerez essentiellement dans
      <code>index.php</code> pour la définition des routes.
    </p>
  </section>
  <section>
    <p>
      Une route définit comment l'application doit répondre à une URL, selon une
      méthode HTTP (<code>GET</code>, <code>POST</code>, <code>DELETE</code>,
      ...). Une route associe généralement :
    </p>
    <ul>
      <li>Une méthode HTTP,</li>
      <li>Une URL,</li>
      <li>Une fonction de rappel (≈ contrôleur dans l'architecture MVC).</li>
    </ul>
  </section>
  <section>
    <p>
      Quelques exemples de routes :
    </p>
    <pre><code class="php">// Route "/" (racine)
$router->get('/', function() {
  echo 'Accueil !';
});

// Route "/boutique"
$router->get('/boutique', function() {
  echo 'Boutique !';
});

// Route paramétrée, par exemple "/article/42"
$router->get('/article/{:num}', function($id) {
  echo 'Article numéro : ' . $id . ' !';
});</code></pre>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/routes.mp4" type="video/mp4">
      </video>
    </div>
  </section>
  <section>
    <p>
      Dans le contexte de notre application, les routes sont définies dans le
      fichier <code>index.php</code>. Cependant, plutôt que d'implémenter toutes
      les fonctions de rappel dans cet unique fichier, nous allons les
      implémenter dans des classes spécialisées : les contrôleurs.
    </p>
    <pre><code class="php">// Quand le routeur match la route "/"
// Le contrôleur "controller\IndexController" est instancié
// Et sa méthode "index" est invoquée
$router->get('/', 'controller\IndexController@index');</code></pre>
  </section>
  <section>
    <h4>Contrôleurs</h4>
    <p>
      Les contrôleurs sont essentiellement des classes PHP qui implémentent les
      fonctions de rappel associées aux routes de l'application. Un contrôleur
      adapté à l'exemple précédent pourrait ressembler à :
    </p>
    <pre><code class="php">namespace controller;

class IndexController {
  public function index(): void {
    echo 'Accueil !';
  }
}</code></pre>
  </section>
  <section>
    <p>
      L'objectif des contrôleurs est de produire une réponse pour le client
      (généralement du code HTML). Cependant, constuire une réponse à coups de
      <code>echo</code> ou de <code>&lt;&lt;&lt;EOT</code> n'est pas toujours très
      pratique ni lisible... Il est préférable d'utiliser des <em>vues</em>.
    </p>
  </section>
  <section>
    <h4>Vues</h4>
    <p>
      Une vue est essentiellement destinée à produire un <em>affichage</em>
      selon les données transmises par le contrôleur. Dans le contexte de notre
      application, les vues seront des fichiers PHP qui mêleront principalement
      du code HTML et quelques instructions PHP.
    </p>
  </section>
  <section>
    <p>
      Le répertoire <code>src/view</code> contient les éléments suivants :
    </p>
    <pre><code class="nohighlight hljs"><b>view/</b>
├ commons/
│ ├ head.php
│ └ ...
├ modules/
│ ├ home.php
│ └ ...
└ Template.php</code></pre>
  </section>
  <section>
    <p>
      Détaillons brièvement le contenu de chacun de ces éléments :
    </p>
    <ul>
      <li>
        Le fichier <code>Template.php</code> implémente la vue de base,
        nécessaire à toutes les pages du site web. C'est cette classe qui
        effectuera le <em>rendu</em> (l'affichage des pages) en incluant les
        divers <em>morceaux</em> de l'application.
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le répertoire <code>commons/</code> contient les <em>morceaux</em>
        de pages communs à toutes les pages du site web. C'est ici que seront
        implémentés les codes HTML / PHP correspondant à la barre de navigation,
        au pied-de-page, etc...
      </li>
    </ul>
  </section>
  <section>
    <ul>
      <li>
        Le répertoire <code>modules/</code> contient les <em>morceaux</em> de
        pages spécifiques à une route du site web. C'est ici que seront
        implémentés les codes HTML / PHP correspondant au module "page
        d'accueil", au module "boutique", etc...
      </li>
    </ul>
  </section>
  <section>
    <p>
      Le schéma suivant illustre ce concept.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/template_view.png" class="img-fluid">
      <small>
        Le contrôleur demande le rendu de la vue <code>Template</code>.
      </small>
    </div>
  </section>
  <section>
    <div class="tip">
      <p>
        Ouvrez le fichier <code>src/controller/IndexController.php</code> pour
        constater ce mécanisme et comprendre comment la vue est produite.
      </p>
    </div>
  </section>
  <section>
    <h4>Modèle</h4>
    <p>
      Le contrôleur aura parfois besoin de communiquer avec le modèle de
      l'application avant d'effectuer le rendu de la vue.
    </p>
    <p>
      Le rôle des classes <em>modèles</em> consistera essentiellement à ouvrir
      une connexion avec la base de données de l'application afin d'y exécuter
      des requêtes SQL. Les résultats des requêtes seront ensuite retournés au
      contrôleur.
    </p>
  </section>
  <section>
    <p>
      Les classes PHP qui effectuent les requêtes sur la base de données seront
      implémentées dans le répertoire <code>src/model</code>.
    </p>
    <p class="info">
      La classe <code>Model.php</code> permet d'ouvrir une connexion avec la
      base de données.
      Les informations fournies dans ce fichier sont les informations de
      connexion par défaut. Pensez à modifier ce fichier si la connexion
      échoue.
    </p>
  </section>
  <section>
    <h4>À propos des styles CSS</h4>
    <p>
      Ce projet n'a pas pour objectif d'évaluer vos compétences en webdesign
      avec CSS. Aussi, un fichier <code>public/styles/default.css</code> vous
      est déjà fourni.
    </p>
    <p>
      Pour appliquer les styles, il vous suffira de baliser correctement vos
      codes HTML, en suivant les consignes et les maquettes proposées dans les
      énoncés. Autrement dit, si un style ne s'applique pas (ou mal), c'est
      sûrement parceque votre code HTML n'est pas balisé correctement.
    </p>
  </section>
  <section>
    <p class="info">
      Si les styles par défaut vous ennuient, vous êtes libres de développer
      votre feuille de styles personnalisée dans le répertoire
      <code>public/styles/</code>. Dans ce cas, pensez à modifier les
      méta-données dans <code>src/view/commons/head.php</code>.
    </p>
  </section>
  <section>
    <p>
      Les maquettes vous fourniront les informations nécessaires pour
      implémenter le code HTML :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Une balise est représentée par une boîte.
      </li>
      <li>
        Le nom de la balise est en couleur noire.
      </li>
      <li>
        Si une balise contient une balise <em>enfant</em>, celle-ci est
        représentée par une sous-boîte (imbriquée dans la boîte
        <em>parent</em>).
      </li>
      <li>
        Si la balise possède un <code>id</code>, celui-ci est précisé par le
        symbole <code>#</code> suivi du nom de l'<code>id</code>.
      </li>
      <li>
        Si la balise possède une ou plusieurs <code>classes</code>, celles-ci
        sont précisées par le symbole <code>.</code> suivi du nom des
        <code>classes</code>.
      </li>
      <li>
        Si la balise possède un ou plusieurs <code>attributs</code>, ceux-ci
        sont précisés entre les symboles <code>[]</code>.
      </li>
      <li>
        Si la balise contient du texte, celui-ci est indiqué en italique.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Par exemple, les maquettes fournies dans l'énoncé pourront ressembler à
      celle illustrée ci-dessous...
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/config_maquette.svg" class="img-fluid" width="400">
      <br>
      <small>
        Un exemple de maquette
      </small>
    </div>
  </section>
  <section>
    <p>... que vous devrez implémenter par le code HTML suivant.</p>
    <pre><code class="html">&lt;nav&gt;
  &lt;img src="logo.jpeg" /&gt;
  &lt;div id="mydiv"&gt;
    &lt;a class="link" href="/une/route"&gt;
      Contenu texte de la balise
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
  </section>
</section>

<!-- Premières routes -->
<section>
  <section>
    <h3>1️⃣ Premières routes et mises en pages</h3>
    <h4>Route index</h4>
    <p>
      Le projet possède déjà une route index <code>"/"</code>, associée au
      contrôleur <code>IndexController</code> et à sa méthode
      <code>index()</code>.
    </p>
    <p class="info">
      Lisez les codes sources des fichiers <code>index.php</code>,
      <code>src/controller/IndexController.php</code> et des vues associées pour
      comprendre comment tout cela fonctionne.
    </p>
  </section>
  <section>
    <h4>Barre de navigation</h4>
    <p>
      Nous allons tout d'abord développer la barre de navigation pour notre
      application. Créez un fichier <code>src/view/commons/nav.php</code>. Puis
      incluez ce fichier à l'endroit correspondant dans le template
      <code>src/view/Template.php</code>.
    </p>
  </section>
  <section>
    <p>
      Le contenu du fichier <code>src/view/commons/nav.php</code> doit respecter
      le balisage HTML de la maquette suivante.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_nav.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette de la barre de navigation.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_nav.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour la barre de navigation.
      </small>
    </div>
  </section>
  <section>
    <div class="tip">
      <p>
        Remarquez comment l'attribut <code>href</code> des balises
        <code>a</code>
        permet de créer les liens vers les (futures) routes de l'application.
      </p>
      <p>
        De même, remarquez comment l'attribut <code>src</code> des balises
        <code>img</code> permet de récupérer des ressources statiques (avec le
        préfixe <code>/public</code>).
      </p>
    </div>
  </section>
  <section>
    <h4>Pied-de-page</h4>
    <p>
      Développons maintenant le pied-de-page pour notre application. Créez un
      fichier <code>src/view/commons/footer.php</code>. Puis incluez ce fichier
      à l'endroit correspondant dans le template
      <code>src/view/Template.php</code>.
    </p>
  </section>
  <section>
    <p>
      Le contenu du fichier <code>src/view/commons/footer.php</code> doit
      respecter le balisage HTML de la maquette suivante.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_footer.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette du pied-de-page.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_footer.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour le pied-de-page.
      </small>
    </div>
  </section>
  <section>
    <h4>Module <em>home</em></h4>
    <p>
      Il est temps de mettre en page le module
      <code>src/view/modules/home.php</code> ! Pour cela, respectez le balisage
      HTML précisé par la maquette suivante (les contenus textes vous sont déjà
      fournis dans le fichier).
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_home.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette du module <em>home</em>.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_home.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour le module <em>home</em>.
      </small>
    </div>
  </section>
  <section>
    <h4>Pas de route ?</h4>
    <p>
      Lorsque le visiteur tente d'accéder à une route de l'application qui
      n'existe pas, nous afficherons une page pour lui informer qu'il s'est
      perdu et lui proposer de revenir à l'accueil.
    </p>
    <p class="info">
      Lisez le codes sources des fichiers <code>index.php</code> et
      <code>src/controller/ErrorController.php</code>, puis tentez d'accéder à
      une route qui n'existe pas pour comprendre comment cela fonctionne (par
      exemple, <code>localhost/nimportkoi</code>).
    </p>
  </section>
  <section>
    <p>
      Pour l'instant, le contrôleur n'affiche qu'une simple chaîne de caractères
      avec un <code>echo</code>. Modifiez cela afin de réaliser le rendu du
      template avec le module <code>src/view/modules/error.php</code>.
    </p>
    <p class="tip">
      Inspirez vous de ce qui est déjà fait dans
      <code>IndexController.php</code> !
    </p>
  </section>
  <section>
    <p>
      Respectez le balisage HTML précisé par la maquette suivante pour réaliser
      le module <code>error.php</code>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_error.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette du module <em>error</em>.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_error.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour le module <em>error</em>.
      </small>
    </div>
  </section>
</section>

<!-- Liste des produits -->
<section>
  <section>
    <h3>2️⃣ Liste des produits</h3>
    <h4>Route <em>store</em></h4>
    <p>
      Nous allons définir une nouvelle route pour la boutique. Dans
      <code>index.php</code>, définissez une route <code>"/store"</code>.
      Associez-la au contrôleur <code>StoreController</code> et à sa méthode
      <code>store()</code>.
    </p>
    <p class="info">
      Le contrôleur <code>StoreController</code> et le module
      <code>store.php</code> sont déjà fournis.
    </p>
  </section>
  <section>
    <h4>Contrôleur et modèle</h4>
    <p>
      Si tout fonctionne correctement, vous devriez observer un menu sur la
      gauche de la page, qui nous servira plus tard à rechercher, filtrer ou
      trier l'affichage des produits.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_store_1.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour la route <code>/store</code>.
      </small>
    </div>
  </section>
  <section>
    <p>
      Dans la vue <code>modules/store.php</code>, vous pouvez constater que la
      liste des catégories est générée automatiquement. Cette liste a été
      récupérée depuis la base de données.
    </p>
    <p class="info">
      Regardez les codes sources du contrôleur <code>StoreController.php</code>
      et du modèle <code>StoreModel.php</code> pour comprendre comment tout cela
      fonctionne.
    </p>
  </section>
  <section>
    <h4>Affichage des produits</h4>
    <p>
      Dans <code>StoreModel.php</code>, développez une nouvelle méthode
      <code>listProducts()</code> qui récupère la liste de tous les
      produits dans la base de données. Sélectionnez les colonnes suivantes :
    </p>
    <ul>
      <li>Identifiant du produit,</li>
      <li>Nom du produit,</li>
      <li>Prix du produit,</li>
      <li>Image du produit,</li>
      <li>
        Nom de la catégorie du produit (utilisez un <code>INNER JOIN</code>).
      </li>
    </ul>
  </section>
  <section>
    <p>
      Modifiez le code de <code>StoreController.php</code> afin d'invoquer cette
      méthode et de transmettre les résultats à la vue.
    </p>
    <p>
      Dans <code>modules/store.php</code>, bouclez sur ces résultats afin
      d'afficher les vignettes des produits. Respectez le balisage HTML précisé
      par la maquette suivante.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_store.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette d'une vignette produit.
      </small>
    </div>
    <div class="tip">
      Remarquez l'attribut <code>href</code> des liens qui mènent vers une route
      paramétrée en fonction de l'identifiant du produit.
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_store_2.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour le module <em>store</em>.
      </small>
    </div>
  </section>
</section>

<!-- Fiche détaillée d'un produit -->
<section>
  <section>
    <h3>3️⃣ Fiche détaillée d'un produit</h3>
    <h4>Route paramétrée <em>store/id</em></h4>
    <p>
      Il est temps de fournir un peu plus d'informations quant aux produits
      proposés par votre boutique ! Définissez une nouvelle route paramétrée
      <code>store/{:num}</code>. Associez-la au contrôleur 
      <code>StoreController</code> et à sa méthode <code>product</code> (que
      nous allons développer ensuite).
    </p>
    <p class="tip">
      Inspirez-vous de cet <a href="#routes">exemple</a>.
    </p>
  </section>
  <section>
    <h4>Sélection d'un produit</h4>
    <p>
      Dans <code>StoreModel.php</code>, développez une nouvelle méthode
      <code>infoProduct(int $id)</code> qui récupère les informations d'un
      produit spécifié en paramètre. Sélectionnez les colonnes suivantes :
    </p>
    <ul>
      <li>Nom du produit,</li>
      <li>Prix du produit,</li>
      <li>Images du produit,</li>
      <li>Spécificités du produit,</li>
      <li>
        Nom de la catégorie du produit (utilisez un <code>INNER JOIN</code>).
      </li>
    </ul>
  </section>
  <section>
    <p class="info">
      Pensez à utiliser une clause <code>WHERE</code> pour sélectionner un
      produit selon son identifiant.
    </p>
    <p class="tip">
      Attention, la méthode <code>->fetchAll()</code> retourne un tableau (2D)
      contenant toutes les lignes de l'ensemble de résultats de la requête. Si
      vous souhaitez récupérer uniquement la première ligne, il est préférable
      d'utiliser la méthode <code>->fetch()</code>.
    </p>
  </section>
  <section>
    <h4>Affichage du produit</h4>
    <p>
      Dans <code>StoreController.php</code>, développez une nouvelle méthode
      <code>product(int $id)</code>. Cette méthode doit :
    </p>
    <ul>
      <li>
        Utiliser le paramètre de l'URL (<code>$id</code>) afin de récupérer les
        informations d'un produit (utilisez la méthode <code>infoProduct</code>
        développée précédemment),
      </li>
      <!-- <li>
        Si le produit n'existe pas, rediriger vers la route <code>/store</code>
        (voir <a href="#noproduct">cette section</a>),
      </li> -->
      <li>
        Faire le rendu du <em>template</em> avec le module
        <code>modules/product.php</code>, en respectant la maquette suivante.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_product.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette d'une fiche produit.
      </small>
    </div>
  </section>
  <section>
    <h4>Produit inexistant</h4>
    <p>
      Si l'identifiant du produit demandé n'existe pas, la méthode
      <code>product($id)</code> développée précédemment doit rediriger vers la
      route <code>/store</code>. Modifiez le code de la méthode
      <code>product($id)</code> de façon à respecter cette contrainte.
    </p>
    <p class="tip">
      Vous pouvez vérifier si une requête retourne un résultat ou non en testant
      si sa valeur de retour vaut <code>null</code>.
    </p>
  </section>
  <section>
    <div class="tip">
      <p>
        Utilisez les fonctions <code><a target="_blank"
        href="https://www.php.net/manual/fr/function.header.php">header()</a></code>
        et <code><a target="_blank" href="https://www.php.net/manual/fr/function.exit.php">exit()</a></code>
        pour effectuer une redirection.
      </p>
      <pre><code class="php">header("Location: /une/route");
exit();</code></pre>
    </div>
  </section>
  <section>
    <h4>Interactions</h4>
    <p>
      Nous allons ajouter un peu de dynamisme aux pages des produits. Créez un
      nouveau script <code>/public/scripts/product.js</code> et incluez-le à la
      fin du module <code>modules/product.php</code>.
    </p>
  </section>
  <section>
    <p>
      Dans <code>product.js</code>, implémentez ces fonctionnalités :
    </p>
    <ul>
      <li>
        Un visiteur peut cliquer sur une image miniature pour l'afficher en plus
        grand.
      </li>
      <li>
        Un visiteur peut cliquer sur le bouton <code>[-]</code> pour diminuer la
        quantité. La quantité ne peut pas être inférieure à
        <code>1</code>.
      </li>
      <li>
        Un visiteur peut cliquer sur le bouton <code>[+]</code> pour augmenter
        la quantité. La quantité ne peut pas être supérieure à <code>5</code>,
        auquel cas un message apparaît pour en avertir le visiteur.
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      <p>
        Utilisez les classes <code>.box</code> et <code>.error</code> pour
        afficher une boîte <code>erreur</code>.
      </p>
      <pre><code class="html">&lt;div class="box error"&gt;
  Quantité maximale autorisée !
&lt;/div&gt;</code></pre>
    </div>
  </section>
  <section>
    <h4>Résultat</h4>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/product.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Résultat attendu pour le module <em>product</em>.
      </small>
    </div>
  </section>
</section>

<!-- Inscription et connexion -->
<section>
  <section>
    <h3>4️⃣ Inscription et connexion</h3>
    <h4>Nouvelle table</h4>
    <p>
      Nous allons permettre à nos visiteurs de s'inscrire et de se connecter à
      notre application web. Pour commencer, utilisez PHPMyAdmin afin de créer
      une nouvelle table dans la base de données.
    </p>
    <pre><code class="nohighlight hljs">Nom de la table: <b>account</b>
├ <b>id</b>: int(10), auto-increment, clé primaire
├ <b>firstname</b>: varchar(80)
├ <b>lastname</b>: varchar(80)
├ <b>mail</b>: varchar(80)
└ <b>password</b>: varchar(80)</code></pre>
  </section>
  <section>
    <h4>Route, contrôleur et vue</h4>
    <p>
      Créez un nouveau contrôleur <code>AccountController.php</code>. Définissez
      une nouvelle route pour <code>"/account"</code>. Associez-la au contrôleur
      <code>AccountController.php</code> et à sa méthode
      <code>account</code> (que nous allons développer ensuite).
    </p>
    <p>
      Dans <code>AccountController.php</code>, développez une nouvelle méthode
      <code>account()</code>. Pour l'instant, cette méthode doit effectuer le
      rendu du <em>template</em> avec le module <code>modules/account.php</code>
      en respectant la maquette suivante.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/maquette_account.svg" class="img-fluid" width="400">
      <br> 
      <small>
        Maquette du module <em>account</em>.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_account.jpg" class="img-fluid">
      <br> 
      <small>
        Résultat attendu pour le module <em>account</em>.
      </small>
    </div>
  </section>
  <section>
    <h4>Routes <em>POST</em></h4>
    <p>
      Définissez deux nouvelles routes en mode <code>POST</code> :
    </p>
    <ul>
      <li>
        <code>"/login"</code>, associée au contrôleur
        <code>AccountController</code> et à sa méthode <code>login</code> (que
        nous allons développer ensuite),
      </li>
      <li>
        <code>"/signin"</code>, associée au contrôleur
        <code>AccountController</code> et à sa méthode <code>signin</code> (que
        nous allons développer ensuite).
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      <p>
        Utilisez la méthode <code>.post</code> du routeur pour définir des
        routes en mode <code>POST</code>.
      </p>
      <pre><code class="php">$router->post("/une/route/post", "Controller@callback");</code></pre>
    </div>
  </section>
  <section>
    <h4>Vérifications</h4>
    <p>
      Créez un nouveau modèle <code>AccountModel.php</code> et développez une
      méthode statique <code>check($firstname, $lastname, $mail,
      $password)</code>. Cette méthode doit vérifier les informations passées en
      paramètre selon les contraintes suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        <code>$firstname</code> et <code>$lastname</code> doivent contenir au
        moins 2 caractères,
      </li>
      <li>
        <code>$mail</code> doit respecter le format mail,
      </li>
      <li>
        <code>$mail</code> ne doit pas déjà exister dans la table
        <code>account</code>,
      </li>
      <li>
        <code>$password</code> doit contenir au moins 6 caractères.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Si toutes les contraintes sont vérifiées, la méthode doit retourner
      <code>true</code>, sinon <code>false</code>.
    </p>
    <p class="info">
      Utilisez la fonction <code><a target="_blank"
      href="https://www.php.net/manual/fr/filter.examples.validation.php">filter_var</a></code>
      pour vérifier une adresse mail.
    </p>
  </section>
  <section>
    <h4>Inscription</h4>
    <p>
      Dans le modèle <code>AccountModel.php</code>, développez une méthode
      statique <code>signin($firstname, $lastname, $mail, $password)</code> qui
      vérifie les informations passées en paramètres à l'aide de la fonction
      <code>check</code> développée précedemment. Si ces informations sont
      valides, la méthode inscrit le nouvel utilisateur dans la base de données
      et retourne
      <code>true</code>. Sinon, la méthode retourne <code>false</code>.
    </p>
    <p class="info">Utilisez une requête <code>INSERT INTO</code>.</p>
  </section>  
  <section>
    <p>
      Dans <code>AccountController.php</code>, développez une méthode
      <code>signin()</code> qui :
    </p>
    <ul>
      <li>
        Récupère les informations du formulaire d'inscription (utilisez
        <code>$_POST</code>),
      </li>
      <li>
        Invoque la méthode <code>signin</code> du modèle pour inscrire un
        utilisateur dans la base de données,
      </li>
      <li>
        Redirige vers la route <code>"/account"</code>.
      </li>
    </ul>
  </section>
  <section>
    <p class="info">
      Vérifiez avec PHPMyAdmin que l'utilisateur inscrit est correctement ajouté
      à la base de données.
    </p>
    <p class="tip">
      Vous constaterez que le mot de passe apparaît en clair dans la base de
      données ! Si vous souhaitez le chiffrer, utilisez la fonction
      <a target="_blank" href="https://www.php.net/manual/fr/function.password-hash.php"><code>password_hash</code></a>.
    </p>
    <p class="warn">
      Pensez à <em>nettoyer</em> les informations saisies par l'utilisateur
      avant de les enregistrer dans la base de données, afin d'éviter
      d'éventuelles injections de code !
    </p>
  </section>
  <section>
    <h4>Connexion</h4>
    <p>
      Démarrez une session PHP au début du contrôleur frontal
      <code>index.php</code>.
    </p>
    <p class="info">
      La session est démarrée une unique fois dans le contrôleur frontal, et
      sera donc utilisable par tous les composants de l'application.
    </p>
  </section>
  <section>
    <p>
      Dans le modèle <code>AccountModel.php</code>, développez une méthode
      statique <code>login($mail, $password)</code> qui sélectionne un
      utilisateur dans la base de données selon son mail et son mot de passe.
    </p>
  </section>
  <section>
    <p>
      Dans <code>AccountController.php</code>, développez une méthode
      <code>login()</code> qui :
    </p>
    <ul>
      <li>
        Récupère les informations du formulaire de connexion,
      </li>
      <li>
        Invoque la méthode <code>login</code> du modèle pour sélectionner
        l'utilisateur,
      </li>
      <li>
        Si l'utilisateur existe et si le mail et le mot de passe correspondent :
        <ul>
          <li>
            Enregistre l'identifiant, le prénom, le nom et le mail de
            l'utilisateur dans la session,
          </li>
          <li>
            Redirige vers la route <code>"/store"</code>.
          </li>
        </ul>
      </li>
      <li>
        Sinon, redirige vers la route <code>"/account"</code>.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Quand un utilisateur est correctement connecté, l'apparence de la barre de
      navigation doit être légèrement modifiée.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_login.jpg" class="img-fluid">
      <br> 
      <small>
        La barre de navigation change lorsqu'un utilisateur est connecté.
      </small>
    </div>
  </section>
  <section>
    <h4>Déconnexion</h4>
    <p>
      Le lien <em>Déconnexion</em> de la barre de navigation permet à
      l'utilisateur de se déconnecter.
    </p>
    <p>
      Définissez une nouvelle route <code>"/account/logout"</code>. Associez-la
      au contrôleur <code>AccountController</code> et à sa méthode
      <code>logout</code> (que nous allons développer ensuite).
    </p>
    <p>
      Dans <code>AccountController.php</code>, développez une méthode
      <code>logout()</code> qui détruit la session et qui redirige vers la route
      <code>"/account"</code>.
    </p>
  </section>
  <section>
    <h4>Interactions</h4>
    <p>
      Créer un nouveau script <code>/public/scripts/signin.js</code> et liez-le
      à la fin du module <code>modules/account.php</code>.
    </p>
    <p>
      Ce script doit vérifier dynamiquement les informations saisies par
      l'utilisateur, et empêcher l'envoi du formulaire si les infomations sont
      erronées.
    </p>
  </section>
  <section>
    <ul>
      <li>
        Les nom et prénom doivent contenir au minimum 2 caractères.
      </li>
      <li>
        Le champ mail doit respecter le format d'une adresse mail.
      </li>
      <li>
        Le mot de passe doit contenir au minimum 6 caractères, dont au moins 1
        chiffre et 1 lettre.
      </li>
      <li>
        Les deux champs mot de passe doivent être identiques.
      </li>
    </ul>
  </section>
  <section>
    <p class="tip">
      Vous pouvez utilisez les classes <code>.valid</code> ou
      <code>.invalid</code> sur les balises <code>p</code> ou <code>input</code>
      du formulaire afin de signaler à l'utilisateur si les informations qu'il
      saisit sont correctes.
    </p>
    <p class="info">
      Utilisez des <a
      href="https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/RegExp/test">expressions
      régulières</a> pour tester les champs mail et mot de passe.
    </p>
  </section>
  <section>
    <h4>Informations contextuelles</h4>
    <p>
      Modifiez les codes du contrôleur <code>AccountController</code> et du
      module <code>modules/account.php</code> afin d'afficher des informations
      supplémentaires quant à l'action réalisée par le visiteur. Par exemple :
    </p>
    <ul>
      <li>
        Quand il est correctement inscrit,
      </li>
      <li>
        Quand il est correctement déconnecté,
      </li>
      <li>
        Quand l'inscription a échoué,
      </li>
      <li>
        Quand la connexion a échoué, ...
      </li>
    </ul>
  </section>
  <section>
    <div class="tip">
      <p>
        Pour y parvenir, vous pouvez passer des paramètres dans l'URL lors d'une
        redirection. Par exemple, l'instruction suivante redirige vers la route
        <code>"/account"</code> tout en passant un paramètre
        <code>status</code> récupérable avec <code>$_GET</code> :
      </p>
      <pre><code class="php">header("Location: /account?status=login_fail");</code></pre>
    </div>
  </section>
  <section>
    <h4>Résultat</h4>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/account.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Résultat attendu pour le module <em>account</em>.
      </small>
    </div>
  </section>
</section>

<!-- Avis sur les produits -->
<section>
  <section>
    <h3>5️⃣ Avis sur les produits</h3>
    <p class="info">
      Si vous êtes arrivés jusqu'ici, bravo ! À partir de cette section, les
      énoncés sont volontairement moins guidés. Tenez vous à la méthodologie que
      nous utilisons depuis le début du projet (définition des routes,
      développement des contrôleurs et/ou des modèles, développement des vues)
      et tout va bien se passer !
    </p>
  </section>
  <section>
    <h4>Nouvelle table</h4>
    <p>
      Les utilisateurs connectés peuvent laisser leur avis sur les produits de
      la boutique. Commencez par créer une nouvelle table dans la bases de
      données.
    </p>
    <pre><code class="nohighlight hljs">Nom de la table: <b>comment</b>
├ <b>id</b>: int(10), auto-increment, clé primaire
├ <b>content</b>: text
├ <b>date</b>: date
├ <b>id_product</b>: int(10), clé étrangère
└ <b>id_account</b>: int(10), clé étrangère</code></pre>
  </section>
  <section>
    <h4>Objectif</h4>
    <p>
      Développez les routes, les contrôleurs et les modèles adéquats pour
      permettre à un utilisateur de publier un avis sur un produit de la
      boutique.
    </p>
    <div class="tip">
      <p>Vous pouvez utiliser le code HTML pour l'affichage des avis :</p>
      <pre><code class="html">&lt;div class="product-comment"&gt;
  &lt;p class="product-comment-author"&gt;Auteur&lt;/p&gt;
  &lt;p&gt;
    Contenu...
  &lt;/p&gt;
&lt;/div&gt;</code></pre>
    </div>
  </section>
  <section>
    <h4>Indications</h4>
    <p>Quelques pistes :</p>
    <ul>
      <li>
        Définissez une nouvelle route <code>"/postComment"</code> en mode
        <code>POST</code>.
      </li>
      <li>
        Créez un nouveau modèle <code>CommentModel.php</code> et développez-y
        des méthodes <code>insertComment(...)</code> et
        <code>listComment(...)</code>.
      </li>
      <li>
        Créez un nouveau contrôleur <code>CommentController.php</code> et
        développez-y une méthode <code>postComment(...)</code>.
      </li>
      <li>
        Adaptez le code de <code>StoreController</code> et du module
        <code>modules/product.php</code> afin d'afficher la liste des avis.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_comment.jpg" class="img-fluid">
      <br> 
      <small>
        Un utilisateur peut publier un avis sur un produit de la boutique.
      </small>
    </div>
  </section>
</section>

<!-- Recherche, filtre et tri -->
<section>
  <section>
    <h3>6️⃣ Recherche, filtre et tri</h3>
    <h4>Objectif</h4>
    <p>
      Développez les routes, les contrôleurs et les modèles adéquats pour
      permettre à un utilisateur de rechercher, filtrer ou trier les produits de
      la boutique.
    </p>
  </section>
  <section>
    <h4>Indications</h4>
    <p>Quelques pistes :</p>
    <ul>
      <li>
        Définissez une nouvelle route <code>"/search"</code> en mode
        <code>POST</code>.
      </li>
      <li>
        Développez une méthode <code>search(...)</code> dans
        <code>StoreController</code>.
      </li>
      <li>
        Dans le modèle <code>StoreModel</code>, développez une nouvelle méthode
        ou adaptez la méthode <code>listProducts</code> déjà existante afin
        d'effectuer la requête SQL qui correspond aux critères de l'utilisateur.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/search.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Un utilisateur peut rechercher, filtrer ou trier l'affichage.
      </small>
    </div>
  </section>
</section>

<!-- Informations du compte -->
<section>
  <section>
    <h3>7️⃣ Informations du compte</h3>
    <h4>Objectif</h4>
    <p>
      Développez les routes, les contrôleurs et les modèles adéquats pour
      permettre à un utilisateur de modifier ses informations personnelles. Nous
      nous limiterons aux modifications du prénom, du nom et de l'adresse mail.
    </p>
  </section>
  <section>
    <h4>Indications</h4>
    <p>Quelques pistes :</p>
    <ul>
      <li>
        Définissez une nouvelle route <code>"/account/infos"</code> en mode
        <code>GET</code>.
      </li>
      <li>
        Développez une méthode <code>infos()</code> dans
        <code>AccountController</code>, et faites le rendu d'un module
        <code>views/modules/infos.php</code>. Vous pouvez vous inspirer de
        l'exemple vidéo ci-dessous pour le design des interfaces. Utilisez des
        styles CSS personnalisés si nécessaire.
      </li>
      <li>
        Définissez une nouvelle route <code>"/account/update"</code> en mode
        <code>POST</code>.
      </li>
      <li>
        Dans le modèle <code>AccountModel</code>, développez une nouvelle
        méthode pour la mise à jour des informations de l'utilisateur.
      </li>
    </ul>
  </section>
  <section>
    <p class="tip">
      Pensez à <em>nettoyer</em> les saisies de l'utilisateur pour éviter qu'il
      injecte du code malicieux dans la base de données.
    </p>
    <p class="tip">
      Veillez à ce qu'un utilisateur qui n'est pas connecté ne puisse pas
      accéder à ces nouvelles routes !
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/infos.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Un utilisateur peut modifier ses informations personnelles.
      </small>
    </div>
  </section>
</section>

<!-- TODO -->
<section>
  <section>
    <h3>8️⃣ Panier</h3>
    <h4>Objectif</h4>
    <p>
      Développez les routes et les contrôleurs adéquats pour permettre à un
      utilisateur d'ajouter des produits dans son panier. L'interface du panier
      doit afficher les articles contenus dans le panier (nom, catégorie, prix
      unitaire et quantité), ainsi que le prix total du panier.
    </p>
  </section>
  <section>
    <h4>Indications</h4>
    <p>Quelques pistes :</p>
    <ul>
      <li>
        Définissez de nouvelles routes : <code>"/cart"</code> en mode
        <code>GET</code> pour l'affichage du panier, <code>"/cart/add"</code> en
        mode <code>POST</code> pour l'ajout d'un produit dans le panier, etc...
      </li>
      <li>
        Développez les méthodes associées à ces nouvelles routes dans un nouveau
        contrôleur <code>CartController</code>.
      </li>
      <li>
        Développez un nouveau module <code>views/modules/cart.php</code>. Vous
        pouvez vous inspirer de l'exemple ci-dessous pour le design des
        interfaces. Utilisez des styles CSS personnalisés si nécessaire.
      </li>
    </ul>
  </section>
  <section>
    <p class="tip">
      Vous êtes libre de gérer le panier comme bon vous semble (base de données,
      session, cookie, ...). Cependant, la gestion du panier dans une variable
      <code>$_SESSION</code> semble être la plus simple à appréhender.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/result_cart.jpg" class="img-fluid">
      <small>
        Exemple d'interface pour le module <code>cart</code>.
      </small>
    </div>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/cart.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Un utilisateur peut ajouter des produits dans son panier.
      </small>
    </div>
  </section>
  <section>
    <p class="info">
      Bonus : un utilisateur peut modifier les quantités de son panier (avec les
      boutons <em>plus</em> et <em>moins</em>). Dans ce cas, le prix total est
      recalculé, et le contenu du panier est mis à jour.
    </p>
  </section>
</section>