<!-- Prérequis -->
<section>
  <section>
    <h3>Avant-propos</h3>
    <p>
      Ce tutoriel utilise <a target="_blank"
      href="https://about.gitlab.com/">GitLab</a>, un gestionnaire de dépôts <a
      target="_blank" href="https://git-scm.com/">Git</a>
      gratuit.
    </p>
    <p>
      Assurez-vous de posséder un compte GitLab avant de démarrer ce tutoriel.
      Vous pouvez <a target="_blank"
      href="https://gitlab.com/users/sign_up">créer un compte ici</a> puis vous
      <a target="_blank" href="https://gitlab.com/users/sign_in">connecter
      ici</a>.
    </p>
  </section>
  <section>
    <p class="info">
      Vous serez pleinement formés à l'utilisation de Git en L3 Informatique.
      Ce tutoriel a pour but de vous guider dans l'utilisation de quelques
      commandes de base, qui seront utilisées dans le cadre des <a  
      href="/teaching/projetweb/sujet">projets web</a>.
    </p>
    <p class="info">
      Ces commandes seront essentiellement exécutées depuis l'interface
      graphique de l'IDE <a target="_blank"
      href="https://www.jetbrains.com/fr-fr/phpstorm/">PhpStorm</a>. Pour les
      plus téméraires d'entre vous, ces commandes pourront également être
      exécutées dans un terminal, en suivant ce <a target="_blank"
      href="https://gitlab.com/jbuisine/l2_projet_java/-/blob/master/GIT_HELP.md">guide
      d'utilisation</a>.
    </p>
  </section>
</section>

<!-- Fork -->
<section>
  <section>
    <h3>Fork</h3>
    <p>
      Un fork est une copie d'un dépôt dans votre compte GitLab. Une fois que
      vous avez
      <em>forké</em> un dépôt, vous êtes propriétaire de votre copie
      <em>forkée</em>. Cela signifie que vous pouvez modifier le contenu de
      votre dépôt <em>forké</em> sans affecter le dépôt parent.
    </p>
    <p>
      Nous allons <em>forker</em> <a target="_blank"
      href="https://gitlab.com/ulco/ulco-l2-projetweb-etudiant">ce dépôt de
      base</a> en cliquant sur le bouton <em>Fork</em>. Si la destination du
      fork vous est demandée, sélectionnez votre compte GitLab.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_fork.jpg" class="img-fluid">
      <small>
        Fork d'un dépôt GitLab.
      </small>
    </div>
    <p class="info">
      Assurez-vous d'être connecté à votre compte GitLab, sinon le bouton
      <em>Fork</em> n'apparaîtra pas !
    </p>
  </section>
</section>  

<!-- Permissions -->
<section>
  <section>
    <h3>Permissions</h3>
    <p>
      Par défaut, le fork d'un dépôt <em>public</em> copie un dépôt
      <em>public</em> dans votre compte. Un dépôt GitLab <em>public</em> est
      visible pour tous les utilisateurs GitLab.
    </p>
    <p>
      Votre projet doit être un travail personnel et privé. Seuls quelques
      membres que vous autoriserez pourront y avoir accès. Pour cela :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Dans <code>Settings > General</code>, modifiez la visibilité de votre
        dépôt en <em>Private</em>. Un cadenas apparaît à côté du nom de votre
        dépôt, précisant qu'il est désormais privé.
      </li>
      <li>
        Dans <code>Members</code>, ajoutez <code>florianlprt</code> (mon
        identifiant GitLab) dans les membres autorisés, et accordez-moi le rôle
        <em>Reporter</em>.
      </li>
    </ul>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/tutoperm.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Visibilité du dépôt et permissions.
      </small>
    </div>
  </section>
</section>

<!-- Clone -->
<section>
  <section>
    <h3>Clone</h3>
    <p>
      Un clone est une copie d'un dépôt (distant) sur votre machine
      (généralement locale). Dans PhpStorm, créez un nouveau projet en utilisant
      l'option <em>Get from VCS</em>, spécifiez l'URL de votre dépôt GitLab,
      puis cliquez sur <em>Clone</em>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_clone.jpg" class="img-fluid">
      <small>
        Clone d'un dépôt dans PhpStorm.
      </small>
    </div>
  </section>
  <section>
    <p class="tip">
      Si Git n'est pas installé sur votre machine, PhpStorm vous propose de le
      télécharger en cliquant sur le lien <em>Download Git</em>.
    </p>
    <p class="info">
      Puisque votre dépôt est privé, vos identifiants de connexion à GitLab vous
      seront demandés afin d'effectuer le clone.
    </p>
  </section>
</section>

<!-- Commit -->
<section>
  <section>
    <h3>Add, Commit et Push</h3>
    <p>
      La commande <em>commit</em> est utilisée pour enregistrer vos
      modifications dans le dépôt local. Notez que vous devez indiquer
      explicitement à Git les changements que vous souhaitez inclure dans un
      commit avant de lancer la commande <em>commit</em>. Autrement dit, un
      fichier ne sera pas automatiquement inclus dans le prochain
      <em>commit</em> juste parce qu'il a été modifié.
    </p>
  </section>
  <section>
    <p>
      Dans PhpStorm, utilisez le menu <code>Commit</code> sur la gauche de
      l'écran. Dans les listes <em>Default Changelist</em> ou <em>Unversioned
      Files</em>, cochez les fichiers à ajouter au <em>commit</em>. Ajoutez un
      bref message décrivant votre travail, puis cliquez sur <em>Commit and
      Push</em>. Vos identifiants de connexion à GitLab vous seront demandés
      afin d'effectuer le <em>push</em>.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_commit.jpg" class="img-fluid" width="300">
      <br>
      <small>
        Réalisation d'un commit dans PhpStorm.
      </small>
    </div>
  </section>
  <section>
    <p class="tip">
      L'opération de <em>push</em> a échoué (mauvais identifiant, mauvais mot de
      passe, etc...) ? Vous pouvez tenter un nouveau <em>push</em> depuis la barre de
      menu de PhpStorm (dans <code>Git > Push</code>, ou dans <code>VCS > Git >
      Push</code>).
    </p>
    <p class="info">
      Vous pouvez vérifier dans votre navigateur web que vos modifications ont
      été correctement <em>pushées</em> sur votre dépôt GitLab.
    </p>
  </section>
</section>

<!-- Pull -->
<section>
  <section>
    <h3>Pull</h3>
    <p>
      La commande <em>pull</em> est utilisée pour récupérer des modifications
      depuis un dépôt distant. Dans le cadre de ce projet, nous récupérerons
      essentiellement des modifications depuis le dépôt de base que vous avez
      <em>forké</em>, afin de récupérer les corrections du projet.
    </p>
  </section>
  <section>
    <p>
      Dans PhpStorm, utilisez le menu <code>Git > Manage Remotes</code> (ou
      <code>VCS > Git > Remotes</code> selon votre version). Constatez qu'une
      <em>remote</em> <code>origin</code> existe déjà : c'est l'URL vers votre
      dépôt distant, là où vous <em>pushez</em> vos modifications. Cliquez sur
      le bouton <em>Plus</em> et ajoutez une nouvelle <em>remote</em> que vous
      nommerez <code>upstream</code> et pour laquelle vous préciserez l'URL du
      <a target="_blank"
      href="https://gitlab.com/ulco/ulco-l2-projetweb-etudiant">dépôt de
      base</a>.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_remote.jpg" class="img-fluid">
      <br>
      <small>
        Ajout d'une <em>remote</em> dans PhpStorm.
      </small>
    </div>
  </section>
  <section>
    <p>
      Utilisez la commande <em>Fetch</em> dans le menu <code>Git > Fetch</code>
      (ou <code>VCS > Git > Fetch</code>) pour synchroniser vos
      <em>remotes</em>.
    </p>
    <p>
      Puis utilisez la commande <em>Pull</em> depuis le menu <code>Git >
      Pull</code> (ou <code>VSC > Git > Pull</code>) pour récupérer les
      modifications depuis la <em>remote</em> <code>upstream</code>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_pull.jpg" class="img-fluid">
      <br>
      <small>
        Réalisation d'un <em>pull</em> dans PhpStorm.
      </small>
    </div>
  </section>
  <section>
    <p class="info">
      Dans l'exemple ci-dessus, les modifications sont récupérées depuis la
      branche <code>master</code> de la <em>remote</em> <code>upstream</code>.
      Selon les instructions qui vous sont données, vous pouvez sélectionner une
      autre branche avec la liste déroulante.
    </p>
  </section>
</section>

<!-- Remise -->
<section>
  <section>
    <h3>Rendu du travail</h3>
    <p>
      Le rendu du travail consistera à réaliser les commandes
      <em>commit</em> et <em>push</em> présentées <a href="#toc4">plus tôt dans
      ce tutoriel</a>. Vous veillerez à ajouter dans votre <em>commit</em> tous
      les fichiers sur lesquels vous avez travaillé !
    </p>
    <p>
      Assurez vous que le <em>commit</em> est correctement <em>pushé</em> sur
      GitLab en navigant dans le menu <code>Repository > Commits</code>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_commitlist.jpg" class="img-fluid" width="400">
      <br>
      <small>
        Visualisation de la liste des <em>commits</em> dans GitLab.
      </small>
    </div>
    <p>
      Afin de permettre au correcteur d'accéder directement à votre travail, il
      vous sera parfois demandé de référencer le <em>hash</em> d'un
      <em>commit</em> spécifique. Pour l'obtenir, cliquez sur le bouton
      correspondant pour le <em>commit</em> désiré.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_link.jpg" class="img-fluid">
      <br>
      <small>
        Copie du <em>hash</em> d'un <em>commit</em> dans GitLab.
      </small>
    </div>
  </section>
</section>