<!-- Introduction  -->
<section>
  <section>
    <h3>Introduction</h3>
    <p>
      Dans ce tutoriel, nous allons utiliser le combo <a target="_blank"
      href="https://www.heroku.com/">Heroku</a> + un serveur MySQL
      <em>remote</em> pour déployer notre application web.
    </p>
    <p>
      Heroku est l'un des meilleurs environnements pour déployer vos
      applications web. Il utilise Git pour déployer vos applications et possède
      sa propre interface en ligne de commande (Heroku CLI).
    </p>
  </section>
</section>

<!-- Export -->
<section>
  <section>
    <h3>Export de la base de données</h3>
    <p>
      Exportez la base de données de votre projet en suivant les instructions
      suivantes :
    </p>
  </section>
  <section>
    <ul>
      <li>
        Dans PhpMyAdmin, sélectionnez votre base de données.
      </li>
      <li>
        Cliquez sur le bouton <em>Exporter</em>.
        <div class="tip">
          Si un message d'erreur survient, cliquez sur <em>Ignorer tout</em>.
        </div>
      </li>
      <li>
        Sélectionnez la méthode d'exportation rapide.
      </li>
      <li>
        Cliquez sur le bouton <em>Exécuter</em>.
      </li>
      <li>
        Un fichier <code>.sql</code> contenant l'export de votre base de données
        est téléchargé sur votre machine.
      </li>
    </ul>
  </section>
  <section>
    <p>
      Sauvegardez ce fichier <code>.sql</code> dans votre projet, sous :
      <code>src/model/webstore.sql</code>. Commitez et pushez dans votre dépôt
      Git (<a target="_blank"
      href="/teaching/projetweb/tutogit#toc4">tutoriel</a>).
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/tutoexport.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Export de la base de données.
      </small>
    </div>
  </section>
</section>

<!-- Heroku -->
<section>
  <section>
    <h3>Heroku</h3>
    <h4>Création d'un compte</h4>
    <p>
      Créez-vous un nouveau compte sur <a target="_blank"
      href="https://signup.heroku.com/">Heroku</a>. Puis connectez-vous.
    </p>
    <p class="info">
      Utilisez votre adresse mail personnelle ou universitaire. Vous pourrez
      supprimer le compte Heroku à la fin de l'année si vous n'en avez plus
      besoin.
    </p>
  </section>
  <section>
    <h4>Création d'une application</h4>
    <p>
      Sur votre <em>Dashboard</em>, créez une nouvelle application avec le
      bouton <em>New</em>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_newapp.jpg" class="img-fluid">
      <br>
      <small>
        Nouvelle application (1).
      </small>
    </div>
  </section>
  <section>
    <p>
      Choisissez un nom pour votre application, et sélectionnez les serveurs
      européens.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_newapp2.jpg" class="img-fluid">
      <br>
      <small>
        Nouvelle application (2).
      </small>
    </div>
  </section>
  <section>
    <p class="info">
      Notez que votre application sera accessible à l'adresse
      <code>&lt;nom_de_votre_app&gt;.herokuapp.com</code>.
    </p>
  </section>
  <section>
    <h4>Connexion avec Heroku CLI</h4>
    <p>
      Installez l'interface en ligne de commande <a target="_blank"
      href="https://devcenter.heroku.com/articles/heroku-cli#download-and-install">Heroku
      CLI</a>.
    </p>
    <p>
      Ouvrez un terminal (Linux) ou un <em>PowerShell</em> (Windows), puis
      exécutez :
    </p>
    <pre><code class="sh">heroku login</code></pre>
    <p>
      Appuyez sur une touche (autre que <code>q</code>), puis cliquez sur le
      bouton <em>Login</em>.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/tutoherokucli.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        Connexion avec Heroku CLI.
      </small>
    </div>
  </section>
</section>

<!-- Base de données MySQL -->
<section>
  <section>
    <h3>Base de données MySQL</h3>
    <h4>Avant-propos</h4>
    <p>
      Par défaut, Heroku met à disposition de votre application une base de
      données <a target="_blank"
      href="https://www.postgresql.org/">PostgreSQL</a>. Or, votre projet
      utilise une base de données MySQL...
    </p>
    <p>
      Il est possible d'utiliser un <em>add-on</em> Heroku pour intégrer MySQL.
      Néanmoins, dans un souci de simplicité, ce tutoriel utilisera <a
      target="_blank" href="https://www.freesqldatabase.com/">Free SQL
      Database</a>, un serveur MySQL gratuit pour héberger votre base de
      données.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_servers.jpg" class="img-fluid">
      <br>
      <small>
        Le serveur de base de données est décentralisé de l'application Heroku.
      </small>
    </div>
  </section>
  <section>
    <h4>Création d'un compte</h4>
    <p>
      Créez-vous un nouveau compte sur <a target="_blank"
      href="https://www.freesqldatabase.com/register/">Free SQL Database</a>.
      Patientez jusqu'à la réception du mail d'activation. En cliquant sur le
      lien d'activation, il vous sera demandé de choisir un mot de passe. 
    </p>
  </section>
  <section>
    <h4>Création d'une base de données</h4>
    <p>
      Connectez vous à votre compte, sélectionnez votre pays, précisez
      l'utilisation d'un serveur européen (<em>Europe UK & Ireland</em>), puis
      cliquez sur <em>Save Location</em>.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_db1.jpg" width="400" class="img-fluid">
      <br>
      <small>
        Création de la base de données (1).
      </small>
    </div>
  </section>
  <section>
    <p>
      Cliquez sur <em>Start new database</em>. Patientez quelques instants : un
      mail contenant les informations de connexion à votre nouvelle base de
      données vous sera envoyé sous quelques minutes.
    </p>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_db2.jpg" class="img-fluid">
      <br>
      <small>
        Création de la base de données (2).
      </small>
    </div>
  </section>
  <section>
    <p>
      Enfin, utilisez l'interface <a target="_blank"
      href="https://www.phpmyadmin.co/">PhpMyAdmin</a> en suivant le lien un peu
      plus bas sur la page afin de vous connecter à votre base de données.
      Précisez le serveur (<em>host</em>), le nom d'utilisateur (<em>database
      user</em>) et le mot de passe (<em>database password</em>) qui vous ont
      été fournis par mail.
    </p>
  </section>
  <section>
    <h4>Import de la base de données</h4>
    <p>
      Dans le panneau latéral, sélectionnez votre base de données, cliquez sur
      le bouton <em>Importation</em> puis importez le fichier
      <code>src/model/webstore.sql</code>.
    </p>
    <p class="info">
      Le fichier <code>src/model/webstore.sql</code> correspond au fichier
      généré par l'export que vous avez réalisé <a href="#toc1">à cette partie</a>.
    </p>
  </section>
</section>

<!-- Déploiement -->
<section>
  <section>
    <h3>Déploiement</h3>
    <h4>Connexion à la base de données</h4>
    <p>
      Dans votre projet, modifiez les informations de connexion du fichier
      <code>src/model/Model.php</code>, en précisant :
    </p>
    <ul>
      <li>
        Le nom d'hôte (<em>Host</em>),
      </li>
      <li>
        Le nom de la base de données (<em>Database name</em>),
      </li>
      <li>
        Le nom d'utilisateur (<em>Database user</em>),
      </li>
      <li>
        Le mot de passe (<em>Database password</em>).
      </li>
    </ul>
  </section>
  <section>
    <p class="info">
      Ces informations vous ont été communiquées dans le mail d'activation de
      votre base de données (cf. <a href="#toc9">cette partie</a>).
    </p>
    <p>
      Par exemple :
    </p>
    <pre><code class="php">static function connect()
{
  $dsn = "mysql:host=sql4.freesqldatabase.com;dbname=sql4406681;charset=UTF8";
  $user = "sql4406681";
  $pass = "m0tDeP4s53";
  return new \PDO($dsn, $user, $pass);
}</code></pre>
  </section>
  <section>
    <h4>Configuration du Procfile</h4>
    <p>
      À la racine de votre projet, créez un fichier <code>Procfile</code> (au
      même niveau que <code>index.php</code>), puis ajoutez-y cette ligne :
    </p>
    <pre><code class="txt">web: vendor/bin/heroku-php-apache2</code></pre>
    <p class="info">
      Le <code>Procfile</code> précise à Heroku comment l'application doit
      démarrer. Ici, nous démarrons le service <code>web</code> avec
      <code>apache2</code>.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <img src="/images/lessons/projetweb/tuto_procfile.jpg" class="img-fluid">
      <br>
      <small>
        Création du <code>Procfile</code>.
      </small>
    </div>
  </section>
  <section>
    <h4>Configuration de la remote Git</h4>
    <p>
      Ouvrez un terminal (Linux) ou un PowerShell (Windows).
      <br>
      Naviguez jusqu'au répertoire de votre projet, puis ajoutez la
      <em>remote</em> Heroku :
    </p>
    <pre><code class="sh"># navigation jusqu'au répertoire du projet
cd .../webstore/

# remplacez &lt;nom_de_votre_app&gt; par le nom de votre application
heroku git:remote -a &lt;nom_de_votre_app&gt;</code></pre>
  </section>
  <section>
    <p class="info">
      La <em>remote</em> Heroku déclenche le déploiement de votre application.
      Lorsque vous effectuez un <em>push</em> sur cette remote, votre
      application web sera automatiquement mise à jour.
    </p>
  </section>
  <section>
    <h4>Commit et Push</h4>
    <p>
      Dans PHPStorm, <em>commitez</em> et <em>pushez</em> les dernières
      modifications sur votre dépôt GitLab (mise à jour des informations de
      connexion, ajout du
      <code>Procfile</code>).
    </p>
    <p>
      Enfin, retournez dans le menu <code>Git > Push</code> (ou <code>VCS > Git
      > Push</code>), et effectuez un push en spécifiant cette fois la remote
      <code>heroku</code>.
    </p>
  </section>
  <section>
    <div class="fig text-center">
      <video controls>
        <source src="/videos/lessons/projetweb/tutopush.mp4" type="video/mp4">
      </video>
      <br>
      <small>
        <em>Push</em> sur la <em>remote</em> <code>heroku</code>.
      </small>
    </div>
  </section>
</section>

<!-- GG -->
<section>
  <section>
    <h3>Bravo ! 🥳</h3>
    <p>
      Votre application est désormais accessible en ligne, à l'adresse
      <code>nom_de_votre_app.herokuapp.com</code>.
    </p>
    <p>
      Par exemple : <a
      target="_blank"
      href="https://ulco-webstore.herokuapp.com/">ulco-webstore.herokuapp.com</a>.
    </p>
    <div class="info">
      <p>Pour mettre à jour votre application :</p>
      <ol>
        <li>
          Modifiez les fichiers nécessaires,
        </li>
        <li>
          <em>Commit</em> et <em>Push</em> les fichiers sur GitLab,
        </li>
        <li>
          <em>Push</em> sur la <em>remote</em> <code>heroku</code>.
        </li>
      </ol>
    </div>
  </section>
  <section>
    <div class="tenor-gif-embed" data-postid="5210758" data-share-method="host" data-width="100%" data-aspect-ratio="1.8602150537634408"><a href="https://tenor.com/view/yes-cheers-standingovation-clapping-clap-gif-5210758">Yes Cheers GIF</a> from <a href="https://tenor.com/search/yes-gifs">Yes GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  </section>
</section>