<!-- Sujet -->
<section>
  <h3>Présentation</h3>
  <h4>Sujet</h4>
  <p>
    Créer un jeu web multijoueur, contrôlable par mobile.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes1.png" alt="Illustration" class="img-fluid"/>
  </div>
</section>

<!-- Demonstration -->
<section >
  <h4>Petite démonstration</h4>
  <p>
    Sur votre mobile, connectez-vous à
    <a href="https://projetl3.herokuapp.com/controls" target="_blank">
      http://projetl3.herokuapp.com/controls
    </a>.
  </p>
  <div class="fig" style="text-align: center">
    <iframe title="Inline Frame Example"
      height="300"
      style="border: none;max-width: 500px;width:100%"
      src="https://projetl3.herokuapp.com/">
    </iframe>
  </div>
</section>

<!-- Organisation -->
<!-- <section>
  <h4>Organisation</h4>
  <p>
    Déroulement du projet :
  </p>
  <ul>
    <li>
      Équipes de <strong>3</strong> étudiants,
    </li>
    <li>
      Choix d'un jeu à développer,
    </li>
    <li>
      10 jours de travail,
    </li>
    <li>
      Soutenance orale avec démonstration.
    </li>
  </ul>
</section> -->

<!-- Objectifs -->
<section>
  <h4>Objectifs</h4>
  <p>Objectifs du projet :</p>
  <ul>
    <li>Développement web (<em>front</em> et <em>back</em>),</li>
    <li>Communications réseau temps réel,</li>
    <li>Algorithmique avancée,</li>
    <li>Tests unitaires,</li>
    <li>Gestion de projet,</li>
    <li>Qualité de code, ...</li>
  </ul>
</section>

<!-- Organisation -->
<section>
  <h4>Organisation</h4>
  <p>Travail :</p>
  <ul>
    <li>10 jours de travail jusqu'au 25 juin,</li>
    <li>Soutenance finale le 26 juin.</li>
  </ul>
  <p>Encadrement :</p>
  <ul>
    <li>Encadrants présents chaque matin de 9h à 12h,</li>
    <li>Un chef d'équipe pour la communication.</li>
  </ul>
</section>

<!-- Jeux -->
<section id="exigences">
  <h3>Jeux</h3>
  <h4>Exigences</h4>
  <p>Le jeu à développer doit :</p>
  <ul>
    <li>
      Être multijoueur,
    </li>
    <li>
      Posséder un <em>affichage centralisé</em> : tous les joueurs voient le
      même écran de jeu (<em>moniteur</em>),
    </li>
    <li>
      Être contrôlable à distance : les contrôles sont <em>dissociés</em> de
      l'affichage.
    </li>
  </ul>
</section>

<!-- Fonctionnalites -->
<section>
  <p>
    Des fonctionnalités minimales sont requises si vous choisissez
    le développement d'un jeu de la liste suivante.
  </p>
  <div class="tip">
    Le développement de ces fonctionnalités est obligatoire pour
    l'évaluation.
    <br/>
    Toutefois, vous pouvez librement agrémenter votre jeu d'autres
    fonctionnalités.
  </div>
  <div class="warn">
    Les illustrations ne sont pas contractuelles !
  </div>
</section>

<!-- Snake -->
<section>
  <h4>Snake</h4>
  <p>
    Le jeu du snake en version multijoueur.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes3.png" alt="Snake" class="img-fluid"/>
  </div>
</section>

<!-- Regles Snake -->
<section>
  <p>Fonctionnalités requises :</p>
  <ul>
    <li>Chaque joueur contrôle un serpent,</li>
    <li>
      Le serpent se déplace orthogonalement dans un monde 2D
      (<code>&#8679;</code> haut, <code>&#8681;</code> bas,
      <code>&#8678;</code> gauche, <code>&#8680;</code> droite),
    </li>
    <li>
      De la nourriture apparaît régulièrement sur le monde,
    </li>
    <li>
      Un serpent grandit lorsqu'il mange de la nourriture,
    </li>
    <li>
      Un joueur est éliminé si son serpent percute les limites
      du monde ou le serpent d'un autre joueur,
    </li>
    <li>
      Le moniteur affiche le leaderboard du top 3 des plus grands serpents.
    </li>
  </ul>
</section>

<!-- Variantes Snake -->
<section>
  <div class="tip">
    Variantes possibles :
    <ul>
      <li>
        Afficher un pseudo pour chaque serpent,
      </li>
      <li>
        Un serpent qui atteint la limite du monde poursuit son chemin par la
        limite opposée (sort à gauche, rentre à droite),
      </li>
      <li>
        Lorsqu'un joueur est éliminé, de la nourriture apparaît à la place de
        son serpent...
      </li>
    </ul>
  </div>
</section>

<!-- Sprinter -->
<section>
  <h4>Sprinter</h4>
  <p>
    Un jeu de course type 100 mètres.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes4.png" alt="Sprinter" class="img-fluid"/>
  </div>
</section>

<!-- Regles Sprinter -->
<section>
  <p>Fonctionnalités requises :</p>
  <ul>
    <li>Chaque joueur contrôle un coureur,</li>
    <li>
      Le joueur tapote alternativement les touches
      <code>PiedGauche / PiedDroit</code> pour faire avancer son coureur,
    </li>
    <li>
      La course commence avec les joueurs connectés après un bref compte à
      rebours,
    </li>
    <li>
      Le premier coureur à franchir la ligne d'arrivée remporte la course.
    </li>
  </ul>
</section>

<!-- Variantes Sprinter -->
<section>
  <div class="tip">
    Variantes possibles :
    <ul>
      <li>Afficher un pseudo pour chaque coureur,</li>
      <li>
        Le coureur court plus rapidement si le joueur <em>cadence</em>
        correctement ses appuis,
      </li>
      <li>
        Ajouter un bouton de saut et des obstacles (haies) qui ralentissent le
        coureur s'il ne parvient pas à les franchir...
      </li>
    </ul>
  </div>
</section>

<!-- Tanks -->
<section>
  <h4>Tanks</h4>
  <p>
    Un jeu de combat de tanks.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes5.png" alt="Tanks" class="img-fluid"/>
  </div>
</section>

<!-- Regles Tanks -->
<section>
  <p>Fonctionnalités requises :</p>
  <ul>
    <li>Chaque joueur contrôle un tank,</li>
    <li>
      Un tank se déplace orthogonalement dans un monde 2D
      (<code>&#8679;</code> haut, <code>&#8681;</code> bas,
      <code>&#8678;</code> gauche, <code>&#8680;</code> droite),
    </li>
    <li>
      Un tank possède une jauge de <code>3</code> points de vie,
    </li>
    <li>
      Un tank peut tirer des obus,
    </li>
    <li>
      Un tank perd <code>1</code> point de vie si un obus le percute,
    </li>
    <li>
      Un joueur est éliminé lorsque son tank n'a plus de point de vie.
    </li>
  </ul>
</section>

<!-- Variantes Tanks -->
<section>
  <div class="tip">
    Variantes possibles :
    <ul>
      <li>Afficher un pseudo pour chaque tank,</li>
      <li>
        Un joueur gagne des points d'expérience quand il élimine un autre
        joueur,
      </li>
      <li>
        Lorsqu'il acquiert assez de points d'expérience, son tank évolue
        (doubles canons, vitesse améliorée)...
      </li>
    </ul>
  </div>
</section>

<!-- Quizz -->
<section>
  <h4>Quizz</h4>
  <p>
    Un jeu de quizz.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes6.png" alt="Quizz" class="img-fluid"/>
  </div>
</section>

<!-- Regles Quizz -->
<section>
  <p>Fonctionnalités requises :</p>
  <ul>
    <li>
      Une question est posée sur le moniteur,
    </li>
    <li>
      Chaque joueur peut choisir une réponse parmi les propositions affichées sur
      son écran,
    </li>
    <li>
      La bonne réponse est affichée sur le moniteur après un court délai,
    </li>
    <li>
      Les joueurs qui ont répondu correctement gagnent des points,
    </li>
    <li>
      Le classement des joueurs s'actualise sur le moniteur et la question
      suivante est posée.
    </li>
  </ul>
</section>

<!-- Variantes Quizz -->
<section>
  <div class="tip">
    Variantes possibles :
    <ul>
      <li>Afficher un pseudo pour chaque joueur,</li>
      <li>
        Le premier joueur à répondre correctement gagne davantage de points,
      </li>
      <li>
        Un joueur peut utiliser des jokers...
      </li>
    </ul>
  </div>
</section>

<!-- Invaders -->
<section>
  <h4>Invaders</h4>
  <p>
    Un jeu de bataille spatiale coopérative.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/consignes7.png" alt="Invaders" class="img-fluid"/>
  </div>
</section>

<!-- Regles Invaders -->
<section>
  <p>Fonctionnalités requises :</p>
  <ul>
    <li>
      Chaque joueur contrôle un vaisseau spatial,
    </li>
    <li>
      Un vaisseau se déplace verticalement (<code>&#8679;</code> haut,
      <code>&#8681;</code> bas),
    </li>
    <li>
      Des vaisseaux ennemis (contrôlés par le jeu) apparaissent régulièrement
      par le côté droit du moniteur et se dirigent vers les joueurs,
    </li>
    <li>
      Les joueurs et les ennemis peuvent tirer des rayons lasers qui endommagent
      les vaisseaux,
    </li>
    <li>
      Un joueur est inactivé quelques instants si son vaisseau est trop
      endommagé.
    </li>
  </ul>
</section>

<!-- Variantes Quizz -->
<section>
  <div class="tip">
    Variantes possibles :
    <ul>
      <li>Afficher un pseudo pour chaque vaisseau,</li>
      <li>
        Un <em>boss</em> ennemi peut apparaître et requiert une puissance de feu
        combinée des joueurs pour être vaincu,
      </li>
      <li>
        Tous les joueurs perdent la partie si trop de vaisseaux ennemis
        atteignent le bord gauche du moniteur...
      </li>
    </ul>
  </div>
</section>

<!-- Autre -->
<section>
  <h4>Autre</h4>
  <p>
    Un jeu de votre invention qui respecte les <a href="#exigences">exigences</a>.
  </p>
  <p class="tip">
    Présentez votre idée aux enseignants avant de vous lancer.
  </p>
  <!-- <p class="tip tip-warn my-3">
    On va pas vous piquer l'idée, juste la valider &#128519;.
  </p> -->
</section>

<!-- Instructions -->
<section>
  <h3>Instructions</h3>
  <h4>Environnement de travail</h4>
  <p>Travail par groupe de 2, 3 ou 4 étudiants.</p>
  <p>Mise en place de l'environnement de travail :</p>
  <ul>
    <li>IDE <strong>WebStorm</strong> (<em>recommandé</em>),</li>
    <li>Gestion de version <strong>git</strong>,</li>
    <li>
      Projet minimal disponible sur
      <a target="_blank" href="https://gitlab.com/l3_projet_2020">GitLab</a>.
    </li>
  </ul>
</section>

<!-- Environnement technique -->
<section>
  <h4>Environnement technique</h4>
  <p>Front-end :</p>
  <ul>
    <li>
      Pages HTML + CSS + JavaScript,
    </li>
    <li>
      Affichages graphiques dans des <code>canvas</code> HTML.
    </li>
  </ul>
  <p>Back-end :</p>
  <ul>
    <li>
      Plateforme <em>node.js</em> et <em>Express</em>,
    </li>
    <li>
      Communications réseau temps réel avec <em>socket.io</em>,
    </li>
    <li>
      Codes sources du moteur de jeu en JavaScript.
    </li>
  </ul>
</section>

<!-- Projet -->
<section>
  <h4>Projet</h4>
  <p>Arborescence des fichiers fournis :</p>
  <pre><code class="plaintext">l3_projet_etudiant/
├── app.js
├── package.json
├── bin/
├── public/
│   ├── html/
│   ├── images/
│   ├── javascripts/
│   └── stylesheets/
├── sources/
│   ├── engine/
│   ├── io/
│   └── routes/
└── test/
    └── suites/</code></pre>
</section>

<!-- Front -->
<section>
  <h4>Front-end</h4>
  <p>
    Les fichiers statiques sont servis au <em>front-end</em> via le dossier
    <code>public/</code> :
  </p>
  <ul>
    <li>Pages HTML (moniteur, contrôles, ...),</li>
    <li>Styles CSS,</li>
    <li>Images,</li>
    <li>
      Scripts <em>client</em> (essentiellement pour la manipulation du DOM et
      la gestion des événements utilisateur).
    </li>
  </ul>
</section>

<!-- Back-end -->
<section>
  <h4>Back-end</h4>
  <p>
    Les codes sources du moteur de jeu sont implémentés dans
    <code>sources/engine/</code>.
  </p>
  <p>
    Les tests unitaires pour le moteur de jeu sont implémentés dans
    <code>test/suites/</code>.
  </p>
  <p>
    Le serveur websocket est implémenté dans
    <code>sources/io/server.js</code>.
  </p>
  <p>
    Le routage de l'application est implémenté dans
    <code>sources/routes/router.js</code>.
  </p>
</section>

<!-- Conception -->
<section>
  <h4>Conception</h4>
  <p>
    Architecture <em>recommandée</em> pour l'application :
  </p>
  <ol>
    <li>
      Le moniteur accède à la <span style="color:#c000ff">route</span>
      <code>/game</code>, les clients accèdent à la <span
      style="color:#c000ff">route</span> <code>/controls</code>.
    </li>
    <li>
      Les clients <span style="color:#007bff">émettent leurs intentions</span>
      au serveur (déplacements, tirs, ...).
    </li>
    <li>
      Le serveur met à jour l'<span style="color:#0dff1e">état du jeu</span>.
    </li>
    <li>
      Le serveur <span style="color:#007bff">émet à intervalles
      réguliers</span> (par exemple 10 fois par seconde) l'état du
      jeu au moniteur pour actualiser son affichage.
    </li>
  </ol>
</section>

<section>
  <div class="fig">
    <img
      src="/images/lessons/projetl3/consignes8.png"
      alt="Architecture"
      height="500"
      class="img-fluid" />
  </div>
</section>

<!-- Coding style -->
<section>
  <h4>Coding style</h4>
  <p>Le code produit doit respecter ces consignes :</p>
  <ul>
    <li>
      20 lignes maximum pour le corps d’une méthode,
    </li>
    <li>
      Le niveau d’imbrication est limité à 4,
    </li>
    <li>
      Interdiction de dupliquer du code (toutes les méthodes doivent contenir du
      code totalement original),
    </li>
    <li>
      Les attributs, les variables locales, les méthodes, les classes, ... sont
      nommés de manière <em>expressive</em> !
    </li>
  </ul>
</section>

<section>
  <p>Le code produit doit respecter ces nomenclatures :</p>
  <ul>
    <li>Tous les éléments du code seront nommés en anglais,</li>
    <li>Noms des méthodes et variables en <code>camelCase</code>,</li>
    <li>Les noms des classes commencent par une majuscule,</li>
    <li>L’indentation du code est 2 espaces.</li>
  </ul>
</section>

<!-- Présentation finale -->
<section>
  <h4>Présentation finale</h4>
  <p>10 minutes de présentation + 5 minutes de questions.</p>
  <ul>
    <li>
      Une démonstration de 5 minutes maximum avec un bilan des besoins
      fonctionnels couverts,
    </li>
    <li>
      Bilan du versionning git et stratégie utilisée,
    </li>
    <li>
      Bilan de la gestion de projets, répartition des tâches, planning, ...
    </li>
  </ul>
</section>

<section>
  <p>Prise de recul sur le travail accompli :</p>
  <ul>
    <li>
      Quelques indicateurs de productivité : nombre de lignes de code écrites,
      nombre de tâches réalisées par contributeur, nombre de commits...
    </li>
    <li>
      Qui a progressé et dans quel(s) domaine(s) (organisationnel, technique,
      ...) ?
    </li>
    <li>
      Qu'est ce qui est améliorable dans la méthode, dans les pratiques et dans
      les outils/frameworks ?
    </li>
    <li>
      Si c'était à refaire ?
    </li>
  </ul>
</section>

<!-- Aides -->
<section>
  <h3>Aide et références</h3>
  <h4>Glossaire</h4>
  <p>
    Quelques cours et ressources utiles :
  </p>
  <ul>
    <li>
      <a
        href="/teaching/web/javascript"
        target="_blank"
      >
        Cours de Javascript</a> + <a
        href="/teaching/web/nodejs"
        target="_blank"
      >
        Cours de node.js &amp; Express
      </a>
    </li>
    <li>
      <a
        href="https://socket.io/docs/"
        target="_blank"
      >
        Documentation socket.io
      </a>
    </li>
    <li>
      <a
        href="https://jestjs.io/docs/en/using-matchers"
        target="_blank"
      >
        Documentation tests unitaires (Jest)
      </a>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/fr/docs/Web/Guide/DOM/Events/Touch_events"
        target="_blank"
      >
        Documentation événements tactiles
      </a>
    </li>
    <li>
      <a
        href="/teaching/web/tp12"
        target="_blank"
      >
        Tutoriel jeu en temps réel avec socket.io
      </a>
    </li>
    <li>
      <a
        href="https://developer.mozilla.org/fr/docs/Tutoriel_canvas"
        target="_blank"
      >
        Tutoriel canvas HTML5
      </a>
    </li>
    <li>
      <a
        href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"
        target="_blank"
      >
        Tutoriel déploiement de l'application sur Heroku
      </a>
    </li>
  </ul>
</section>

<!-- Routage -->
<section>
  <h4>Routage</h4>
  <p>Par exemple, 2 routes <code>/</code> et <code>/game</code> :</p>
  <pre><code class="js">router.get('/', function(req, res, next) {
  res.sendFile('/html/index.html');
});

router.get('/game', function(req, res, next) {
  res.sendFile('/html/game.html');
});</code></pre>
</section>

<!-- Socket.io -->
<section>
  <h4>Socket.io</h4>
  <p>Émissions et réceptions d'événements.</p>
  <pre><code class="js">// Server-side
const io = socketio(server);
io.on('connection', function(socket){
  // emit an event to the socket
  socket.emit('hello', /* */);
  // emit an event to all connected sockets
  io.emit('helloworld', /* */);
  // listen to the event
  socket.on('peekaboo', function(){ /* */ });
});</code></pre>
</section>

<section>
  <pre><code class="html">&lt;!-- Browser-side --&gt;
&lt;script src="/socket.io/socket.io.js"&gt;&lt;/script&gt;
&lt;script&gt;
  var socket = io();
  socket.on('hello', function (data) { /* ... */ });
  socket.on('helloworld', function (data) {
    socket.emit('peekaboo', /* */);
  });
&lt;/script&gt;</code></pre>
  <div class="tip">
    Le nommage des événements est libre (sauf pour <code>connection</code> et
    <code>disconnect</code>).
  </div>
</section>

<!-- Canvas -->
<section>
  <h4>Canvas</h4>
  <p>Dessiner des éléments graphiques.</p>
  <pre><code class="js">const canvas = document.querySelector('#my-canvas');
const ctx = canvas.getContext('2d');
// clear drawing
ctx.clearRect(0, 0, 200, 200);
// draw rectangle
ctx.fillStyle = "green";
ctx.fillRect(50, 50, 100, 100);</code></pre>
  <div class="tip">
    Beaucoup d'autres <a target="_blank"
    href="https://developer.mozilla.org/fr/docs/Tutoriel_canvas">fonctions de
    dessin</a>.
  </div>
</section>

<!-- Testing -->
<section>
  <h4>Jouer</h4>
  <p>
    Lancement l'application en réseau local ou en émulant un appareil mobile
    dans le navigateur.
  </p>
  <div class="fig">
    <img
      src="/images/lessons/projetl3/consignes9.png"
      alt="Architecture"
      
      class="img-fluid" />
  </div>
</section>

<section>
  <div class="tip">
    Si votre mobile le permet, vous pouvez utiliser le partage de connexion pour
    tester directement sur votre appareil.
  </div>
  <div class="tip">
    Vous pouvez également déployer votre application sur un serveur Heroku en
    suivant ce
    <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">
      tutoriel
    </a>.
  </div>
</section>

<!-- Jest -->
<section>
  <h4>Tests unitaires avec Jest</h4>
  <p>Trois niveaux de description :</p>
  <ul>
    <li><code>describe</code> : un groupe de tests unitaires,</li>
    <li><code>test</code> : un test unitaire,</li>
    <li><code>expect</code> : l'expression de la condition à vérifier.</li>
  </ul>
  <p>Exécution dans le répertoire <code>test/</code> :</p>
  <pre><code class="bash">npm run test</code></pre>
</section>

<section>
  <pre><code class="js">describe('my test suite', () => {

  test('two plus two is four', () => {
    const res = 2 + 2;
    expect(res).toBe(4);
  });

});</code></pre>
  <div class="tip">
    Beaucoup d'autres <a target="_blank"
    href="https://jestjs.io/docs/en/using-matchers">matchers</a>.
  </div>
</section>

<!-- À vos marques... -->
<section>
  <h3>À vos marques...</h3>
  <h4>Prêts...</h4>
  <p>Avant de démarrer :</p>
  <ul>
    <li>Choix d'une équipe de 2, 3 ou 4 étudiants,</li>
    <li>Choix d'un jeu à développer,</li>
    <li>
      Fork et installation du projet de base :
      <a target="_blank"
          href="https://gitlab.com/l3_projet_2020/l3_projet_etudiant">
        dépôt GitLab</a>.
    </li>
  </ul>
  <div class="tip">
    Visionnez le <a href="/teaching/projetl3/cours">cours introductif</a> pour
    démarrer sur de bonnes bases !
  </div>
</section>

<section>
  <h4>Partez !</h4>
  <p>A faire aujourd'hui :</p>
  <ul>
    <li>
      <u>12h :</u> Constitution des groupes, choix d'un jeu, fork et
      installation du <a target="_blank"
      href="https://gitlab.com/l3_projet_2020/l3_projet_etudiant">projet de
      base</a>.
    </li>
    <li>
      <u>16h :</u> Rédiger un planning prévisionnel dans le salon Discord qui
      sera attribué à votre groupe (qui fait quoi ? jalons envisagés ? stratégie
      de dév ? ...)
    </li>
  </ul>
  <p>Vendredi 19 juin :</p>
  <ul>
    <li>Mise au point rapide avec chaque groupe sur l'avancée des travaux.</li>
  </ul>
</section>

<section>
  <h4>GL,HF 💪</h4>
  <p>Rappel des principaux objectifs :</p>
  <ul>
    <li>Développement du code source du jeu,</li>
    <li>Développement des tests unitaires,</li>
    <li>Développement graphique,</li>
    <li>Communications websocket,</li>
    <li>Respect des normes de codage,</li>
    <li>Versionnage du code,</li>
    <li>Présentation finale.</li>
  </ul>
</section>