<!-- Sujet -->
<section>
  <h3>Cours</h3>
  <p>Ressources utilisées dans la vidéo :</p>
  <ul>
    <li>
      <a href="/teaching/projetl3/consignes">Présentation du projet</a>,
    </li>
    <li>
      <a href="https://gitlab.com/l3_projet_2020/l3_projet_exemple">Dépôt
        GitLab</a> du projet exemple (inspirez-vous en !),
    </li>
    <li>
      <a href="https://gitlab.com/l3_projet_2020/l3_projet_etudiant">Dépôt
        GitLab</a> du projet de base à forker.
    </li>
  </ul>
</section>

<!-- Vidéo -->
<section>
  <video controls poster="/images/lessons/projetl3/cours_poster.png" id="cours-video" style="margin-top:.5em">
    <source src="/videos/lessons/projetl3/cours.mp4" type="video/mp4">
    <p class="text-center">
      <img src="/images/lessons/projetl3/cours_poster.png" style="width: 100%"/>
    </p>
  </video>
</section>

<!-- Contenu -->
<section>
  <h3>Contenu de la vidéo</h3>
  <p>Repères temporels :</p>
</section>

<!-- Repères -->
<section>
  <ul>
    <li><button value="0" class="btn btn-outline-secondary">00:00</button> Installation du projet exemple</li>
    <li><button value="110" class="btn btn-outline-secondary">01:50</button> Architecture du projet</li>
    <li><button value="155" class="btn btn-outline-secondary">02:35</button> Aide et références</li>
    <li><button value="195" class="btn btn-outline-secondary">03:15</button> Routage</li>
    <li><button value="325" class="btn btn-outline-secondary">05:25</button> Moteur du jeu</li>
    <li><button value="490" class="btn btn-outline-secondary">08:10</button> Serveur websocket</li>
    <li><button value="890" class="btn btn-outline-secondary">14:50</button> Contrôles (client)</li>
    <li><button value="1030" class="btn btn-outline-secondary">17:10</button> Affichage du jeu (client)</li>
    <li><button value="1185" class="btn btn-outline-secondary">19:45</button> Démonstration</li>
    <li><button value="1290" class="btn btn-outline-secondary">21:30</button> Tests unitaires</li>
    <li><button value="1495" class="btn btn-outline-secondary">24:55</button> Fork du projet de base et fin</li>
  </ul>
</section>

<!-- Controls -->
<script>
  const video = document.querySelector('#cours-video');
  const buttons = document.querySelectorAll('button');
  buttons.forEach(b => { 
    b.onclick = () => video.currentTime = parseInt(b.value)
  });
</script>