<!-- Sujet -->
<section>
  <h3>Introduction</h3>
  <p>
    Les travaux présentés dans cette section ont été réalisés par la promotion
    2019-2020 de Licence 3 Informatique de l'ULCO Calais, dans le cadre des
    <a href="/teaching/projetl3/consignes">projets de fin d'année</a>.
  </p>
</section>

<!-- Groupe 1 -->
<section>
  <h3>Groupe 1 - <code>#FanClub</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="http://l3-projet-etudiant.herokuapp.com/">http://l3-projet-etudiant.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Fardel Hugo, Lesecq Océan, Loyer Antoine.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g1.png" alt="groupe1" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 2 -->
<section>
  <h3>Groupe 2 - <code>#PetitsPedestres</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://tank-simulator.herokuapp.com/">https://tank-simulator.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Lefebvre Théo, Bulteel Maxime.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g2.png" alt="groupe2" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 4 -->
<section>
  <h3>Groupe 4 - <code>#HeyMonika!</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://stanks-io.herokuapp.com/">https://stanks-io.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Pecqueux Théo, Vilette Vincent, Skibinski Pierre, Huyghes Antoine.
  </p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g4.png" alt="groupe4" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 7 -->
<section>
  <h3>Groupe 7 - <code>#404BrainNotFound</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://snakegroupe7.herokuapp.com/">https://snakegroupe7.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Devilliers Matthias, Brasy Valentin, Paccou Samuel.</p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g7.png" alt="groupe7" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 8 -->
<section>
  <h3>Groupe 8 - <code>#SemiCroustillants</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://semi-croustillants.herokuapp.com/">https://semi-croustillants.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Vélu Louis, Bescop Justin, Ringot Arthur.</p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g8.png" alt="groupe8" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 9 -->
<section>
  <h3>Groupe 9 - <code>#Covidevs</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://covidevs.herokuapp.com/">https://covidevs.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Decocq Benoit, Deswarte Quentin.</p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g9.png" alt="groupe9" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 10 -->
<section>
  <h3>Groupe 10 - <code>#LeGange</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://who-is-the-funniest.herokuapp.com/">https://who-is-the-funniest.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Artigas Ernesto, Dewaele Audrey, Fovet Alexandre.</p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g10.png" alt="groupe10" class="img-fluid"/>
  </div>
</section>

<!-- Groupe 12 -->
<section>
  <h3>Groupe 12 - <code>#TheCompetitors</code></h3>
  <p>
    <strong>Application :</strong>
    <a href="https://thecompetitors.herokuapp.com/">https://thecompetitors.herokuapp.com/</a>
  </p>
  <p>
    <strong>Etudiants</strong> : Akakpo Junior, Seble Marcelin, Touré Aïchatou, Mboup Libasse.</p>
  <div class="fig">
    <img src="/images/lessons/projetl3/promo2020_g12.png" alt="groupe12" class="img-fluid"/>
  </div>
</section>
